<div class="Main_Wp">
  <div class="Header_Wp">
  <div class="Logo_Wp">
  <!-- <img src="images/icon_dropbox.png"/> -->
  </div><!--Logo_Wp-->
  </div><!--Header_Wp-->
  <div class="Content_Wp">
  <div class="Panel_Left">
     <img src="/images/login_splash.png" class="Panel_Left_img"/>
    <div class="left_content_box">	
      <h1 style="color:white;">Game your learning. Game your life.</h1>
        <div class="clear"></div>
        <span class="blue">Version <%= APP_VERSION %></span>
         <div class="clear"></div>
          <div class="Divider_15"></div>
        </div><!--left_content_box-->
  </div><!--Panel_Left-->
   <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="Panel_Rirght">
		<div>
			<img src="/images/levelfly_tag.png" alt="Levelfly" width="392" height="171"><br>
			<h3 style="color:white;margin-top:0px;"><%= session[:slug].blank? ? "" : school.name %></h3></div>
		<div class="Divider_90"></div>
    <div class="Sign_in_wp">
        <div class="sign_in_box"><h1>Register </h1></div><!--sign_in-box-->
        <div class="creat_text">
        <span class="blue">
        </span></div>
        </div>
        <div class="clear"></div>
        <div class="Divider_15"></div>
        <div class="clear"></div>
         <div class="text_box_wp">
             <%= f.text_field :full_name, :class=>"txt_box",:style=>"width:378px;" , :placeholder=>"Full Name"%>
        </div><!--text_box_wp-->
         <div class="Divider_15"></div>
        <div class="clear"></div>
        <div class="text_box_wp">
             <%= f.email_field :email, :class=>"txt_box",:style=>"width:378px;", :placeholder=>"Email" %>
        </div><!--text_box_wp-->
        <div class="Divider_15"></div>
        <div class="clear"></div>
        <div class="text_box_wp">
             <%= f.password_field :password, :class=>"txt_box",:style=>"width:378px;", :placeholder=>"Password"%>
        </div><!--text_box_wp-->
         <div class="Divider_15"></div>
        <div class="clear"></div>
        <div class="text_box_wp">
          <input name="school[code]" id="school_code" placeholder="School Invite Code" type="text" class="txt_box" style="width: 378px">
        </div><!--text_box_wp-->
        <div class="Divider_15"></div>
        <div class="clear"></div>
        <div class="remember_box_wp">
             <div class="sign_in_button_wp">
                 <%= f.submit "Register", :class=>"big_bluebtn" %>
              </div><!--sign_in_button-->
              <div class="forgot_your_pass_wp">
                 <%= render :partial => "devise/shared/links" %>
              </div><!--forgot_your_pass_wp-->
        </div><!--remember_box_wp-->
		<div class="error_message">
		  <% if flash[:notice]%>
		    <h2><%=flash[:notice].count%> errors prohibited this user from being saved:</h2>
		    <ul><% flash[:notice].each do |msg| %>
		      <li><%= msg %></li>
		    <% end %></ul>
		  <% end %>
		</div>
    </div><!--Panel_Right-->
   <% end %>
  </div><!--Content_Wp-->
  <div class="clear"></div>
</div><!--Main_Wp-->