<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; " background="http://oncampus.heroku.com/images/mail/page-bg.jpg">

<table width="100%" cellspacing="0" cellpadding="0" id="page-wrap" align="center" background="http://oncampus.heroku.com/images/mail/page-bg.jpg">
	<tbody><tr>
		<td>

<table class="email-body-wrap" width="902" cellspacing="0" cellpadding="0" id="email-body" align="center">
	<tbody><tr>
		<td width="30" eqfixedwidth="true">&nbsp;<!-- Left page bg show-thru --></td>
		<td width="842" background="http://oncampus.heroku.com/images/mail/content-bg.jpg" style="width: 842px; " bgcolor="#556249">
		
		<!-- Begin of layout container -->
		<div id="eqLayoutContainer">
			
			<div eqlayoutblock=""><table width="842" cellspacing="0" cellpadding="0">
<tbody><tr>
	<td width="842" valign="top">
		<img width="842" height="16" alt="" style="display:block; " src="http://oncampus.heroku.com/images/mail/image-7.png" border="0">
	</td>
</tr>
</tbody></table>
</div><div eqlayoutblock=""><table width="842" cellspacing="0" cellpadding="0" bgcolor="">
<tbody><tr>
	<td width="842" height="90" eqverticalspacer=""><div class="spacer"></div></td>
</tr>
</tbody></table>
</div><div eqlayoutblock=""><table width="842" cellspacing="0" cellpadding="0">
<tbody><tr>
	<td width="105">&nbsp;</td>
	<td width="612" valign="top" align="left">
		<div class="heading" style="font-size: 16px; font-family: 'Lucida Grande'; "><span class="Apple-style-span" style="color: rgb(255, 255, 255); font-size: 36px; "><font face="Marker Felt">You Earned a New Badge!</font></span></div>
	</td>
	<td width="125">&nbsp;</td>
</tr>
<tr height="8">
	<td width="105"><div class="spacer"></div></td>
	<td width="612"><div class="spacer"></div></td>
	<td width="125"><div class="spacer"></div></td>
</tr>
<tr>
	<td width="105">&nbsp;</td>
	<td width="612" valign="top" align="left">
		<div class="text" style="font-size: 16px; font-family: 'Lucida Grande'; ">

		<div style="line-height: 20px; "><font color="#ffffff" face="Verdana"><span style="line-height: 20px; font-size: 14px; "><br></span></font></div>

		<div style="line-height: 20px; "><font color="#ffffff" face="Verdana"><span style="font-size: 14px; line-height: 20px; "><br></span></font></div>

		<div style="line-height: 20px; "><font face="Verdana" color="#ffffff"><span style="font-size: 14px; line-height: 20px; ">Congratulations, <%=@receiver.full_name%>! You just earned a new badge: <%=@badge_name%>. </span></font></div>

		<div style="line-height: 20px; "><font color="#ffffff" face="Verdana"><span style="font-size: 14px; line-height: 20px; "><br></span></font></div>

		<div style="line-height: 20px; "><font face="Verdana" color="#ffffff"><span style="font-size: 14px; line-height: 20px; "><%=@sender.full_name%> gave you this badge for <%=@course.name%> (<%=@course.code_section%>) at <%=@school.code%>.</span></font></div>

		<div style="line-height: 20px; "><font color="#ffffff" face="Verdana"><span style="font-size: 14px; line-height: 20px; "><br></span></font></div>

		<div style="line-height: 20px; "><font face="Verdana" color="#bbf9ff"><span style="font-size: 14px; line-height: 20px; "><a href="<%= @link %>" style="color:#bbf9ff; text-decoration:none;">Login to see your new badge on your Profile page</a></span></font></div>

		<div style="line-height: 20px; "><font color="#ffffff" face="Verdana"><span style="font-size: 14px; line-height: 20px; "><br></span></font></div>

		<div style="line-height: 20px; "><font color="#ffffff" face="Verdana"><span style="font-size: 14px; line-height: 20px; "><br></span></font></div>

		<div style="line-height: 20px; "><font color="#b9dba9" face="Verdana"><span style="line-height: 20px; font-size: 12px; ">If you have problems with this link copy and paste the URL below into a different web browser of your choice. The preferred web browser is Firefox.</span></font></div><div style="line-height: 20px; "><font color="#b9dba9" face="Verdana"><span style="line-height: 20px; font-size: 10px; text-decoration:none;"><a href="<%= @link %>" style="color:#b9dba9;"><%= @link %></a></span></font></div></div>
	</td>
	<td width="125">&nbsp;</td>
</tr>
</tbody></table>
</div><div eqlayoutblock="">
				<table width="842" cellpadding="0" cellspacing="0" align="center">
				<tbody><tr>
					<td width="842" align="center">
						<img width="842" height="168" alt="" style="display:block; " src="http://oncampus.heroku.com/images/mail/top.jpg" border="0">
					</td>
				</tr>
				</tbody></table>
			</div>
			
			
			
			<div eqlayoutblock=""><table width="842" cellspacing="0" cellpadding="0">
<tbody><tr>
	<td width="842" height="20" eqverticalspacer=""><div class="spacer"></div></td>
</tr>
</tbody></table>
</div>
			
		</div>
		<!-- End of layout container -->
		
	</td>
	<td width="30" eqfixedwidth="true">&nbsp;<!-- Right page bg show-thru --></td>
</tr>
</tbody></table><!-- email-body -->

	</td>
</tr>
</tbody></table><!-- page-wrap -->

</body></html>
