<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">     
  </head>
  <body>
    <p><%=@sender.full_name%> has sent you a private message.
	<br/>"<%= @message%>"
	</p>
	  <a href="http://<%= Oncapus::Application.config.action_mailer.default_url_options[:host] %>/users/sign_in"><%= Oncapus::Application.config.action_mailer.default_url_options[:host] %></a>
    <br /><br /><br />
    <%=@sender.full_name%><br />
    <%=@school.name%>
  </body>
</html>
