
 <p>Prof. <%=@sender.full_name%> has invited you to join <%=@course.name%> <%=@course.code%>. Please click the link below to accept this invitation.</p>

<a>[Accept invitation to <%=@course.name%> <%=@course.code%>]</a>

Prof. <%=@sender.full_name%>
<%=@school.name%>
