<div class="level_01">03</div>
<div class="top_img"></div>
<div class="shadow_repeat">
  <div>
    <div class="avatar_green_bdr">
      <img onClick="user_profile();" src="https://s3.amazonaws.com/<%=profile.school.vaults[0].folder%>/avatar_thumb/avatar_<%=profile.id%>.jpg" id="<%=profile.id%>" class="profile"/>
    </div>
    <div class="txt"> <span class="pop_name"><b><%=profile.full_name%></b><br />
      <%=profile.major.name if profile.major%>, <%=profile.school.code%></span>
      <p></p>
      <div class="spacebar10px"></div>
    </div>
    <div class="clear"></div>
    <span class="pop_fav_icon"><img src="images/fav.png" align="absbottom" /> <%=profile.like_received ? profile.like_received : 0 %></span>
    <span class="pop_win_icon"><img src="images/cup_icon.png" align="absbottom" /> <%=profile.like_given ? profile.like_given : 0 %></span>
    <div id="msg_input" class="hide">
      <textarea name="message" id="message" class="msg_txt"></textarea>
    </div>
    <div id="note_btn"class="hide note_btn">
      <a href="javascript:void(0)" rel="add_note" id="Note" class="blue_bt19px send_btn">Add</a> 
      <a href="javascript:void(0)" rel="switch" id="btn_note_dnt_add" class="blue_bt19px">Don't Add</a> 
    </div>
    <div id="msg_btn" class="hide msg_btn">
      <a href="javascript:void(0)" rel="save" id="Message" class="blue_bt19px send_btn">Send</a> 
      <a href="javascript:void(0)" rel="switch" id="btn_msg_dnt_add" class="blue_bt19px">Don't Send</a> 
    </div>
    <div align="right" id="root_btn">
      <a href="javascript:void(0)" rel="switch" id="note_root" class="blue_bt19px">NOTE</a> 
      <a href="javascript:void(0)" rel="switch" id ="message_root" class="blue_bt19px">messages</a> 
      <% if is_friend(user_session[:profile_id], profile.id) %>
        <a href="javascript:void(0)" id="unfriend" class="blue_bt19px">UNFRIEND</a>
      <% else %>
        <% if is_request_pending(profile.id, user_session[:profile_id]) %>
          <a href="javascript:void(0)" class="blue_bt19px">PENDING</a>
        <% else %>
          <a href="javascript:void(0)" class="blue_bt19px send_btn" id="Friend" rel="save">Friend</a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="bottom_shadow" ></div>
<input type="hidden" name="hdn_profile_id" id="hdn_profile_id" value="<%=profile.id%>"/>
<script type="text/javascript">
<!--
//Toggle card screen
$('a[rel=switch]').click(function(){
  if(this.id=="note_root") {
    $('#root_btn').hide();
    $('#msg_input').show();
    $('#msg_btn').hide();
    $('#note_btn').show();
  } else if(this.id=="message_root") {
    $('#root_btn').hide();
    $('#msg_input').show();
    $('#note_btn').hide();
    $('#msg_btn').show();
  } else {
    $('#root_btn').show();
    $('#msg_input').hide();
    $('#note_btn').hide();
    $('#msg_btn').hide();
  }
});

//Send messages (& friend requests) + Add notes
$('.send_btn').click(function(){
  showSpinner(true);
  profile_id = $('#hdn_profile_id').val();
  message_type = $(this).attr('id');
  method = $(this).attr('rel');
  message = message_type == "Friend" ? "Friend Request!!!" : $('#message').val();
  var dataString = {
    parent_id:profile_id,
    parent_type:"Profile",
    content: message,
    message_type: message_type
  };
  //alert(profile_id);return false;
  if(profile_id) {
    $.ajax({
      type: "POST",
      url: "/message/"+method,
      dataType: "json",
      data: dataString,
      error: function(){alert("ERROR!!")},
      success: function(data) {
        if (data.status=="save"){
          $('.popup_box1').html(data.message);
          $('.popup_box1').fadeOut(1500);
        }
        showSpinner(false);
      }
    });
  }
});

//Unfriend
$('#unfriend').click(function(){
  showSpinner(true);
  profile_id = $('#hdn_profile_id').val();
  if(profile_id) {
    var dataString = {profile_id:profile_id}
    $.ajax({
      type: "POST",
      url: "/message/unfriend",
      dataType: "json",
      data: dataString,
      error: function(){alert("ERROR!!")},
      success: function(data) {
        if (data.status) {
          $('.popup_box1').fadeOut(1500);
          $('#friend_box_'+profile_id).remove();
        }
        showSpinner(false);
      }
    });
  }
});

function user_profile() {
    profile_id = $('#hdn_profile_id').val();
    $.get('/profile/user_profile',{ profile_id:profile_id }, function(data) {
    $('#container').html(data);
  })
  .success(function() { showDialog(true); });
}


</script>