<div class="level_01"><%= '%02d' % profile.avatar.level %></div>
<div class="top_img"></div>
<div class="shadow_repeat">
  <div>
    <div class="avatar_green_bdr">
      <img onClick="user_profile(<%=profile.id%>);" src="<%=profile.image_file_name%>" id="<%=profile.id%>" class="profile"/>
    </div>
    <div class="txt"> <span class="pop_name"><b><%=profile.full_name%></b><br />
      <%= "#{profile.major.name}, " if profile.major%><%=profile.school.code%></span>
      <p><%=profile.tag_list%></p>
      <div class="spacebar10px"></div>
    </div>
    <div class="clear"></div>
    <span class="pop_fav_icon"><img src="/images//fav.png" align="absbottom" /> <%=profile.like_received ? profile.like_received : 0 %></span>
    <span class="pop_win_icon"><img src="/images//cup_icon.png" align="absbottom" /> <%=profile.avatar.points ? profile.avatar.points : 0 %></span>
    <div id="msg_input" class="hide">
      <textarea name="message" id="message" class="msg_txt" placeholder="Enter your message..."></textarea>
    </div>
    <div id="note_btn"class="hide note_btn">
      <a href="javascript:void(0)" rel="switch" id="btn_note_dnt_add" class="blue_bt19px">Don't Add</a> 
      <a href="javascript:void(0)" rel="add_note" id="Note" class="blue_bt19px send_btn">Add</a> 
    </div>
    <div id="msg_btn" class="hide msg_btn">
      <a href="javascript:void(0)" rel="switch" id="btn_msg_dnt_add" class="blue_bt19px">Don't Send</a> 
      <a href="javascript:void(0)" rel="save" id="Message" class="blue_bt19px send_btn">Send</a> 
    </div>
    <div align="right" id="root_btn">
      <!-- <a href="javascript:void(0)" rel="switch" id="note_root" class="blue_bt19px">Note</a>  -->
      
      <% if user_session[:profile_id] != profile.id %>
        <a href="javascript:void(0)" rel="switch" id ="message_root" class="blue_bt19px">Message</a> 
      
        <% if is_friend(user_session[:profile_id], profile.id) %>
          <a href="javascript:void(0)" id="unfriend" class="blue_bt19px">UNFRIEND</a>
        <% else %>
          <% if is_request_pending(profile.id, user_session[:profile_id]) %>
            <a href="javascript:void(0)" class="blue_bt19px">PENDING</a>
          <% else %>
            <a href="javascript:void(0)" class="blue_bt19px send_btn" id="Friend" rel="save">Friend</a>
          <% end %>
        <% end %>
        
      <% end %>
      
    </div>
  </div>
</div>
<div class="bottom_shadow" ></div>

<script type="text/javascript">
<!--
//Toggle card screen
$('a[rel=switch]').click(function(){
  if(this.id=="note_root") {
    $('#root_btn').hide();
    $('#msg_input').show();
    $('#msg_btn').hide();
    $('#note_btn').show();
  } else if(this.id=="message_root") {
    $('#root_btn').hide();
    $('#msg_input').show();
    $('#note_btn').hide();
    $('#msg_btn').show();
  } else {
    $('#root_btn').show();
    $('#msg_input').hide();
    $('#note_btn').hide();
    $('#msg_btn').hide();
  }
});

//Send messages (& friend requests) + Add notes
$('.send_btn').click(function(){
  showSpinner(true);
  profile_id = $('#hdn_profile_id').val();
  message_type = $(this).attr('id');
  method = $(this).attr('rel');
  message = message_type == "Friend" ? "I'd like to be your friend. Please accept my invite." : $('#message').val();
  var dataString = {
    profile_id:<%=h user_session[:profile_id] %>,
    parent_id:<%=h profile.id%>,
    parent_type:"Profile",
    target_id:<%=h profile.id%>,
    content: message,
    message_type: message_type
  };
  //alert(profile_id);return false;
  if(profile_id) {
    $.ajax({
      type: "POST",
      url: "/message/"+method,
      dataType: "json",
      data: dataString,
      error: function(){alert("ERROR!!")},
      success: function(data) {
        if (data.status=="save"){
          $('#avatar_card').fadeOut();
          setAlert(data.message);
        }
        showSpinner(false);
      }
    });
  }
});

//Unfriend
$('#unfriend').click(function(){
  showSpinner(true);
  profile_id = $('#hdn_profile_id').val();
  if(profile_id) {
    var dataString = {profile_id:profile_id}
    $.ajax({
      type: "POST",
      url: "/message/unfriend",
      dataType: "json",
      data: dataString,
      error: function(){alert("ERROR!!")},
      success: function(data) {
        if (data.status) {
          $('#avatar_card').fadeOut(1500);
          $('#friend_box_'+profile_id).remove();
        }
        showSpinner(false);
      }
    });
  }
});

// Hide the card if clicked outside
$(document).click(function (e)
{
    var container = $("#avatar_card");

    if (container.has(e.target).length === 0)
    {
        container.hide();
        $(document).unbind('click');
    }
});

</script>