<div class="message_container">
  <div class="inner_container">
    <div class="avatar_thumb">
      <img src="https://s3.amazonaws.com/<%=profile.school.vaults[0].folder%>/avatar_thumb/avatar_<%=profile.id%>.jpg" id="<%=profile.id%>" class="profile"/>
    </div>
    <div class="info_container">
      <span><%=profile.full_name%></span><br />
      <span><%=profile.major.name if profile.major%></span><span><%=profile.school.code%></span>
    </div>
  </div>
  <div class="button_container">
    <span>Like Received: <%=profile.like_received ? profile.like_received : 0 %></span> <br />
    <span>Like Given: <%=profile.like_given ? profile.like_given : 0 %></span> <br />
    <div id="msg_input" class="hide">
      <textarea name="message" id="message" class="msg_txt"></textarea>
    </div>
    <div id="note_btn"class="hide note_btn">
      <input type="button" name="btn_note_add" id="Note" rel="add_note" value="Add" class="small_btn send_btn"/>
      <input type="button" name="btn_note_dnt_add" id="btn_note_dnt_add" rel="switch" value="Don't Add" />
    </div>
    <div id="msg_btn" class="hide msg_btn">
      <input type="button" name="btn_msg_send" id="Message" rel="save" class="small_btn send_btn" value="Send" />
      <input type="button" name="btn_msg_dnt_send" id="btn_msg_dnt_send" rel="switch" value="Don't Send" />
    </div>
    <div id="root_btn" class="root_btn">
      <input type="button" name="btn_note" id="btn_note" rel="switch" value="Note" class="small_btn" />
      <input type="button" name="btn_msg" id="btn_msg" rel="switch" value="Message" />
      <% if is_friend(user_session[:profile_id], profile.id) %>
        <input type="button" name="btn_unfrnd" id="unfriend" value="Unfriend" class="small_btn" />
      <% else %>
        <% if is_request_pending(profile.id, user_session[:profile_id]) %>
          <input type="button" name="btn_pending" value="Pending" class="small_btn" />
        <% else %>
          <input type="button" name="btn_frnd" id="Friend" rel="save" value="Friend" class="small_btn send_btn" />
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<input type="hidden" name="hdn_profile_id" id="hdn_profile_id" value="<%=profile.id%>"/>
<script type="text/javascript">
<!--
//Toggle card screen
$('input[rel=switch]').click(function(){
  if(this.value=="Note") {
    $('#root_btn').hide();
    $('#msg_input').show();
    $('#msg_btn').hide();
    $('#note_btn').show();
  } else if(this.value=="Message") {
    $('#root_btn').hide();
    $('#msg_input').show();
    $('#note_btn').hide();
    $('#msg_btn').show();
  } else {
    $('#root_btn').show();
    $('#msg_input').hide();
    $('#note_btn').hide();
    $('#msg_btn').hide();
  }
});

//Send messages (& friend requests) + Add notes
$('.send_btn').click(function(){
  showSpinner(true);
  profile_id = $('#hdn_profile_id').val();
  message_type = $(this).attr('id');
  method = $(this).attr('rel');
  message = message_type == "Friend" ? "Friend Request!!!" : $('#message').val();
  var dataString = {
    parent_id:profile_id,
    parent_type:"Profile",
    content: message,
    message_type: message_type
  };
  //alert(profile_id);return false;
  if(profile_id) {
    $.ajax({
      type: "POST",
      url: "/message/"+method,
      dataType: "json",
      data: dataString,
      error: function(){alert("ERROR!!")},
      success: function(data) {
        if (data.status=="save"){
          $('#avatar_card').html(data.message);
          $('#avatar_card').fadeOut(1500);
        }
        showSpinner(false);
      }
    });
  }
});

//Unfriend
$('#unfriend').click(function(){
  showSpinner(true);
  profile_id = $('#hdn_profile_id').val();
  if(profile_id) {
    var dataString = {profile_id:profile_id}
    $.ajax({
      type: "POST",
      url: "/message/unfriend",
      dataType: "json",
      data: dataString,
      error: function(){alert("ERROR!!")},
      success: function(data) {
        if (data.status) {
          $('#avatar_card').fadeOut(1500);
          $('#friend_box_'+profile_id).remove();
        }
        showSpinner(false);
      }
    });
  }
});
-->
</script>