<div class="message_container">
  <div style="width:240px;float:left;">
    <div class="avatar_thumb">
      <img src="https://s3.amazonaws.com/<%=profile.school.vaults[0].folder%>/avatar_thumb/avatar_<%=profile.id%>.jpg" id="<%=profile.id%>" class="profile"/>
    </div>
    <div style="float:left;width:150px;padding:2px;">
      <span><%=profile.full_name%></span><br />
      <span><%=@profile.major.name if @profile.major%></span><span><%=profile.school.code%></span>
    </div>
  </div>
  <div style="width:240px;float:left;margin-top:5px;">
    <span>Like Received: <%=profile.like_received ? profile.like_received : 0 %></span> <br />
    <span>Like Given: <%=profile.like_given ? profile.like_given : 0 %></span> <br />
    <div id="msg_input" class="hide">
      <textarea name="message" id="message" style="width:235px;"></textarea>
    </div>
    <div id="note_btn" style="float:right;width:240px;text-align:right" class="hide">
      <input type="button" name="btn_note_add" id="btn_note_add" rel="<%=profile.id%>" value="Add" class="small_btn"/>
      <input type="button" name="btn_note_dnt_add" id="btn_note_dnt_add" value="Don't Add" />
    </div>
    <div id="msg_btn" style="float:right;width:240px;text-align:right" class="hide">
      <input type="button" name="btn_msg_send" id="btn_msg_send" rel="<%=profile.id%>" class="small_btn" value="Send" />
      <input type="button" name="btn_msg_dnt_send" id="btn_msg_dnt_send" value="Don't Send" />
    </div>
    <div id="root_btn" style="float:right;width:240px;text-align:right;margin:50px 0 0 0;">
      <input type="button" name="btn_note" id="btn_note" rel="<%=profile.id%>" value="Note" class="small_btn" />
      <input type="button" name="btn_msg" id="btn_msg" rel="<%=profile.id%>" value="Message" />
      <input type="button" name="btn_frnd" id="btn_frnd" rel="<%=profile.id%>" value="Friend" class="small_btn" />
    </div>
  </div>
</div>
<script type="text/javascript">
<!--
$('#btn_frnd, #btn_msg_send').click(function(){
  profile_id = $(this).attr('rel');
  message_type = $(this).attr('value');;
  if(message_type == "Friend") {
    message = "Friend Request!!!";
  } else {
    message = $('#message').val();
  }
  var dataString = {parent_id:profile_id, parent_type:"Profile", content: message, message_type: message_type};
  if(profile_id) {
    $.ajax({  
      type: "POST",
      url: "/message/save",
      datatype: 'json',
      data: dataString,
      success: function(data) {
        if (data.status="sent") {
          $('#friend_box').html('<center>Friend request sent!!</center>');
          $('#friend_box').fadeOut(1500);
        }
      }
    });
  }
});

$('#btn_note').click(function(){
  $('#root_btn').hide();
  $('#msg_input').show();
  $('#msg_btn').hide();
  $('#note_btn').show();
});

$('#btn_msg').click(function(){
  $('#root_btn').hide();
  $('#msg_input').show();
  $('#note_btn').hide();
  $('#msg_btn').show();
});

$('#btn_msg_dnt_send, #btn_note_dnt_add').click(function(){
  $('#root_btn').show();
  $('#msg_input').hide();
  $('#note_btn').hide();
  $('#msg_btn').hide();
});
-->
</script>