<div class="comment_container">
  <div class="comment_content">
    <div id="content">
      <%=comment.content%>
    </div>
    <div id="info">
      <div id="time">
        <%= time_ago_in_words(comment.created_at) %> ago
      </div>
      <div id="links">
        <span id="count_<%=comment.id%>">
          <%=comment.like%>
        </span>
        <span id="link_<%=comment.id%>">
          <a href="javascript:void(0)" class="like" rel="<%=user_like(comment.profile_id, comment.id) ? "unlike" : "like" %>" id="<%=comment.id%>"><%=user_like(comment.profile_id, comment.id) ? "UNLIKE" : "LIKE" %></a>
        </span>
      </div>
    </div>
  </div>
  <div class="avatar_thumb_comment">
    <img src="https://s3.amazonaws.com/<%=comment.profile.school.vaults[0].folder%>/avatar_thumb/avatar_<%=comment.profile.id%>.jpg" id="<%=comment.profile.id%>" class="profile"/>
  </div>
</div>