<div class="msg_big_box" id="request_box_<%=friend_request.id%>">
  <div class="avatar_white_bdr">
    <img src="<%=friend_request.profile.image_file_name%>" profile_id ="<%=friend_request.profile.id%>" class="profile"/>
  </div>
  <div class="msg_box_fullwidth">
    <div class="positn_rtlv"><div class="msg_big_box_arrow"><img src="/images//blue_arrow.png" width="15px" height="21px" /></div></div>
    <div class="msg_box_txt blue_bg_msg_txt">
      <h3 class="name"><%=friend_request.profile.full_name%></h3>
      <p><%=friend_request.content%></p>
      <div class="msg_bottom_links">
       <div class="time" rel ="<%=friend_request.id%>"><span id ="word_<%=friend_request.id%>"><%= time_ago_in_words(friend_request.created_at) %> ago</span><span class="hide" id ="date_<%=friend_request.id%>"><%=gdt(friend_request.created_at)%></span></div>
        <div class="like_cmt">
          <span>
            <a href="javascript:void(0)" class="blue_bt19px friend-request" rel="add" id="<%=friend_request.id%>" data="<%=friend_request.message_type%>">Accept</a>
          </span>
          <span>
            <a href="javascript:void(0)" class="blue_bt19px friend-request" rel="dntadd" id="<%=friend_request.id%>" data="<%=friend_request.message_type%>">Decline</a>
          </span>
        </div>
      </div>
    </div>
    <input type="hidden" value="<%=friend_request.parent_type%>" id="section_type_<%=friend_request.id%>" />
    <div class="clear"></div>
  </div>
</div>

<script type="text/javascript">

$('.friend-request').unbind("click").bind("click", function(){
  message_id = this.id;
  action = $(this).attr('rel');
  section_type = $("#section_type_"+message_id).val();
  message_type = $(this).attr('data'); 
  var dataString = {message_id:message_id, activity:action,section_type:section_type,message_type:message_type};
  if(message_id) {
    if(message_type == "course_invite" || message_type == "group_request" || message_type == "group_invite"){ 
     showSpinner(true);
      $.ajax({  
        type: "POST",  
        url: "/message/respond_to_course_request",
        datatype: 'json',
        data: dataString,
        success: function(data) {
          setAlert(data);
          $("#request_box_"+message_id).fadeOut(1500);
          showSpinner(false);
          var invites = $("#invitation_count").val();
           $("#invitation_count").attr("value",invites-1);
           if($("#invitation_count").val()==0){
              $("#invites_title").html("");
           }
        }
      });
    }
    if(message_type == "Friend"){ 
      $.ajax({  
        type: "POST",  
        url: "/message/respond_to_friend_request",
        datatype: 'json',
        data: dataString,
        success: function(data) {
          if (data) {
            $('#request_box_'+message_id).fadeOut();
            if(action == "add") {
              $('#friend_list').append(data);
            }
            var invites = $("#invitation_count").val();
            $("#invitation_count").attr("value",invites-1);
            if($("#invitation_count").val()==0){
              $("#invites_title").html("")
            }
          }
          showSpinner(false);
        }
      });
    }
  }
});

</script>