<!--friend box-->
<div class="friend_box" id="friend_box_<%=friend.profile_id%>">
  <div class="avatar_green_bdr">
    <img src="<%=friend.profile.image_file_name%>" id="<%=friend.profile_id%>" class="profile"/>
  </div>
  <div class="txtboxfullwidth">
    <div class="txt">
      <p><b><%=friend.profile.full_name%></b></p>
      <p><%=h "#{friend.profile.major.name}, " if friend.profile.major%><%=h friend.profile.school.code%></p>
      <p>Messaged 3 hours ago</p>
      <div class="spacebar10px"></div>
      <div align="right" id="frnd_root_btn">
      <a href="javascript:void(0)" class="blue_bt19px menu_btn" rel="/message/friends_only/<%=friend.profile_id%>">messages</a>
      </div>
      
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<!--friend box-->
<script type="text/javascript">
<!--
  $('#frnd_msg').click(function(){
    showSpinner(true);
    profile_id = $(this).attr('rel');
    if(profile_id) {
      var dataString = {
        profile_id:profile_id,
        parent_type:"Profile"
      };
      $.ajax({
        type: "POST",
        url: "/message/friend_messages",
        dataType: 'json',
        data: dataString,
        error: function(){alert("ERROR!!")},
        success: function(data) {
          if (data) {
            $("#container").html(data);
          }
          showSpinner(false);
        }
      });
    }
  });
-->
</script>