<!--friend box-->
<div class="friend_box" id="friend_box_<%=friend.id%>">
  <div class="avatar_green_bdr">
    <img src="<%=friend.image_file_name%>" profile_id="<%=friend.id%>" class="profile"/>
  </div>
  <div class="txtboxfullwidth">
    <div class="txt">
      <p><b><%=friend.full_name%></b></p>
      <p><%=h "#{friend.major.name}, " if friend.major%><%=h friend.school.code%></p>
       <%created_at=last_message(friend.id, user_session[:profile_id])%>
      <p style="font-weight: bold;"><%if !created_at.nil?%><%=time_ago_in_words(created_at)%> ago <%end%> </p>
      <div class="spacebar10px"></div>
      <div align="right" id="frnd_root_btn">
      <a href="javascript:void(0)" class="blue_bt19px menu_btn" rel="/message/friends_only/<%=friend.id%>">messages</a>
      </div>
      
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<!--friend box-->
<script type="text/javascript">
$(document).ready(function() {
  $('#frnd_msg').click(function(){
    showSpinner(true);
    profile_id = $(this).attr('rel');
    if(profile_id) {
      var dataString = {
        profile_id:profile_id,
        parent_type:"Profile"
      };
      $.ajax({
        type: "POST",
        url: "/message/friend_messages",
        dataType: 'json',
        data: dataString,
        error: function(){alert("ERROR!!")},
        success: function(data) {
          if (data) {
            $("#container").html(data);
          }
          showSpinner(false);
        }
      });
    }
  });
});  
//-->
</script>