<!--popup start-->
<div class="popup_box1" id="avatar_card"></div>
<!--popup end-->

<div class="messages_content load_messages">
  <div class="msg_content_left">
  
    <!-- Respond -->
    <% if @respont_to_course and not @respont_to_course.empty? %>
    <div id="course_requset_respond">
      <% @respont_to_course.each do |respond_course| %>
        <%= render :partial => "/message/respond_to_course", :locals => {:respond_course=>respond_course} %>
      <% end %>
    </div>
    <% end %>
    
    <!-- Invites -->
    <div id="course_requests">
    <% if @friend_requests and not @friend_requests.empty? %>
    <div id="friend_requests">
     <h2>INVITES</h2>
      <% @friend_requests.each do |friend_request| %>
        <%= render :partial => "/message/friend_requests", :locals => {:friend_request=>friend_request} %>
      <% end %>
    </div>
    <% end %>
    </div>
      
    <!-- Message -->
    <div id="message_wrapper" class="message_wrapper">
      <% if @messages %>
      <h2>MESSAGES</h2>
        <% @messages.each do |message| %>
          <%= render :partial => "/message/messages", :locals => {:message=>message} %>
        <% end %>
      <% end %>
    </div>
       
    <!-- Notes -->
    <div id="notes">
      <% if @notes %>
      <h2>NOTES</h2>      
         <% @notes.each do |note| %>
           <%= render :partial => "/message/notes", :locals => {:note=>note} %>
         <% end %>
      <% end %>
    </div>
    
    <!-- Add Friend -->
    <div id="avatar_card" class="hide"></div>
    <!-- Add Friend ends -->
    
  </div>
  
  <!-- Friend List -->
  <div class="friend_list" id="friend_list">
    <% if @friend %>
      <h2>FRIEND</h2>
      <% @friend.each do |friend| %>
        <%= render :partial => "/message/friend_list", :locals => {:friend=>friend} %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $.ajaxSetup({ cache: false }); 
    setInterval(function() {
      $.ajax({
        type: "POST",  
        url: "/message/check_request",  
        success: function(data) {
          $("#course_requests").prepend(data);
        }
      });
    }, 10000*20); 
});

  setPageTitle("My Messages");
  
  //Post Message
  $('.message_wrapper').delegate('.sbmt_msg', 'click', function(){
    showSpinner(true);
    parent_id = $(this).attr("id");
    parent_type = $(this).attr("rel");
    text = $(this).attr("title");
    message = $("#"+text).val();
    var dataString = {parent_id:parent_id, parent_type:parent_type, content: message};
    $.ajax({  
      type: "POST",  
      url: "/message/save",  
      data: dataString,
      success: function(data) {
        $("#"+text).val("");
        if (parent_type=="Message") {
          $("#post_comment_"+parent_id).hide();
          $("#messsage_box_"+parent_id).append(data);
        } else {
          $("#message_wrapper").append(data);
          $("#msg_input").fadeOut();
        }
        showSpinner(false);
      }
    });  
  });
  
  //Like/Unlike a message or comment
  $('.message_wrapper').delegate('.like', 'click', function(){
    showSpinner(true);
    if(this.id){
      action = $(this).attr('rel');
      controller = this;
      $.ajax({  
        type: "POST",  
        url: "/message/"+action,
        dataType: 'json',
        data: {message_id:this.id},
        success: function(data) {
          if (data) {
            $(controller).attr('rel',data.action);
            $(controller).text(data.action.toUpperCase());
            $('#count_'+controller.id).html(data.count);
          }
          showSpinner(false);
        }
      });
    }
  });
  
  $('.message_wrapper, .friend_list').delegate('.profile', 'click', function(){
    var p = $(this);
    var position = p.position();
    showSpinner(true);
    $.ajax({  
      type: "POST",  
      url: "/message/add_friend_card",
      data: {profile_id:this.id},
      success: function(data) {
        if (data) {
          $('#avatar_card').html(data);
          $('#avatar_card').css("top",position.top-30);
          $('#avatar_card').css("left",position.left-20);
          $('#avatar_card').show();
        }
        showSpinner(false);
      }
    });
  });
  
</script>