<div class="messages_content load_messages">
  <div class="msg_content_left">
    
    <!-- Invites -->
    <% if @friend_requests and not @friend_requests.empty? %>
    <div id="course_requests">
     <h2>INVITES</h2>
      <% @friend_requests.each do |friend_request| %>
        <%= render :partial => "/message/friend_requests", :locals => {:friend_request=>friend_request} %>
      <% end %>
    </div>
    <% end %>
      

     <!-- Respond -->
    <div id="message_wrapper" class="message_wrapper">
       <% if @respont_to_course and not @respont_to_course.empty? %>
         <h2>NOTIFICATIONS</h2>
        <div id="course_requset_respond">
          <% @respont_to_course.each do |respond_course| %>
            <%= render :partial => "/message/respond_to_course", :locals => {:respond_course=>respond_course} %>
          <% end %>
        </div>
      <% end %>
     <!-- Message -->
       <% if @messages %>
       <h2>MESSAGES</h2>
        <% @messages.each do |message| %>
          <%= render :partial => "/message/messages", :locals => {:message=>message} %>
        <% end %>
      <% end %>
      <div class="end_of_page"></div>
    </div>
       
    <!-- Notes -->
    <div id="notes">
      <% if @notes %>
      <h2>NOTES</h2>      
         <% @notes.each do |note| %>
           <%= render :partial => "/message/notes", :locals => {:note=>note} %>
         <% end %>
      <% end %>
    </div>
    
  </div>
  
  <!-- Friend List -->
  <div class="friend_list" id="friend_list">
    <% if @friend %>
      <h2>FRIENDS</h2>
      <% @friend.each do |friend| %>
        <%= render :partial => "/message/friend_list", :locals => {:friend=>friend} %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
   
    console.log(request);
    $.ajaxSetup({ cache: false }); 
    setInterval(function() {
      $.ajax({
        type: "POST",  
        url: "/message/check_request",  
        success: function(data) {
          $("#course_requests").prepend(data);
        }
      });
    }, 10000*20); 
});

   var request = "";
   var message = "";
$('.message_list').click(function(){  
    var id = $(this).attr("id");
    var ids =id.split("_");
    //$("#m_"+ids[2]).addClass("show");
    if($("#m_"+ids[2]).hasClass("show"))
    $("#m_"+ids[2]).removeClass("show")
    else
    $("#m_"+ids[2]).addClass("show")   
  });
  
  $('.request_message').click(function(){  
    var id = $(this).attr("id");
    var ids =id.split("_");
    if($("#rq_"+ids[2]).hasClass("show"))
      $("#rq_"+ids[2]).removeClass("show")
    else
      $("#rq_"+ids[2]).addClass("show")  
  });
  
  setPageTitle("My Messages");
  
  //Post Message
  $('.message_wrapper').delegate('.sbmt_msg', 'click', function(){
    showSpinner(true);
    parent_id = $(this).attr("id");
    parent_type = $(this).attr("rel");
    text = $(this).attr("title");
    message = $("#"+text).val();
    var dataString = {parent_id:parent_id, parent_type:parent_type, content: message};
    $.ajax({  
      type: "POST",  
      url: "/message/save",  
      data: dataString,
      success: function(data) {
        $("#"+text).val("");
        if (parent_type == "Message") {
          $("#post_comment_"+parent_id).hide();
          $("#messsage_box_"+parent_id).append(data);
        } else {
          $("#message_wrapper").append(data);
          $("#msg_input").fadeOut();
        }
        showSpinner(false);
      }
    });  
  });
  
  //Like/Unlike a message or comment
  $('.message_wrapper').delegate('.like', 'click', function(){
    showSpinner(true);
    if(this.id){
      action = $(this).attr('rel');
      course_id = $(this).attr('rev');
      controller = this;
      $.ajax({  
        type: "POST",  
        url: "/message/"+action,
        dataType: 'json',
        data: {message_id:this.id,course_id:course_id},
        success: function(data) {
          if (data) {
            $(controller).attr('rel',data.action);
            $(controller).text(data.action.toUpperCase());
            $('#count_'+controller.id).html(data.count);
          }
          showSpinner(false);
        }
      });
    }
  });
  
  
   $(".message_del").click(function(){
        showSpinner(true);
        id=$(this).attr("rel");
        var dataString = 'id='+id;
        $.ajax({
           type: "POST",  
           url: "/message/remove_request_message",  
           data: dataString,
           dataType:"json",
           success: function(data) {
             $("#request_box_"+id).fadeOut(1000);
             showSpinner(false);
             }
        });
     });
  
</script>