
<div class="messages_content load_messages">
  <div class="msg_content_left">
    
    <!-- Invites -->
    <% if @friend_requests and not @friend_requests.empty? %>
    <div id="course_requests">
     <h2>INVITES</h2>
      <% @friend_requests.each do |friend_request| %>
        <%= render :partial => "/message/friend_requests", :locals => {:friend_request=>friend_request} %>
      <% end %>
    </div>
    <% end %>
      

     <!-- Respond -->
       <% if @respont_to_course and not @respont_to_course.empty? %>
         <h2>NOTIFICATIONS</h2>
        <div id="course_requset_respond">
          <% @respont_to_course.each do |respond_course| %>
            <%= render :partial => "/message/respond_to_course", :locals => {:respond_course=>respond_course} %>
          <% end %>
        </div>
      <% end %>
     <!-- Message -->
   <h2><!-- Post Message --></h2>
  <div id="" class="message_wrapper">
    <div style="margin-left: 90px; text-align:right;">
      <textarea id="msg_content" name="msg_content" class="msg_content2" style ="width:99%" placeholder="Enter your message to share..."></textarea> <br />
      <a href="javascript:void(0)" class="blue_bt19px" onclick="javascript:$('#msg_content').val('');">Clear</a>
      <a href="javascript:void(0)" <%if friend_id && !friend_id.nil? %>id="<%=friend_id%>" rel="Profile"<%else%>id="<%=user_session[:profile_id]%>" rel=""<%end%> class="sbmt_msg blue_bt19px" title="msg_content" onclick="javascript:void(0);">Post</a>
    </div>
  </div>
   <h2>MESSAGES</h2>
   <div id="message_wrapper" class="message_wrapper">
       <% if @messages %>
      
        <% @messages.each do |message| %>
          <%= render :partial => "/message/messages", :locals => {:message=>message} %>
        <% end %>
      <% end %>
      <div class="end_of_page"></div>
    </div>
       
    <!-- Notes -->
    <div id="notes">
      <% if @notes %>
      <h2>NOTES</h2>      
         <% @notes.each do |note| %>
           <%= render :partial => "/message/notes", :locals => {:note=>note} %>
         <% end %>
      <% end %>
    </div>
    
  </div>
  
  <!-- Friend List -->
  <div class="friend_list" id="friend_list">
    <% if @friend %>
      <h2>RECENTLY MESSAGED</h2>
      <% @friend.each do |friend| %>
        <%= render :partial => "/message/friend_list", :locals => {:friend=>friend} %>
      <% end %>
    <% end %>
  </div>
  <div class ="hide" id ="div_message_delete">
      
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $.ajaxSetup({ cache: false }); 
    setInterval(function() {
      $.ajax({
        type: "POST",  
        url: "/message/check_request",  
        success: function(data) {
          $("#course_requests").prepend(data);
        }
      });
    }, 10000*20); 
});

   var request = "";
   var message = "";
$('.message_list').click(function(){  
    var rel = $(this).attr("rel");
   // var ids = id.split("_");
    if($("#m_"+rel).hasClass("show")){
      $("#m_"+rel).removeClass("show")
    }
    else{
      $("#m_"+rel).addClass("show")   
    }
  });
  
  $('.request_message').click(function(){  
    var rel = $(this).attr("rel");
    if($("#rq_"+rel).hasClass("show"))
      $("#rq_"+rel).removeClass("show")
    else
      $("#rq_"+rel).addClass("show")  
  });
  
  $('.comments_lists_box').click(function(){  
    var rel = $(this).attr("rel");
    if($("#c_"+rel).hasClass("show"))
      $("#c_"+rel).removeClass("show")
    else
      $("#c_"+rel).addClass("show")  
  });
    
  setPageTitle("My Messages");
  
  //Post Message
  $('.message_wrapper').delegate('.sbmt_msg', 'click', function(){
    showSpinner(true);
    parent_id = $(this).attr("id");
    parent_type = $(this).attr("rel");
    text = $(this).attr("title");
    message = $("#"+text).val();
    var dataString = {parent_id:parent_id, parent_type:parent_type, content: message};
    $.ajax({  
      type: "POST",  
      url: "/message/save",  
      data: dataString,
      success: function(data) {
        $("#"+text).val("");
        if (parent_type == "Message") {
          $("#post_comment_"+parent_id).hide();
          $("#messsage_box_"+parent_id).append(data);
        } else {
          $("#message_wrapper").prepend(data);
          $("#msg_input").fadeOut();
        }
        showSpinner(false);
      }
    });  
  });
  
  //Like/Unlike a message or comment
  $('.message_wrapper').delegate('.like', 'click', function(){
    showSpinner(true);
    if(this.id){
      action = $(this).attr('rel');
      course_id = $(this).attr('rev');
      controller = this;
      $.ajax({  
        type: "POST",  
        url: "/message/"+action,
        dataType: 'json',
        data: {message_id:this.id,course_id:course_id},
        success: function(data) {
          if (data) {
            $(controller).attr('rel',data.action);
            $(controller).text(data.action.toUpperCase());
            $('#count_'+controller.id).html(data.count);
          }
          showSpinner(false);
        }
      });
    }
  });
  
  
   $(".notification_del").click(function(){
        showSpinner(true);
        id=$(this).attr("rel");
        var dataString = 'id='+id;
        $.ajax({
           type: "POST",  
           url: "/message/remove_request_message",  
           data: dataString,
           dataType:"json",
           success: function(data) {
             $("#request_box_"+id).fadeOut(1000);
             showSpinner(false);
             }
        });
     });
     
    $(".msg_content_left").delegate('.message_del', 'click', function(){
      showSpinner(true);
      id = $(this).attr("rel");
      message_type = $(this).attr("rev");
      var position = $(this).position();
      var dataString = 'id='+id+'&message_type='+message_type;
      $.ajax({
           type: "POST",  
           url: "/message/confirm",  
           data: dataString,
           success: function(data) {
             $("#div_message_delete").html(data);
             $("#div_message_delete").show();
             $('#div_message_delete').css("top",position.top-30);
             $('#div_message_delete').css("left","450px");
             $('#div_message_delete').css("position","absolute");
             showSpinner(false);
             }
        });
    }); 
   $(".time").click(function(){
    var id = $(this).attr("rel");
    if($(".words").hasClass("hide")){
      $(".words").removeClass("hide");
      $(".dates").addClass("hide");
      }
    else{
      $(".dates").removeClass("hide");
      $(".words").addClass("hide");
      }
   }); 
  
</script>