<div class="messages_content load_messages">
  <div class="msg_content_left">
    
    <!-- Invites -->
   
    <% if @friend_requests and not @friend_requests.empty? %>
     <div id="invites_title"><h2 style="font-size:16px;">INVITES</h2></div>
     <div id="course_requests">
      <% @friend_requests.each do |friend_request| %>
        <%= render :partial => "/message/friend_requests", :locals => {:friend_request=>friend_request} %>
      <% end %>
     </div>     
    <% end %>
  

     <!-- Respond -->
       <% if @respont_to_course and not @respont_to_course.empty? %>
         <div id="notification_title"><h2 style="font-size:16px;">NOTIFICATIONS
           <span style="float: right;" class="like_cmt">
             <% message_ids = @respont_to_course.map(&:id)%>
             <a href="javascript:void(0);" class="all_notification_del blue_bt19px">Clear All Notifications</a>
           </span>
        </h2></div>
        <div id="course_requset_respond">
          <% @respont_to_course.each do |respond_course| %>
            <%= render :partial => "/message/respond_to_course", :locals => {:respond_course=>respond_course} %>
          <% end %>
        </div>
      <% end %>
     <!-- Message -->
   <h2><!-- Post Message --></h2>
   <h2 style="font-size:16px;"><%= friend_id && !friend_id.nil? ? "PRIVATE MESSAGES WITH #{@friend.full_name.upcase}" : "MESSAGES WITH FRIENDS"%>
   </h2>
    <div id="" class="message_wrapper">
      <div style="margin-left: 90px; text-align:right;">
        <textarea id="msg_content" name="msg_content" class="msg_content2" style ="width:99%" placeholder="<%= friend_id && !friend_id.nil? ? "Send a New Private Message to #{@friend.full_name}..." : "Share with all friends..."%>"></textarea> <br />
        <a href="javascript:void(0)" class="blue_bt19px" onclick="javascript:$('#msg_content').val('');$('#msg_content').css('height','');">Clear</a>
        <a href="javascript:void(0)" <%if friend_id && !friend_id.nil? %>id="<%=friend_id%>" rel="Profile"<%else%>id="<%=user_session[:profile_id]%>" rel=""<%end%> class="sbmt_msg blue_bt19px" title="msg_content" onclick="javascript:void(0);">Post</a>
      </div>
    </div>
	 <% if @messages.length > 0 %>
		 <div id="show_all_cmnts_div" class="linkcolour">
			<a href="javascript:void(0)" id="all_cmnts">Show All Comments</a>
		 </div>
		 <div id="show_only_cmnts_div" class="hide linkcolour">
			<a href="javascript:void(0)" id="only_cmnts">Show Only Last 2 Comments</a>
		 </div>
	 <% end %>
   <div id="message_wrapper" class="message_wrapper">
       <% if @messages %>
        <% @messages.each do |message| %>
					<%= render :partial => "/message/messages", :locals => {:message=>message} %>
        <% end %>
      <% end %>
    </div>
     <% if @show_more_btn %>
       <span style="float: right;margin-top:7px;" class="like_cmt">
         <a href="javascript:void(0);" load="messages" <%if friend_id && !friend_id.nil? %>id="friend_page" friend_id="<%=friend_id%>"<%else%>id="main_messages_page" friend_id=""<%end%> class="blue_bt19px">MORE</a>
       </span>
     <% end %>
    
      <div class="end_of_page"></div>
       
    <!-- Notes -->
    <div id="notes">
      <% if @notes %>
      <h2 style="font-size:16px;">NOTES</h2>      
         <% @notes.each do |note| %>
           <%= render :partial => "/message/notes", :locals => {:note=>note} %>
         <% end %>
      <% end %>
    </div>
    
  </div>
  
  <!-- Friend List -->
  <div class="friend_list" id="friend_list">
    <% if @users %>
      <h2>RECENTLY MESSAGED</h2>
      <% @users.each do |friend| %>
        <%= render :partial => "/message/friend_list", :locals => {:friend=>friend} %>
      <% end %>
    <% end %>
    <% if @show_more_users %>
      <span style="float: right;" class="like_cmt"><a href="javascript:void(0);" load="users" class="more_users blue_bt19px">MORE</a></span>
    <% end %>
  </div>
  <div class ="hide" id ="div_message_delete">
  </div>
</div>
 <input type="hidden" name="notification_count" id="notification_count" value="<%=@respont_to_course.count if @respont_to_course%>"> 
  <input type="hidden" name="invitation_count" id="invitation_count" value="<%=@friend_requests.count if @friend_requests%>"> 
  <input type="hidden" name="all_notifications" id="all_notifications" value="<%=message_ids%>">
  <input type="hidden" name="messages_length" id="messages_length" value="<%=messages_length%>">
  <input type="hidden" name="users_length" id="users_length" value="<%=users_length%>">
<script type="text/javascript">
var message_show_array = [];
<% if @messages %>
  <% @messages.each do |message| %>
		message_show_array.push(<%=message.id%>);
	<% end %>
<% end %>
				
$(document).ready(function() {
	profile_id = $("#hdn_profile_id").val();
	$.ajax({ 
	  type: "POST",  
      url: "/message/alert_badge",
      dataType: "json",
      data:{id:profile_id},
      success: function(data) {
		if (data.alert_badge == false){
			document.getElementById("msg").className = "notification_badge_active menu_btn";
		}
		else{
			document.getElementById("msg").className = "icon_msg_active menu_btn";
		}
   	  },
	  error: function()
      {
        alert("An Error has occured");
      },
	});
    $.ajaxSetup({ cache: false }); 
    setInterval(function() {
      $.ajax({
        type: "POST",  
        url: "/message/check_request",  
        success: function(data){
         if(data!=""){
            if ($("#invites_title").length > 0){
              $("#course_requests").prepend(data);
            }else{
              $("#course_requests").html("<div id='invites_title'><h2>INVITES</h2></div>");
              $("#course_requests").append(data);
            }
            var invites = parseInt($("#invitation_count").val());
            $("#invitation_count").attr("value",invites+1); 
              
         }
        }
     });
     $.ajax({
        type: "POST",  
        url: "/message/check_messages",  
        success: function(data){
         if(data!=""){
          $("#message_wrapper").prepend(data);
         }
        }
      });
    }, 10000*20); 
	 $('textarea#msg_content').autosize();
	 
	 $('#all_cmnts').click(function(){
		update_show_comments(message_show_array,true);
		all_comments = true;
	 });
	 
	 $('#only_cmnts').click(function(){
		update_show_comments(message_show_array,false);
		all_comments = false;
	 });
	 
	 // See the last setting of user or the default setting in main.html
	 if(all_comments) {
		arrange_comments(message_show_array,true);
	 } else {
		arrange_comments(message_show_array,false);
	 }
	 
});


   var request = "";
   var message = "";
$('.message_list').click(function(){  
    var rel = $(this).attr("rel");
   // var ids = id.split("_");
    if($("#m_"+rel).hasClass("show")){
      $("#m_"+rel).removeClass("show")
    }
    else{
      $("#m_"+rel).addClass("show")   
    }
  });
  
  $('.request_message').click(function(){  
    var rel = $(this).attr("rel");
    if($("#rq_"+rel).hasClass("show"))
      $("#rq_"+rel).removeClass("show")
    else
      $("#rq_"+rel).addClass("show")  
  });
  
  $('.comments_lists_box').click(function(){  
    var rel = $(this).attr("rel");
    if($("#c_"+rel).hasClass("show"))
      $("#c_"+rel).removeClass("show")
    else
      $("#c_"+rel).addClass("show")  
  });
    
  setPageTitle("My Messages");
  
  //Post Message
  $('.message_wrapper').delegate('.sbmt_msg', 'click', function(){
    showSpinner(true);
    parent_id = $(this).attr("id");
    parent_type = $(this).attr("rel");
    text = $(this).attr("title");
    message = $("#"+text).val();
    var dataString = {parent_id:parent_id, parent_type:parent_type, content: message};
    $.ajax({  
      type: "POST",  
      url: "/message/save",  
      data: dataString,
      success: function(data) {
        $("#"+text).val("");
        if (parent_type == "Message") {
          $("#post_comment_"+parent_id).hide();
          $("#messsage_box_"+parent_id).append(data);
        } else {
          $("#message_wrapper").prepend(data);
          $("#msg_input").fadeOut();
        }
        $('#msg_content').css('height','');
        showSpinner(false);
      }
    });  
  });
  
  //Like/Unlike a message or comment
  $('.message_wrapper').delegate('.like', 'click', function(){
    showSpinner(true);
    if(this.id){
      action = $(this).attr('rel');
      course_id = $(this).attr('rev');
      controller = this;
      $.ajax({  
        type: "POST",  
        url: "/message/"+action,
        dataType: 'json',
        data: {message_id:this.id,course_id:course_id},
        success: function(data) {
          if (data) {
            $(controller).attr('rel',data.action);
            $(controller).text(data.action.toUpperCase());
            $('#count_'+controller.id).html(data.count);
          }
          showSpinner(false);
        }
      });
    }
  });
  
  //Load more messages
  $('#main_messages_page, .more_users').click(function(){
    showSpinner(true);
    load = $(this).attr("load");
    messages_length = $("#messages_length").val();
    users_length = $("#users_length").val();
    search_text = $("#search_input").val();
    if (search_text == "Find Message") {
      var dataString = 'messages_length='+messages_length+'&users_length='+users_length+'&load='+load;
    } else {
      var dataString = 'messages_length='+messages_length+'&users_length='+users_length+'&load='+load+'&search_text='+search_text;
    }
    $.ajax({
       type: "POST",  
       url: "/message/",  
       data: dataString,
       success: function(data) {
         $("#container").html(data);
         showSpinner(false);
       }
    });
  });
  
  $('#friend_page').click(function(){
    showSpinner(true);
    messages_length = $("#messages_length").val();
    friend_id = $(this).attr("friend_id");
    var dataString = 'messages_length='+messages_length+'&friend_id='+friend_id;
    $.ajax({
       type: "POST",  
       url: "/message/friends_only/"+friend_id,  
       data: dataString,
       success: function(data) {
         $("#container").html(data);
         showSpinner(false);
       }
    });
  });
  
   $(".notification_del").click(function(){
        showSpinner(true);
        id=$(this).attr("rel");
        var dataString = 'id='+id;
        $.ajax({
           type: "POST",  
           url: "/message/remove_request_message",  
           data: dataString,
           dataType:"json",
           success: function(data) {
             $("#request_box_"+id).fadeOut(1000);
             var notification = $("#notification_count").val();
             $("#notification_count").attr("value",notification-1);
             if($("#notification_count").val()==0){
                $("#notification_title").html("")
             }
             showSpinner(false);
             }
        });
     });
	 
	 $(".all_notification_del").click(function(){
        showSpinner(true);
        id=$("#all_notifications").val();
        var dataString
		dataString = {id: id};
        $.ajax({
           type: "POST",  
           url: "/message/remove_request_message",  
           data: dataString,
           dataType:"json",
           success: function(data) {
             $("#request_box_"+id).fadeOut(1000);
                $("#notification_title").hide();
				$("#course_requset_respond").hide();
             showSpinner(false);
             }
        });
     });
     
    $(".msg_content_left").delegate('.message_del', 'click', function(){
      showSpinner(true);
      id = $(this).attr("rel");
      message_type = $(this).attr("rev");
      var position = $(this).position();
      var dataString = 'id='+id+'&message_type='+message_type;
      $.ajax({
           type: "POST",  
           url: "/message/confirm",  
           data: dataString,
           success: function(data) {
             $("#div_message_delete").html(data);
             $("#div_message_delete").show();
             $('#div_message_delete').css("top",position.top-30);
             $('#div_message_delete').css("left","450px");
             $('#div_message_delete').css("position","absolute");
             showSpinner(false);
             }
        });
    }); 
  
  
</script>