<div class="message_container" id="messsage_box_<%=message.id%>">
  <div class="avatar_thumb">
    <img src="https://s3.amazonaws.com/<%=message.profile.school.vaults[0].folder%>/avatar_thumb/avatar_<%=message.profile.id%>.jpg" />
  </div>
  <div class="message_content">
    <div id="content">
      <%=message.profile.full_name%> <br />
      <%=message.content%>
    </div>
    <div id="info">
      <div id="time">
        <%= time_ago_in_words(message.created_at) %> ago
      </div>
      <div id="links">
        <span id="count_<%=message.id%>">
          <%=message.like%>
        </span>
        <span id="link_<%=message.id%>">
          <a href="javascript:void(0)" id="<%=message.id%>" rel="<%=user_like(message.profile_id, message.id) ? "unlike" : "like" %>" class="like">
            <%=user_like(message.profile_id, message.id) ? "UNLIKE" : "LIKE" %>
          </a>
        </span>
        <span>
          <a href="javascript:void(0)" onclick="javascript:$('#post_comment_<%=message.id%>').show()">COMMENT</a>
        </span>
      </div>
    </div>
  </div>
  <!-- comments -->
  <% Message.find(:all, :conditions=>["parent_id = ? AND parent_type='Message'", message.id]).each do |comment|%>
    <%= render :partial => "/message/comments", :locals => {:comment=>comment} %>
  <% end %>
  <!-- comments ends -->
</div>
<div class="comment_input hide" id="post_comment_<%=message.id%>">
  <textarea name="comment" name="cmnt_content" id="cmnt_content_<%=message.id%>" rows="2"></textarea>
  <span>
    <input type="button" value="Post" class="sbmt_msg" id="<%=message.id%>" title="cmnt_content_<%=message.id%>" rel="Message" />
  </span>
  &nbsp;
  <span>
    <a href="javascript:void(0)" onclick="javascript:$('#post_comment_<%=message.id%>').fadeOut()">Cancel</a>
  </span>
</div>