<div class="msg_big_box message_list" id="messsage_box_<%=message.id%>">
  <div class="avatar_white_bdr">
    <img src="<%=message.profile.image_file_name%>" profile_id="<%=message.profile_id%>" rel="<%=message.parent_id%>" class="profile"/>
  </div>
  
  <div class="msg_box_fullwidth">
  <div class="positn_rtlv"><div class="msg_big_box_arrow"><img src="/images/blue_arrow.png" width="15px" height="21px" /></div></div>
    <div class="msg_box_txt blue_bg_msg_txt">
      <h3 class="name"><%=h message.profile.full_name%></h3>
      <div><%= message.formatted_content%></div>
      <div class="msg_bottom_links">
        <div class="time" rel ="<%=message.id%>"><span id ="word_<%=message.id%>"><%= time_ago_in_words(message.created_at) %> ago</span><span class="hide" id ="date_<%=message.id%>"><%=gdt(message.created_at)%></span></div>
        <div class="like_cmt">
          <span class="fav_icon"><img src="/images//fav.png" align="absbottom" /><span id="count_<%=message.id%>"><%=message.like%></span> </span>
          <span class="list_messages" id="m_<%=message.id%>">
          <span id="link_<%=message.id%>">
            <a href="javascript:void(0)" id="<%=message.id%>" rel="<%=user_like(user_session[:profile_id], message.id) ? "unlike" : "like" %>" rev = "<%=message.parent_id%>" class="blue_bt19px like">
              <%=user_like(user_session[:profile_id], message.id) ? "UNLIKE" : "LIKE" %>
            </a>
          </span>
          <span>
            <a href="javascript:void(0)" class="blue_bt19px" onclick="javascript:$('#post_comment_<%=message.id%>').show()">COMMENT</a>
          </span>
          <%#if message.profile_id == user_session[:profile_id]%>
           <span id="delete_<%=message.id%>">
           <a href="javascript:void(0);" class="message_del blue_bt19px" rel="<%=message.id %>">DELETE</a>
           </span>
           <%# end %>
        </span>
       </div>
      </div>
    </div>
    
    <div class="clear"></div>
  </div>
 
  <div class="clear"></div>
  <div id="show_all_coments_<%=message.id%>" class="linkcolour" style="display:block;">
  <%total_comments = comment_list(message.id).count%>
    <%if total_comments>2%>
     <a href="javascript:void(0)" id="view_all_comment" onClick="view_all_comment(<%=message.id%>);">View All <%=total_comments%> Comments</a>
    <%end%>
  </div>
  <!-- comments -->
  <% total = total_comments-2 %>
  <% comment_list(message.id).each_with_index do |comment,i|%>
      <%if i < total %>
          <div class="hide msg_small_box" id="comment_box_<%=message.id%>"> 
             <%= render :partial => "/message/comments", :locals => {:comment=>comment,:course_id=>message.parent_id} %>
          </div> 
      <% else %>
        <% if i >= total %>
         <%= render :partial => "/message/comments", :locals => {:comment=>comment,:course_id=>message.parent_id} %>
        <% end %>           
      <% end %> 
  <% end %> 
  
</div>

 <div class="hide comment_input" align="right" id="post_comment_<%=message.id%>">
  <textarea name="cmnt_content" id="cmnt_content_<%=message.id%>" rows="2"></textarea>
  <div class="msg_btn">
    <a href="javascript:void(0)" onclick="javascript:$('#post_comment_<%=message.id%>').fadeOut()" class="blue_bt19px">Don't Post</a>
    <a href="javascript:void(0)" id="<%=message.id%>" rel="Message" title="cmnt_content_<%=message.id%>" class="blue_bt19px sbmt_msg">Post</a>
  </div>
</div>
<div class="bdr_dotted" id="border_<%=message.id%>"></div>

<!-- comments ends -->
<script type="text/javascript">
function view_all_comment(message_id){
   $("#comment_box_"+message_id+".msg_small_box").show();
   $("#show_all_coments_"+message_id).css("display","none");
}
$(".message_list").hover(
    function () {
      $(".list_messages", this).show();
    }, 
    function () {
      $(".list_messages", this).hide();
    }
  );

</script>


</script>