<div class="msg_big_box message_list" id="messsage_box_<%=message.id%>" rel="<%=message.id%>">
  <div class="avatar_white_bdr">
    <img src="<%=message.profile.image_file_name%>" profile_id="<%=message.profile_id%>" class="profile"/>
  </div>
  
  <div class="msg_box_fullwidth">
  <div class="staronavatar">
  <%if (@courseMaster and @courseMaster.id == user_session[:profile_id]) %>
    <img src="/images/<%if message.starred == true %>star_up<%else%>star_down<%end%>.png" width="36" height="37" rel="<%=message.id%>" class="msg_pri_toggle msg_pri_toggle_img" />
  <%elsif message.starred%>
    <img src="/images/star_up.png" width="36" height="37" />
  <%end%> 
  </div>
  <div class="positn_rtlv"><div class="msg_big_box_arrow"><img src="/images/blue_arrow.png" width="15px" height="21px" /></div></div>
    <div class="msg_box_txt blue_bg_msg_txt">
    <div class ="topic_div" id ="topic_<%=message.id%>" rel ="<%=message.id%>" >
      <div class="FloatL"><h3 class="name"><%=h message.profile.full_name%></h3></div>
        <!--message topic-->
        <% @message_page=false%>
        <%if @courseMaster%>
          <%if @courseMaster.id  == user_session[:profile_id]%>
            <% @course_owner=true%>
          <%else%>
            <% @course_owner=false%>
          <%end%>
        <%else%>  
           <% @course_owner=false%>
           <% @message_page=true%>
        <%end%>
        <%if (message.profile_id == user_session[:profile_id]) %>
          <div class="FloatL <%if message.topic and message.topic.length>0 %>hide<%else%>edit_topic_btn<%end%>" id ="at_<%=message.id%>" style="padding:0 0 0 5px;">
            <a href="javascript:void(0);" class="blue_bt19px add_topic" id="add_topic_<%=message.id%>" rel="<%=message.id%>">ADD TOPIC</a>
          </div>
          <%end%>  
          <div class="FloatL message_topic" style="padding:0 0 0 5px; width: 60%; overflow: hidden; text-overflow: ellipsis;">
            <input type="text" name="topic_content" id="topic_content_<%=message.id%>" class="topic_input <%if message.topic.blank?%>hide<%end%>" style="width: 100%; overflow: hidden; text-overflow: ellipsis;" maxlength="60" value="<%=message.topic%>" readonly="readonly" rel="<%=message.id%>"/>
          </div>
         <%if message.profile_id == user_session[:profile_id]%>
          <div class="FloatR <%if !message.topic.blank?%>edit_topic_btn<%else%>hide<%end%>" id ="et_<%=message.id%>">
            <a href="javascript:void(0);" class="blue_bt19px edit_topic" id="edit_topic_<%=message.id%>" rel="<%=message.id %>">EDIT TOPIC</a>
          </div>
        <%end%>
        
        <div class="clear"></div>
    </div> 
      <div class="message_content_link"><%=auto_link(message.formatted_content, :html => { :target => "_blank" })
      %></div>
      <div class="msg_bottom_links">
        <div class="time" rel ="<%=message.id%>"><span class ="words"><%= time_ago_in_words(message.created_at) %> ago</span><span class="hide dates"><%=gdt(message.created_at)%></span></div>
        <div class="like_cmt">
          <span class="fav_icon"><img src="/images/fav.png" align="absbottom" /><span id="count_<%=message.id%>"><%=message.like%></span> </span>
          <span class="list_messages" id="m_<%=message.id%>">
          <span id="link_<%=message.id%>">
          	<% unless @member.nil? && @course && @course.parent_type && @course.parent_type == "G" %>
            <a href="javascript:void(0)" id="<%=message.id%>" rel="<%=user_like(user_session[:profile_id], message.id) ? "unlike" : "like" %>" rev = "<%=message.parent_id%>" class="blue_bt19px like">
              <%=user_like(user_session[:profile_id], message.id) ? "UNLIKE" : "LIKE" %>
            </a>
            <%end%>
          </span>
        <%if (@courseMaster and @courseMaster.id == user_session[:profile_id]) %>
          <a href="javascript:void(0)" class="msg_pri_toggle msg_pri_toggle_btn blue_bt19px" rel="<%=message.id%>"><%if message.starred == true %>Un-Star<%else%>Star<%end%></a>
        <%end%>
          <% if !@course or (@course.post_messages or @courseMaster.id == user_session[:profile_id])%>
          <span>
          	<% unless @member.nil? && @course && @course.parent_type && @course.parent_type == "G" %>
            <a href="javascript:void(0)" class="blue_bt19px" onclick="javascript:$('#post_comment_<%=message.id%>').show();$('#cmnt_content_<%=message.id%>').autosize();">COMMENT</a> 
            <%end%>
          </span>
         <%end%> 
          <%if (message.profile_id == user_session[:profile_id] or @course_owner==true) or (session[:controller] == 'message') %>
             <span id="delete_<%=message.id%>">
             <a href="javascript:void(0);" class="message_del blue_bt19px" rev ="message" rel="<%=message.id %>">DELETE</a>
             </span>
             
           <% end %>
        </span>
       </div>
      </div>
    </div>
    
    <div class="clear"></div>
  </div>
 
  <div class="clear"></div>
  <div id="show_all_coments_<%=message.id%>" class="linkcolour" style="display:block;">
  <%total_comments = comment_list(message.id).count%>
    <%if total_comments>2%>
     <a href="javascript:void(0)" id="view_all_comment" onClick="view_all_comment(<%=message.id%>);">View All <%=total_comments%> Comments</a>
    <%end%>
  </div>
  <!-- comments -->
  <% total = total_comments-2 %>
  <% comment_list(message.id).each_with_index do |comment,i|%>
      <%if i < total %>
          <div class="hide msg_small_box" id="comment_box_<%=message.id%>"> 
             <%= render :partial => "/message/comments", :locals => {:comment=>comment,:course_id=>message.parent_id,:course_owner=>@course_owner, :message_page=>@message_page} %>
          </div> 
      <% else %>
        <% if i >= total %>
         <%= render :partial => "/message/comments", :locals => {:comment=>comment,:course_id=>message.parent_id,:course_owner=>@course_owner, :message_page=>@message_page} %>
        <% end %>           
      <% end %> 
  <% end %> 
  
</div>
 
 <% if !@course or (@course.post_messages or @courseMaster.id == user_session[:profile_id])%>
 <div class="hide comment_input" align="right" id="post_comment_<%=message.id%>">
  <textarea name="cmnt_content" id="cmnt_content_<%=message.id%>" rows="2"></textarea>
  <div class="msg_btn">
    <a href="javascript:void(0)" onclick="javascript:$('#post_comment_<%=message.id%>').fadeOut()" class="blue_bt19px">Don't Post</a>
    <a href="javascript:void(0)" id="<%=message.id%>" rel="Message" title="cmnt_content_<%=message.id%>" class="blue_bt19px sbmt_msg">Post</a>
  </div>
</div>
<% end %>
<div class="bdr_dotted" id="border_<%=message.id%>"></div>

<!-- comments ends -->
<script type="text/javascript">
function view_all_comment(message_id){
   $("#comment_box_"+message_id+".msg_small_box").show();
   $("#show_all_coments_"+message_id).css("display","none");
	 show_all_comments = true;
}
function hide_all_comment(message_id){
   $("#comment_box_"+message_id+".msg_small_box").hide();
   $("#show_all_coments_"+message_id).css("display","block");
	 show_all_comments = false;
}
$(".message_list").hover(
    function () {
      $(".list_messages", this).show();
    }, 
    function () {
      $(".list_messages", this).hide();
    }
  );
  
  $(".topic_div").hover(
    function () {
      $(".edit_topic_btn", this).show();
    }, 
    function () {
      $(".edit_topic_btn", this).hide();
    }
  );
  
   $(".topic_div").hover(
    function () {
      $(".add_topic_btn", this).show();
    }, 
    function () {
      $(".add_topic_btn", this).hide();
    }
  );

</script>


</script>