<div class="note_big_box" id="note_box_<%=note.id%>">
  <div class="avatar_white_bdr">
    <img src="https://s3.amazonaws.com/<%=note.profile.school.vaults[0].folder%>/avatar_thumb/avatar_<%=note.profile_id%>.jpg" id="<%=note.profile_id%>" class='<%= (note.profile_id==user_session[:profile_id]) ? "" : "profile" %>'/>
  </div>
  
  <div class="note_box_fullwidth">
  <div class="positn_rtlv"><div class="note_big_box_arrow"><img src="images/blue_arrow.png" width="15px" height="21px" /></div></div>
    <div class="note_box_txt blue_bg_msg_txt">
      <h3><%=note.profile.full_name%></h3>
      <p><%=note.content%></p>
      <div class="note_bottom_links">
        <div><%= time_ago_in_words(note.created_at) %> ago</div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>