<% @outcomes.each do |o| %>
<div class="frm_input" id="task_outcome_div_<%=o.id%>">
  <input type="checkbox" name="chk_outcomes[]" id="<%=o.id%>" <%= @task && outcome_associate(o.id, @task.id) ? "checked='checked'" : "" %> value="<%=o.id%>" />
  <input type="text" name="task_outcomes[]" value="<%= o.name %>" readonly="true" id="task_outcomes_<%=o.id%>" class="medium" />
</div>
<% end %>

<script type="text/javascript">
<!--
  $($('input[name="chk_outcomes[]"]')).each(function(){
    if(this.checked) {
      setStorage("task_outcomes_"+$(this).attr('id'), $(this).val());
    } else {
      deleteStorage("task_outcomes_"+$(this).attr('id'));
    }
  });
  
  $('input[name="chk_outcomes[]"]').live('click', function () {
    if(this.checked) {
      setStorage("task_outcomes_"+$(this).attr('id'), $(this).val());
    } else {
      deleteStorage("task_outcomes_"+$(this).attr('id'));
    }
  });
-->
</script>