<%if @people and !@people.nil?%>
<div class="tbc" id="all_members_create" style="margin-top: -30px; text-align:left; width:100%;"><h3><input type="checkbox" checked="checked" name="chk_all_members" id="all_members" class="check_box_all"  value="All Members"/> All Members</h3></div>
<div id="check_task_people" style="">
  <% @people.each do |p| %>
  <div class="task_member" id="task_people_div_<%=p.profile.id%>" style="height:90px;">
    <input type="checkbox" name="chk_new_task_people[]" checked="true" disabled="true" value="<%=p.profile.id%>" id="<%=p.profile.id%>" class="check_box"/>
      <div class=" avtar avatar_white_bdr">
        <img src="<%=p.profile.image_file_name%>" profile_id="<%=p.profile_id%>" class="profile"/>
      </div>
      <div class="member_name">
        <%= p.profile.full_name %> <br />
        <%#= p.profile.major_school %>
      </div>
    </div> 
  <% end %>
</div>
<% end %>
<input type="hidden" name="course_remaining_points" id="course_remaining_points" value="<%=@remaining_points if @remaining_points%>" />
<input type="hidden" name="course_tasks_created" id="course_tasks_created" value="<%=@tasks_created if @tasks_created%>" />
<input type="hidden" name="course_allocated_points" id="course_allocated_points" value="<%=@allocated_points if @allocated_points%>" />
<script type="text/javascript">
<!--
$(document).ready(function(){
	setStorage("all_members",$($("input[name=''chk_all_members]")).val());
	$($('input[name="chk_new_task_people[]"]')).each(function(){
			setStorage("task_people_"+$(this).attr('id'), $(this).val());
	});
});
  $('#all_members_create').delegate('input[name="chk_all_members"]', 'change', function(){
  	check_val = $(this).is(':checked');
    if (check_val){
		$($('input[name="chk_new_task_people[]"]')).prop("disabled",check_val)
		$($('input[name="chk_new_task_people[]"]')).prop("checked",check_val)
		setStorage("all_members", $(this).val());
		$($('input[name="chk_new_task_people[]"]')).each(function(){
			setStorage("task_people_"+$(this).attr('id'), $(this).val());
	    });
	}
	else {
		$($('input[name="chk_new_task_people[]"]')).prop("disabled",check_val)
		$($('input[name="chk_new_task_people[]"]')).prop("checked",check_val)
		deleteStorage("all_members");
		$($('input[name="chk_new_task_people[]"]')).each(function(){
			deleteStorage("task_people_"+$(this).attr('id'));
	    });
	}
  });
  $('#check_task_people').delegate('input[name="chk_new_task_people[]"]', 'change', function(){
	if(this.checked) {
      setStorage("task_people_"+$(this).attr('id'), $(this).val());
    } else {
      deleteStorage("task_people_"+$(this).attr('id'));
    }
  });
//-->
</script>