<%if @people and !@people.nil?%>
  <% @people.each do |p| %>
  <div class="task_member" id="task_people_div_<%=p.profile.id%>" style="height:90px;">
    <div style="">
    <input type="checkbox" name="chk_task_people[]" checked="true" value="<%=p.profile.id%>" id="<%=p.profile.id%>" class="check_box"/>
      <div class=" avtar avatar_white_bdr">
        <img src="<%=p.profile.image_file_name%>" profile_id="<%=p.profile_id%>" class="profile"/>
      </div>
      <div class="member_name">
        <%= p.profile.full_name %> <br />
        <%#= p.profile.major_school %>
      </div>
    </div> 
  </div>
  <% end %>
<% end %>

<script type="text/javascript">
<!--
  $($('input[name="chk_task_people[]"]')).each(function(){
    if(this.checked) {
      setStorage("task_people_"+$(this).attr('value'), $(this).val());
    } else {
      deleteStorage("task_people_"+$(this).attr('value'));
    }
  });

//-->
</script>