<% if @people and !@people.nil? %>
<div class="field_box2 marginB20px"><span class="font_12px">Assign Task To</span></div>
  <div class="task_setting">
    <input type="radio" name="assign_task[]" checked="true" value="All Members"/><span class="font_12px" style="margin-left:10px;">All Members Should Receive this Task</span>
  </div> 
  <div class="task_setting">
    <input type="radio" name="assign_task[]" <% if @task and !@task.all_members %> checked="true" <% end %> value="Some"/><span class="font_12px" style="margin-left:10px;">Some Members Should Receive this Task</span>
  </div> 
  <% if !@people.blank? %>
    <div class="field_box3" id="all_members"><span class="font_12px"><input type="checkbox" checked='checked' disabled='disabled' name="chk_all_members" id="all_members" class="check_all_members"  value="All Members"/><span class="font_12px" style="margin-left:10px;">Select All Members</span></h3></span>
    <% @people.each do |p| %>
      <div class="task_member" id="task_people_div_<%=p.profile.id%>" style="height:90px;">
        <div style="">
          <input type="checkbox" checked='checked' disabled='disabled' name="chk_task_people[]" id="<%=p.profile.id%>" class="check_box"  value="<%=p.profile.id%>"/>
          <div class=" avtar avatar_white_bdr">
            <img src="<%=p.profile.image_file_name%>" profile_id="<%=p.profile_id%>" class="profile"/>
          </div>
          <div class="member_name">
            <%= p.profile.full_name %> <br />
            <%= p.profile.major_school %>
          </div>
        </div> 
      </div>                        
      <div class="clear"></div>
    <% end %>
    </div>
  <% end %>
<% end %>
<input type="hidden" name="course_remaining_points" id="course_remaining_points" value="<%=@remaining_points if @remaining_points%>" />
<input type="hidden" name="course_tasks_created" id="course_tasks_created" value="<%=@tasks_created if @tasks_created%>" />
<input type="hidden" name="course_allocated_points" id="course_allocated_points" value="<%=@allocated_points if @allocated_points%>" />
<script type="text/javascript">
</script>
