<script type="text/javascript">
<!--
//Adding text field nodes for outcomes/peoples
function addNode(element) {
  if(element == "outcome") {
    var newNode = $(document.createElement('div')).attr("id", 'outcome_node_div' + _counter);
    newNode.css("marginTop" , "20px");
    newNode.html('<input type="text" name="outcomes[]" id="outcomes_' + _counter + '" value="" class="dd_input_task" onblur="javascript:setStorage(\'task_outcomes_'+_counter+'\', $(this).val())" /></div>');
    newNode.appendTo("#outcome_container");
    _counter++;
  } else if (element == "people") {
    var newNode = $(document.createElement('div')).attr("id", 'task people_node_div' + _counter_people);
    newNode.css("marginTop" , "20px");
    newNode.html('<input type="text" onblur="javascript:setStorage(\'task_people_'+_counter+'\', $(this).val())" name="add_task_people_email[]" value="Type in email to add" class="medium node" id="add_task_people_email_' + _counter_people + '" />');
    newNode.appendTo("#add_task_people_container");
    _counter_people++;
  }
}
-->
</script>
<div class="task_pad_top_inner "></div>
<!-- notepad start-->

<div class="task_content">
  <div class="board_left">
    <div class="board_right">
      <div class="board_center">
        <div class="task_pad_top"><!--Remove task_pad_top_inner--></div>
        <div class="task_pad">
          <!-- tabs-->
            
          <div class="task_side_buttons"> 
            <a href="javascript:void(0)" id="task_completes" class="smaller_text big_blue_btn task_completes" style="padding: 8px 0 8px !important;" rel="<%=@task.id if @task%>">Mark</br>Complete</a>
          </div>
          <div class="tabs menu_container" align="right">
            <a href="javascript:void(0)"  id="menu1" value="1" class="tab_open" ><span class="task_tab">Task</span></a>
            <a href="javascript:void(0)"  id="menu2" value="2" class="tab_close" ><span class="task_tab">Files</span></a>
           </div>
          
          <!--tab content-->
          <div class="tab_content" id="div_1">
             
           <div class="clickable menu_container"  style="position:absolute; right:250px;top:175px;">
            <a href="javascript:void(0)" class="setup_page_link" id="menu3" value="3">
              <img src="/images/setting_icon_gray.png">
            </a>
           </div>
            <div class="spacebar10px"></div>
            <div class="spacebar10px"></div>
            <div class="task_left">
              <div class="task_profile_image">
                <img class="task_image" src="<%= @task.image_file %>" width="156" height="156" />
                <div class="clip_img"></div>
                <% if @task and @task.course %>
                <div class="task_info_meta">
                  <div class="title">TASK FOR</div>
                  <% if @task and @task.course %><div class="course_name"><%= @task.course.name %></div><% end %>
                  <% if @task and @task.category %><div class="category_name"><%= @task.category.name %></div><% end %>
                </div>
                <% end %>
              </div>
              <div class="task_pdf" align="center">
                <ul id="filelist">
                  <!-- file list here -->
                  
                </ul>
              </div>
              <div class="drop_a_file_box" align="center" id="upload_container" style="display: none;">DROP A FILE HERE<br />
                TO MAKE IT AVAILABLE<br />
                TO ALL PARTICIPANTS.</div>
              </div>
            <div class="task_right" >
              <!--list box-->
              <div class="task_detailbox">
                <!--<div class="round_num" >1</div>-->
                <div class="field_box1">
                 
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacebar10px"></div>
              <div class="spacebar10px"></div>
              <!--list box-->
              <div class="task_detailbox">
                <!--<div class="round_num" >2</div>-->
                <div class="field_box2">
                  <p class="font_12px">Name</p>
                  <div class="dd_bg">
                    <input type="text" name="task" id="task" class="dd_input" <%if @task %> value="<%=@task.name %>" readonly="readonly" <%end%> onblur='javascript:setStorage("task_name", $(this).val())'/>
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacebar10px"></div>
              <div class="spacebar10px"></div>
              <!--list box-->
              <div class="task_detailbox">
               <!-- <div class="round_num" >3</div>-->
                <div class="field_box2">
                  <div class="date_viewfield font_12px">Due Date
                    <div class="dd_bg">
                      <input type="text" class="dd_input" id="task_date"  <%if @task %> value="<%=change_date_format(@task.due_date)%>" readonly="readonly" <%end%>/>
                    </div>
                  </div>
                  <div class="rating_viewfield font_12px">
                   Task Challenge Rating
                    <img src="<%=@task.rating_icon_file if @task%>" class="task_rating_icon task_raiting" task_id="<%=@task.id if @task%>">
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacebar10px"></div>
              <div class="spacebar10px"></div>
              <!--list box-->
              <div class="task_detailbox">
                <div class="empty_num_space" ></div>

                <div class="field_box2 font_12px"> Description
                  <fieldset>
                    <div class="dd_bg ">
                      <textarea name="descr" id="descr" onblur='javascript:setStorage("task_descr", $(this).val())' class="dd_textarea" readonly="<%= @task ? true : false %>"><%=@task.descr if @task%></textarea>
                    </div>
                  </fieldset>
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacebar10px"></div>
              <div class="spacebar10px"></div>
              <!--list box-->
              <div class="task_detailbox">
                <div class="empty_num_space" ></div>
                 
                <% if @task and !@task.outcomes.empty? %>
                  <div class="field_box2"><span class="font_12px">Outcomes</span>
                    <div id="load_outcomes">

                    <% @task.outcomes.each do |outcomes| %>
                      <%if !outcomes.nil?%>
                        <div class="task_outcomes">
                          <span class="outcome_name"><%= outcomes.name %></span>
                          <% if !outcomes.descr.nil? %>— <span class="outcome_descr"><%= outcomes.descr %></span><% end %>
                        </div> 
                      <% end %>  
                    <% end %>  

                    </div>
                  </div>  
                  <% end %>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <input type="hidden" name="task_id" id="task_id_hdn" value="<%=@task.id if @task %>" />
          <input type="hidden" name="school_id" id="task_school_id_hdn" value="<%= @profile.school_id %>" />
          <input type="hidden" name="course_school_id_hdn" id="course_school_id_hdn" value="<%= @profile.school_id %>" />
          <input type="hidden" name="course_id_hdn" id="course_id_hdn" value="<%= @task.course.id if @task and @task.course%>" />
          <div id="setup" class="tab_content hide"></div>
        </div>
        
        <div id="div_2" class="tab_content hide">
          <%= render :partial => "/course/files" %>    
                       
        </div>

		    <div id="div_3" class="tab_content hide">
            <%if Role.check_permission(@profile.id,"T") == true%> 
              <div class="task_side_buttons"> 
                <!-- <a href="javascript:void(0)" class="big_blue_btn">ATTACH</a> -->
                <a href="javascript:void(0)" id="btn_task" class="big_orange_btn">SAVE</a>
                <!-- <a href="javascript:void(0)" class="big_blue_btn">PRINT</a> -->
                <a href="javascript:void(0)" id="task_btn_remove" class="big_blue_btn">REMOVE</a>
                 
                <input type="hidden" name="hdn_is_page_change" id="hdn_is_page_change" value="<%=@task ? false : true %>" />
              </div>
           <%end%> 
            <div class="spacebar10px"></div>
            <div class="spacebar10px"></div>
            <div class="task_left">
              <div class="task_profile_image">
                <div id="image_drop">
                  <img id="task_image" class="task_image" src="<%= @task.image_file %>" width="156" height="156" />
                  <img class="image_icon_drop_target" src="/images/course_img_drop.png" />
                </div>
                <div class="clip_img"></div>
                <div class="task_info_meta">
                  <div class="title">Course Task is For</div>
                </div>
                <div align="center">
                   <div class="course_select_viewfield">
                      <select name="course" id="course" class="clipboard_select">
                        <option value="">SELECT</option>
                        <% @courses.each do |c| %>
                        <option value="<%= c.id %>" <%=@task.course_id==c.id ? "Selected" : ""  if @task %>><%= c.name %></option>
                        <% end %>
                      </select>
                    </div>
                    
                    <div class="catagory_task_viewfield" >
                      <div id="categories_container" class='<%= @task && @task.category_id!=0 ? "" : "hide" %>'>
                        <% if @task and @task.category %>
                          <%= render :partial => "course_categories", :locals=>{:categories=>@task.course.categories} %>
                        <% end %>
                      </div>
                    </div>
                </div>
              </div>
              <div class="task_pdf" align="center">
                <ul id="filelist">
                  <!-- file list here 
                  <%# if @task %>
                    <%# @task.attachments.each do |a| %>
                      <li id="item_<%#=a.id%>">
                        <div class="file_name" id="filename_<%#= a.id %>">
                          <a href="<%#=a.resource.url%>" target="_blank">
                            <%#=a.resource_file_name%>
                          </a>
                        </div>
                        <div class="file_remove" id="fileremove_<%#=a.id%>">
                          <a href="javascript:void(0)" class="remove_resource" id="<%#= a.id %>">
                            Remove
                          </a>
                        </div>
                      </li>
                    <%# end %>
                  <%# end %>-->
                </ul>
              </div>
              <div class="drop_a_file_box" align="center" id="upload_container" style="display:none;">DROP A FILE HERE<br />
                TO MAKE IT AVAILABLE<br />
                TO ALL PARTICIPANTS.</div>
              </div>
            <div class="task_right" >
              <!--list box-->
              <div class="task_detailbox">
                <!--<div class="round_num" >1</div>-->
                <div class="field_box1">
               
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacebar10px"></div>
              <div class="spacebar10px"></div>
              <!--list box-->
              <div class="task_detailbox">
                <!--<div class="round_num" >2</div>-->
                <div class="field_box2">
                  <p class="font_12px" >Name</p>
                  <div class="dd_bg">
                    <input type="text" name="task" id="task" class="dd_input" value="<%=@task.name if @task %>" onblur='javascript:setStorage("task_name", $(this).val())'/>
                  </p>
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacebar10px"></div>
              <div class="spacebar10px"></div>
              <!--list box-->
              <div class="task_detailbox">
               <!-- <div class="round_num" >3</div>-->
                <div class="field_box_setup">
                  <div class="date_viewfield font_12px">Due Date
                    <div class="dd_bg">
                      <input type="text" name="due_date" id="due_date" class="dd_input" value="<%=@task.due_date if @task %>"/>
                    </div>

                </div>
                 <div class="date_viewfield font_12px " style="margin-top:20px">
                  <input type="checkbox" name = "extra_credit"  <%= @task && @task.extra_credit ? "checked='checked'" : "" %> value="" id="extra_credit" />
                  &nbsp;&nbsp;&nbsp;<span class="font_12px">Extra Credit</span>
                </div>   	
                <div class="date_viewfield hide">Task Completion<br />
                  <select name="task_completion" class="clipboard_select">
                    <option value="">SELECT</option>
                    <option value="confirm__by_creator">Confirm by Creator</option>
                  </select>
                </div>
                <div class="rating_viewfield font_12px">
                   Task Challenge Rating<br />
                   <select id="level" name="level" class="clipboard_select" style="width:80px;">
                     <option <%if @task.level==2 %>selected="selected"<%end%> value="2">High</option>
                     <option <%if @task.level==1 %>selected="selected"<%end%> value="1">Medium</option>
                     <option <%if @task.level==0 %>selected="selected"<%end%> value="0">Low</option>
                   </select>        
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacebar10px"></div>
              <div class="spacebar10px"></div>
              <!--list box-->
              <div class="task_detailbox">
                <div class="empty_num_space" ></div>
                <div class="field_box2 font_12px"> Description
                  <fieldset>
                    <div class="dd_bg">
                      <textarea name="descr" id="descr" onblur='javascript:setStorage("task_descr", $(this).val())' class="dd_textarea"><%=@task.descr if @task %></textarea>
                    </div>
                  </fieldset>
                </div>
                <div class="clear"></div>
              </div>
              <div class="spacebar10px"></div>
              <div class="spacebar10px"></div>
              <!--list box-->
              <div class="task_detailbox">
                <div class="empty_num_space" ></div>
                
                
                <div class="field_box2 "><span class="font_12px">Outcomes</span>
                  <div id="load_outcomes_wall">
                    <% if !@outcomes.nil? %>
                      <% @outcomes.each do |outcomes| %>
                        <div id="task_outcomes_<%=outcomes.id%>" class="task_outcomes">
                        <input type="checkbox" <%= @task && outcome_associate(outcomes.id, @task.id) ? "checked='checked'" : "" %> name="chk_outcomes[]"  id="<%=outcomes.id%>"  value="<%=outcomes.id%>" />

                        &nbsp;&nbsp;&nbsp;
                        <span class="outcome_name"><%= outcomes.name %></span>
                        <% if !outcomes.descr.nil? %>— <span class="outcome_descr"><%= outcomes.descr %></span><% end %>
                        </div>
                      <% end %>  
                    <% end %>
                  </div>
                </div>
                
                
                <br /><br />
                <div class="field_box2"><span class="font_12px">Members</span>
                  <div id="load_task_participant_wall">
                  <% if @people and !@people.nil? %>
                   <% @people.each do |p| %>
                        <div class="task_member" id="task_people_div_<%=p.profile.id%>" style="height:90px;">
                          <div style="">
                            <input type="checkbox" <%= @task && member_associate(p.profile_id, @task.id) ? "checked='checked'" : "" %> name="chk_task_people[]" id="<%=p.profile.id%>" class="check_box"  value="<%=p.profile.id%>"/>
                            <div class=" avtar avatar_white_bdr">
                              <img src="<%=p.profile.image_file_name%>" profile_id="<%=p.profile_id%>" class="profile"/>
                            </div>
                            <div class="member_name">
                              <%= p.profile.full_name %> <br />
                              <%= p.profile.major_school %>
                            </div>
                          </div> 
                          <%if @task.extra_credit==true%>
                            <div id="" class="tbc hide">
                             EXTRA CREDIT
                             <div class="margin_top"><input type="checkbox" <%= @task && task_extra_credit(p.profile_id, @task.id) ? "checked='checked'" : "" %>  <%if @task_owner && !@task_owner.nil?%><%else%>disabled="disabled"<%end%>name="task_extra_credited" class ="check_box_credired" rel ="<%=p.profile.id%>"/></div>
                            </div>
                          <%end%>
                          <div id="credited_<%=p.profile.id%>" class="tbc">
                           COMPLETED
                           <div class="margin_top"><input type="checkbox" <%= @task && member_points(p.profile_id, @task.id) ? "checked='checked'" : "" %>name="task_credited[]" class ="check_box_credired"<%if @task_owner && !@task_owner.nil?%><%else%>disabled="disabled"<%end%>id="c_<%=p.profile.id%>" rel ="<%=p.profile.id%>"/></div>
                          </div>
                          <div id="completed_div_<%=p.profile.id%>" class="tbc hide">
                          COMPLETED
                          <div class="margin_top"><%=complete_date(p.profile_id,@task.id)%></div>
                          </div>
                                                  
                        </div>                        
                        <div class="clear"></div>
                        
                   <% end %>
                    <% end %>
                  </div>
                </div>
               
                <div class="end_of_page"></div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<% if defined?(task_new) && task_new == true %>
    <input type="hidden" id="task_new" value="<%=task_new%>"/>
  <%end%>
<script type="text/javascript">
<!--
//Flush the previous offline storage
//jStorage.flush();
//For dynamic added nodes
var _counter = 2;
var _counter_people = 2;
//For percent counter
var _percent = 100;
//For Autocomplete tags
var _outComeTags = [];
var _participantsTags = [];
var i = 0;
var j = 0;
var extra_credit = document.getElementById('extra_credit');
var _taskPeopleObject = [];
var _addTaskPeopleEmailObject = [];
var _outcomeValueObject = [];
//set storage on load while view of task

if($("#task").val()!="") {setStorage("task_name", $("#task").val());}
else {setStorage("task_name", "Task Name");}
if($("#descr").val()!="") {setStorage("task_descr", $("#descr").val());}
else {setStorage("task_descr", "Description");}
if($("#course").val()!="") {setStorage("task_course", $("#course").val());}
if($("#level").val()!="") {setStorage("task_level", $("#level").val());}
if($("#due_date").val()!="") {setStorage("task_due_date", $("#due_date").val());}
if($("#course_categories") && $("#course_categories").val()!="") {setStorage("task_category", $("#course_categories").val());}
$("#level").change(function(){
  if($(this).val()!="") {setStorage("task_level", $(this).val());}
});
  
 
$(document).ready(function(){
 
   
  
  //For new Task
  task_new = $("#task_new").attr("value");
  if(task_new)
  {
    $("#div_3").removeClass("hide");
    $("#div_1").addClass("hide");
  }
  //Toggle Tabs
  $(".menu_container a").unbind('click').bind('click', function(){
    
    idx = $(this).attr("value");
    $(".menu_container a").removeClass("active");
    $(this).addClass("active");
    for(i=0;i<4;i++){
      //---- Set all menu as De-Selected
      if(document.getElementById("menu"+(i+1))!=null){
        document.getElementById("menu"+(i+1)).className = "tab_close";
      }
      //----
      if(idx != i){
        $("#div_"+i).hide();
      }
    }
    
    //---- Selected menu will highlighted
    document.getElementById("menu"+idx).className = "tab_open";
    $("#div_"+idx).fadeIn();
    
    is_page_change = $("#hdn_is_page_change").val();
    if(is_page_change == "true") {
      save_task(this.id);
    }
  });
  
   //Submit data
  $("#btn_task").unbind('click').bind('click', function(){
    save_task(this.id);
  });
 
  //Add a category

    $("#add_outcome_task").click(function(){
       addNode('outcome');
       $("#hdn_is_page_change").val(true);
    });
 
  
  $("#course").unbind('change').bind( "change", function(){
    showSpinner(true);
    courseId = $(this).val();
    //To fill out the categories
    $.get('/task/course_categories/', {course_id:courseId}, function(data) {
      $('#categories_container').html(data);
      $('#categories_container').show();
      setStorage('task_course', courseId);
    }).complete(function(){
      //To fill out the outcomes
      $.get('/task/course_outcomes/', {course_id:courseId}, function(data) {
        $('#load_outcomes_wall').html(data);
      }).complete(function(){
        //To fill out the participants
        $.get('/task/course_peoples/', {course_id:courseId}, function(data) {
          $('#load_task_participant_wall').html(data);
        });
      });
      showSpinner(false);
    });
  });
  
  
  $('#load_outcomes_wall').delegate('input[name="chk_outcomes[]"]', 'change', function(){
    check_val = $(this).is(':checked');
    outcome_id = $(this).attr('id');
    task_id = $("#task_id_hdn").val();
    if(!this.checked)
    {
     // $("#task_outcomes_"+outcome_id).remove();
      deleteStorage("task_outcomes_"+$(this).attr('id'));
      showSpinner(true);
      $.ajax({
         type:"POST",
         dataType: "json",
         url:"/task/outcome_unchecked",
         data:{task_id:task_id,outcome_id:outcome_id},
         success:function(data){
           showSpinner(false);
         }
      });
    }else
    {
       setStorage("task_outcomes_"+$(this).attr('id'), $(this).val());
    }
  });
  
  $('#load_task_participant_wall').delegate('input[name="task_credited[]"]', 'change', function(){
    check_val = $(this).is(':checked');
    task_id = $("#task_id_hdn").val();
    member_id = $(this).attr('rel');
    
      showSpinner(true);
      $.ajax({
         type:"POST",
         dataType: "json",
         url:"/task/points_credit",
         data:{task_id:task_id,member_id:member_id,check_val:check_val},
         success:function(data){
           showSpinner(false);
         }
      });
     
  });
  
   $('#load_task_participant_wall').delegate('input[name="task_extra_credited"]', 'change', function(){
    check_val = $(this).is(':checked');
    task_id = $("#task_id_hdn").val();
    member_id = $(this).attr('rel');
      showSpinner(true);
      $.ajax({
         type:"POST",
         dataType: "json",
         url:"/task/extra_credit",
         data:{task_id:task_id,member_id:member_id,check_val:check_val},
         success:function(data){
           showSpinner(false);
         }
      });
  });
  
  
  
  
  $('#load_task_participant_wall').delegate('input[name="chk_task_people[]"]', 'change', function(){
    check_val = $(this).is(':checked');
    deleteStorage("task_people_"+$(this).attr('id'));
    member_id = $(this).attr('id');
    task_id = $("#task_id_hdn").val();
    course_id = $("#course_id_hdn").val();
    var id = $(this).attr('id');
    var val = $(this).val();
      if(task_id){ 
        showSpinner(true);
        $.ajax({
           type:"POST",
           dataType: "json",
           url:"/task/member_unchecked",
           data:{task_id:task_id,member_id:member_id,check_val:check_val},
           success:function(data){
             if(data.status)
             {
               showSpinner(false);
               if(check_val==true){
                setStorage("task_people_"+id, val); 
              }
              else{
               deleteStorage("task_people_"+id);
              }  
             } 
           }
        });
      }  
  });
  
  $(function() {
    //Due date datepicker
    $("#due_date").datepicker({
      dateFormat: 'mm-dd-yy',
      onSelect: function(dateText, inst) {setStorage("task_due_date", dateText);}
    });
    
    $("#participants_container .medium").unbind('keydown.autocomplete').bind("keydown.autocomplete", function() {
      $(this).autocomplete({
        source: _participantsTags,
        select: function(event, ui){
          //addNode('people');
        }
      });
    });
    
    $("#add_task_people_container .node").unbind('focus').bind("focus", function(){
      pval = $(this).val();
      if(pval=="Type in email to add") {
        $(this).val("");
      }
    });
    
    $("#add_task_people_container .node").unbind('focusout').bind("focusout", function(){
      pval = $(this).val();
      var current_node = _counter_people - 1;
      var filter=/^.+@.+\..{2,3}$/
      var pval = $("#add_task_people_email_"+current_node).val();
      if(pval != "" && pval!="Type in email to add") {
        if(filter.test(pval)) {
          setStorage("add_task_people_email_"+current_node, pval);
          addNode('people');
        } else {
          alert("Please enter a valid email");
        }
      } else {
         $("#add_task_people_email_"+current_node).val("Type in email to add");
      }
    });
    
    //Remove people nodes
    $("#task_btn_remove").unbind('click').bind("click", function(){
      $("input[name='chk_task_people[]']").each(function(){
        if(this.checked) {
          div_id = $(this).attr('id');
          $("#task_people_div_"+div_id).remove();
        }
      });
    });
    
    //For file uploads
    var base_params = {
      'authenticity_token' : token,  //For csrf-authentication
      'school_id' : $("#task_school_id_hdn").val(),
      'id' : $("#task_id_hdn").val()
    }
    
    //Uploader task image upload
    var task_uploader = new plupload.Uploader({
      runtimes: 'html5',
      drop_element: 'image_drop',
      container: 'task_image',
      max_file_size: '5mb',
      resize : {width : 125, height : 125},
      url: '/task/save',
      multipart_params: base_params,
      filters : [
        {title : "Image files", extensions : "jpg,gif,png,JPG,PNG,GIF,JPEG"}
      ]
    });
    
    task_uploader.init();
    
    task_uploader.bind('FilesAdded', function(up, files) {
      showSpinner(true);
      //files[0].name = 'task_'+getStorage("task_name")+'_'+files[0].name;
      task_uploader.settings.multipart_params.task = getStorage("task_name");
      task_uploader.settings.multipart_params.course_id = getStorage("task_course");
      task_uploader.settings.multipart_params.category_id = getStorage("task_category");
      task_uploader.settings.multipart_params.due_date = getStorage("task_due_date");
      task_uploader.settings.multipart_params.level = getStorage("task_level");
      task_uploader.start();
    });
    
    task_uploader.bind('UploadProgress', function(up, file) {
      // $('#task_image').html('<center>Uploading..</center>');
      $(".image_icon_drop_target").fadeOut();
    });
    
    task_uploader.bind('FileUploaded', function(up, file, info) {
      var obj = jQuery.parseJSON( info.response);
      task_uploader.settings.multipart_params.id = obj.task.id;
      $('#task_id_hdn').val(obj.task.id);
      $('.task_image').attr("src", obj.image_url);
      $(".image_icon_drop_target").fadeIn();
      showSpinner(false);
    });
    
    //Uploader file (Attachments) upload
    var uploader = new plupload.Uploader({
      runtimes : 'html5',
      drop_element: 'upload_container',
      container: 'upload_container',
      max_file_size : '10mb',
      url : '/task/upload_resource',
      multipart_params: base_params
    });
    
    uploader.init();
    
    uploader.bind('FilesAdded', function(up, files) {
      showSpinner(true);
      for (var i in files) {
        var item = '<li id="item_'+files[i].id+'"><div class="file_name" id="filename_'+files[i].id+'">'+files[i].name+'</div><div class="file_remove" id="fileremove_'+files[i].id+'"></div></li>';
        $('#filelist').append(item);
      }
      
      if($("#task_id_hdn").val() == '') {
        
        var task_name = getStorage("task_name");
        var task_due_date = getStorage("task_due_date");
        var task_course = getStorage("task_course");
        var task_category = getStorage("task_category");
        var task_level = getStorage("task_level");
        
        $.getJSON('/task/save/', {task:task_name, course_id:task_course, category_id: task_category, due_date:task_due_date, level:task_level}, function(data) {
          $('#task_id_hdn').val(data.task.id);
          uploader.settings.multipart_params.id = data.task.id;
          uploader.start();
        });
      }else{
        uploader.start();
      }
    });

    uploader.bind('UploadProgress', function(up, file) {
      $('#fileremove_'+file.id).html('<span>Uploading..</span>');
    });
    
    uploader.bind('Error', function(up, err) {
      $('#fileremove_'+err.file.id).html('Error!!');
      up.refresh();
    });
    
    uploader.bind('FileUploaded', function(up, file, info) {
      var obj = jQuery.parseJSON( info.response);
      $('#filename_'+file.id).html('<a href="'+ obj.resource_url +' " target="_blank">' + obj.attachment.resource_file_name + '</a>');
      $('#fileremove_'+file.id).html('<a href="javascript:void(0)" class="remove_resource" id="' + obj.attachment.id + '"> Remove </a>');
      $('#item_'+file.id).attr('id', 'item_'+obj.attachment.id);
      showSpinner(false);
    });
    
  }); // $(function) ends
  
  $('#filelist').delegate('.file_remove a', 'click', function(){
    var attachment_id = $(this).attr("id");
    $.getJSON('/task/remove_attachment/', {attachment_id:attachment_id}, function(data) {
      //alert("removed");
      $('#item_'+attachment_id).remove();
    });
  });
  
  //Post Message
  $('#div_4').delegate('.sbmt_msg', 'click', function(){
    showSpinner(true);
    parent_id = $(this).attr("id");
    parent_type = $(this).attr("rel");
    text = $(this).attr("title");
    message = $("#"+text).val();
    var dataString = {parent_id:parent_id, parent_type:parent_type, content: message};
    //alert(dataString.content);return false;
    $.ajax({  
      type: "POST",  
      url: "/message/save",  
      data: dataString,
      success: function(data) {
        $("#"+text).val("");
        if(parent_type=="Task") {
          $("#message_wrapper").append(data);
          $("#msg_input").fadeOut();
        } else if (parent_type=="Message") {
          $("#post_comment_"+parent_id).hide();
          $("#messsage_box_"+parent_id).append(data);
        }
        showSpinner(false);
      }
    });  
  });
  
  $('.task_completes').click(function() {
    check_val = "true";
    showSpinner(true);
    task_id = $(this).attr("rel");
    $.ajax({
       type:"POST",
       url:"/task/task_complete",
       data:{task_id:task_id,check_val:check_val},
       dataType:"json",
       success:function(data){
         showSpinner(false);
         if (data.status) {
           setAlert("Task completed")
          
         } else {
           setAlert("Task not completed")

         }
       }
    });
  
  });
  
  //Like/Unlike a message or comment
  $('.message_wrapper').delegate('.like', 'click', function(){
    showSpinner(true);
    if(this.id){
      action = $(this).attr('rel');
      controller = this;
      $.ajax({  
        type: "POST",  
        url: "/message/"+action,
        dataType: 'json',
        data: {message_id:this.id},
        success: function(data) {
          if (data) {
            $(controller).attr('rel',data.action);
            $(controller).text(data.action.toUpperCase());
            $('#count_'+controller.id).html(data.count);
          }
          showSpinner(false);
        }
      });
    }
  });
  
}); //document.ready ends

function save_task(channel) {
    showSpinner(true);
    //Get data from offline storage
    task_id = $("#task_id_hdn").val();
    task = getStorage("task_name");
    descr = getStorage("task_descr");
    due_date = getStorage("task_due_date");
    level = getStorage("task_level");
    course_id = getStorage("task_course");
    school_id = $("#task_school_id_hdn").val();
    category_id = getStorage("task_category");
    
    //For outcome data object (gather values from dynamic created nodes)
    var outcomeObject = [];
    i = 0;
    $("input[name='chk_outcomes[]']").each(function(){
        if(this.checked) {
          storage_key = "task_outcomes_"+$(this).attr('id');
          outcomeObject[i] =  getStorage(storage_key);
          i++;
        }
    });
    //get people id from offline storage
    j = 0;
    $.each($('input[name="chk_task_people[]"]'), function() {
      if(this.checked) {
         storage_key = "task_people_"+$(this).attr('id');
        _taskPeopleObject[j] = getStorage(storage_key);
        j++;
      }
    });
    //get people email from offline storage
    /*k = 0;
    $.each($('input[name="chk_task_people[]"]'), function() {
      _addTaskPeopleEmailObject[k] = getStorage($(this).attr('id'));
      k++;
    });*/
    
    
    var dataString = 'id='+ task_id +'&task='+ task + '&descr=' + descr + '&course_id=' + course_id + '&category_id=' + category_id + '&due_date=' + due_date + '&outcomes=' +outcomeObject + '&level=' +level + '&people_id=' + _taskPeopleObject + '&people_email=' + _addTaskPeopleEmailObject + '&school_id=' +school_id +'&extra_credit='+extra_credit.checked;  

    //alert(dataString); return false;
    $.ajax({  
      type: "POST",  
      url: "/task/save",  
      data: dataString,
      dataType:"json",
      success: function(data) {
        if (data) {
          $("#task_id_hdn").val(data.task.id);
          $("#task").val(data.task.name);
          $("#task_date").val(data.task.due_date);
          $("#descr").val(data.task.descr);
          $("#level").val(data.task.level);
          if(channel == "btn_task") {
            //$("#container").load('/task/index', function(){
            $("#container").load('/task/show/'+data.task.id, function(){
              showSpinner(false);
            });
          } else {
            showSpinner(false);
          }
          $("#hdn_is_page_change").val(false);
        } else {
          alert("ERROR");
          showSpinner(false);
        }
      }
    });  
    return false;  
  }

-->
</script>