<div class="task_content">
  <div class="board_left">
    <div class="board_right">
      <div class="board_center">
        <div class="task_pad_top"></div>
        <div class="task_pad">
          <!-- tabs-->
		        <table class="blackboard_list">
              <tr>
                <th width="110">
                </th>
                <th>
                  Task Name
                </th>
                <th width="100">
                  Due Date
                </th>
              </tr>
              <% @tasks.each do |t| %>
              <tr>
                 <td>
                   <a href="/task/show/<%=t.id%>" id="<%=t.id%>" class="view"><%=t.name%>
                   <img src='<%= t.image_file %>' width="100" height="100" alt="<%=t.name%>" />
                   </a>
                  </td>
                  <td>
                   <a href="/task/show/<%=t.id%>" id="<%=t.id%>" class="view"><%=t.name%></a>
                  </td>
                  <td>
                    <%=t.due_date %>
                  </td>
              </tr>
              <% end %>
            </table>
            <div style="height:520px"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="sidebar_right">
  <div class="task_side_buttons">
    <a class="big_blue_btn menu_btn" name="menu_btn_add" id="menu_btn_add" rel="/task/new" href="javascript:void(0)">ADD</a>
  </div><!-- crud_level -->
</div>

<script type="text/javascript">
  //prepare show links
$(document).ready(function(){
  setPageTitle("My Tasks");
  
  $('a.view').click(function() { 
    showSpinner(true);
    $("#container").load(this.href, function(){
      task_id = $(this).attr("id");
      $("#menu_btn_dup").attr("data","id="+task_id);
      $("#menu_btn_dup").show();
      showSpinner(false);
    });
    return false; 
  });
  jStorage.flush();
});
</script>