<div class=""><!--pdg78px-->
<div class="task_content">
  <div class="board_left">
    <div class="board_right">
      <div class="board_center">
        <div class="task_pad_top"><div class="task_pad_top_inner "></div></div>
        <div class="task_pad">
          <!-- tabs-->
		       <table width="100%" align="center" cellspacing="0" cellpadding="4">
              <tr class="tbl_header">
                <td width="40%">
                  Task
                </td>
                <td>
                  Created on
                </td>
                <td>
                  Level
                </td>
                <td>
                  Category
                </td>
              </tr>
              <% @tasks.each do |t| %>
              <tr class="<%= cycle("even", "odd") %>">
                <td>
                  <a href="/task/show/<%=t.id%>" id="<%=t.id%>" class="view"><%=t.name%></a>
                </td>
                <td>
                  <%=t.created_at %>
                </td>
                <td>
                  <%=t.level %>
                </td>
                <td>
                  <%=t.category.name if t.category %>
                </td>
              </tr>
              <% end %>
            </table>
            <div style="height:520px"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="sidebar_right">
  <div class="task_side_buttons">
    <input type="button" name="menu_btn_add" id="menu_btn_add" rel="/course/new" value="Add" class="big_blue_btn menu_btn"/>
  </div><!-- crud_level -->
</div>
</div>

<script type="text/javascript">
  //prepare show links
$(document).ready(function(){
  showPageTitle("My Tasks");
  
  $('a.view').click(function() { 
    showSpinner(true);
    $("#container").load(this.href, function(){
      task_id = $(this).attr("id");
      $("#menu_btn_dup").attr("data","id="+task_id);
      $("#menu_btn_dup").show();
      showSpinner(false);
    });
    return false; 
  });
  jStorage.flush();
});
</script>