<% @tasks.reverse.each do |t| %>
<div class="task_list_content course_tab_content" id="taskname_<%=t.id%>">
   <div class="course_left"></div>
    <div class="course_page_msg_box">
      <div class="msg_big_boxC2">
        <div class="msg_box_fullwidth2_task">
          <div class="msg_box_txt blue_bg_msg_txt2 taskmsg_bgc2" >
            <div class="staronavatar2"><img src="/images/star_up.png" width="36" height="37" /></div>
            <div class="titleTcheckboxinner"><%#= t.task_participants.id if t.task_participants.id %>
            <input type="checkbox" name="task_complete" id="task_complete" rel="<%=t.id%>"/></div>
            <div class="avatar_white_bdrC2task">
              <a href="/task/show/<%=t.id%>" id="<%=t.id%>" class="view">
                 <img src='<%= t.image_file %>' width="100" height="100" alt="<%=t.name%>" />
              </a>
            </div>
            <div class="titleTDue">
              <h4 class="name"></h4>
              <p>
                 <%=show_date_format(t.due_date) if t.due_date%>
              </p>
            </div>
            <div class="titleTTAsk"><%=t.name %></div>
            <div class="titleTTypeinner"> <%=t.course.code if t.course%><br/><%=t.course.section if t.course %></div>
            <div class="clear"></div>
            <div id="tasks_hover" class="msg_bottom_linksC2" style="display:none;">
                <div class="like_cmt">
                  <a href="#" class="blue_bt19px">NOTE</a>
                  <a href="#" class="tasks_del blue_bt19px" rel="<%=t.id %>">DEL</a>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
<%end%>

<script type="text/javascript">

  setPageTitle("My Tasks");
  $('a.view').click(function() { 
    showSpinner(true);
    $("#container").load(this.href, function(){
      task_id = $(this).attr("id");
      $("#menu_btn_dup").attr("data","id="+task_id);
      $("#menu_btn_dup").show();
      showSpinner(false);
    });
    return false; 
  });
  jStorage.flush();
  
 $('input[type="checkbox"]').unbind('click').bind('click',function() {
    check_val = $(this).is(':checked');
    alert(check_val);
       showSpinner(true);
       task_id =$(this).attr("rel");
       $.ajax({
       type:"POST",
       url:"/task/task_complete",
       data:{task_id:task_id,check_val:check_val},
       success:function(data){
         showSpinner(false);
       }
    });
   });
   
   //For task list hover
      $(".task_list_content").hover(
        function () {
          id = $(this).attr("id");
          $("#"+id+" #tasks_hover").show();
        }, 
        function () {
          id = $(this).attr("id");
          $("#"+id+" #tasks_hover").hide();
        }
      );
      
      //Remove tasks
      $(".tasks_del").click(function(){
        showSpinner(true);
        task_id=$(this).attr("rel");
        $("#taskname_"+task_id).remove();
        $.ajax({
           type: "POST",  
           url: "/task/remove_tasks",  
           data: {task_id:task_id},
           success: function(data) {
             showSpinner(false);
           }
        });
      });  
      
</script>


