<%if !@tasks.nil? %>
<% @tasks.each do |t| %>
<div class="task_list_content course_tab_content" id="taskname_<%=t.id%>" task_id="<%=t.id%>">
   <div class="course_left"></div>
    <div class="course_page_msg_box">
      <div class="clipboard_list">
        <div class="msg_box_fullwidth2_task">
          <div class="msg_box_txt blue_bg_msg_txt2 taskmsg_bgc2" >
            <% t.task_participants.each do |participant| %>
              <div class="staronavatar2" id="staronavatar2">
              <img src="/images/<% if participant.priority == "H" %>star_up<%else%>star_down<%end%>.png" width="36" height="37" task_id="<%=t.id %>" class="tasks_pri_toggle tasks_pri_toggle_img" />
              </div>
              <div class="titleTcheckboxinner">
              <input type="checkbox" <% if participant.status == "C" %> checked="checked" <% end %> name="task_complete" id="task_complete" rel="<%=t.id%>"/>
              </div>
              <div class="avatar_white_bdrC2task">
                <a href="/task/show/<%=t.id%>" id="<%=t.id%>" class="view">
                   <img src='<%= t.image_file %>' width="150" height="150" alt="<%=t.name%>" />
                </a>
              </div>
              <div class="titleTDue"><%=show_date_format(t.due_date) if t.due_date%></div>
              <div class="titleTTAsk"><%=t.name %></div>
              <div class="titleTTypeinner"> <%=t.course.name if t.course %><br/><%=t.category.name if t.category %></div>
              <div class="clear"></div>
              <div id="tasks_hover" class="msg_bottom_linksC2" style="display:none;">
                  <div class="like_cmt">
                    <!-- <a href="#" class="blue_bt19px">NOTE</a> -->
                    <a href="#" class="tasks_pri_toggle tasks_pri_toggle_btn blue_bt19px" task_id="<%=t.id %>"><% if participant.priority == 'H'%>Unstar<%else%>Star<%end%></a>
                    <a href="#" class="tasks_del blue_bt19px" task_id="<%=t.id %>">Remove</a>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
<%end%>
<%end%>
<script type="text/javascript">

  setPageTitle("My Tasks");
  $('a.view').click(function() { 
    showSpinner(true);
    $("#container").load(this.href, function(){
      task_id = $(this).attr("id");
      $("#menu_btn_dup").attr("data","id="+task_id);
      $("#menu_btn_dup").show();
      showSpinner(false);
    });
    return false; 
  });
  jStorage.flush();
  
 $('input[type="checkbox"]').unbind('click').bind('click',function() {
    check_val = $(this).is(':checked');
       showSpinner(true);
       task_id =$(this).attr("rel");
       $.ajax({
       type:"POST",
       url:"/task/task_complete",
       data:{task_id:task_id,check_val:check_val},
       success:function(data){
         showSpinner(false);
       }
    });
    event.stopPropagation();
   });
   
  //For task list hover
  $(".task_list_content").hover(
    function () {
      id = $(this).attr("id");
      $("#"+id+" #tasks_hover").show();
    }, 
    function () {
      id = $(this).attr("id");
      $("#"+id+" #tasks_hover").hide();
    }
  );
  
  $(".task_list_content").click(function() {
    var task_id = $(this).attr("task_id")
    setAlert("Show task " + task_id);
    load_data("/task/show/"+task_id, null);
  });

  $(".tasks_pri_toggle").click(function(event){
    showSpinner(true);
    task_id = $(this).attr("task_id");
    $.ajax({
       type: "POST",  
       url: "/task/toggle_priority",  
       data: {task_id:task_id},
       dataType: "json",
       success: function(data) {
         if (data.status){
           if (data.priority == "H") {
             $(".tasks_pri_toggle_btn[task_id="+task_id+"]").html("Unstar");
             $(".tasks_pri_toggle_img[task_id="+task_id+"]").attr("src", "/images/star_up.png");
           } else {
             $(".tasks_pri_toggle_btn[task_id="+task_id+"]").html("Star");
             $(".tasks_pri_toggle_img[task_id="+task_id+"]").attr("src", "/images/star_down.png");
           }
         }
         showSpinner(false);
       }
    });
    event.stopPropagation();
  });  
    
  // Remove task
  $(".tasks_del").click(function(event){
    showSpinner(true);
    task_id = $(this).attr("task_id");
    $.ajax({
       type: "POST",  
       url: "/task/remove_tasks",  
       data: {task_id:task_id},
       dataType: "json",
       success: function(data) {
         if(data.status){
           $(".task_list_content[task_id="+task_id+"]").fadeOut();
         }
         showSpinner(false);
       }
    });
    event.stopPropagation();
  });  
  
  // For task priority
  $("#staronavatar2 a").unbind("click").bind("click",function(){
    showSpinner(true);  
    priority = $(this).attr("rel");
    task_id = $(this).attr("id");
    $.ajax({
      type:"POST",
      url:"/task/check_priorities",
      data:{priority:priority,task_id:task_id},
      success:function(data){
        if(data.status)
          showSpinner(false);
        else  
          showSpinner(true);
      },
      error:function(){
        alert("Error");
        showSpinner(false);
      }
    });
  });
      
</script>
