<% if @tasks.nil? %>
  ERROR: Nil @tasks
<% else %>
  <% @tasks.each do |t| %>
    <% participant = t.task_participants[0] %>
    <div class="task_list_content clipboard_list" task_id="<%=t.id%>" style="height:100px;">

      <div class="list_hover" style="margin-top:70px; margin-left:118px;">
        <div class="like_cmt">
          <a href="#" class="tasks_pri_toggle tasks_pri_toggle_btn blue_bt19px" task_id="<%=t.id %>"><% if participant.priority == "H"%>Unstar<%else%>Star<%end%></a>
          <a href="#" class="tasks_del blue_bt19px" task_id="<%=t.id %>">Remove</a>
        </div>
      </div>

      <div class="staronavatar2">
        <img src="/images/<% if participant.priority == "H" %>star_up<%else%>star_down<%end%>.png" width="36" height="37" task_id="<%=t.id %>" class="tasks_pri_toggle tasks_pri_toggle_img" />
      </div>

      <div class="titleTcheckboxinner">
        <input type="checkbox" <% if participant.status == "C" %> checked="checked" <% end %> name="task_complete" id="task_complete" rel="<%=t.id%>" />
      </div>

      <div class="avatar_white_bdrC2task">
        <a href="/task/show/<%=t.id%>" id="<%=t.id%>" class="view">
           <img src='<%= t.image_file %>' width="150" height="150" alt="<%=t.name%>" />
        </a>
      </div>
      
      <div class="titleTDue"><%=change_date_format(t.due_date) if t.due_date%></div>
      
      <!-- This column does not expand well. Do we need to control max-width via JavaScript? -->
      <div class="titleTTAsk" style="min-width:260px; max-width:260px;">
        <div class="title"><%=long_title(t.name)%></div>
        <div class="description"><%=long_desc(t.descr)%></div>
      </div>
      
      <!-- From the right -->
      <div class="titleTrating">
        <img src="<%=t.rating_icon_file%>" class="task_rating_icon task_raiting" task_id="<%=t.id%>">
      </div>
      
      <div class="titleTType"><%=t.course.name if t.course %></div>

    </div>  <!-- task_list_content -->
    
  <% end %>  <!-- @tasks -->
<% end %>

<script type="text/javascript">

  //setPageTitle("My Tasks");
  $('a.view').click(function() {
    showSpinner(true);
    $("#container").load(this.href, function(){
      task_id = $(this).attr("id");
      $("#menu_btn_dup").attr("data","id="+task_id);
      $("#menu_btn_dup").show();
      showSpinner(false);
    });
    return false; 
  });
  jStorage.flush();
  
 $('input[type="checkbox"]').unbind('click').bind('click',function(event) {
    check_val = $(this).is(':checked');
    showSpinner(true);
    task_id = $(this).attr("rel");
    $.ajax({
       type:"POST",
       url:"/task/task_complete",
       data:{task_id:task_id,check_val:check_val},
       dataType:"json",
       success:function(data){
         showSpinner(false);
         if (data.status) {
           setAlert("Task completed")
           $(".clipboard_list[task_id="+task_id+"]").css("background-color", "#BCD599");
         } else {
           setAlert("Task not completed")
           $(".clipboard_list[task_id="+task_id+"]").css("background-color", "");
         }
       }
    });
    event.stopPropagation();
  });
   
  $(".task_list_content").hover(
    function () {
      $(".list_hover", this).show();
    }, 
    function () {
      $(".list_hover", this).hide();
    }
  );
  
  $(".task_list_content").click(function() {
    var task_id = $(this).attr("task_id")
    setAlert("Show task " + task_id);
    load_data("/task/show/"+task_id, null);
  });

  $(".tasks_pri_toggle").click(function(event){
    showSpinner(true);
    task_id = $(this).attr("task_id");
    $.ajax({
       type: "POST",  
       url: "/task/toggle_priority",  
       data: {task_id:task_id},
       dataType: "json",
       success: function(data) {
         if (data.status){
           if (data.priority == "H") {
             $(".tasks_pri_toggle_btn[task_id="+task_id+"]").html("Unstar");
             $(".tasks_pri_toggle_img[task_id="+task_id+"]").attr("src", "/images/star_up.png");
           } else {
             $(".tasks_pri_toggle_btn[task_id="+task_id+"]").html("Star");
             $(".tasks_pri_toggle_img[task_id="+task_id+"]").attr("src", "/images/star_down.png");
           }
         }
         showSpinner(false);
       }
    });
    event.stopPropagation();
  });  
    
  // Remove task
  $(".tasks_del").click(function(event){
    showSpinner(true);
    task_id = $(this).attr("task_id");
    $.ajax({
       type: "POST",  
       url: "/task/remove_tasks",  
       data: {task_id:task_id},
       dataType: "json",
       success: function(data) {
         if(data.status){
           $(".task_list_content[task_id="+task_id+"]").fadeOut();
         }
         showSpinner(false);
       }
    });
    event.stopPropagation();
  });  
  
  // For task priority
  $("#XXXstaronavatar2 a").unbind("click").bind("click",function(){
    showSpinner(true);  
    priority = $(this).attr("rel");
    task_id = $(this).attr("id");
    $.ajax({
      type:"POST",
      url:"/task/check_priorities",
      data:{priority:priority,task_id:task_id},
      success:function(data){
        if(data.status)
          showSpinner(false);
        else  
          showSpinner(true);
      },
      error:function(){
        alert("Error");
        showSpinner(false);
      }
    });
  });
      
</script>
