<% @tasks.each do |t| %>   
<tr>
  <td>
    <a href="/task/show/<%=t.id%>" id="<%=t.id%>" class="view">
    <img src='<%= t.image_file %>' width="100" height="100" alt="<%=t.name%>" />
    </a>
  </td>
  <td>
    <%=show_date_format(t.created_at) %>
  </td>
  <td>
    <%=t.name %>
  </td>
  <td>
    <%=t.course.code %><br/><%=t.course.section %>
  </td>
</tr>
<%end%>