<div style="margin-left:10px; width:auto; height:25px; margin-top:10px;" id="category_div_<%=c.id%>" class="category_div">
  
  <input type="text" name="loaded_categories[]" value="<%= c.name %>" rel="<%=c.id%>" class="dd_select brown_bg medium" style="margin-left:-10px"/>
  <input type="text" name="loaded_category_values1[]" value="<%= c.percent_value %>" rel="<%=c.id%>" class="percent_width dd_select brown_bg medium" style="margin-left:8px;"/>%
  
  <div id="on_category" class="on_category msg_bottom_linksC2" style="display:none;">
    <div class="like_cmt"> 
      <!--<a href="#" class="blue_bt19px">More</a> -->
      <a href="#" class="category_del files_del blue_bt19px" rel="<%=c.id%>">DEL</a>
    </div>
  </div>
</div>