<% if (@courses.nil? || @courses.empty?) and (@user_group == false || params[:filter]=='M') and (@invites.nil? || @invites.empty?) %>
	<input type="hidden" id="section_type" value="<%=section_type if defined?(section_type)%>"/>
	<div class="course_tab_content">
		<div class="system_alert">You don’t belong to any groups yet. Select the “All Groups” tab on the right to see what awesome groups people have started.</div>
	</div>
<%else%>

<table class="blackboard_list" id ="course_group_content">
  <tr>
    <th width="110">
    </th>
    <% if defined?(section_type) %>
    
    <% if section_type == "C" %>
    <th>
      Course 
    </th>
    <th width="100">
      Course Code
    </th>
    <% end %>
    
    <% if section_type == "G" %>
    <th>
      Name
    </th>
    <th width="100">
      Formed
    </th>
    <% end %>
    
    <th width="60" style="text-align:center;">
      Organizer
    </th>
    
    <input type="hidden" id="section_type" value="<%=section_type%>"/>
    <% end %>
  </tr>
  <% unless @invites.empty? %>
      <% @invites.each do |invite| %>
          <% c = invite.target %>
          <tr class="course_row">
            <td>
              <div class="alert_on_avatar">
                <img src="/images/alert.png" width="36" height="37" task_id="1" class="tasks_pri_toggle tasks_pri_toggle_img">
              </div>
              <a href="/course/show/<%=c.id%>" class="view notification_badge">
                <img src='<%= c.image_file %>' width="100" height="100" alt="<%=c.name%>" />
              </a>
            </td>
            <td>
              <a href="/course/show/<%=c.id%>" class="view">
                <div class="title"><%=c.name %></div>
                <% if defined?(section_type) && section_type == "G"%><div class="description"><%=c.descr%></div><% end %>
              </a>

              <div>
                <% if defined?(section_type) %>
                    <% if c.join_type == 'I' %>
                        <a href="javascript:void(0);" class="send big_blue_btn" data-message="<%= invite.id%>" data-activity="add" >
                          Join
                        </a>
                        <a href="javascript:void(0);" class="send big_blue_btn" data-message="<%= invite.id%>" data-activity="dntadd">
                          Don’t Join
                        </a>
                    <% end %>
                <% end %>
              </div>

            </td>
            <td>
              <% if defined?(section_type) && section_type == "G"%>
                  <%=change_date_format(c.created_at)%>
              <% else %>
                  <%=c.code%>-<%=c.section%>
              <% end %>
            </td>

            <td style="text-align:center;">
              <% if c.owner %>
                  <div class="avatar_white_bdr">
                    <img src="<%=c.owner.image_file_name%>" profile_id="<%=c.owner.id%>" class="profile"/>
                  </div>
                  <%= c.owner.full_name %>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
  <% @courses.each do |c| %>
  <tr class="course_row">
    <td>
      <a href="/course/show/<%=c.id%>" class="view">
        <img src='<%= c.image_file %>' width="100" height="100" alt="<%=c.name%>" />
      </a>
    </td>
    <td>
      <a href="/course/show/<%=c.id%>" class="view">
        <div class="title"><%=c.name %></div>
        <% if defined?(section_type) && section_type == "G"%><div class="description"><%=c.descr%></div><% end %>
      </a>
      <%joined, p_type = already_join(c.id,user_session[:profile_id])%>
      <div class="list_hover">
        <% if defined?(section_type) and section_type == "G" and c.owner.id != user_session[:profile_id] and (joined==false or p_type=="P")%>
          <% if c.join_type == 'I' %>
          <a href="javascript:void(0);" class="<%=p_type == "P" ? "light_blue" : "join_btn blue_bt19px"%>" course_id="<%= c.id %>">
            <%=p_type == "P" ? " Invite Pending " : "Join"%>
          </a>
          <% end %>
        <% elsif defined?(section_type) and section_type == "G" and c.owner.id == user_session[:profile_id]%>
        <a href="javascript:void(0);" class="remove_btn blue_bt19px" course_id="<%= c.id %>">
          Remove
        </a>
        <% elsif defined?(section_type) and section_type == "G" and c.owner.id != user_session[:profile_id] and p_type == "S"%>
        <a href="javascript:void(0);" class="leave_btn blue_bt19px" course_id="<%= c.id %>" course_name="<%=c.name%>">
          Leave
        </a>
        <% end %>
      </div>
 
    </td>
    <td>
      <% if defined?(section_type) && section_type == "G"%>
      <%=change_date_format(c.created_at)%>
      <% else %>
      <%=c.code%>-<%=c.section%>
      <% end %>
    </td>
    
    <td style="text-align:center;">
      <% if c.owner %>
      <div class="avatar_white_bdr">
        <img src="<%=c.owner.image_file_name%>" profile_id="<%=c.owner.id%>" class="profile"/>
      </div>
      <%= c.owner.full_name %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
<script type="text/javascript">

$(document).ready(function(){
    $('a.send').bind('click', function(){
        showSpinner(true);
        <% if defined?(section_type) and section_type == 'C'%>
            var message_type = 'course_invite';
            var redirect = '#courses';
        <% else %>
            var message_type = 'group_invite';
            var redirect = '#networks';
        <% end %>
        var params = {message_id: $(this).attr('data-message'), activity: $(this).attr('data-activity'), message_type: message_type, section_type: 'Course' }
        $.post( 'message/respond_to_course_request', params, function(){
            showSpinner(false);
            $(redirect).trigger('click');
                });
    });
$('.description').dotdotdot({});          
$('a.view').click(function() {
    showSpinner(true);
    section_type = $("#section_type").val();
    url = this.href+"?section_type="+section_type;
    $("#container").load(url, function(){
      $("#menu_btn_dup").show();
       $("#btn_course").addClass("hide");
      showSpinner(false);
    }); 
    return false; 
  });      
  
  
  $(".course_row").hover(
    function () {
      $(".list_hover", this).show();
    }, 
    function () {
      $(".list_hover", this).hide();
    }
  );
});
</script>  