 <div class="course_pad">
    <!-- tabs-->
    <!--tab content-->
    <div class="course_tab_content">
      <!--01 line box-->
      <div>
        <!--box-->
        <div class="stat_box01 stat_width01 floatL">
          <div class="stat_head01 floatL">Grade</div>
          <div class="stat_value01 floatL"><span class="red_txtbig"><%if !@grade.nil?%><%= @grade[0]%></span> <span class="red_txtsmall"><%= @grade[1]%><%end%></span>
            <div class="stat_value02"></div>
          </div>
        </div>
        <!--box-->
        <div class="stat_box01 stat_width02 floatL">
          <div class="stat_head01 floatL">xp</div>
          <div class="stat_value01 floatL"><span class="red_txtbig"><%if !@course_xp.nil?%><%=@course_xp%><%else%>0<%end%></span>
            <div class="stat_value02"><%=@profile.xp%> Total</div>
          </div>
        </div>
        <!--box-->
        <div class="stat_box01 stat_width03 floatL">
          <div class="stat_head01 floatL">likes</div>
          <div class="stat_value01 floatL"><span class="red_txtbig"><%if @likes%><%=@likes%><%end%></span>
            <div class="stat_value02"><%=@profile.like_received%> Total</div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="spacebar10px"></div>
      <!--02 line box-->
      <div>
        <div class="stat_head01 font18">Badges</div>
        <div class="spacebar10px"></div>
        <ul class="stat_icons_box">
        <%if @badge && @badge.length>0%>
          <% @badge.each do |b|%>  
          <%badge = Badge.badge_detail(b.badge_id)%>
            <% if badge and !badge.nil?%>
            <li>
             <div class="SI_icon"><img src="images/badges/<%=badge.badge_image.image_file_name%>"class="icon_style_badge hover badge_details" id="<%=b.id%>"/></div>
              <span class="text_style_badge"><%=badge.name%></span>
            </li>
            <%end%>
          <%end%>
          <%else%>
          <div class="badge_message" >You have no badges for this course</div>
        <%end%>  
         
        </ul>
        <div class="clear"></div>
      </div>
      
      <div class="stat_head01 font18">Task Grade</div><div class="spacebar10px"></div>
      <%if @course_tasks && @course_tasks.length>0%>
        <div id="rows" class="LB_table">
          <div class="LB_tableheader">
          <div class="LBT_ava"> &nbsp;</div>
          <div class="LBT_level">NAME</div>
          <div class="LBT_level">DUE DATE</div>
          <div class="LBT_xp">GRADE</div>
        </div>
       
          <% @course_tasks.each do |t|%>  
            <%task_grade = nil%>
            <%task_grade = TaskGrade.load_task_grade(t.school_id,t.course_id,t,user_session[:profile_id])%>
            <div class="LB_tablecontent <%= cycle("even_tg", "odd_tg") %>">
              <div class="LBT_ava" >
                <div class=""><img src="<%=t.image_file%>" profile_id="<%#= p.id %>" width="53" height="53" style="border-radius:5px" /></div>
              </div>
              <div class="LBT_name"> <span class="name_txt"><%=t.name%></span><br />
                </div>
              <div class="LBT_level"><%=change_date_format(t.due_date)%></div>
              <div class="LBT_xp"><%if !task_grade.nil?%><%=task_grade%> <%=GradeType.value_to_letter(task_grade, t.school_id )%><%else%>Not Graded<%end%></div>
            </div>
          <% end %>
       
      </div>
      <%else%>
        <div class="badge_message">No task for this course</div>
      <% end %>   
      <div class="spacebar10px"></div>
      <!--03 line box-->
      <div class="stat_head01">Outcomes</div>
      <div class="spacebar10px"></div>
      <!-- outcome box-->
      <%if !@outcomes.nil?%>
        <% @outcomes.each_with_index do |o,i|%>
        <ul class="outcomes_box">
          <li class="odd" id ="li_<%=o.id%>"> <span class="oB_box01"><%=o.name%></span> <span class="oB_box02"> <span class="<%if @points[i].to_f > 2%>oB_box001_gold <%elsif @points[i].to_f > 1%> oB_box001_silver<%elsif @points[i].to_f == 0%><%else%>oB_box001 <%end%>"><%=@points[i]%></span> <span class="oB_box002"><%=o.descr%>&nbsp;</span> </span> <span class="oB_box03">
            <a class="blue_bt19px more_btn_stat" href="javascript:void(0);" id ="btn_<%=o.id%>" rel ="<%=o.id%>" >More</a></span> <span class="clear"></span> 
          <div class="hide" id ="achivers_<%=o.id%>">
             <%= render :partial=>"/course/top_achivers"%>
          </div>  
          <span class="clear"></span></li>
        </ul>
        <%end%>
      <%end%>
      <!-- outcome box-->
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class = "badge_detail hide" id="badge_detail">
    <%= render :partial => "/badge/badge_detail" %>
  </div>
  <input type="hidden" name="course_id"  id ="course_id" value="<%=@course.id%>">
<script type="text/javascript">

  $(function(){
  
    $(".more_btn_stat").click(function(){
      var id = $(this).attr("rel");
      if($(this).text()=="More"){     
        var course_id = $("#course_id").val();
        var outcome_id = $(this).attr("rel");
        showSpinner(true);
        $.ajax({
          type :"POST",
          url: "/course/top_achivers", 
          data: {course_id:course_id,outcome_id:outcome_id},
          error: function(e){alert("error");},
          success: function(data){
             showSpinner(false);
             $("#achivers_"+outcome_id).html(data);
             $("#achivers_"+outcome_id).slideDown(500);
             $("#btn_"+id).text("Less");
          }
        });    
       // $("#li_"+id).addClass("selctd");
      }
      else{
        $("#achivers_"+id).slideUp(500);
        $(this).text("More");
        //$("#li_"+id).removeClass("selctd");
      }      
    });
    
    $(".odd").hover(
        function () {
          id = $(this).attr("id");
          $("#"+id).addClass("selctd");
        }, 
        function () {
          id = $(this).attr("id");
         $("#"+id).removeClass("selctd");
        }
      );
      
   $(".badge_details").click(function(){
    id = $(this).attr("id");
    showSpinner(true);
      $.ajax({
        type: "POST",
        url: "/badge/badge_detail",
        data:{id:id},
        success: function(data) {
          $("#badge_detail").html(data); 
          $("#badge_detail").show();
          showSpinner(false);
        }
      });  
  });  
    
  });
</script>    