<div>
  <div id="confirm_upload" class="add_file" style="display:none;">   
    <div class="c_upload">Confirm Upload</div>
    <div id="container">
        <a class="big_blue_btn" id="pickfiles" href="javascript:void(0)">Browse</a>
    </div>
    <div id="show_file_uploading"></div>
    <div id="show_file_data" style="display:none;">
      <div class="display_text">
        <p>You are about to upload an updated version
        of an assignment file. Do you wish to
        continue uploading?</p>
      </div>
      <div class="display_data">Task:<span id="file_task"></span></div>
      <div class="display_data">Original Uploaded By:<span id="file_uploaded_by"></span></div>   
      <div class="display_data">Original Uploaded On:<span id="file_uploaded_on"></span></div>
      <div class="display_data">Revision:<span id="file_revision"></span></div>
      <div style="float:right">
        <a class="big_blue_btn" id="file_upload" href="javascript:void(0)">Upload</a>
        <a class="big_blue_btn" onClick="javascript:$('#confirm_upload').hide();" href="javascript:void(0)">Close</a>
      </div>                                
    </div>                  
  </div>
  <br/>
  <% if @course and !@task %>
   <div class="titleTextShow">Show:&nbsp;&nbsp;
   <span>
   
     <select class="dd_input brown_bg" id="filter_files">
       <option value="all"><%if @course.parent_type=="C"%>All Course Files<%elsif @course.parent_type=="G"%>All Group Files<%end%></option>
       <%if @course.parent_type=="C"%><optgroup label="By Task"><%end%>
        <% unless @course.nil? %>
          <%task = all_task(@course.id)%>
          <% if task and !task.nil?%>
             <% task.each do |t| %>
              <option value="<%=t.id%>"><%=t.name%></option>
             <% end %> 
          <% end %>
        <% end %>
        <%if @course.parent_type=="C"%></optgroup><%end%>  
     </select>
   </span>
   </div>
  <% end %>   
  
   <div class="titleTextKind">Size</div>
   <div class="titleTextUpdated">Updated</div><br/><br/>
   <div id="all_files">
		<div id="show_file" class="btn_drop_file" style="<%= @task ? "color:#9ab0b9;" : "" %>">
			<span id="drop_text_container">
				<span id="drop_file_span">DROP FILE OR </span><a href="javascript:void(0)" name="browse_btn" id="browse_btn">CLICK HERE</a> 
			</span>
			<span id="uploading_text_container" style="display:none">
				Uploading...
			</span>
		</div>
		<div id="load_files">
			<%= render :partial => "/course/load_files", :locals => {:files=>@files} %>
		</div>
		</div>
	<div id="file_download" class="hide"><%=render :partial => "/course/download_dialog" %></div> 
  <input type="hidden" name="current_course" id="current_course" value="<%=@course.id if @course%>">
  <input type="hidden" name="target_type_hdn" id="target_type_hdn" <% if @task %>value="Task" <%else%>value="Course"<%end%>> 
  <input type="hidden" name="target_id_hdn" id="target_id_hdn" <%if @task %>value="<%=@task.id%>" <%else%>value="<%=@course.id%>" <%end%> >
  <input type="hidden" name="current_profile" id="current_profile" value="<%=@profile.id%>">
  <div class="clear"></div>
</div>
<script type="text/javascript">

if ( $.browser.msie ) {
  $('#drop_file_span').remove();
} 
$(document).ready(function(){
    var target_id;
    var target_type;
    <%if @task%>
     target_id = $("#task_id_hdn").val();
     target_type = 'Task';
    <% else %>
     target_id = $("#course_id_hdn").val();
     target_type = 'Course';
    <% end %>
  
     <% if @courseMaster %>
       <% if @courseMaster.id != user_session[:profile_id] && !@course.allow_uploads %>
       $("#show_file").css("display","none");
       <%end%>
     <%end%>
       //Remove files
    $("#all_files").delegate('.files_del', 'click', function(){       
      showSpinner(true);
      file_id=$(this).attr("rel");
      var dataString = 'files='+file_id;
      $.ajax({
         type: "POST",  
         url: "/course/remove_course_files",  
         data: dataString,
         dataType:"json",
         success: function(data) {
           showSpinner(false);
            $("#filename_"+file_id).remove();
         }
      });
    });
    $("#all_files").delegate('.file_pri_toggle', 'click', function(){ 
    //$(".file_pri_toggle").click(function(event){
    showSpinner(true);
    att_id = $(this).attr("rel");
    $.ajax({
       type: "POST",  
       url: "/course/toggle_priority_file",  
       data: {id:att_id},
       dataType: "json",
       success: function(data) {
           if (data.starred) {
             $(".file_pri_toggle_btn[rel="+att_id+"]").html("Unstar");
             $(".file_pri_toggle_img[rel="+att_id+"]").attr("src", "/images/star_up.png");
           } else {
             $(".file_pri_toggle_btn[rel="+att_id+"]").html("Star");
             $(".file_pri_toggle_img[rel="+att_id+"]").attr("src", "/images/star_down.png");
           }
        showSpinner(false);
       },
       error: function(){
          alert("An Error has occured");
          showSpinner(false);
        }
    });

  });  
   $("#all_files").delegate('.files_download', 'click', function(){     
     url = $(this).attr("rel");
     request_type = $(this).attr("rev");
     if(request_type=="download"){
        file = $(this).attr("rel");
        window.open(url,'_blank');
        $("#file_download").hide();
      }
      else if(request_type=="share"){
        $("#file_download").show();
        $("#dialog_url").html(url);
        
      }
     /*
     if (id){
      showSpinner(true);
       $.ajax({
        type: "POST",  
        url: "/course/download",  
        data: {id:id,request_type:request_type},
        success: function(data){
         showSpinner(false);
         $("#file_download").show();
         $("#file_download").html(data);
        }
       }); 
      }  */
    });
    
  $("#all_files").delegate('.share_file', 'click', function(){    
    $("#file_dialog_heading").html("Share File");
    $("#dialog_url").html($(this).attr("rev"));
    $("#dialog_btn").html("Share");
    $("#file_download").show();
  });
      
     //For files hover div
     
    
    //Uploader task image upload
    var add_file_uploader = new plupload.Uploader({
      runtimes: 'html5, flash',
      drop_element: 'show_file',
			browse_button : 'browse_btn',
      container: 'show_file',
      max_file_size: '30mb',
      //resize : {width : 125, height : 125},
      url: '/course/add_file',
			flash_swf_url : '/assets/fileupload/plupload.flash.swf',
      multipart_params: {
        'authenticity_token' : token,  //For csrf-authentication
        'school_id' : $("#course_school_id_hdn").val(),
        'id' : target_id,
        'target_type': target_type,
        'profile_id' : $("#current_profile").val()
      }
    });
    
    add_file_uploader.init();
    
     add_file_uploader.bind("BeforeUpload", function(up,file) {
      add_file_uploader.settings.multipart_params.id = target_id
      add_file_uploader.settings.multipart_params.target_type = target_type
     });
    
    add_file_uploader.bind('FilesAdded', function(up, files) {
      showSpinner(true);
      add_file_uploader.start();
    });
    
    add_file_uploader.bind('UploadProgress', function(up, file) {
      //$('#show_file').html('<center>Uploading..</center>');
			$('#drop_text_container').hide();
			$('#uploading_text_container').show();
    });
    
    
    add_file_uploader.bind('FileUploaded', function(up, file, info) {
      showSpinner(true);
      $("#show_file_list").show();
      $("#load_files").prepend(info.response);
      //$("#show_file").text("DROP THE FILE");
			$('#uploading_text_container').hide();
			$('#drop_text_container').show();
			$("#show_file").fadeOut('slow');
      $("#load_files").slideDown(10000);
      $("#show_file").fadeIn('slow');
      $("#no_files").html('');
      showSpinner(false);
    });
    
    var file_uploader = new plupload.Uploader({
        runtimes : 'html5, flash',
        browse_button : 'pickfiles',
        container: 'pickfiles',
        max_file_size : '30mb',
        url : '/course/add_file',
				flash_swf_url : '/assets/fileupload/plupload.flash.swf',
        multipart_params: {
          'authenticity_token' : token,  //For csrf-authentication
          'school_id' : $("#course_school_id_hdn").val(),
          'id' : target_id,
          'target_type': target_type
        }
      });

      file_uploader.init();
      
      file_uploader.bind('FilesAdded', function(up, files) {
         showSpinner(true);
         file_uploader.start();
      });

      file_uploader.bind('UploadProgress', function(up, file) {
        $('#show_file_uploading').html('<center>Uploading..</center>');
			});
      
      
     file_uploader.bind('FileUploaded', function(up, file, info) {
        showSpinner(true);
        $('#confirm_upload').hide();
        $("#show_file").text("DROP THE FILE");
        $("#load_files").prepend(info.response);
        $("#no_files").html('');
        showSpinner(false);
    });
    
  $("#filter_files").change(function(){
    var id = $("#filter_files").val();
    var course_id = $("#current_course").val();
	var profile_id = $("#current_profile").val();
    if(id){
      showSpinner(true);
      $.ajax({
         type: "POST",  
         url: "/course/load_files",  
         data: {id:id,course_id:course_id,profile_id:profile_id},
         success: function(data) {
            if(id == "all"){
              target_type = "Course";
              target_id = course_id;
            }else{
              target_type = "Task"
              target_id = id;
            }
           if(data==""){
            $("#load_files").html("<div id='no_files' class='badge_message'>No file uploaded for this task</div>");
           }
           else{
             $("#load_files").html(data);
           }
           showSpinner(false);
         }
      });
    }
  });
    
    
    
  });
</script>