<div id="sidebar_right">
  <div class="course_side_buttons">
    <a href="javascript:void(0)" name="btn_course" id="btn_course" class="big_orange_btn">Save</a>
    <% if @course%>
      <a href="javascript:void(0)" name="menu_btn_addfile" id="menu_btn_addfile" class="big_blue_btn hide">ADD FILE</a>
      <a href="javascript:void(0)" name="btn_category_remove" id="btn_category_remove" class="big_blue_btn hide">REMOVE</a>
      <a href="javascript:void(0)" name="btn_archive" id="btn_archive" class="big_blue_btn hide">ARCHIVE</a>
    <% end %>
    <input type="hidden" name="hdn_is_page_change" id="hdn_is_page_change" value="<%=@course ? false : true %>" />
  </div><!-- crud_level -->
</div>
<div class="course_content">
    <div class="course_board_left">
      <div class="course_board_right">
        <div class="course_board_center">
          <div class="texture_board">
            <div class="course_pad_top"> </div>
            <div class="course_pad">
              <!-- tabs-->

            <div class="course_tabs menu_container" align="right">
              <a href="javascript:void(0)"  id="menu1" value="1" class="side_tab side_tab_open" ><span class="task_tab">  <% if defined?(section_type) && section_type == "C" %> Course <%else%> Group <%end%></span></a>

              <% if defined?(section_type) && section_type == "C" %>
              <a href="javascript:void(0)"  id="menu3" value="3" class="side_tab side_tab_close"><span class="task_tab"> Forums</span></a>
              <%end%>

              <a href="javascript:void(0)"  id="menu4" value="4" class="side_tab side_tab_close"><span class="task_tab">Files</span></a>
            </div>
            <% if defined?(section_type)  %>
               <input type="hidden" id="section_type" value="<%=section_type%>"  />
            <%end%>
            <div class="course_tab_content">
              <div class="right_form_containerr" id="load_data">
                  <!-- Data load here-->
                <% if defined?(section_type) && section_type == "G" %>

                <% if defined?(course_new) && course_new == true %>
                  <%= render :partial=>"group/setup" %>
                <% else %>
                  <%= render :partial=>"group/group_wall" %>
                <% end %>

                <% else %>

                <% if defined?(course_new) && course_new == true %>
                  <%= render :partial=>"course/setup" %>
                <% else %>
                  <%= render :partial=>"course/show_course" %>
                <% end %>
                <% end %>
              </div>
              <input type="hidden" name="course_id" id="course_id_hdn" value="<%=@course.id if @course%>" />
              <input type="hidden" name="wall_id" id="course_wall_id_hdn" value="<%= @wall.id if @wall && !@wall.nil? %>" />
              <input type="hidden" name="school_id" id="course_school_id_hdn" value="<%= @profile.school_id %>" />
            </div>
            <div class="clear"></div>
			  </div>
            </div>
          </div>
        </div>
    </div>
 </div>
<script type="text/javascript">
<!--
jStorage.flush();
//For dynamic added nodes
var _counterPeople = 2;
var _counterOutcome = 2;
var _counterCategory = 2;
var _outcomesObject = [];
var _categoriesObject = [];
var _outcomes_descrObject = [];
var _categories_persentObject = [];
var _outcomes_shareObject = [];
//set outcomes to offline storage
$.each($('input[name="outcomes[]"], input[name="people_id[]"], input[name="categories[]"]'), function() {
  setStorage($(this).attr('id'), $(this).val());
});

//set storage on load while view of course
if($("#course_name").val()!="") {setStorage("course_name", $("#course_name").val());}
else {setStorage("course_name", "Course Name");}
if($("#course_descr").val()!="") {setStorage("course_descr", $("#course_descr").val());} else {setStorage("course_descr", "New Course Description");}
if($("#course_code").val()!="") {setStorage("course_code", $("#course_code").val());}
else {setStorage("course_code", "Course Code");}
if($("#course_section").val()!="") {setStorage("course_section", $("#course_section").val());}
else {setStorage("course_section", "Section");}


if($("#group_name").val()!=""){setStorage("group_name", $("#group_name").val());}
else {setStorage("group_name", "New Group");}
if($("#group_descr").val()!="") {setStorage("group_descr", $("#group_descr").val());}
else {setStorage("group_descr", "New Group Description");}

$(document).ready(function(){
  var changed = false;
  <% if defined?(course_new) && course_new == true %>
    $("#menu1").addClass("side_tab_close").removeClass("side_tab_open");
    $(".course_tabs").addClass("hide");
  <% end %>

  // Course name
  setPageTitle(getStorage("course_name"));

  //Toggle Tabs
  $(".menu_container").delegate('a', 'click', function(){
    showSpinner(true);
    idx = $(this).attr("value");
    
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");

    for(i=0;i<6;i++){
      //---- Set all menu as De-Selected

      // if(document.getElementById("menu"+(i+1))!=null){
      //   document.getElementById("menu"+(i+1)).className = "side_tab side_tab_close";
      // }
      if(idx != i){
        $("#div_"+i).hide();
      }
    }

    //---- Selected menu will highlighted
    $('#menu'+idx).addClass("side_tab_open").removeClass("side_tab_close");
    $("#div_"+idx).fadeIn();

    course_id = $("#course_id_hdn").val();
    section_type = $("#section_type").val();
    var data = {value:idx,id:course_id,section_type:section_type};
    $("#load_data").load("/course/show_course",data, function(response, status, xhr) {
      if(response)
      {
        $("#load_data").html(response);
        showSpinner(false);
      }
      if (status == "error")
      {
        var msg = "Sorry but there was an error: ";
        alert(msg);
      }
    });

    is_page_change = $("#hdn_is_page_change").val();
    if(is_page_change == "true") {
      save_course(this.id);
    }

    if(idx == 2) {
      $("#btn_category_remove").fadeIn();
    } else {
      $("#btn_category_remove").fadeOut();
    }

    if(idx == 4) {
      $("#menu_btn_addfile").removeClass("hide");
      //$("#btn_course").removeClass("hide");
      $("#btn_archive").addClass("hide");
    } else {
      $("#menu_btn_addfile").addClass("hide");
      $("#btn_course").addClass("hide");
      $("#btn_archive").addClass("hide");
    }

  });

  //Add File by button

  $("#menu_btn_addfile").click(function(){
     $("#confirm_upload").show();
     $("#show_file_data").hide();
  });

  //Submit data
  $("#btn_course").unbind('click').bind('click', function(){
    save_course(this.id);
  });

   // For member Page

  /* $("#btn_member").live('click', function(){
   showSpinner(true);
   course_id = $("#course_id_hdn").val();
   section_type = $("#section_type").val();
   $.ajax({
        type: "GET",
        url: "/course/view_member",
        data:{id:course_id,section_type:section_type},
        success: function(data) {
		      $("#load_data").html(data);
			    showSpinner(false);
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        },
      });
    });*/
   
   $('.course_tab_content').delegate('a', 'click', function(){
   //$("#btn_xp_badges").live('click', function(){
   if($(this).attr("id")=="btn_xp_badges"){
     showSpinner(true);
     course_id = $("#course_id_hdn").val();
     $.ajax({
          type: "POST",
          url: "/course/course_stats",
          data:{id:course_id},
          success: function(data) {
            $("#load_data").html(data);
            showSpinner(false);
          },
          error: function()
          {
            alert("An Error has occured");
            showSpinner(false);
          },
        });
    }
    else if($(this).attr("id")=="btn_member"){
      showSpinner(true);
      course_id = $("#course_id_hdn").val();
      section_type = $("#section_type").val();
      $.ajax({
        type: "GET",
        url: "/course/view_member",
        data:{id:course_id,section_type:section_type},
        success: function(data) {
		      $("#load_data").html(data);
			    showSpinner(false);
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        },
      });
    }
    
  });
    

  //For updating outcomes (in course view screen)
  $('input[name="loaded_outcomes[]"]').unbind('blur').bind('blur', function(){
    var outcome_id = $(this).attr('rel');
    var outcome = $(this).val();
    var dataString = 'outcome_id=' + outcome_id + '&outcome=' + outcome;
    if(outcome_id) {
      showSpinner(true);
      //alert (dataString);return false;
      $.ajax({
        type: "POST",
        url: "/course/update_course_outcomes",
        data: dataString,
        error: function(){alert("Error");showSpinner(false);},
        success: function(data) {
          if (data) {
            // TO DO
          } else {
            alert("ERROR");
          }
          showSpinner(false);
        }
      });
      return false;
    }
  });

  //For updating categories (in course view screen)
  $('input[name="loaded_categories[]"]').unbind('blur').bind('blur', function(){
    var category_id = $(this).attr('rel');
    var category = $(this).val();
    var dataString = 'category_id=' + category_id + '&category=' + category
    if(category_id) {
      showSpinner(true);
      //alert (dataString);return false;
      $.ajax({
        type: "POST",
        url: "/course/update_course_categories",
        data: dataString,
        success: function(data) {
          if (data) {
           // TO DO
          } else {
            alert("ERROR");
          }
          showSpinner(false);
        }
      });
      return false;
    }
  });


  //Post Message
  $('.right_form_containerr').delegate('.sbmt_msg', 'click', function(){
    showSpinner(true);
    parent_id = $(this).attr("id");
    parent_type = $(this).attr("rel");
    text = $(this).attr("title");
    message = $("#"+text).val();
    if(message.trim().length==0){
      showSpinner(false);
      return;
    }
    setAlert("Posted: "+message);
    var dataString = {parent_id:parent_id, parent_type:parent_type, content: message};
    //alert(dataString.content);return false;
    $.ajax({
      type: "POST",
      url: "/message/save",
      data: dataString,
      success: function(data) {
        $("#"+text).val("");
        if(parent_type=="C")
        {
          $("#message_wrapper").prepend(data);
          $("#msg_input").fadeOut();
        }
        else if(parent_type=="G")
        {
          $("#message_wrapper_group").prepend(data);
          $("#msg_input").fadeOut();
        }
        else if (parent_type=="Message")
        {
          $("#post_comment_"+parent_id).hide();
          $("#messsage_box_"+parent_id).append(data);
        }
        showSpinner(false);
      }
    });
  });

  //Like/Unlike a message or comment
  $('.right_form_containerr').delegate('.like', 'click', function(){
    showSpinner(true);
    if(this.id){
      action = $(this).attr('rel');
      course_id = $(this).attr('rev');
      controller = this;
      $.ajax({  
        type: "POST",  
        url: "/message/"+action,
        dataType: 'json',
        data: {message_id:this.id,course_id:course_id},
        success: function(data) {
          if (data) {
            $(controller).attr('rel',data.action);
            $(controller).text(data.action.toUpperCase());
            $('#count_'+controller.id).html(data.count);
          }
          showSpinner(false);
        }
      });
    }
  });
   $('.right_form_containerr').delegate('.message_del', 'click', function(){
      showSpinner(true);
      id = $(this).attr("rel");
      console.log(id)
      var dataString = 'id='+id;
      $.ajax({
           type: "POST",  
           url: "/message/confirm",  
           data: dataString,
           success: function(data) {
             $("#div_message_delete").html(data);
             $("#div_message_delete").show();
             showSpinner(false);
             }
        });
    }); 
    
 $('.right_form_containerr').delegate('.time', 'click', function(){
    var id = $(this).attr("rel");
    if($("#word_"+id).hasClass("hide")){
      $("#word_"+id).removeClass("hide");
      $("#date_"+id).addClass("hide");
      }
    else{
      $("#date_"+id).removeClass("hide");
      $("#word_"+id).addClass("hide");
      }
   });   

  //Upload doc file
});

// For Download
$(".download_files").click(function(){
  alert("download");
});
//Save course
function save_course(channel) {
  section_type = $("#section_type").val();
  //Get data from offline storage

  if(section_type == "G")
  {
    name = getStorage("group_name");
    descr = getStorage("group_descr");
    section_type = "G";
  }
  else
  {
    name = getStorage("course_name");
    descr = getStorage("course_descr");
    section_type = "C";
  }

  id = $("#course_id_hdn").val();
  code = getStorage("course_code");
  section = getStorage("course_section");
  school_id = $("#course_school_id_hdn").val();
  wall_id = $("#course_wall_id_hdn").val();

  rating_low = getStorage("course_rating_low");
  rating_medium = getStorage("course_rating_medium");
  rating_high = getStorage("course_rating_high");
  task_low = getStorage("task_low");
  task_medium = getStorage("task_medium");
  task_high = getStorage("task_high");


  //get outcomes from offline storage
  k = 0;
  $.each($('input[name="outcomes[]"]'), function() {
    _outcomesObject[k] = $(this).val().replace(',', '');
    k++;
  });

  //get outcomes description from offline storage
  i = 0;
  $.each($('textarea[name="outcomes_descr[]"]'), function() {
    _outcomes_descrObject[i] = $(this).val().replace(',', '');
    i++;
  });

  //get categories from offline storage
  l = 0;
  $.each($('input[name="categories[]"]'), function() {
    _categoriesObject[l] = $(this).val().replace(',', '');
    l++;
  });
  //get categories percent value from offline storage
  m = 0;
  $.each($('input[name="loaded_category_values[]"]'), function() {
    _categories_persentObject[m] = $(this).val().replace(',', '');
    m++;
  });

  n = 0;
  $.each($('input[name="outcomes_share[]"]'), function() {
    _outcomes_shareObject[n] = $(this).is(":checked");
    n++;
  });

  var dataString = 'id='+ id +'&course='+ name + '&descr=' + descr + '&section_type=' + section_type + '&code=' + code + '&section=' + section + '&school_id=' + school_id + '&outcomes=' + _outcomesObject + '&outcomes_descr=' + _outcomes_descrObject + '&categories=' + _categoriesObject + '&wall_id=' +wall_id + '&percent_value=' +_categories_persentObject+ '&outcome_share='+_outcomes_shareObject+'&rating_low=' +rating_low + '&rating_medium=' +rating_medium + '&rating_high=' +rating_high + '&task_low=' +task_low + '&task_medium=' +task_medium + '&task_high=' +task_high;

  //alert(dataString);  return false;
  if(changed==true){
  showSpinner(true);
  $.ajax({
    type: "POST",
    url: "/course/save",
    data: dataString,
    dataType:"json",
    success: function(data) {
      if (data) {
        if(data.course.parent_type == "G")
        {
          $("#group_name").val(data.course.name);
          $("#group_descr").val(data.course.descr);
        }
        else
        {
          $("#course_name").val(data.course.name);
          $("#course_code").val(data.course.code);
          $("#course_section").val(data.course.section);
        }
         showSpinner(false);
         changed=false;
       /* if(channel=="btn_course") {
          $("#container").load('/course/index?section_type='+section_type, function(){
            showSpinner(false);
          });
        } else {
          showSpinner(false);
        }*/
        $("#hdn_is_page_change").val(false);
      } else {
        alert("ERROR");
        showSpinner(false);
      }
    }
  });
  }
  return false;
}

-->
</script>