<%if @course and !@course.nil?%>
<div id="div_1" class="tab_content">
  <div class="group_left">
    <div class="group_profile_image" id="group_image">
       <img id="group_thumb" src='<%= @course.image_file %>' width="156" height="156" alt="Course image" />
    </div>
  </div>
  <div class="group_right" >
  
    <% if @courseMaster %>
    <% if @courseMaster.id == user_session[:profile_id] %>
    <div class="clickable" id="forum_setup_icon" style="position:absolute; right:250px;">
      <a href="javascript:void(0)" id="menu2"  value="2" >
        <img src="/images/setting_icon_gray.png">
      </a>
    </div>
    <% end %>
    <% end %>
    <div class="group_detailbox">
      <div class="group_field_box group_input">
        <div class="group_viewfield field_label">NAME
          <div>
            <input type="text" name="group_name" id="group_name" class="dd_select brown_bg group_name" <%if @course %> value="<%=@course.name if @course%>" readonly="readonly" <%end%> onBlur='javascript:setStorage("group_name", $(this).val()); $("#hdn_is_page_change").val(true);' />
          </div>
        </div>
      </div>  
      <div class="group_field_box group_input">
        <div class="field_label desc_width" >Description
          <div class="group_descr descr_transform">
            <%=formatted_html_content(@course.descr) if @course%>
            <!--<textarea name="group_descr" id="group_descr" style="width:100%;height:90px" class="group_descr" rows="2" cols="34" <%if @course %> value="<%=@course.descr if @course%>" readonly="readonly" <%end%> onBlur='javascript:setStorage("group_descr", $(this).val());$("#hdn_is_page_change").val(true);'><%=@course.descr if @course%></textarea>-->
          </div>
        </div>
      </div>
        <div class="group_image_name">
           <% if @courseMaster %>
           <div class="avatar_white_bdr"><img src="<%=@courseMaster.image_file_name%>" profile_id="<%= @courseMaster.id %>" class="profile" /></div>
            <div class="avatar_name"><%=@courseMaster.full_name%></div>
           <% end %>
        </div>
 
        <div class="clear"></div>
        
        <div class="menu_container1 view_group_member">
          <div class="CAL_01"><span class="field_label" style="margin-top:3px;"> 
          <% if !@member_count.nil? %><%= @member_count %><%else%>0<%end%> MEMBERS <% if !@pending_count.nil? %><% "(#{@pending_count} PENDING)" %><%end%></span>

          <a href="javascript:void(0)" id="btn_member"  class="green_bt19px" rel="<%=@course.id%>">VIEW</a></div>
        </div>
      <div class="spacebar10px"></div><div class="spacebar10px"></div>

      
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>

  <% if @course %>
  <!-- Message -->
    <div class="mes_dis">
    
      <!-- <div class="send_group_invitation">
       <a href="javascript:void(0)" id="member_join" class="big_blue_btn">JOIN</a>
      </div> -->
     <% if @course.post_messages or @courseMaster.id == user_session[:profile_id] and @member and !@member.nil?%>
      <div class="show_group_messages">
        <textarea id="msg_content" name="msg_content" style ="width:84%;"class="msg_content" placeholder="Make a post..."></textarea> <br />
        <a href="javascript:void(0)" class="blue_bt19px" onclick="javascript:$('#msg_content').val('');">Clear</a>
        <a href="javascript:void(0)" id="<%=@course.id%>" class="sbmt_msg blue_bt19px" title="msg_content" rel="F" onclick="javascript:void(0);">Post</a>
      </div>
      <% end %>
      <div class="clear"></div>
      <% if @course_messages.length > 0 %>
				<div class="msg_content_left" style="margin-left:100px">
					<div id="show_all_cmnts_div" class="linkcolour">
						<a href="javascript:void(0)" id="all_cmnts">Show All Comments</a>
					</div>
					<div id="show_only_cmnts_div" class="hide linkcolour">
						<a href="javascript:void(0)" id="only_cmnts">Show Only Last 2 Comments</a>
					</div>
				</div>
			<% end %>
      <div id="message_wrapper_forum" class="message_wrapper_group">
      &nbsp;
      <% if @course_messages && !@course_messages.nil?%>
        <% @course_messages.each do |message| %>
          <%= render :partial => "/message/messages", :locals => {:message=>message} %>
        <% end %>
      <% end %>
      </div>
      
      <div class="end_of_page"></div>
      
    </div>
  <!-- Message ends -->
  <% end %>
  <div class="clear"></div>
</div>
<%end%>
<script type="text/javascript">
	var message_show_array = [];
	<% if @course_messages %>
		<% @course_messages.each do |message| %>
			message_show_array.push(<%=message.id%>);
		<% end %>
	<% end %>
	
  $(document).ready(function(){
    $("#btn_course").addClass("hide");
    $("#btn_course_remove").addClass("hide");
    $("textarea#msg_content").autosize();
	$("#message_wrapper_forum").delegate('.msg_pri_toggle', 'click', function(){
    showSpinner(true);
    msg_id = $(this).attr("rel");
    $.ajax({
       type: "POST",  
       url: "/course/toggle_priority_message",  
       data: {id:msg_id},
       dataType: "json",
       success: function(data) {
           if (data.starred) {
             $(".msg_pri_toggle_btn[rel="+msg_id+"]").html("Unstar");
             $(".msg_pri_toggle_img[rel="+msg_id+"]").attr("src", "/images/star_up.png");
           } else {
             $(".msg_pri_toggle_btn[rel="+msg_id+"]").html("Star");
             $(".msg_pri_toggle_img[rel="+msg_id+"]").attr("src", "/images/star_down.png");
           }
        showSpinner(false);
       },
       error: function(){
          alert("An Error has occured");
          showSpinner(false);
        }
    });
    }); 
		
		// When user clicks on Show All Comments
		$('#all_cmnts').click(function(){
			arrange_comments(message_show_array,true);
			all_forum_comments = true;
		});

		// When user clicks on Show only 2 Comments
		$('#only_cmnts').click(function(){
			arrange_comments(message_show_array,false);
			all_forum_comments = false;
		});
		
		// See the last setting of user or the default setting in main.html
		if(all_forum_comments) {
			arrange_comments(message_show_array,true);
		} else {
			arrange_comments(message_show_array,false);
		}
	 
  });   
   // For setup Page 
   $("#forum_setup_icon").click(function(data){
   showSpinner(true);
   course_id = $("#hdn_forum_id").val(); 
   $.ajax({  
        type: "POST",  
        url: "/course/view_forum_setup",  
        data:{id:course_id},
        success: function(data) {
		      $("#load_data").html(data);
			    showSpinner(false);
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        },
      }); 
    });

</script>