<div style = "margin-left:44px;font-size:16px;" class="people_name"><h3> Members of this Forum</h3></div>
</br></br></br>
<a href="javascript:void(0)" name="btn_email_all" style="float:right; margin-right:80px;" id="btn_email_all" class="blue_bt19px btn_add">Send Message to All</a>
<ul class="forum_people_node">
  <% if !peoples.empty? %>
    <% if mode == "list" %>
      <div class="people_name" style="width:33%;margin-left:44px;font-size:13px;"><h3><input type="checkbox" <%= @course.all_members ? "checked='checked'" : "" %> name="chk_include_all" id="include_all" class="all_include"  value="Select All Forum Members"/> Select All Forum Members</h3></div>
      <br/><br/>
	  <% peoples.each do |p| %>
        <li class="forum_blackboard_list" id="<%=p.id%>" style="width:88%; height:88px;">
        <div >
      	     <input type="checkbox" style="float:left;margin-top:35px;"<%= @course && member_forum(p.id, @course.id) ? "checked='checked'" : "" %> <%= @course.all_members ? "disabled='disabled'" : "" %> name="chk_forum_people[]" id="<%=p.id%>" class="forum_people"  value="<%=p.id%>"/>
          <div class="forum_avatar_white_bdr floatL" style="margin-left:10px;">
            <img src="<%=p.image_file_name%>" profile_id="<%=p.id%>" rel="<%=@course.id if @course%>" class="profile"/>
          </div> 
          <div class="people_name" style="width:84%; margin:7px 3px;">
            <div class="floatL" style="width:33%;margin-left:5px;"><%if p.full_name == nil %><%=p.user.email%><%else%><%=p.full_name%><%end%></div>
            <div class="field_label3" style="width:38%"> <a href="mailto:<%= p.user.email %>"><%= p.user.email %></a></div>
          </div>
        </div>
        <div class="forum_participant_type"> Member</div>
       
        <div class="clear"></div>
        </li>
        <div class="clear"></div>
      <% end %>
    <% end %>
  <% end %>
</ul>
