<div class="screen_title">
  VIEW COURSE
</div>
<div class="content_wrapper">
  <div class="menu_container">
    <ul>
      <li>
        <a href="javascript:void(0)" value="1" class="active">SUMMARY</a>
      </li>
      <li>
        <a href="javascript:void(0)" value="2" >PEOPLE</a>
      </li>
      <li>
        <a href="javascript:void(0)" value="3" >OUTCOMES</a>
      </li>
      <li>
        <a href="javascript:void(0)" value="4" >CATEGORIES</a>
      </li>
    </ul>
  </div>
  <div class="content_container">
    <form name="frm_task" id="frm_task" enctype="multipart/form-data">
      <div id="div_1" class="form_container">
        <div class="frm_label">
          Course
        </div>
        <div class="frm_input">
          <input type="text" name="course_name" id="course_name" class="large" value="<%=@course.name if @course%>" onBlur='javascript:setStorage("course_name", $(this).val())' />
        </div>
        <div class="frm_label">
          Description
        </div>
        <div class="frm_input">
          <textarea name="course_descr" id="course_descr" rows="10" onBlur='javascript:setStorage("course_descr", $(this).val())'><%=@course.descr if @course%></textarea>
        </div>
        <div class="frm_label">
          Code
        </div>
        <div class="frm_input">
          <input type="text" name="course_code" id="course_code" value="<%=@course.code if @course%>" class="small" onBlur='javascript:setStorage("course_code", $(this).val())' />
        </div>
        <% if @course %>
          <!-- Message -->
          <div id="msg_input" class="message_input hide">
            <label>Message</label> <br />
              <textarea id="msg_content" name="msg_content" cols="15" rows="6"></textarea> <br />
              <span>
                <input type="button" name="sbmt_msg" class="sbmt_msg" title="msg_content" id="<%=@course.id%>" rel="Course" value="Post" />
              </span>
              &nbsp;
              <span>
                <a href="javascript:void(0)" onclick="javascript:$('#msg_input').fadeOut()">Cancel</a>
              </span>
          </div>
          <div class="frm_label">
            <input type="button" name="post_msg" id="post_msg" value="Post Message" class="big_btn" onclick="javascript:$('#msg_input').fadeIn()"/>
          </div>
          <div class="frm_input">
            <div id="message_wrapper" class="message_wrapper">
              &nbsp;
              <% if @course.messages %>
                <% @course.messages.each do |message| %>
                  <%= render :partial => "messages", :locals => {:message=>message} %>
                <% end %>
              <% end %>
            </div>
          </div>
          <!-- Message ends -->
        <% end %>
      </div>
      <div id="div_2" class="form_container hide">
        <div class="frm_label small_label">
          Participants
        </div>
        <div class="frm_input">
          <% @people.each do |p| %>
          <div class="frm_input" id="people_div_<%=p.id%>">
            <input type="checkbox" name="chk_people[]"  id="<%=p.id%>" />
            <input type="text" name="people[]" value="<%= p.full_name %>" readonly="true" id="people_<%=p.id%>" class="medium" />
            <input type="hidden" name="people_id[]" value="<%= p.id %>" id="people_email_<%=p.id%>" class="medium" />
          </div>
          <% end %>
          <div class="frm_input" id="add_people_container" style="padding-left:22px;">
            <input type="text" name="add_people_email[]" value="Type in email to add" class="medium node" id="add_people_email_1"/>
          </div>
        </div>
      </div>
      <div id="div_3" class="form_container hide">
        <div class="frm_label small_label">
          Outcomes
        </div>
        <div class="frm_input">
          <% if @course %>
            <% @course.outcomes.each do |o| %>
              <div style="margin-top:5px;" id="outcome_div_<%=o.id%>">
                <input type="checkbox" name="chk_outcome[]"  id="<%=o.id%>" value="<%=o.id%>" />
                <input type="text" name="loaded_outcomes[]" value="<%= o.name %>" rel="<%=o.id%>" class="medium" /> &nbsp;&nbsp;
              </div>
            <% end %>
          <% end %>
          <div id="add_outcome_container" style="margin:10px 0 0 22px;">
            <input type="text" name="outcomes[]" id="outcomes_1" class="medium" /> &nbsp;&nbsp;
          </div>
        </div>
      </div>
      <div id="div_4" class="form_container hide">
        <div class="frm_label small_label">
          Categories
        </div>
        <div class="frm_input">
          <% if @course %>
            <% @course.categories.each do |c| %>
              <div style="margin-top:10px;" id="category_div_<%=c.id%>">
                <input type="checkbox" name="chk_categories[]"  id="<%=c.id%>" value="<%=c.id%>" />
                <input type="text" name="loaded_categories[]" value="<%= c.name %>" rel="<%=c.id%>" class="medium" /> &nbsp;&nbsp;
              </div>
            <% end %>
          <% end %>
          <div  id="add_category_container" style="margin:10px 0 0 22px;">
            <input type="text" name="categories[]" id="categories_1" class="medium" /> &nbsp;&nbsp;
          </div>
        </div>
      </div>
      <input type="hidden" name="course_id" id="course_id_hdn" value="<%=@course.id if @course%>" />
      <input type="hidden" name="school_id" id="course_school_id_hdn" value="<%= @profile.school_id %>" />
    </form>
  </div>
</div>
<div id="sidebar_right">
  <div id="crud_level">
    <input type="button" name="btn_course" id="btn_course" value="Save"/>
    <% if @course%>
      <input type="button" name="menu_btn_hide" id="menu_btn_hide" value="Hide"/>
      <input type="button" name="menu_btn_fav" id="menu_btn_fav" value="Fav"/>
      <input type="button" name="menu_btn_print" id="menu_btn_print" value="Print"/>
      <input type="button" name="btn_outcome_remove" id="btn_outcome_remove" class="hide" value="Remove"/>
      <input type="button" name="btn_category_remove" id="btn_category_remove" class="hide" value="Remove"/>
    <% end %>
    <input type="button" name="btn_people_remove" id="btn_people_remove" class="hide" value="Remove"/>
  </div><!-- crud_level -->
</div>
<script type="text/javascript">
<!-- 
jStorage.flush();
//For dynamic added nodes
var _counterPeople = 2;
var _counterOutcome = 2;
var _counterCategory = 2;

var _peopleObject = [];
var _addPeopleEmailObject = [];
var _outcomesObject = [];
var _categoriesObject = [];

//set outcomes to offline storage
$.each($('input[name="outcomes[]"], input[name="people_id[]"], input[name="categories[]"]'), function() {
  //alert($(this).attr('id') +"==="+ $(this).val()) 
  setStorage($(this).attr('id'), $(this).val());
});

//set storage on load while view of course
if($("#course_name").val()!="") {setStorage("course_name", $("#course_name").val());}
if($("#course_descr").val()!="") {setStorage("course_descr", $("#course_descr").val());}
if($("#course_code").val()!="") {setStorage("course_code", $("#course_code").val());}
  
//Set CSRF Token (Required for ajax request (post))
$(document).ajaxSend(function(e, xhr, options) {
  var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
});

$(document).ready(function(){
  //Toggle Tabs
  $(".menu_container a").unbind('click').bind('click', function(){
    idx = $(this).attr("value");
    $(".menu_container a").removeClass("active");
    $(this).addClass("active");
    for(i=0;i<5;i++){
      if(idx != i){
        $("#div_"+i).hide();
      }
    }
    if(idx == 2) {
      $("#btn_people_remove").fadeIn();
    } else {
     $("#btn_people_remove").hide();
    }
    
    if(idx == 3) {
      $("#btn_outcome_remove").fadeIn();
    } else {
      $("#btn_outcome_remove").fadeOut();
    }
    
    if(idx == 4) {
      $("#btn_category_remove").fadeIn();
    } else {
      $("#btn_category_remove").fadeOut();
    }
    
    $("#div_"+idx).fadeIn();
  });
  
  //Submit data
  $("#btn_course").unbind('click').bind('click', function(){
    //Get data from offline storage
    course_id = $("#course_id_hdn").val();
    course = getStorage("course_name");
    descr = getStorage("course_descr");
    code = getStorage("course_code");
    school_id = $("#course_school_id_hdn").val();
    
    //get people id from offline storage
    i = 0;
    $.each($('input[name="people_id[]"]'), function() {
      _peopleObject[i] = getStorage($(this).attr('id'));
      i++;
    });
    
    //get people email from offline storage
    j = 0;
    $.each($('input[name="add_people_email[]"]'), function() {
      _addPeopleEmailObject[j] = getStorage($(this).attr('id'));
      j++;
    });
    
    //get outcomes from offline storage
    k = 0;
    $.each($('input[name="outcomes[]"]'), function() {
      _outcomesObject[k] = getStorage($(this).attr('id'));
      k++;
    });
    
    //get outcomes from offline storage
    l = 0;
    $.each($('input[name="categories[]"]'), function() {
      _categoriesObject[l] = getStorage($(this).attr('id'));
      l++;
    });
    
    var dataString = 'id='+ course_id +'&course='+ course + '&descr=' + descr + '&code=' + code + '&school_id=' + school_id + '&people_id=' + _peopleObject + '&people_email=' + _addPeopleEmailObject + '&outcomes=' + _outcomesObject + '&categories=' + _categoriesObject;  
    //alert (dataString);return false;  
    $.ajax({  
      type: "POST",  
      url: "/course/save",  
      data: dataString,
      dataType:"json",
      success: function(data) {
        if (data) {
          //alert("Data Saved");
          $("#course_id_hdn").val(data.course.id);
          $("#container").load('/course/index');
        } else {
          alert("ERROR");
        }
      }
    });  
    return false;  
  });
  
  //For updating outcomes (in course view screen)
  $('input[name="loaded_outcomes[]"]').unbind('blur').bind('blur', function(){
    var outcome_id = $(this).attr('rel');
    var outcome = $(this).val();
    var dataString = 'outcome_id=' + outcome_id + '&outcome=' + outcome
    if(outcome_id) {
      //alert (dataString);return false;
      $.ajax({  
        type: "POST",  
        url: "/course/update_course_outcomes",  
        data: dataString,
        dataType:"json",
        success: function(data) {
          if (data) {
            // To Do
          } else {
            alert("ERROR");
          }
        }
      });  
      return false; 
    }
  });
  
  //For updating outcomes (in course view screen)
  $('input[name="loaded_categories[]"]').unbind('blur').bind('blur', function(){
    var category_id = $(this).attr('rel');
    var category = $(this).val();
    var dataString = 'category_id=' + category_id + '&category=' + category
    if(category_id) {
      //alert (dataString);return false;
      $.ajax({  
        type: "POST",  
        url: "/course/update_course_categories",  
        data: dataString,
        dataType:"json",
        success: function(data) {
          if (data) {
           // To Do
          } else {
            alert("ERROR");
          }
        }
      });  
      return false; 
    }
  });
  
  //For people node
  $("#add_people_container .node").unbind('focus').bind("focus", function(){
    pval = $(this).val();
    if(pval=="Type in email to add") {
      $(this).val("");
    }
  });
  
  $("#add_people_container .node").unbind('focusout').bind("focusout", function(){
    var current_node = _counterPeople - 1;
    var filter=/^.+@.+\..{2,3}$/
    var pval = $("#add_people_email_"+current_node).val();
    
    if(pval != "" && pval!="Type in email to add") {
      if(filter.test(pval)) {
        setStorage("add_people_email_"+current_node, pval);
        addNode('people');
      } else {
        alert("Please enter a valid email");
      }
    } else {
      $("#add_people_email_"+current_node).val("Type in email to add");
    }
  });
  
  //Remove people nodes
  $("#btn_people_remove").unbind('click').bind("click", function(){
    $("input[name='chk_people[]']").each(function(){
      if(this.checked) {
        div_id = $(this).attr('id');
        $("#people_div_"+div_id).remove();
      }
    });
  });
  
  //For outcomes node
  $("#add_outcome_container .medium").unbind('focusout').bind("focusout", function(){
    current_node = _counterOutcome - 1;
    val = $("#outcomes_"+current_node).val();
    if(val!="") {
      addNode('outcome');
      setStorage("outcomes_"+current_node, val);
    }
  });
  
  //Remove outcome nodes
  $("#btn_outcome_remove").unbind('click').bind("click", function(){
    
    var outcome_id = []
    i = 0
    $("input[name='chk_outcome[]']").each(function(){
      if(this.checked) {
        id = $(this).attr('id');
        outcome_id[i] = id;
        i++;
        $("#outcome_div_"+id).remove();
      }
    });
    
    var dataString = 'outcomes='+outcome_id;
    
    $.ajax({  
      type: "POST",  
      url: "/course/remove_course_outcomes",  
      data: dataString,
      dataType:"json",
      success: function(data) {
        
      }
    });  
  });
  
  //For categories node
  $("#add_category_container .medium").unbind('focusout').bind("focusout", function(){
    current_node = _counterCategory - 1;
    val = $("#categories_"+current_node).val();
    if(val!="") {
      addNode('category');
      setStorage("categories_"+current_node, val);
    }
  });
  
  //Remove category nodes
  $("#btn_category_remove").unbind('click').bind("click", function(){
    
    var category_id = []
    i = 0
    $("input[name='chk_categories[]']").each(function(){
      if(this.checked) {
        id = $(this).attr('id');
        category_id[i] = id;
        i++;
        $("#category_div_"+id).remove();
      }
    });
    
    var dataString = 'categories='+category_id;
    
    $.ajax({  
      type: "POST",  
      url: "/course/remove_course_categories",  
      data: dataString,
      dataType:"json",
      success: function(data) {
        
      }
    });  
  });
  
  //Post Message
  $(".sbmt_msg").unbind('click').bind("click", function() {
    parent_id = $(this).attr("id");
    parent_type = $(this).attr("rel");
    text = $(this).attr("title");
    message = $("#"+text).val();
    var dataString = {parent_id:parent_id, parent_type:parent_type, content: message};
    //alert(dataString.content);return false;
    $.ajax({  
      type: "POST",  
      url: "/course/post_message",  
      data: dataString,
      success: function(data) {
        if(parent_type=="Course") {
          $("#message_wrapper").append(data);
          $("#msg_input").fadeOut();
        } else if (parent_type=="Message") {
          $("#post_comment_"+parent_id).hide();
          $("#messsage_box_"+parent_id).append(data);
        }
      }
    });  
  });
  
});

//Adding text field nodes for peoples, outcomes, categories
function addNode(element) {
  if(element=="people") {
    var newNode = $(document.createElement('div')).attr("id", 'people_node_div' + _counterPeople);
    newNode.css("marginTop" , "20px");
    newNode.html('<input type="text" name="add_people_email[]" value="Type in email to add" class="medium node" id="add_people_email_' + _counterPeople + '" />');
    newNode.appendTo("#add_people_container");
    _counterPeople++;
  } else if(element=="outcome"){
    var newNode = $(document.createElement('div')).attr("id", 'outcome_node_div' + _counterOutcome);
    newNode.css("marginTop" , "20px");
    newNode.html('<input type="text" name="outcomes[]" id="outcomes_' + _counterOutcome + '" value="" class="medium"  />');
    newNode.appendTo("#add_outcome_container");
    _counterOutcome++;
  } else if(element=="category"){
    var newNode = $(document.createElement('div')).attr("id", 'category_node_div' + _counterCategory);
    newNode.css("marginTop" , "20px");
    newNode.html('<input type="text" name="categories[]" id="categories_' + _counterCategory + '" value="" class="medium"  />');
    newNode.appendTo("#add_category_container");
    _counterCategory++;
  }
}
-->
</script>