<div id="div_2" class="tab_content">
  <div class="group_left">
    <div class="group_profile_image" id="group_image">
      <img id="g_image" class="g_image" src="<%= @course.image_file %>" width="156" height="156" alt="Course image" />
      <img class="image_icon_drop_target" src="/images/course_img_drop.png" />
    </div>
		<div class="browse_link_div">
			<a href="javascript:void(0)" id="forum_browse_btn">CLICK HERE TO UPLOAD</a> 
		</div>
    <div class="clear"></div>
    
    
  </div>
  <div class="group_right" >
    <div class="group_detailbox">

      <div class="group_field_box group_input">
        <div class="group_viewfield field_label">NAME
          <div>
            <input type="text" name="forum_name" id="forum_name" class="group_name dd_select brown_bg" style="width:135%" value="<%=@course.name if @course%>" onBlur='javascript:setStorage("forum_name", $(this).val()); $("#hdn_is_page_change").val(true);' />
          </div>
        </div>
      </div>   
      <div class="group_field_box group_input">
         <div class="desc_width field_label">Description
          <div>
            <textarea name="forum_desc" id="forum_desc" style="width:100%;height:90px" class="group_descr" rows="4"  onBlur='javascript:deleteStorage("forum_desc");setStorage("forum_desc", $(this).val());$("#hdn_is_page_change").val(true);'><%=@course.descr if @course%></textarea>
          </div>
         </div>
       </div>  
          <div class="group_image_name">
            <% if @courseMaster %>
            <div class="avatar_white_bdr"><img  src="<%=@courseMaster.image_file_name %>" /></div>
            <div class="avatar_name"><%=@courseMaster.full_name%></div> 
            <% end %>
          </div>
         <div class="clear"></div>
        
         <div class="clear"></div>  
        <input type="hidden" name="new_course_id" id="new_course_id" value="<%=@course.id if @course%>">
      </div>
      <div class="clear"></div>
	  <div id="confirm_box" class="hide">
        <%= render :partial => "/course/forum_archive_box" %>
      </div>
	  <div class="page_block">
        <div class="page_block_left">
          </br></br>
          <span class="field_title">Privacy</span>
        </div>
        <div class="page_block_right" style="margin-top:5px;">
		  </br>
		  <span class="field_notes"><input type="checkbox" name ="forum_post_messages"  <%= @course && @course.post_messages ? "checked='checked'" : "" %> value="" id="forum_post_messages"/> All members can post messages (you can always post messages)</span>
        </div>
      </div>
    </div>
</div>
<div id="sidebar_right_forum">
  <div class="course_side_buttons">
      <a href="javascript:void(0)" name="save_forum_btn" id="save_forum_btn" class="big_orange_btn">Save</a>
	  <a href="javascript:void(0)" name="forum_btn_archive" id="forum_btn_archive" class="big_blue_btn">Remove</a>
  </div>
</div>

<script type="text/javascript">
		var forum_name,
			forum_descr;
		
    $(document).ready(function(){
			$('textarea#forum_desc').autosize();
			setStorage("forum_name",$("input[name='forum_name']").val());
			setStorage("forum_desc",$("textarea#forum_desc").val());
			get_forum_data();
		});
		//For image uploads
    var base_params = {
      'authenticity_token' : token,  //For csrf-authentication
      'school_id' : $("#course_school_id_hdn").val(),
      'id' : $("#new_course_id").val()
    }
    
    //Uploader task image upload
    var group_uploader = new plupload.Uploader({
      runtimes: 'html5,flash',
      drop_element: 'group_image',
			browse_button: 'forum_browse_btn',
      container: 'group_image',
      max_file_size: '5mb',
      resize : {width : 125, height : 125},
      url: '/course/save_forum',
			flash_swf_url : '/assets/fileupload/plupload.flash.swf',
      multipart_params: base_params,
      filters : [
        {title : "Image files", extensions : "jpg,gif,png,JPG,PNG,GIF,JPEG"}
      ]
    });
    
    group_uploader.init();
    
    group_uploader.bind('FilesAdded', function(up, files) {
      showSpinner(true);
			get_forum_data();
      group_uploader.settings.multipart_params.name = forum_name;
      group_uploader.settings.multipart_params.descr = forum_descr;
      group_uploader.settings.multipart_params.parent_type = "F";
      group_uploader.start();
    });
    
    group_uploader.bind('UploadProgress', function(up, file) {
      //$('#group_image').html('<center>Uploading..</center>');
      $(".image_icon_drop_target").fadeOut();
    });
    
    group_uploader.bind('FileUploaded', function(up, file, info) {
      var obj = jQuery.parseJSON( info.response);
      groupImg = $('<img width="156" height="156">').attr('src',obj.image_url);
      group_uploader.settings.multipart_params.id = obj.course.id;
      $(".g_image").attr('src',obj.image_url);
      $(".image_icon_drop_target").fadeIn();
      //$('#group_image').html(groupImg);
      //$("#group_image").append("<img class='image_icon_drop_target' src='/images/course_img_drop.png' />")
      showSpinner(false);
    });  
   $("#forum_btn_archive").click(function(){
     $("#confirm_box").show();
   });
    
   $("#save_forum_btn").click(function(){
      id = $("#new_course_id").val();
      parent_id = $("#course_id_hdn").val();
      get_forum_data();
			name = forum_name;
			descr = forum_descr;
			$("#hdn_forum_id").attr("value",id);
      var post_messages = document.getElementById('forum_post_messages');
      showSpinner(true);
			$.ajax({
				type: "POST",
				url: "/course/save_forum",
				data: {id:id,parent_id:parent_id,name:name,descr:descr,post_messages:post_messages.checked},
				dataType:"json",
				success: function(data) {
					$("#load_data").load("/course/show_forum/"+data.course.id, function(){
						showSpinner(false);
					});
				}   
      });
   }); 
	 
	 function get_forum_data() {
		forum_name = getStorage("forum_name");
		// This check is here to check if the setStorage has save a blank value for descr
		if(typeof getStorage("forum_desc") === 'undefined' || getStorage("forum_desc")==null){
			forum_descr = "";
		} else {
			forum_descr = getStorage("forum_desc");
		}
	 }
</script>