<div class="course_content">
  <div class="course_board_left">
    <div class="course_board_right">
      <div class="course_board_center">
        <div class="texture_board">
          <div class="course_pad_top"> </div>
          <div class="course_pad">

            <table class="blackboard_list">
              <tr>
                <th width="110">
                </th>
                <th>
                  Course
                </th>
                <th width="100">
                  Course Code
                </th>
              </tr>
              <% @courses.reverse.each do |c| %>
              <tr>
                <td>
                  <a href="/course/show/<%=c.id%>" class="view">
                    <img src='<%= c.image_file %>' width="100" height="100" alt="<%=c.name%>" />
                  </a>
                </td>
                <td>
                  <a href="/course/show/<%=c.id%>" class="view">
                    <%=c.name%>
                  </a>
                </td>
                <td>
                  <%=c.code%>-<%=c.section%>
                </td>
              </tr>
              <% end %>
            </table>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sidebar_right">
  <div class="course_side_buttons">
    <a class="big_blue_btn menu_btn" name="menu_btn_add" id="menu_btn_add" rel="/course/new"href="javascript:void(0)">ADD</a>
  </div><!-- crud_level -->
</div>

<script type="text/javascript">

$(document).ready(function(){
  
  setPageTitle("My Courses");
  
  //prepare show links
  $('a.view').click(function() {
    showSpinner(true);
    $("#container").load(this.href, function(){
      $("#menu_btn_dup").show();
      showSpinner(false);
    }); 
    return false; 
  });
  jStorage.flush();
});

</script>