<div class="course_content">
  <div class="course_board_left">
    <div class="course_board_right">
      <div class="course_board_center">
        <div class="texture_board">
          <div class="course_pad_top"> </div>
          <div class="course_pad">

            <table class="blackboard_list">
              <tr>
                <th width="110">
                </th>
                <% if defined?(section_type) %>
                <% if section_type == "C" %>
                <th>
                  Course 
                </th>
                <th width="100">
                  Course Code
                </th>
                <% end %>
                <% if section_type == "G" %>
                <th>
                  Name
                </th>
                <th width="100">
                  Description
                </th>
                <% end %>
                <input type="hidden" id="section_type" value="<%=section_type%>"/>
                <% end %>
              </tr>
              <% @courses.reverse.each do |c| %>
              <tr>
                <td>
                  <a href="/course/show/<%=c.id%>" class="view">
                    <img src='<%= c.image_file %>' width="100" height="100" alt="<%=c.name%>" />
                  </a>
                </td>
                <td>
                  <a href="/course/show/<%=c.id%>" class="view">
                    <%=c.name%>
                  </a>
                </td>
                <td>
                  <% if defined?(section_type) && section_type == "G"%>
                  <%=c.descr%>
                  <% else %>
                  <%=c.code%>-<%=c.section%>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>  

          <div class="clear end_of_page"></div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="sidebar_right">
  <div class="course_side_buttons">
    <a class="big_blue_btn menu_btn" <% if defined?(section_type) %> data="<%=section_type%>" <%end%> name="menu_btn_add" id="menu_btn_add" rel="/course/new"href="javascript:void(0)">ADD</a>
  </div><!-- crud_level -->
</div>

<script type="text/javascript">

$(document).ready(function(){
  
  section_type = $("#section_type").val();
  if (section_type == "G") {
    setPageTitle("My Groups");
  }
  else {
    setPageTitle("My Courses");
  }
  
  //prepare show links
  $('a.view').click(function() {
    showSpinner(true);
    section_type = $("#section_type").val();
    url = this.href+"?section_type="+section_type;
    $("#container").load(url, function(){
      $("#menu_btn_dup").show();
      showSpinner(false);
    }); 
    return false; 
  });
  jStorage.flush();
});

</script>