<div id="outcome_div_<%=outcomes.id%>" class="outcome_div outcome_data" id="category_div_<%= outcomes.id %>">
  <div class="outcomes_share_name">
    
    <input class="dd_input brown_bg" type="text" name="loaded_outcomes[]" value="<%= outcomes.name %>" rel="<%=outcomes.id%>" class="medium" />
    <%if outcomes.shared==true%><div><span class="share_with" >Shared Departmental Outcome</span></div>  <%end%>
  </div>  
  <div class="outcome_textarea">
    <textarea class="dd_input brown_bg autoresize" name="loaded_outcomes_descr[]" class="small dd_input brown_bg" style="width:260px; height:41px;" rel="<%=outcomes.id%>"><%= outcomes.descr %> </textarea>
  </div>
  <div id="on_hover" class="on_hover msg_bottom_linksC2" style="display:none;">
    <div class="like_cmt"> 
      <div style="display:block; padding-bottom:3px;"><a href="javascript:void(0);" class="outcome_del files_del blue_bt19px" rel="<%= outcomes.id %>">REMOVE</a></div>
      <%if outcomes.shared==false%>
         <a href="javascript:void(0);" class="blue_bt19px2 outcomes_share_btn" rel="<%= outcomes.id %>">Mark as</br> Shared</a>
      <%else%>  
      
      <%end%>
    </div>
  </div>
</div>

