<div id="outcome_div_<%=outcomes.id%>" class="outcome_div outcome_data" id="category_div_<%= outcomes.id %>">
  <div class="outcomes_share_name">
    <input class="dd_select brown_bg" type="checkbox" name="loaded_share[]" <%= 'disabled=true checked=true' if outcomes.shared %> /> 
    <input class="dd_input brown_bg" type="text" name="loaded_outcomes[]" value="<%= outcomes.name %>" rel="<%=outcomes.id%>" class="medium" />
  </div>  
  <div class="outcome_textarea">
    <textarea class="dd_input brown_bg autoresize" class="small dd_input brown_bg" style="width:260px; height:41px;"><%= outcomes.descr %></textarea>
  </div>
  <div id="on_hover" class="on_hover msg_bottom_linksC2" style="display:none;">
    <div class="like_cmt"> 
      <a href="#" class="blue_bt19px">More</a> 
      <a href="#" class="outcome_del files_del blue_bt19px" rel="<%= outcomes.id %>">DEL</a>
    </div>
  </div>
</div>

