<ul class="people_node">
<% if !peoples.empty? %>
  <% if mode == "list" %>
    <% peoples.each do |p| %>
      <li class="<%= cycle("even", "odd") %>" id="<%=p.id%>">
        <div class="avatar_white_bdrC2">
          <img src='<%=p.image_file_name%>'>
        </div>
        <div class="people_name"><%=p.full_name%></div>
        <% if @course_check = is_course_request_pending(@course.id, p.id) %>
           <% if @course_check.profile_type == "M" %>
             <div class="people_name">Master</div>
           <% else if @course_check.profile_type == "P" %> 
             <div class="people_name">Pending</div>
           <%end%>
           <%end%>
        <%end%>   
        <div class="people_delete">
          <a href="javascript:void(0)" rel="<%=p.id%>" >Delete</a>
        </div>
        <div class="clear"></div>
      </li>
      <div class="clear"></div>
    <% end %>
  <% end %>
<% end %>
</ul>
