<div id="div_2" class="tab_content">
  <div class="course_left">
    <div class="course_profile_image" id="course_image">
      <img id="course_thumb" src='<%= @course.image_file %>' width="156" height="156" alt="Course image" />
      <img id="course_image_drop" class="image_icon_drop_target" src="/images/course_img_drop.png" />
    </div>
  </div>
  <div class="course_right" >
    <div class="course_detailbox">

    <div class="course_field_box1">

        <div class="catagory_viewfield field_label">COURSE CODE
          <div class="dd_bg brown_bg">
           <input type="text" name="course_code" id="course_code" value="<%=@course.code if @course%>" class="dd_input brown_bg prompted" style="text-transform:uppercase;" prompt="course_code_prompt" style="width:100px;" onBlur='javascript:setStorage("course_code", $(this).val());$("#hdn_is_page_change").val(true);' />
           -
           <input type="text" name="course_section" id="course_section" value="<%=@course.section if @course%>" class="small dd_input brown_bg prompted" prompt="course_section_prompt" style="width:50px;" onBlur='javascript:setStorage("course_section", $(this).val());$("#hdn_is_page_change").val(true);' />
          </div>
        </div>

        <div class="course_viewfield field_label">COURSE NAME
          <div class="dd_bg brown_bg">
            <input type="text" name="course_name" id="course_name" class="dd_select brown_bg" value="<%=@course.name if @course%>" onBlur='javascript:setStorage("course_name", $(this).val()); $("#hdn_is_page_change").val(true);' />
          </div>
        </div>

        <div id="course_code_prompt" class="field_prompt break gap">
          Enter a course code, such as ENG101
        </div>
        <div id="course_section_prompt" class="field_prompt break gap">
          Enter an optional course section, such as 001
        </div>

      </div>
      <div class="clear"></div>
      
    </div>
</div>
<div class="clear"></div>

<!-- Task totals -->
<div class="page_block">
  <div class="page_block_left">
    <span class="field_title">Estimated Task Totals</span>
    <span class="field_notes">
      Based on the number and rating of tasks, each will be given a default XP value.
    </span>
  </div>

  <div class="page_block_right">
    <div class="field_label">Low<br /><input type="text" name="task_low" id="task_low" class="small dd_input brown_bg prompted" prompt="course_tasks_prompt" style="width:60px;" value="<%=@course.tasks_low if @course%>" onBlur='javascript:setStorage("task_low", $(this).val());$("#hdn_is_page_change").val(true);' /></div>
    <div class="field_label">Medium<br /><input type="text" name="task_medium" id="task_medium" class="small dd_input brown_bg prompted" prompt="course_tasks_prompt" style="width:60px;" value="<%=@course.tasks_medium if @course%>" onBlur='javascript:setStorage("task_medium", $(this).val());$("#hdn_is_page_change").val(true);' /></div>
    <div class="field_label">High<br /><input type="text" name="task_high" value="<%=@course.tasks_high if @course%>" id="task_high" class="small dd_input brown_bg prompted" prompt="course_tasks_prompt" style="width:60px;" onBlur='javascript:setStorage("task_high", $(this).val());$("#hdn_is_page_change").val(true);' /></div>
    
    <div id="course_tasks_prompt" class="field_prompt">
      Provide your best guess on how many Low, Medium and High rated tasks you will have for the course
    </div>
    
  </div>
</div> <!-- End page_block -->

<!-- Outcomes -->
  <div class="page_block">
    <div class="page_block_left">
      <span class="field_title">Outcomes</span>
      <span class="field_notes">
        Please consider adding your own outcomes. The locked outcomes are shared and cannot be changed.
      </span>
    </div>
  
    <div class="page_block_right">
      <div class="add_outcome_bt course_setup_button">
        <a class="blue_bt19px" onclick="addOutcome();">ADD OUTCOME</a> 
      </div>
      
      <div id="load_outcomes">
        <% if @course %>
          <%  @course.outcomes.each do |outcomes| %>
            <%= render :partial => "/course/outcomes_list", :locals => {:outcomes=>outcomes} %>
           <% end %>
        <% end %>
      </div>
      <div>
        <div id="add_outcome_container">
          <!-- New outcomes will be added here -->
        </div> 
      </div>
    </div>
  </div> <!-- End page_block -->

<!-- Grading Categories -->
  <div class="page_block">
    <div class="page_block_left">
      <span class="field_title">Grading Categories</span>
      <span class="field_notes">
        Please add a new grading category and the percentage of the final grade.
      </span>
    </div>
  
    <div class="page_block_right">
      <div class="add_outcome_bt course_setup_button">
        <a class="blue_bt19px" onclick="addCategory();">ADD CATEGORY</a> 
      </div>
      <% if @course %>
        <% @course.categories.each do |c| %>
        <%= render :partial => "/course/category_list", :locals => {:c=>c} %>
        <% end %>
      <% end %>
      <div id="add_category_container">
        <!-- New categories added here -->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    // Disable the tabs until the user has entered a name
    if ("<%=h @course.code %>" == "") {
      $("#menu1").hide();
      $("#menu3").hide();
      $("#menu4").hide();
    }
    
    //Uploader course image upload
    var course_uploader = new plupload.Uploader({
      runtimes: 'html5',
      drop_element: 'course_image',
      container: 'course_image',
      max_file_size: '5mb',
      resize : {width : 125, height : 125},
      url: '/course/save',
      multipart_params: {
        'authenticity_token' : token,  //For csrf-authentication
        'school_id' : $("#course_school_id_hdn").val(),
        'id' : $("#course_id_hdn").val()
      },
      filters : [
        {title : "Image files", extensions : "jpg,gif,png,JPG,PNG,GIF,JPEG"}
      ]
    });
    
    course_uploader.init();
    
    course_uploader.bind('FilesAdded', function(up, files) {
      showSpinner(true);
      course_uploader.settings.multipart_params.course = getStorage("course_name");
      course_uploader.settings.multipart_params.code = getStorage("course_code");
      course_uploader.settings.multipart_params.section = getStorage("course_section");
      course_uploader.settings.multipart_params.descr = getStorage("course_descr");
      course_uploader.start();
    });
    
    course_uploader.bind('UploadProgress', function(up, file) {
      $('#course_image_drop').html('<center>Uploading..</center>');
    });
    
    course_uploader.bind('FileUploaded', function(up, file, info) {
      var obj = jQuery.parseJSON( info.response);
      courseImg = $('<img width="156" height="156">').attr('src',obj.image_url);
      course_uploader.settings.multipart_params.id = obj.course.id;
      $('#course_id_hdn').val(obj.course.id);
      $('#course_image').html(courseImg);
      showSpinner(false);
    });
    
    //For outcomes hover div
    $(".outcome_div").hover(
      function () {
        id = $(this).attr("id");
        $("#"+id+" #on_hover").show();
      }, 
      function () {
        id = $(this).attr("id");
        $("#"+id+" #on_hover").hide();
      }
    );

    $("#course_code").blur(function(){
      var code = $(this).val();
      if(code)
      {
        dataString = {code:code};
        showSpinner(true);
         $.ajax({  
              type: "POST",  
              url: "/course/check_outcomes",  
              data: dataString,
              success: function(data) {
                 $("#load_outcomes").html(data);
                 showSpinner(false);
              },
              error: function()
              {
                 alert("An Error has occured");
                 showSpinner(false);
              },
         });
      }  

      $("#menu1").fadeIn();
      $("#menu3").fadeIn();
      $("#menu4").fadeIn();
      
    });    
  });

  // Field instructions
  $(".prompted").focus(function() {
    prompt = $(this).attr("prompt");
    $("#"+prompt).show();
  });
  $(".prompted").blur(function() {
    prompt = $(this).attr("prompt");
    $("#"+prompt).hide();
  });

  //Add an outcome
  function addOutcome() {
     addNode('outcome');
     $("#hdn_is_page_change").val(true);
  }

  //Add a category
  function addCategory() {
    addNode('category');
    $("#hdn_is_page_change").val(true);
  }
  
  //Adding text field nodes for peoples, outcomes, categories
  function addNode(element) {
    if(element=="people") {
      var newNode = $(document.createElement('div')).attr("id", 'people_node_div' + _counterPeople);
      newNode.css("marginTop" , "20px");
      newNode.html('<input type="text" name="add_people_email[]" value="Type in email to add" class="medium node" id="add_people_email_' + _counterPeople + '" />');
      newNode.appendTo("#add_people_container");
      _counterPeople++;
    } else if(element=="outcome"){
      var newNode = $(document.createElement('div')).attr("id", 'outcome_node_div' + _counterOutcome);
      newNode.html('<div style="margin-top:5px; height:48px; width:500px;" class="outcome_div"><div style="float:left; height:45px;" > <input type="checkbox" id="outcomes_'+_counterOutcome+'" class="dd_select brown_bg" name="outcomes_share[]" /> <input type="text" name="outcomes[]" id="outcomes_' + _counterOutcome + '" value="" class="dd_select brown_bg medium" placeholder="Enter name" /></div><div style="float:left; margin-left:10px;height:68px;"><textarea class="small dd_input brown_bg" style="width:260px; height:41px;" name="outcomes_descr[]" id="outcomes_descr_' + _counterOutcome + '" placeholder="Enter description" "></textarea></div></div>');
      newNode.appendTo("#add_outcome_container");
      _counterOutcome++;
    } else if(element=="category"){
      var newNode = $(document.createElement('div')).attr("id", 'category_node_div' + _counterCategory);
      $('#add_category_container div').css("height","30px");
      newNode.html('<input type="text" name="categories[]" id="categories_' + _counterCategory + '" value="" class="dd_select brown_bg medium" placeholder="Enter name" />&nbsp;&nbsp;&nbsp;<input type="text" id="loaded_category_values_'+_counterCategory+'" name="loaded_category_values[]" value="" class="dd_select brown_bg medium" placeholder="Enter percent" />%');
      newNode.appendTo("#add_category_container");
      _counterCategory++;
    }
  }  
</script>
