<div id="div_2" class="tab_content form_contents">
  <div class="course_left" >
		<div class="course_profile_image" id="course_image">
      <img id="c_iamge" class="c_iamge" src="<%= @course.image_file %>" width="156" height="156" alt="Course image" />
      <img class="image_icon_drop_target" src="/images/course_img_drop.png" />
			<div class="browse_link_div">
				<a href="javascript:void(0)" id="course_browse_btn">CLICK HERE TO UPLOAD</a> 
			</div>
    </div>
	</div>
	
  <div class="course_right" >
    <div class="course_detailbox">

    <div class="course_field_box1">

        <div class="catagory_viewfield field_label">COURSE CODE
          <div class="dd_bg brown_bg">
           <input type="text" name="course_code" id="course_code" value="<%=@course.code if @course%>" class="dd_input brown_bg prompted" style="text-transform:uppercase; width:100px;" prompt="course_code_prompt" onBlur='javascript:setStorage("course_code", $(this).val());$("#hdn_is_page_change").val(true);' />
           -
           <input type="text" name="course_section" id="course_section" value="<%=@course.section if @course%>" class="small dd_input brown_bg prompted" prompt="course_section_prompt" style="width:50px;" onBlur='javascript:setStorage("course_section", $(this).val());$("#hdn_is_page_change").val(true);' />
          </div>
        </div>

        <div class="course_viewfield field_label">COURSE NAME
          <div class="dd_bg brown_bg">
            <input type="text" name="course_name" id="course_name" class="dd_select brown_bg" value="<%=@course.name if @course%>" onBlur='javascript:setStorage("course_name", $(this).val()); $("#hdn_is_page_change").val(true);' />
          </div>
        </div>

        <div id="course_code_prompt" class="field_prompt break gap hide">
          Enter a course code, such as ENG101
        </div>
        <div id="course_section_prompt" class="field_prompt break gap hide">
          Enter an optional course section, such as 001
        </div>

      </div>
      <div class="clear"></div>
      
    </div>
</div>
<div class="clear"></div>

<!-- Outcomes -->
  <div class="page_block">
    <div class="page_block_left">
      <span class="field_title">Outcomes</span>
      <span class="field_notes">
         Click the Add Outcome button to add learning outcomes to your course. Later you can assign these to your tasks.
      </span>
      </br>
      <div class="add_outcome_bt "><!--course_setup_button-->
        <a class="blue_bt19px" onclick="addOutcome();">ADD OUTCOME</a> 
      </div>
    </div>
  
    <div class="page_block_right">
      
      
      <div id="load_outcomes">
        <% if @course %>
          <%  @course.outcomes.each do |outcomes| %>
            <%= render :partial => "/course/outcomes_list", :locals => {:outcomes=>outcomes} %>
           <% end %>
        <% end %>
      </div>
      <div>
        <div id="add_outcome_container">
          <!-- New outcomes will be added here -->
        </div> 
      </div>
    </div>
  </div> <!-- End page_block -->

<!-- Grading Categories -->
  <div class="page_block">
    <div class="page_block_left">
      <span class="field_title">Grading Categories</span>
      <span class="field_notes">       
        Click the "Add Category" button to set up your syllabus grading categories in your Grade Book. You can modify these later.
      </span>
      </br>
      <div class="add_outcome_bt "><!--course_setup_button-->
        <a class="blue_bt19px" onclick="addCategory();">ADD CATEGORY</a> 
      </div>
    </div>
  
    <div class="page_block_right">
      
      <% if @course %>
        <% @course.categories.each do |c| %>
        <%= render :partial => "/course/category_list", :locals => {:c=>c} %>
        <% end %>
      <% end %>
      <div id="add_category_container">
        <!-- New categories added here -->
      </div>
    </div>
  </div>
  
  <!-- Disabled for v1 -->
  <div class="group_privacy" style="display:none;">Privacy
    <div class="privacy_setting">
    <input type="radio" name="joinning_group[]" checked="true" value="I"/><span>Anyone can join
    </span></div> 
    <div class="privacy_setting">
    <input type="radio" name="joinning_group[]" <% if @course.join_type == "R" %> checked="true" <% end %> value="R"/><span>Only invited people can join</span>
    </div> 
    <br/>
    <div class="privacy_setting">
    <input type="radio" name="viewing_group[]" checked="true" value="A"/><span>Anyone can see group content</span>
    </div> 
    <div class="privacy_setting">
    <input type="radio" name="viewing_group[]" <% if @course.visibility_type == "M" %> checked="true" <% end %> value="M"/><span>Only members can see group contents</span>
    </div> 
 </div>
 <div id="confirm_box" class="hide">
   <%= render :partial => "/course/confirm_box" %>
 </div>
 <div id="outcome_share_box" class="hide">
   <%= render :partial => "/course/shared_outcome" %>
 </div>
 <div class="page_block">
  <div class="page_block_left">
    <span class="field_title">Privacy</span>
  </div>
  <div class="page_block_right" style="margin-top:5px;">
		<span class="field_notes">
			<input type="checkbox" name ="post_messages"  <%= @course && @course.post_messages ? "checked='checked'" : "" %> value="" id="post_messages"/> Members can post messages (you can always post messages)
		</span>
		&nbsp;
		<span class="field_notes">
			<input type="checkbox" name ="show_grade"  <%= @course && @course.show_grade ? "checked='checked'" : "" %> value="" id="show_grade"/> Members can see task grades
		</span>
  </div>
	
</div>
<div class="spacebar30px"></div>
  <input type="hidden" value="" id="outcome_index">
</div>

<script type="text/javascript">
$(document).ready(function(){
  $(".form_contents").delegate("input","change",function(){
    changed=true;
  });
  $(".form_contents").delegate("textarea","change",function(){
    changed=true;
  });
});
  $("#course_code").mask("aaa999", {placeholder:" "});
  var _shared = -1;
  var _share_outcomes = false;
  // For setup Page 
  /* $("#btn_member").click(function(data){
   showSpinner(true);
   course_id = $("#course_id_hdn").val();   
   $.ajax({  
        type: "GET",  
        url: "/course/view_member",  
        data:{id:course_id},
        success: function(data) {
		      $("#load_data").html(data);
			    showSpinner(false);
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        },
      }); 
    });*/
  $(function(){
    // Disable the tabs until the user has entered a name
    if ("<%=h @course.code %>" == "") {
      $("#menu1").hide();
      $("#menu3").hide();
      $("#menu4").hide();
    }
    
    //Uploader course image upload
    var course_uploader = new plupload.Uploader({
      runtimes: 'html5,flash',
      drop_element: 'course_image',
			browse_button: 'course_browse_btn',
      container: 'course_image',
      max_file_size: '5mb',
      resize : {width : 125, height : 125},
      url: '/course/save',
			flash_swf_url : '/assets/fileupload/plupload.flash.swf',
			multipart_params: {
        'authenticity_token' : token,  //For csrf-authentication
        'school_id' : $("#course_school_id_hdn").val(),
        'id' : $("#course_id_hdn").val()
      },
      filters : [
        {title : "Image files", extensions : "jpg,gif,png,JPG,PNG,GIF,JPEG"}
      ]
    });
    
		course_uploader.init();
		
    course_uploader.bind('FilesAdded', function(up, files) {
      showSpinner(true);
      course_uploader.settings.multipart_params.course = getStorage("course_name");
      course_uploader.settings.multipart_params.code = getStorage("course_code");
      course_uploader.settings.multipart_params.section = getStorage("course_section");
      course_uploader.settings.multipart_params.descr = getStorage("course_descr");
      course_uploader.settings.multipart_params.parent_type = "C";
      course_uploader.start();
    });
    
    course_uploader.bind('UploadProgress', function(up, file) {
      //$('#course_image_drop').html('<center>Uploading..</center>');
      $(".image_icon_drop_target").fadeOut();
    });
    
    course_uploader.bind('FileUploaded', function(up, file, info) {
      var obj = jQuery.parseJSON( info.response);
      courseImg = $('<img width="156" height="156">').attr('src',obj.image_url);
      course_uploader.settings.multipart_params.id = obj.course.id;
      $('#course_id_hdn').val(obj.course.id);
      $('.c_iamge').attr('src',obj.image_url);
      $(".image_icon_drop_target").fadeIn();
      //$('#course_image').html(courseImg);
      //$("#course_image").append("<img class='image_icon_drop_target' src='/images/course_img_drop.png' />")
      showSpinner(false);
       changed=true;
    });
    
    //For outcomes hover div
    $(".outcome_div").hover(
      function () {
        id = $(this).attr("id");
        $("#"+id+" #on_hover").show();
      }, 
      function () {
        id = $(this).attr("id");
        $("#"+id+" #on_hover").hide();
      }
    );
    
     //For category hover div
    $(".category_div").hover(
      function () {
        id = $(this).attr("id");
        $("#"+id+" #on_category").show();
      }, 
      function () {
        id = $(this).attr("id");
        $("#"+id+" #on_category").hide();
      }
    );
    
    
    //Remove category nodes
  $(".category_del").click(function(){
    showSpinner(true);
    category_id = $(this).attr('rel');
    $("#category_div_"+category_id).remove();
    var dataString = 'categories='+category_id;
    $.ajax({  
      type: "POST",  
      url: "/course/remove_course_categories",  
      data: dataString,
      dataType:"json",
      success: function(data) {
        showSpinner(false);
        changed=true;
      }
    });  
  });
    //Remove outcome nodes
  $(".outcome_del").click(function(){
    showSpinner(true);
    outcome_id = $(this).attr('rel');
    $("#outcome_div_"+outcome_id).remove();
    var dataString = 'outcomes='+outcome_id;
    $.ajax({  
       type: "POST",  
       url: "/course/remove_course_outcomes",  
       data: dataString,
       dataType:"json",
       success: function(data) {
         showSpinner(false);
         changed=true;
       }
    });
  });

  //For updating outcomes (in course view screen) 
  $('textarea[name="loaded_outcomes_descr[]"]').unbind('blur').bind('blur', function(){
    var outcome_id = $(this).attr('rel');
    var outcome = $(this).val();
    var dataString = 'outcome_id=' + outcome_id + '&outcome_descr=' + outcome;
    update_outcomes(dataString,outcome_id)
  });
  
   function update_outcomes(dataString,outcome_id){
     if(outcome_id) {
      showSpinner(true);
      $.ajax({
        type: "POST",
        url: "/course/update_course_outcomes",
        data: dataString,
        error: function(){alert("Error");showSpinner(false);},
        success: function(data) {
          if (data) {
            // TO DO
          } else {
            alert("ERROR");
          }
          showSpinner(false);
        }
      });
      return false;
    }
   }
   
  $('input[name="loaded_outcomes[]"]').unbind('blur').bind('blur', function(){
    var outcome_id = $(this).attr('rel');
    var outcome = $(this).val();
    var dataString = 'outcome_id=' + outcome_id + '&outcome=' + outcome;
    update_outcomes(dataString,outcome_id)
  });

  //For updating categories (in course view screen)
  $('input[name="loaded_categories[]"]').unbind('blur').bind('blur', function(){
    var category_id = $(this).attr('rel');
    var category = $(this).val();
    var dataString = 'category_id=' + category_id + '&category=' + category
    update_categries(dataString,category_id)
    
  });
  function update_categries(dataString,category_id){
    if(category_id) {
      showSpinner(true);
      $.ajax({
        type: "POST",
        url: "/course/update_course_categories",
        data: dataString,
        success: function(data) {
          if (data) {
             changed=true;
          } else {
            alert("ERROR");
          }
          showSpinner(false);
        }
      });
      return false;
    }
  
  }
  
   $('input[name="loaded_category_val[]"]').unbind('blur').bind('blur', function(){
    var category_id = $(this).attr('rel');
    var category = $(this).val();
    var dataString = 'category_id=' + category_id + '&category_value=' + category
      update_categries(dataString,category_id)
  });
  
  //check outcome as share
  $('#load_outcomes').delegate('input[name="loaded_share[]"]', 'change', function(){
    //check_val = $(this).is(':checked');
    outcome_id = $(this).attr('rel');
    course_id = $("#course_id_hdn").val();
      showSpinner(true);
      $.ajax({
         type:"POST",
         dataType: "json",
         url:"/course/share_outcome",
         data:{outcome_id:outcome_id,course_id:course_id},
         success:function(data){
           changed=true;
           showSpinner(false);
         }
      });
  });
  
   $('#add_outcome_container').delegate('.outcomes_share_btn', 'click', function(){
      $("#outcome_share_box").show();
      index = $(this).attr("rel");
      $("#outcome_index").attr("value",index);
   });
   
   $('#load_outcomes').delegate('.outcomes_share_btn', 'click', function(){ 
      $("#outcome_share_box").show();
      outcome_id = $(this).attr("rel");
      $("#outcome_index").attr("value",outcome_id);
      _share_outcomes = true;
   });
  
  
    $("#course_code").blur(function(){
      var code = $(this).val();
      if(code)
      {
        dataString = {code:code};
        showSpinner(true);
         $.ajax({  
              type: "POST",  
              url: "/course/check_outcomes",  
              data: dataString,
              success: function(data) {
                 $("#load_outcomes").html(data);
                 showSpinner(false);
                  changed=true;
              },
              error: function()
              {
                 alert("An Error has occured");
                 showSpinner(false);
              },
         });
      }  

      $("#menu1").fadeIn();
      $("#menu3").fadeIn();
      $("#menu4").fadeIn();
      
    });    
 });
  $("#btn_archive").click(function(){
    $("#confirm_box").show();
  });
  // Field instructions
  $(".prompted").focus(function() {
    prompt = $(this).attr("prompt");
    $("#"+prompt).show();
  });
  $(".prompted").blur(function() {
    prompt = $(this).attr("prompt");
    $("#"+prompt).hide();
  });

  //Add an outcome
  function addOutcome() {
     _shared++;
     addNode('outcome');
     $("#hdn_is_page_change").val(true);
     changed=true;
    _outcomes_shareObject[_shared] = false;
  }

  //Add a category
  function addCategory() {
    addNode('category');
    $("#hdn_is_page_change").val(true);
    changed=true;
  }
  
  //Adding text field nodes for peoples, outcomes, categories
  function addNode(element) {
     changed=true;
    if(element=="people") {
      var newNode = $(document.createElement('div')).attr("id", 'people_node_div' + _counterPeople);
      newNode.css("marginTop" , "20px");
      newNode.html('<input type="text" name="add_people_email[]" value="Type in email to add" class="medium node" id="add_people_email_' + _counterPeople + '" />');
      newNode.appendTo("#add_people_container");
      _counterPeople++;
    } else if(element=="outcome"){
      var newNode = $(document.createElement('div')).attr("id", 'outcome_node_div' + _counterOutcome);
      newNode.html('<div style="margin-top:5px; height:48px; width:560px;" class="outcome_div"><div style="float:left; height:45px; margin-right: 20px;" > <input type="text" name="outcomes[]" id="outcomes_' + _counterOutcome + '" value="" class="brown_bg medium" placeholder="Enter name" />  </div><div style="float:left;height:68px;margin-right:20px"><textarea class="small dd_input brown_bg" style="width:260px; height:41px;" name="outcomes_descr[]" id="outcomes_descr_' + _counterOutcome + '" placeholder="Enter description" "></textarea></div> <div style=" margin-top: 20px;"><a href="javascript:void(0);" class="blue_bt19px outcomes_share_btn" id="outcomes_share_' + _shared + '" rel='+ _shared + '>Mark as Shared </a></div></div>');
      newNode.appendTo("#add_outcome_container");
      _counterOutcome++;
    } else if(element=="category"){
      var newNode = $(document.createElement('div')).attr("id", 'category_node_div' + _counterCategory);
      $('#add_category_container div').css("height","35px");
      $('#add_category_container').css("margin-top","12px");
      newNode.html('<input type="text" name="categories[]" id="categories_' + _counterCategory + '" value="" class="dd_select brown_bg medium" placeholder="Enter name" />&nbsp;&nbsp;&nbsp;<input type="text" id="loaded_category_values_'+_counterCategory+'" name="loaded_category_values[]" value="" class="percent_width dd_select brown_bg medium" placeholder="percent" />%');
      newNode.appendTo("#add_category_container");
      _counterCategory++;
    }
  }  
</script>
