<%= hidden_field_tag :action_name, action_name %>
<%= hidden_field_tag :controller_name, controller_name %>
<div id="div_1" class="form_container1">
  <div class="course_left">
    <div class="course_profile_image" id="course_image">
      <img id="course_thumb" src='<%= @course.image_file %>' width="156" height="156" alt="Course image" />
    </div>
  </div>
  <div class="course_right" >
    <% if @courseMaster %>
        <% if @courseMaster.id == user_session[:profile_id] %>
            <div class="clickable" id="setup_icon" value="2" style="position:absolute; right:250px;">
            <a href="javascript:void(0)" id="menu2"  value="2" >
              <img src="/images/setting_icon_gray.png">
             </a>
             </div>
        <% end %>
    <% end %>
    <!--list box-->
    <div class="course_detailbox">
      <div class="course_field_box1">
          <div class="catagory_viewfield field_label" style="margin-right: 5px;">COURSE CODE
            <div class="dd_bg brown_bg">
				<input type="text" name="course_code_name" id="course_code_name" value="<%=@course.code.slice(/[a-zA-Z\s]+/).to_s if @course && @course.code%>" placeholder="ENG" maxlength="8" class="dd_input brown_bg prompted" style="text-transform:uppercase; width:70px;" prompt="course_code_name_prompt" disabled=true />
           	</div>
          </div>
          <div class="catagory_viewfield field_label" style="margin-right: 5px;"> &nbsp;
           	<div class="dd_bg brown_bg">
           		<input type="text" name="course_code_num" id="course_code_num" value="<%=@course.code.slice(/[0-9]+/).to_s if @course && @course.code%>" placeholder="101" maxlength="6" class="dd_input brown_bg prompted" style="text-transform:uppercase; width:45px;" prompt="course_code_num_prompt" disabled=true />
          </div>
           	</div>
          <div class="catagory_viewfield field_label" style="margin-right: 10px;"> &nbsp;
           	<div class="dd_bg brown_bg">
           		<input type="text" name="course_section" id="course_section" <%if @course %> value="<%=@course.section%>" readonly="readonly" <%end%> class="small dd_input brown_bg" style="width:30px;" disabled=true />
          	</div>
          </div>
          
          <div class="course_viewfield field_label" id="course_name_show">COURSE NAME
            <div class="dd_bg brown_bg">
              <input type="text" name="course_name" id="course_name" <%if @course %> value="<%=@course.name if @course%>" readonly="readonly" <%end%> class="dd_select brown_bg" style="width: 80%;" />
            </div>
          </div>
          
          <div class="clear"></div>
          <div class="spacebar10px"></div>
          <div class="course_activity_list">
          
          
            <div class="CAL_01"><span class="field_label"> <% if @totaltask %>You have <% total_task = @totaltask.count %><%=total_task%><% else %><% end %> ACTIVE TASKS</span> <a href="#" id="btn_task" class="green_bt19px">VIEW TASKS</a></div>
             
            <% if @courseMaster %>
              <% if (@courseMaster.id != user_session[:profile_id]) %>
              <div class="CAL_01"> <span class="field_label">You have <%if !@course_xp.nil?%><%=@course_xp%><%else%>0<%end%> XP and <%if @badges && !@badges.nil?%><%=@badges%><%else%>0<%end%> BADGES</span> 
              <a href="javascript:void(0)" id="btn_xp_badges"  class="green_bt19px" >VIEW STATS</a></div>
              <% end %>
            <% end %>

            <div class="menu_container1">
            <div class="CAL_01"><span class="field_label">Your course has <%=@member_count%> members <% "(#{@pending_count} PENDING)" if @pending_count > 0 %></span> 
            <a href="javascript:void(0)" id="btn_member"  class="green_bt19px">VIEW MEMBERS</a></div>
            </div>

            </div>
          </div>
          <div class="course_teacher_name">
           <% if @courseMaster %>
            <div class="avatar_white_bdr"><img src="<%=@courseMaster.image_file_name%>" profile_id="<%= @courseMaster.id %>" class="profile" /></div>
            <div class="avatar_name"><%=@courseMaster.full_name%></div>
            <% end %>
          </div>
       <div class="clear"></div>
      </div>
    </div>
    <!--list box-->
  </div>
    <input type="hidden" name="course_master_id" id="course_master_id" value="<%= @courseMaster.id if @courseMaster && !@courseMaster.nil? %>" />
  <div class="clear"></div>
  <% if @course %>
  <!-- Message -->

    <div class="frm_input2">
      <% if @course.post_messages or @courseMaster.id == user_session[:profile_id]%>
        <div style="margin-left: 90px; text-align:right;">
          <textarea id="msg_content" name="msg_content" class="msg_content2" placeholder="Make a new post..."></textarea> <br />
          <!-- When user click on cancel button first data will clear from textarea and finall popup window will hide.-->
          <a href="javascript:void(0)" class="blue_bt19px" onclick="javascript:$('#msg_content').val('');">Clear</a>
          <a href="javascript:void(0)" id="<%=@course.id%>" class="sbmt_msg blue_bt19px" title="msg_content" rel="C" onclick="javascript:void(0);">Post</a>
        </div>
      <%end%>
			<% if @course_messages.length > 0 %>
				<div class="msg_content_left" style="margin-left:100px">
					<div id="show_all_cmnts_div" class="linkcolour">
						<a href="javascript:void(0)" id="all_cmnts">Show All Comments</a>
					</div>
					<div id="show_only_cmnts_div" class="hide linkcolour">
						<a href="javascript:void(0)" id="only_cmnts">Show Only Last 2 Comments</a>
					</div>
				</div>
			<% end %>
      <div id="message_wrapper_course" class="message_wrapper resize_message_box msg_content_left" >
      
      &nbsp;
        <%if @course_messages  && !@course_messages.nil?%>
        <% @course_messages.each do |message| %>
          <%= render :partial => "/message/messages", :locals => {:message=>message} %>
        <% end %>
      <% end %>
      </div>
    
      <div class="end_of_page"></div>

    </div>
  <!-- Message ends -->
  <% end %>


 </div>
 
<script type="text/javascript">
	var message_show_array = [];
	<% if @course_messages %>
		<% @course_messages.each do |message| %>
			message_show_array.push(<%=message.id%>);
		<% end %>
	<% end %>
	
  $(document).ready(function(){
	$("#btn_course").addClass("hide");
    $("#btn_course_remove").addClass("hide");
    $("textarea#msg_content").autosize();
    $("#message_wrapper_course").delegate('.msg_pri_toggle', 'click', function(){
    showSpinner(true);
    msg_id = $(this).attr("rel");
    $.ajax({
       type: "POST",  
       url: "/course/toggle_priority_message",  
       data: {id:msg_id},
       dataType: "json",
       success: function(data) {
           if (data.starred) {
             $(".msg_pri_toggle_btn[rel="+msg_id+"]").html("Unstar");
             $(".msg_pri_toggle_img[rel="+msg_id+"]").attr("src", "/images/star_up.png");
           } else {
             $(".msg_pri_toggle_btn[rel="+msg_id+"]").html("Star");
             $(".msg_pri_toggle_img[rel="+msg_id+"]").attr("src", "/images/star_down.png");
           }
        showSpinner(false);
       },
       error: function(){
          alert("An Error has occured");
          showSpinner(false);
        }
			});
		}); 
	
		// When user clicks on Show All Comments
		$('#all_cmnts').click(function(){
			update_show_comments(message_show_array,true);
			all_comments = true;
		});

		// When user clicks on Show only 2 Comments
		$('#only_cmnts').click(function(){
			update_show_comments(message_show_array,false);
			all_comments = false;
		});
		
	// See the last setting of user or the default setting in main.html
	 if(all_comments) {
		arrange_comments(message_show_array,true);
	 } else {
		arrange_comments(message_show_array,false);
	 }
	 
	 var w=window.outerWidth;
	 
	 if (w<1200){
	 	$("#course_name_show").css("width","40%");
	 	$(".message_topic").css("width","40%");
	 }
	 
		
	});
  
  //For Active Task
   $("#btn_task").click(function(data){
   var course_id=$("#course_id_hdn").val();
   var dataString = {course_id:course_id};
   showSpinner(true);
   $.ajax({  
        type: "GET",  
        url: "/task/view_task",  
        data: dataString,
        success: function(data) {
		      $("#container").html(data);
			    showSpinner(false);
        },
        error: function()
        {
          alert("An error has occurred");
          showSpinner(false);
        }
      }); 
    });
    
  
     
   // For setup Page 
   $("#setup_icon").click(function(data){
   showSpinner(true);
   course_id = $("#course_id_hdn").val();
   $.ajax({  
        type: "GET",  
        url: "/course/view_setup",  
        data:{id:course_id},
        success: function(data) {
		      $("#load_data").html(data);
          _outcomes_shareObject =[];
			    showSpinner(false);
          $("#btn_course").removeClass("hide");
          $("#btn_course_remove").removeClass("hide");
          $("#btn_archive").removeClass("hide");
          <% if current_profile.id == @courseMaster.id %>
          $('#btn_course_duplicate').removeClass('hide');
          <% end %>
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        }
      }); 
    });
 </script>
 