<div id="div_1" class="form_container1">
  <div class="course_left">
    <div class="course_profile_image" id="course_image">
      <img id="course_thumb" src='<%= @course.image_file %>' width="156" height="156" alt="Course image" />
    </div>
  </div>
  <div class="course_right" >
    <% if @courseMaster %>
    <% if @courseMaster.id == user_session[:profile_id] %>
    <div class="clickable" id="setup_icon" value="2" style="position:absolute; right:250px;">
    <a href="javascript:void(0)" id="menu2"  value="2" >
      <img src="/images/setting_icon_gray.png">
     </a>
     </div>
    <% end %>
    <% end %>
    <!--list box-->
    <div class="course_detailbox">
      <div class="course_field_box1">
          <div class="catagory_viewfield field_label">COURSE CODE
            <div class="dd_bg brown_bg">
             <input type="text" name="course_code" id="course_code" <%if @course %> value="<%=@course.code%>" readonly="readonly" <%end%> class="small dd_input brown_bg" style="width:100px;" onBlur='javascript:setStorage("course_code", $(this).val());$("#hdn_is_page_change").val(true);' />
             -
             <input type="text" name="course_section" id="course_section" <%if @course %> value="<%=@course.section%>" readonly="readonly" <%end%> class="small dd_input brown_bg" style="width:50px;" onBlur='javascript:setStorage("course_section", $(this).val());$("#hdn_is_page_change").val(true);' />
            </div>
          </div>
          
          <div class="course_viewfield field_label">COURSE NAME
            <div class="dd_bg brown_bg">
              <input type="text" name="course_name" id="course_name" <%if @course %> value="<%=@course.name if @course%>" readonly="readonly" <%end%> class="dd_select brown_bg" onBlur='javascript:setStorage("course_name", $(this).val()); $("#hdn_is_page_change").val(true);' />
            </div>
          </div>
          
          <div class="clear"></div>
          <div class="spacebar10px"></div>
          <div class="course_activity_list">
          
          
            <div class="CAL_01"><span class="field_label"> <% if @totaltask %>You have <% total_task = @totaltask.count %><%=total_task%><% else %><% end %> ACTIVE TASKS</span> <a href="#" id="btn_task" class="green_bt19px">VIEW TASKS</a></div>
             
            <% if @courseMaster %>
              <% if (@courseMaster.id != user_session[:profile_id]) %>
              <div class="CAL_01"> <span class="field_label">You have <%if !@course_xp.nil?%><%=@course_xp%><%else%>0<%end%> XP and <%if @badges && !@badges.first.total.nil?%><%=@badges.first.total%><%else%>0<%end%> BADGES</span> 
              <a href="javascript:void(0)" id="btn_xp_badges"  class="green_bt19px">VIEW STATS</a></div>
              <% end %>
            <% end %>

            <div class="menu_container1">
            <div class="CAL_01"><span class="field_label">Your course has <%=@member_count%> members <% "(#{@pending_count} PENDING)" if @pending_count > 0 %></span> 
            <a href="javascript:void(0)" id="btn_member"  class="green_bt19px">VIEW MEMBERS</a></div>
            </div>

            </div>
          </div>
          <div class="course_teacher_name">
           <% if @courseMaster %>
            <div class="avatar_white_bdr"><img src="<%=@courseMaster.image_file_name%>" profile_id="<%= @courseMaster.id %>" class="profile" /></div>
            <div class="avatar_name"><%=@courseMaster.full_name%></div>
            <% end %>
          </div>
       <div class="clear"></div>
      </div>
    </div>
    <!--list box-->
  </div>
  <div class="clear"></div>
  <% if @course %>
  <!-- Message -->

    <div class="frm_input2">

      <div style="margin-left: 90px; text-align:right;">
        <textarea id="msg_content" name="msg_content" class="msg_content2" placeholder="Enter your message to share..."></textarea> <br />
        <!-- When user click on cancel button first data will clear from textarea and finall popup window will hide.-->
        <a href="javascript:void(0)" class="blue_bt19px" onclick="javascript:$('#msg_content').val('');">Clear</a>
        <a href="javascript:void(0)" id="<%=@course.id%>" class="sbmt_msg blue_bt19px" title="msg_content" rel="C" onclick="javascript:void(0);">Post</a>
      </div>


      <div id="message_wrapper" class="message_wrapper resize_message_box" >
      
      &nbsp;
        <%if @course_messages  && !@course_messages.nil?%>
        <% @course_messages.each do |message| %>
          <%= render :partial => "/message/messages", :locals => {:message=>message} %>
        <% end %>
      <% end %>
      </div>
    <div class ="hide" id ="div_message_delete">
    
    </div>
      <div class="end_of_page"></div>

    </div>
  <!-- Message ends -->
  <% end %>


 </div>
 
 <script type="text/javascript">
 

  //For Active Task
   $("#btn_task").click(function(data){
   var course_id=$("#course_id_hdn").val();
   var dataString = {course_id:course_id};
   showSpinner(true);
   $.ajax({  
        type: "GET",  
        url: "/task/view_task",  
        data: dataString,
        success: function(data) {
		      $("#container").html(data);
			    showSpinner(false);
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        },
      }); 
    });
    
  
     
   // For setup Page 
   $("#setup_icon").click(function(data){
   showSpinner(true);
   course_id = $("#course_id_hdn").val();
   $.ajax({  
        type: "GET",  
        url: "/course/view_setup",  
        data:{id:course_id},
        success: function(data) {
		      $("#load_data").html(data);
			    showSpinner(false);
          $("#btn_course").removeClass("hide");
          $("#btn_archive").removeClass("hide");
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        },
      }); 
    });
 </script>
 