<!-- Leader Board Top -->
<div style="position:relative;">
  <div style="position:absolute; width:100%;">
    <div class="pr120">
      <div class="leader_pad_top container_tipshelp">
        <div class="tops_row">
          <div class="leftimg panel"></div>
          <div class="centerimg panel"></div>
          <div class="rightimg panel"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="leader_content">
  <div class="leader_board_left">
    <div class="leader_board_right">
      <div class="leader_board_center main_div_height">
        <div class="leader_pad_top"></div>
        <div class="leader_pad">

          <div class="leader_TabCSS">
          <div class="steel_pin"><img src="/images/pin_steel.png" /></div>
          <div class="leader_topselect clearfix">
            <div class="titleTextPeople">Show:&nbsp;&nbsp;
              <span>
                <select class="dd_input brown_bg" id="filter_files" style="width:180px;">
                  <option value="all_active" class="brown_bg">All Registered Users</option>
                  <option value="members_of_courses" class="brown_bg">Members of Courses</option>
                  <option value="members_of_groups" class="brown_bg">Members of Groups</option>
                  <option value="organizers_of_courses" class="brown_bg">Organizers of Courses</option>
                  <option value="organizers_of_groups" class="brown_bg">Organizers of Groups</option>
                  <option value="organizers_of_courses_and_groups" class="brown_bg">Organizers of Courses/Groups</option>
                  <option value="search_courses" class="brown_bg" id='search_courses'>Search Courses...</option>
                  <option value="search_courses" class="brown_bg" id='search_courses'>Search Groups...</option>
                  <!-- <optgroup label="Groups">
                     <%# if @groups.present?%>
                       <%# @groups.each do |course| %>
                         <option value="<%#=course.id%>" class="brown_bg"><%#=course.name%></option>
                       <%# end %>
                     <%# end %>
                   </optgroup> -->
                </select>
             </span>
            </div>
            <div class="titleCountPeople"><%= @users.count %> users</div>
            <div class="clear"></div>
          </div>
          <div id="load_users">
            <div id="rows" class="LB_table">
              <div class="LB_tableheader">
                <div class="LBT_ava"> &nbsp;</div>
                <div class="LBT_name">&nbsp;</div>
                <div class="LBT_level">Email</div>
                <div class="LBT_xp"> Joined On</div>
                <div class="LBT_badges">Last Login</div>
              </div>

              <%= render :partial => "/users/load_users", :locals => { :@users => @users, :@id => 'all_active', :@page => 1 } %>

            </div>
          </div>

              <div id="send_email_all" class="add_task_popup" style="display:none">
                <div class="heading">Send Email to All Users</div>
                <div class="boxadnt">
                  <span class="heading02">Message</span>
                  <div class="heading02_field">
                    <div class="dd_bg brown_bg02">
                      <textarea class="dd_input brown_bg02" style="height:55px" name="mail_msg" id="mail_msg"></textarea>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="spacebar10px"></div>
                  <div class="spacebar10px"></div>
                </div>
                <div align="right" style="margin-right:20px;">
                  <a class="big_blue_btn inlineblock" id="dont_send_btn" href="javascript:void(0)">Don't Send</a>
                  <a class="big_blue_btn inlineblock" id="send_btn" href="javascript:void(0)">Send</a>
                </div>
              </div>
              <div id="invite_code" class="add_task_popup" style="display: none">
                <div class="heading">Invite Code</div>
                <div class="boxadnt">
                  <p>Use these unique codes to allow students and teachers to become members of your community. The codes may be letters or numbers, 5 to 15 characters in length. It is not case sensitive. Only one code can work at a time in each field. Be careful not to leave the field blank, else no one will be able to create an account in your community, except for people directly invited into courses or groups.</p>
                  <div class="spacebar10px"></div>
                  <label class="heading02" for="student_code">Student Invite Code</label>
                  <div class="heading02_field">
                    <div class="dd_bg brown_bg02">
                      <input name="student_code" pattern="[A-Za-z0-9]{5,15}" maxlength="15" value="<%= @profile.school.student_code %>">
                    </div>
                    <div class="validation_msg">&nbsp;</div>
                  </div>
                  <div class="clear"></div>
                  <div class="spacebar10px"></div>
                  <label class="heading02" for="teacher_code">Teacher Invite Code</label>
                  <div class="heading02_field">
                    <div class="dd_bg brown_bg02">
                      <input name="teacher_code" pattern="[A-Za-z0-9]{5,15}" maxlength="15" value="<%= @profile.school.teacher_code %>">
                    </div>
                    <div class="validation_msg">&nbsp;</div>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="spacebar10px"></div>
                <div class="spacebar10px"></div>
                <div align="right" style="margin-right:20px;">
                  <a class="big_blue_btn inlineblock" id="dont_save_btn" href="javascript:void(0)">Don't Save</a>
                  <a class="big_orange_btn inlineblock" id="save_btn" href="javascript:void(0)">Save</a>
                </div>
              </div>
              <div id="add_user" class="add_task_popup" style="display:none">
                <div class="heading">Add User</div>
                <div class="boxadnt">
                  <form id="add_user_form">
                    <label class="heading02" for="user_email">Email</label>
                    <div class="heading02_field">
                      <div class="dd_bg brown_bg">
                        <input type="email" name="user_email" id="user_email" style="width: 100%;" required>
                      </div>
                      <div class="form_error"></div>
                    </div>
                    <div class="spacebar10px"></div>
                    <label class="heading02" for="profile[role_name_id]">Role</label>
                    <div class="heading02_field">
                      <select name="profile[role_name_id]">
                        <% RoleName.all.each do |role_name| %>
                          <% if current_profile.has_role(Role.modify_settings) || (@profile && @profile.has_role(Role.modify_settings)) || role_name.name != 'Levelfly Admin' %>
                          <option value="<%= role_name.id %>"><%= role_name.name %></option>
                          <% end %>
                        <% end %>
                      </select>
                    </div>
                  </form>
                </div>
                <div class="clear"></div>
                <div class="spacebar10px"></div>
                <div class="spacebar10px"></div>
                <div align="right" style="margin-right:20px;">
                  <a class="big_blue_btn inlineblock" id="dont_add_btn" href="javascript:void(0)">Don't Add</a>
                  <a class="big_orange_btn inlineblock" id="add_btn" href="javascript:void(0)">Add</a>
                </div>
              </div>
              <div id="copy_all_emails" class="add_task_popup" style="display:none">
                <div class="heading">Copy all emails</div>
                <div class="boxadnt">
                  <div class="">
                    <div class="dd_bg brown_bg02">
                      <textarea class="dd_input brown_bg02" style="height:55px" id="list_of_emails"></textarea>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="spacebar10px"></div>
                  <div class="spacebar10px"></div>
                </div>

                <div align="right" style="margin-right:20px;">
                  <p align="left" style="float:left">
                    Copy the list of email addresses.<br>CTRL+C (Windows), CMD+C (Mac)<br>
                    <span id="copied" style="color:green;display:none;">copied to clipboard</span>
                  </p>
                  <a class="big_blue_btn inlineblock" id="close_all_emails" href="#">CLOSE</a>
                </div>
              </div>

              <!-- Search Courses BEGIN -->
              <div id="load_course_codes" class="add_task_popup" style="display:none">                
                <div class="heading">Course Selection</div>
                <div class="boxadnt">
                  <div class="">
                    <div class="dd_bg brown_bg02" style="width:400px;margin-left: 50px;">
                      <%= select_tag :year_ranges, options_for_select(year_ranges), :class => 'dd_input brown_bg', :id=>'year_ranges', :style => 'width:180px; margin-right: 36px;', :prompt => 'By Date' %>
                      <select class="dd_input brown_bg" id="course_codes" style="width:180px;">
                        <option value="" class="brown_bg">By Course Code</option>                        
                      </select>                      
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="spacebar10px"></div>
                  <div class="spacebar10px"></div>
                </div>

                <div align="right" style="margin-right:65px;">
                  <p align="left" style="float:right; margin-left:7px;">
                    <a class="big_blue_btn inlineblock" id="search_by_course_code" href="#">SEARCH</a>
                  </p>
                  <a class="big_blue_btn inlineblock" id="cancel_search_by_course_code" href="#" style="width: 100px;">DON'T SEARCH</a>
                </div>
              </div>
              <!-- Search Courses END -->

              <!-- Search Groups BEGIN -->
              <!-- <div id="load_course_codes" class="add_task_popup" style="display:none">                
                <div class="heading">Group Selection</div>
                <div class="boxadnt">
                  <div class="">
                    <div class="dd_bg brown_bg02" style="width:400px;margin-left: 50px;">
                      <%#= select_tag :year_ranges, options_for_select(year_ranges), :class => 'dd_input brown_bg', :id=>'year_ranges', :style => 'width:180px; margin-right: 36px;', :prompt => 'By Date' %>
                      <select class="dd_input brown_bg" id="course_codes" style="width:180px;">
                        <option value="" class="brown_bg">By Course Code</option>                        
                      </select>                      
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="spacebar10px"></div>
                  <div class="spacebar10px"></div>
                </div>

                <div align="right" style="margin-right:65px;">
                  <p align="left" style="float:right; margin-left:7px;">
                    <a class="big_blue_btn inlineblock" id="search_by_course_code" href="#">SEARCH</a>
                  </p>
                  <a class="big_blue_btn inlineblock" id="cancel_search_by_course_code" href="#" style="width: 100px;">DON'T SEARCH</a>
                </div>
              </div> -->
              <!-- Seach Groups END -->


        </div>
        <div class="end_of_page"><div class="load_more hide"><img src="/images/ajax-loader.gif"> Loading more users...</div></div>
       </div>
      </div>
    </div>
  </div>
</div>
 <div id="sidebar_right">
    <div class="course_side_buttons">
        <a class="big_blue_btn" name="create_new_user" id="create_new_user" href="javascript:void(0)">ADD USER</a>
        <a class="big_blue_btn" name="message_to_user" id="message_to_user" href="javascript:void(0)">EMAIL ALL</a>
        <a class="big_blue_btn" id="invite_code_btn" href="javascript:void(0)">INVITE CODE</a>
        <a class="big_blue_btn" id="download_code_btn" href='<%= load_csv_users_path(id: 'all_active') %>'>DOWNLOAD</a>
        <a class="big_blue_btn" id="copy_emails" href='#'>COPY EMAILS</a>
    </div><!-- crud_level -->
  </div>

<script type="text/javascript">

function validate_form() {
  var email = document.getElementById("user_email").value;

  if (email == "") {
    return 'Enter Email Address';
  } else if (!OnCampus.Validation.validateEmail(email)) {
    return "Not a valid e-mail address";
  }

  return '';
}

$(document).ready(function(){
  $("#load_users").delegate(".view_user", "click", function() {
    showSpinner(true);
    url = $(this).attr("rel");
    $.get(url, function(data) {
      $('body').append(data);
      showSpinner(false);
    })
  });
});

// Copy all emails button
$("#copy_emails").click(function(e) {
  e.preventDefault();
  var id = $("#filter_files").val();  
  filtered_url = "/users/load_user_emails/" + id;
  if (id) {
    $('#copy_all_emails').show();
    showSpinner(true);
    $.ajax({
      type: "GET",
      url: filtered_url, // + "/1",
      success: function(data) {
        showSpinner(false);
        var emails = data.users_emails.join(', ');
        console.log(emails);
        $('#list_of_emails').val(emails).select();
      }
    });
  }
});
$("#close_all_emails").click(function(e) {
  e.preventDefault();
  $('#copied').hide();
  $('#copy_all_emails').hide();
  $('#list_of_emails').val('');
});
$("#list_of_emails")[0].addEventListener('copy', function() {
  $('#copied').show()
});

// For showing popup of send email to all
$("#message_to_user").click(function(){
  $('#send_email_all').show();
});

$("#dont_send_btn").click(function(){
  $('#send_email_all').hide();
});

$("#create_new_user").click(function(){
  $('#add_user').show();
});

$('#dont_add_btn').click(function() {
  $('#add_user').hide();
});

$('#add_btn').click(function() {
  var $form = $('#add_user_form'),
      error = validate_form();

  if (error == '') {
    $('.form_error', $form).html("");
    showSpinner(true);

    var raw_email = $("#user_email").val(),
        email = encodeURIComponent(raw_email),
        role_name_id = $('select[name="profile[role_name_id]"]', $form).val(),
        datastring = "email=" + email + "&role_name_id=" + role_name_id;

    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/users/save/",
      data: datastring,
      success: function(data){

        if (data.status==true) {
          $form[0].reset();
          $("#alert").html('A confirmation email has been sent to ' + raw_email);
          $('#add_user').hide();
        } else if (data.email_exist == true) {
          $('.form_error', $form).html("A member with this email already exists.");
        }

        showSpinner(false);
      }, error : function(){
        alert("ERROR");
        showSpinner(false);
      }
    });

  } else {
    $('.form_error', $form).html(error);
  }
});

// For sending message to all
$("#send_btn").click(function() {
  showSpinner(true);  
  var mail_msg = $('#mail_msg').val();
  var id = $("#filter_files").val();
  if(id) {
    var dataString = {id:id, mail_msg:encodeURIComponent(mail_msg)};
    $.ajax({
      type: "POST",
      url: "users/send_message_to_all_users",
      data: dataString,
      success: function(data) {
        if(data) {
          showSpinner(false);
          $('#send_email_all').hide();
          var success_html = "<div class='error_message'>Email sent to all participants.</div>";
          $('.alert').html(success_html);
        }
      }
    });
  }
});

$('#invite_code_btn').click(function() {
  $('#invite_code').show();
});

$('#dont_save_btn').click(function() {
  $('#invite_code').hide();
});

$('#save_btn').click(function() {
  var $student_code = $('#invite_code input[name="student_code"]'),
      $teacher_code = $('#invite_code input[name="teacher_code"]'),
      student_code_valid = $student_code[0].value.length == 0 || $student_code[0].checkValidity(),
      teacher_code_valid = $teacher_code[0].value.length == 0 || $teacher_code[0].checkValidity();

  if ($student_code.val() == $teacher_code.val()) {
    $student_code.closest('.heading02_field').find('.validation_msg').html('Codes should be different.');
    return;
  }

  if (student_code_valid && teacher_code_valid) {
    showSpinner(true);
    $.ajax({
      type: "POST",
      url: "users/set_invite_codes",
      data: {
        student_code: $('#invite_code input[name="student_code"]').val(),
        teacher_code: $('#invite_code input[name="teacher_code"]').val()
      },
      success: function(data) {
        if (data) {
          if (data.status) {
            $('#invite_code').hide();
            $('.alert').html('<div class="error_message">Your invite codes have been updated.</div>');
          } else {
            $('#invite_code input[name="' + data.field + '"]').closest('.heading02_field').find('.validation_msg').html('This code is already used by another community. Enter a different one.');
          }
          showSpinner(false);
        }
      }
    });
  }
});

var $codeFields = $('#invite_code input[name="student_code"], #invite_code input[name="teacher_code"]');

$codeFields.blur(function() {
  if (this.value.length && this.checkValidity()) {
    $(this).closest('.heading02_field').find('.validation_msg').html('&nbsp;');
  }
}).bind('invalid', function() {
  $(this).closest('.heading02_field').find('.validation_msg').html('Codes must be 5 to 15 letters and/or numbers.');
});

$(document).ready(function(){
  var $window = $(window),
      $end_of_page = $('.end_of_page'),
      loading = false;

  setPageTitle("People");

  $window.bind('scroll.users', function() {
    if (!loading && $end_of_page.length && $window.scrollTop() + $window.height() >= $end_of_page.offset().top) {
      var next_page_href = $('#load_users #rows input[name="next_page"]').eq(-1).val();

      if (next_page_href != 'done') {
        loading = true;
        $('.load_more', $end_of_page).show('fast');

        $.ajax({
          type: "GET",
          url: next_page_href,
          success: function(data) {
            $('[name=user_count]').remove();
            $('[name=next_page]').remove();
            $("#load_users #rows").append(data);
            $('.load_more', $end_of_page).hide('fast');
            loading = false;
          }
        });
      }
    }
  });
});

$("#filter_files").change(function(e){
    var id = $("#filter_files").val()
    header = $('#rows .LB_tableheader');
    // alert(id)
    $('#download_code_btn').attr('href', "/users/load_csv/" + id)
    if (id != 'search_courses') {
      showSpinner(true);
      $.ajax({
        type: "GET",
        url: "/users/load_users/" + id + "/1",
        success: function(data) {
          $('#rows.LB_table').empty().append(header).append(data);

          showSpinner(false);

          setTimeout(function() {
          var count = $('#load_users #rows input[name="user_count"]').val(),
              plural = count != 1;

          $('.titleCountPeople').html(count + (plural ? ' users' : ' user'));
         }, 0);
        }
      });
    }

    if (id == 'search_courses') {  
      $('#load_course_codes').show();
    }

  });

  $('#search_by_course_code').click(function(){
    showSpinner(true);
    yr = $('#year_ranges').val()
    cc= $('#course_codes').val()
    schoolId = <%= @profile.school_id %>;
    
    if(yr.length > 0 && cc.length > 0){
      $.ajax({
        type: "GET",
        url: "/people/load_filtered_courses/",
        data: {year_range: yr, course_code: cc, school_id: schoolId},
        success: function(data) {
          showSpinner(false);
          $('#load_course_codes').hide();
          mainFilter = $('#filter_files option');        
          $('#opt-test').remove();
          $(mainFilter).eq(6).after($("<optgroup id='opt-test' label='"+yr+" , "+cc+"'></option>"));
          optGrp = $('optgroup:first');
          optGrp.append($("<option selected id='all_courses'>").val(yr+"_"+cc).text('All'));
          if(data.courses.length > 0){
            $.each(data.courses, function(i,j){
              optGrp.append($("<option>").val(j.id).text(j.name));
            });          
          }

          $('#all_courses').change();

        }
      });
    }
    else{      
      showSpinner(false);
      alert('Please select both filters');
    }
  })

  $('#cancel_search_by_course_code').click(function(){
    $("#course_codes").val('');
    $("#year_ranges").val('');
    $('#load_course_codes').hide();
  })

  $('#year_ranges').change(function(){    
    schoolId = <%= @profile.school_id %>;
    $.ajax({
      type: "GET",
      url: "/people/load_course_codes/",
      data: {year_range: $(this).val(), school_id: schoolId},
      success: function(data) {
        showSpinner(false);
        $("#course_codes option").remove();
        var courseCodes = $("#course_codes");
        courseCodes.append($("<option />").val('').text('By Course Code'));
        courseCodes.append($("<option />").val('All').text('All'));
        if(data.courses.length > 0){
          $.each(data.courses, function(i,j){
            courseCodes.append($("<option />").val(j).text(j));
          });          
        }        
      }
    });

  })

</script>
