<!-- Leader Board Top -->
<div style="position:relative;">
	<div style="position:absolute; width:100%;">
		<div class="pr120">
			<div class="leader_pad_top container_tipshelp"> 
				<div class="tops_row">
					<div class="leftimg panel"></div>
					<div class="centerimg panel"></div>
					<div class="rightimg panel"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="leader_content">
  <div class="leader_board_left">
    <div class="leader_board_right">
      <div class="leader_board_center main_div_height">
        <div class="leader_pad_top"></div>
        <div class="leader_pad">
           
          <div class="leader_TabCSS">
          <div class="steel_pin"><img src="/images/pin_steel.png" /></div>
          <div class="leader_topselect">
            <div class="clear"></div>
          </div>

          <div id="rows" class="LB_table">
            <div class="LB_tableheader">
            <div class="LBT_ava"> &nbsp;</div>
            <div class="LBT_name">&nbsp;</div>
            <div class="LBT_level">Email</div>
            <div class="LBT_xp"> Member Since</div>
            <div class="LBT_badges">Last Login</div>
          </div>
           <%if @users and !@users.nil?%>
            <% @users.each do |p|%>
              <%if p.user%>
              <div class="LB_tablecontent <%= cycle("even", "odd") %>">
                <div class="LBT_ava">
                  <div class="avatarWbdr"><img src="<%= p.image_file_name%>" class="profile" profile_id="<%= p.id %>" /></div>
                </div>
                <div class="LBT_name view_user" rel="/users/show/<%=p.id%>" > 
                  <span class="name_txt "><%= p.full_name %> </span><br />
                  <span class="course_txt"><%= p.major_school %></span> 
                </div>
                <div class="LBT_level view_user" rel="/users/show/<%=p.id%>" style="font-size:12px;"><%= p.user.email %></div>
                <div class="LBT_xp view_user" rel="/users/show/<%=p.id%>" style="font-size:12px;"><%= change_date_format(p.user.created_at) %></div>
                <div class="LBT_badges view_user" rel="/users/show/<%=p.id%>" style="font-size:12px;"><%= change_date_format(p.user.last_sign_in_at) %></div>
                </div>
              <% end %>
            <% end %>
          <% end %>  
          </div>        
        </div>         
        <div class="end_of_page"></div>
       </div>
      </div>
    </div>
  </div>
</div>
 <div id="sidebar_right">
    <div class="course_side_buttons">
        <a class="big_blue_btn" name="create_new_user" id="create_new_user" href="javascript:void(0)">ADD</a>
    </div><!-- crud_level -->
  </div>

<script type="text/javascript">

$(document).ready(function(){
  setPageTitle("People");

  /*$('a.view_user').click(function() {
    showSpinner(true);
    url = this.href
    $("#container").load(url, function(){
      showSpinner(false);
    }); 
    return false; 
  });*/
  $("#create_new_user").click(function(){
    showSpinner(true);
    $("#container").load("users/new", function(){
      showSpinner(false);
    }); 
  });
  $(".view_user").click(function(){
    showSpinner(true);
    url = $(this).attr("rel");
    $("#container").load(url, function(){
      showSpinner(false);
    }); 
  });
});
  


</script>