<!-- Leader Board Top -->
<div style="position:relative;">
	<div style="position:absolute; width:100%;">
		<div class="pr120">
			<div class="leader_pad_top container_tipshelp"> 
				<div class="tops_row">
					<div class="leftimg panel"></div>
					<div class="centerimg panel"></div>
					<div class="rightimg panel"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="leader_content">
  <div class="leader_board_left">
    <div class="leader_board_right">
      <div class="leader_board_center main_div_height">
        <div class="leader_pad_top"></div>
        <div class="leader_pad">
           
          <div class="leader_TabCSS">
          <div class="steel_pin"><img src="/images/pin_steel.png" /></div>
          <div class="leader_topselect clearfix">
            <div class="titleTextPeople">Show:&nbsp;&nbsp;
              <span>
                <select class="dd_input brown_bg" id="filter_files" style="width:180px;">
                  <option value="all_active" class="brown_bg">All Registered Users</option>
                  <option value="members_of_courses" class="brown_bg">Members of Courses</option>
                  <option value="members_of_groups" class="brown_bg">Members of Groups</option>
                  <optgroup label="Courses">
                    <%courses = all_course("C")%>
                    <% if courses and !courses.nil?%>
                      <% courses.each do |course| %>
                        <option value="<%=course.id%>" class="brown_bg"><%=course.name%></option>
                      <% end %> 
                    <% end %>
                  </optgroup>
                  <optgroup label="Groups">
                     <%courses = all_course("G")%>
                     <% if courses and !courses.nil?%>
                       <% courses.each do |course| %>
                         <option value="<%=course.id%>" class="brown_bg"><%=course.name%></option>
                       <% end %> 
                     <% end %>
                   </optgroup>
                </select>
             </span>
            </div>
            <div class="titleCountPeople"><%= @users.count %> users</div>
            <div class="clear"></div>
          </div>
          <div id="load_users">
            <div id="rows" class="LB_table">
              <div class="LB_tableheader">
                <div class="LBT_ava"> &nbsp;</div>
                <div class="LBT_name">&nbsp;</div>
                <div class="LBT_level">Email</div>
                <div class="LBT_xp"> Joined On</div>
                <div class="LBT_badges">Last Login</div>
              </div>
              <%= render :partial => "/users/load_users", :locals => { :@users => @users, :@id => 'all_active', :@page => 1 } %>
              <div id="send_email_all" class="add_task_popup" style="display:none">
                <div class="heading">Send Email to All Users</div>
                <div class="boxadnt"> 
                  <span class="heading02">Message</span>
                  <div class="heading02_field">
                    <div class="dd_bg brown_bg02">
                      <textarea class="dd_input brown_bg02" style="height:55px" name="mail_msg" id="mail_msg"></textarea>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="spacebar10px"></div>
                  <div class="spacebar10px"></div>
                </div>
                <div align="right" style="margin-right:20px;">
                  <a class="big_blue_btn inlineblock" id="dont_send_btn" href="javascript:void(0)">Don't Send</a> 
                  <a class="big_blue_btn inlineblock" id="send_btn" href="javascript:void(0)">Send</a>
                </div>
              </div>
              <div id="invite_code" class="add_task_popup" style="display: none">
                <div class="heading">Invite Code</div>
                <div class="boxadnt">
                  <p>Use these unique codes to allow students and teachers to become members of your school. The codes may be letters or numbers, 5 to 15 characters in length. It is not case sensitive. Leave blank to disable the invite code.</p>
                  <div class="spacebar10px"></div>
                  <label class="heading02" for="student_code">Student Invite Code</label>
                  <div class="heading02_field">
                    <div class="dd_bg brown_bg02">
                      <input name="student_code" pattern="[A-Za-z0-9]{5,15}" maxlength="15" value="<%= @profile.school.student_code %>">
                    </div>
                    <div class="validation_msg">&nbsp;</div>
                  </div>                  
                  <div class="clear"></div>
                  <div class="spacebar10px"></div>
                  <label class="heading02" for="teacher_code">Teacher Invite Code</label>
                  <div class="heading02_field">
                    <div class="dd_bg brown_bg02">
                      <input name="teacher_code" pattern="[A-Za-z0-9]{5,15}" maxlength="15" value="<%= @profile.school.teacher_code %>">
                    </div>
                    <div class="validation_msg">&nbsp;</div>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="spacebar10px"></div>
                <div class="spacebar10px"></div>
                <div align="right" style="margin-right:20px;">
                  <a class="big_blue_btn inlineblock" id="dont_save_btn" href="javascript:void(0)">Don't Save</a> 
                  <a class="big_orange_btn inlineblock" id="save_btn" href="javascript:void(0)">Save</a>
                </div>
              </div>
            </div>
          </div>
        </div>         
        <div class="end_of_page"><div class="load_more hide"><img src="/images/ajax-loader.gif"> Loading more users...</div></div>
       </div>
      </div>
    </div>
  </div>
</div>
 <div id="sidebar_right">
    <div class="course_side_buttons">
        <a class="big_blue_btn" name="create_new_user" id="create_new_user" href="javascript:void(0)">ADD USER</a>
        <a class="big_blue_btn" name="message_to_user" id="message_to_user" href="javascript:void(0)">EMAIL ALL</a>
        <a class="big_blue_btn" id="invite_code_btn" href="javascript:void(0)">INVITE CODE</a>
    </div><!-- crud_level -->
  </div>

<script type="text/javascript">

$(document).ready(function(){
  $("#load_users").delegate(".view_user", "click", function() {
    showSpinner(true);
    url = $(this).attr("rel");
    $("#container").load(url, function(){
      showSpinner(false);
    });
  });
});

// For showing popup of send email to all
$("#message_to_user").click(function(){
  $('#send_email_all').show();
});

$("#dont_send_btn").click(function(){
  $('#send_email_all').hide();
});

// For sending message to all
$("#send_btn").click(function() {
  showSpinner(true);
  var ids = new Array();
  $(".user").each(function(n,i){ids.push(this.id)});
  var mail_msg = $('#mail_msg').val();
  if(ids) {
    var dataString = {ids:ids, mail_msg:encodeURIComponent(mail_msg)};
    $.ajax({
      type: "POST",
      url: "users/send_message_to_all_users",
      data: dataString,
      success: function(data) {
        if(data) {
          showSpinner(false);
          $('#send_email_all').hide();
          var success_html = "<div class='error_message'>Email sent to all participants.</div>";
          $('.alert').html(success_html);
        }
      }
    });
  } 
});

$('#invite_code_btn').click(function() {
  $('#invite_code').show();
});

$('#dont_save_btn').click(function() {
  $('#invite_code').hide();
});

$('#save_btn').click(function() {
  var $student_code = $('#invite_code input[name="student_code"]'),
      $teacher_code = $('#invite_code input[name="teacher_code"]'),
      student_code_valid = $student_code[0].value.length == 0 || $student_code[0].checkValidity(),
      teacher_code_valid = $teacher_code[0].value.length == 0 || $teacher_code[0].checkValidity();

  if ($student_code.val() == $teacher_code.val()) {
    $student_code.closest('.heading02_field').find('.validation_msg').html('Codes should be different.');
    return;
  }

  if (student_code_valid && teacher_code_valid) {
    showSpinner(true);
    $.ajax({
      type: "POST",
      url: "users/set_invite_codes",
      data: {
        student_code: $('#invite_code input[name="student_code"]').val(),
        teacher_code: $('#invite_code input[name="teacher_code"]').val(),
      },
      success: function(data) {
        if (data) {
          if (data.status) {
            $('#invite_code').hide();
            $('.alert').html('<div class="error_message">Your invite codes have been updated.</div>');
          } else {
            $('#invite_code input[name="' + data.field + '"]').closest('.heading02_field').find('.validation_msg').html('This code is already used by another school. Enter a different one.');
          }
          showSpinner(false);
        }
      }
    });
  }
});

var $codeFields = $('#invite_code input[name="student_code"], #invite_code input[name="teacher_code"]');

$codeFields.blur(function() { 
  if (this.value.length && this.checkValidity()) {
    $(this).closest('.heading02_field').find('.validation_msg').html('&nbsp;');
  }
}).bind('invalid', function() {
  $(this).closest('.heading02_field').find('.validation_msg').html('Codes must be 5 to 15 letters and/or numbers.');
});

$(document).ready(function(){
  var $window = $(window),
      $end_of_page = $('.end_of_page'),
      loading = false;

  setPageTitle("People");

  $window.bind('scroll.users', function() {
    if (!loading && $end_of_page.length && $window.scrollTop() + $window.height() >= $end_of_page.offset().top) {
      var next_page_href = $('#load_users #rows input[name="next_page"]').eq(-1).val();

      if (next_page_href != 'done') {
        loading = true;
        $('.load_more', $end_of_page).show('fast');

        $.ajax({
          type: "GET",
          url: next_page_href,  
          success: function(data) {
            $("#load_users #rows").append(data);
            $('.load_more', $end_of_page).hide('fast');
            loading = false;
          }
        });
      }
    }
  });

  $("#create_new_user").click(function(){
    showSpinner(true);
    $("#container").load("users/new", function(){
      showSpinner(false);
    }); 
  });
});
  
$("#filter_files").change(function(){
    var id = $("#filter_files").val(),
        $header = $('#rows .LB_tableheader');
    if (id) {
      showSpinner(true);
      $.ajax({
        type: "GET",
        url: "/users/load_users/" + id + "/1",  
        success: function(data) {
          $("#load_users #rows").empty().html($header).append(data);
          showSpinner(false);

          setTimeout(function() { 
          var count = $('#load_users #rows input[name="user_count"]').val(),
              plural = count != 1;
 
          $('.titleCountPeople').html(count + (plural ? ' users' : ' user'));
         }, 0);
        }
      });
    }
  });

</script>