<%if @users.present? %>
  <% @users.each do |p|%>
    <%if p.user%>
      <div class="LB_tablecontent <%= cycle("even", "odd") %>">
        <div class="LBT_ava">
          <div class="avatarWbdr">
            <img src="<%= p.image_file_name%>" class="profile" profile_id="<%= p.id %>" />
            <% if @course_owner && @course_owner.id == p.id %>
              <img class="star_on_course_owner" src="/images/star_up.png" width="36" height="37" />
            <% end %>
          </div>
        </div>
        <div class="LBT_name view_user user" rel="/users/show/<%=p.id%>" id="<%=p.id%>" >
          <span class="name_txt "><%= p.full_name %> </span><br />
          <span class="course_txt"><%= p.major_school %></span>
        </div>
        <div class="LBT_level view_user" rel="/users/show/<%=p.id%>" style="font-size:12px;"><%= p.user.email %></div>
        <div class="LBT_xp view_user" rel="/users/show/<%=p.id%>" style="font-size:12px;"><%= change_date_format(p.user.created_at) %></div>
        <div class="LBT_badges view_user" rel="/users/show/<%=p.id%>" style="font-size:12px;"><%= change_date_format(p.user.last_sign_in_at) %></div>
      </div>
    <% end %>
  <% end %>
<% end %>
<input type="hidden" name="user_count" value="<%= @users.count %>">
<% if @users.count > (@page * Setting.cut_off_number.to_i) %>
  <input type="hidden" name="next_page" value="/users/load_users/<%= @id %>/<%= @page + 1 %>">
<% else %>
  <input type="hidden" name="next_page" value="done">
<% end %>
