<div class="Main_Wp">
<div class="Header_Wp">
 <div class="Logo_Wp">
  <!-- <img src="images/icon_dropbox.png"/> -->
</div><!--Logo_Wp-->
  </div><!--Header_Wp-->
  <div class="Content_Wp">
    <div class="Panel_Left">
      <div class="left_content_box">	
        <h1>Game your learning. Game your life.</h1>
          <div class="clear"></div>
          Coming to your web browsers everywhere.
           <div class="clear"></div>
            <div class="Divider_15"></div>
      </div><!--left_content_box-->
    </div><!--Panel_Left-->
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
   <div class="Panel_Rirght">
    <div class="Sign_in_wp">
      <div class="sign_in_box"><h1>Forgot your password</h1></div><!--sign_in-box-->
      <div class="creat_text">
      <span class="blue">
      </span></div>
      </div>
      <div class="clear"></div>
      <div class="Divider_15"></div>
      <div class="clear"></div>
       
      <div class="text_box_wp">
           <%= f.email_field :email, :class=>"txt_box",:style=>"width:378px;", :placeholder=>"Email" %>
      </div><!--text_box_wp-->
      <div class="Divider_15"></div>
      <div class="clear"></div>
      <div class="remember_box_wp">
           <div class="sign_in_button_wp">
                <%= f.submit "Send Me", :class=>"btn_submit" %>
              </div><!--sign_in_button-->
              <div class="forgot_your_pass_wp">
                <%= render :partial => "devise/shared/links" %>
              </div><!--forgot_your_pass_wp-->
      </div><!--remember_box_wp-->
     </div><!--Panel_Right-->
     <% end %>
  </div><!--Content_Wp-->
 <div class="clear"></div>
</div><!--Main_Wp-->












<div class="signin">
  <h2>Forgot your password</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.submit "Send Me" %></div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>