<div class="group_content">
  <div class="group_board_left">
    <div class="group_board_right">
      <div class="group_board_center">
        <div class="texture_board">
        <div class="group_pad_top"> </div>
          <div class="group_pad">
             <div class="course_tabs menu_container" align="right">
              <a href="javascript:void(0)"  id="menu1" value="1" class="side_tab side_tab_open" ><span class="task_tab">Group</span></a>
              <a href="javascript:void(0)"  id="menu3" value="3" class="side_tab side_tab_close"><span class="task_tab">Files</span></a>
            </div>
                      
            <div class="course_tab_content">
              <div class="right_form_containerr" id="load_data">
                  <!-- Data load here-->     
                <% if defined?(group_new) && group_new == true %>
                  <%= render :partial=>"group/setup" %>
                <% else %>
                  <%= render :partial=>"group/group_wall" %>
                <% end %>
              </div>
             <input type="hidden" name="task_id" id="task_id_id_hdn" value="<%= @task_id if @task%>" />
             <input type="hidden" name="course_id" id="course_id_id_hdn" value="<%= @course_id if @course%>" />
             <input type="hidden" name="group_id" id="group_id_hdn" value="<%= @group.id if @group%>" />
             <input type="hidden" name="wall_id" id="group_wall_id_hdn" value="<%= @wall.id if @wall && !@wall.nil? %>" />
             <input type="hidden" name="school_id" id="group_school_id_hdn" value="<%#= @profile.school_id %>" />
            </div>
            <div class="clear"></div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sidebar_right">
  <div class="course_side_buttons"> 
    <a href="javascript:void(0)" name="btn_group" id="btn_group" class="big_orange_btn">Save</a>
    <% if @course%>
      <a href="javascript:void(0)" name="menu_btn_addfile" id="menu_btn_addfile" class="big_blue_btn">ADD FILE</a>
      <a href="javascript:void(0)" name="btn_category_remove" id="btn_category_remove" class="big_blue_btn">REMOVE</a>
    <% end %>
    <input type="hidden" name="hdn_is_page_change" id="hdn_is_page_change" value="<%=@group ? false : true %>" />
  </div><!-- crud_level -->
</div>


<script type="text/javascript">
<!--
jStorage.flush();

//set storage on load while view of group
if($("#group_name").val()!=""){setStorage("group_name", $("#group_name").val());} else {setStorage("group_name", "New Group");}
if($("#group_descr").val()!="") {setStorage("group_descr", $("#group_descr").val());} else {setStorage("group_descr", "New Group Description");}
$(document).ready(function()
{

 $(".menu_container").delegate('a', 'click', function()
 {
    //showSpinner(true);
    idx = $(this).attr("value");
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    for(i=0;i<4;i++){
      //---- Set all menu as De-Selected
      if(idx != i){
        $("#div_"+i).hide();
      }
    }
    $('#menu'+idx).addClass("side_tab_open").removeClass("side_tab_close");
    $("#div_"+idx).fadeIn();
    
    group_id = $("#group_id_hdn").val();    
    var data = {value:idx,id:group_id};
    $("#load_data").load("/group/show_group",data, function(response, status, xhr) {
      if(response)
      {
        $("#load_data").html(response); 
        showSpinner(false);
      }
      if (status == "error")
      {
        var msg = "Sorry but there was an error: ";
        alert(msg);
      }
    });
    
    is_page_change = $("#hdn_is_page_change").val();
    if(is_page_change == "true") {
      save_group(this.id);
    }
  });

 //Submit data
 $("#btn_group").unbind('click').bind('click', function(){
    save_group(this.id);
  });
  
   
 
   //List people (participants)
  $("#btn_add_people_group").click(function() {
    text = $("#add_people_text").val();
    school_id = $("#group_school_id_hdn").val();
    dataString = {school_id:school_id, search_text:text};
    if (text!="") {
      if(school_id) {
        showSpinner(true);
        $("#participant_list").show();
        $("#participant_list_inner").html("Loading...");
        $.ajax({  
          type: "POST",  
          url: "/group/get_participants",  
          data: dataString,
          success: function(data) {
            if (data) {
              $("#participant_list_inner").html(data);
            } else {
              alert("ERROR");
            }
            showSpinner(false);
          }
        });
      }
    } else {
      alert("Please insert participant name");
    }
  });
  
  //Add people (participant) to group  li for profile_id
  $("#participant_list").delegate(".people_node li", "click", function(){
    showSpinner(true);
    group_id = $("#group_id_hdn").val();
    profile_id = $(this).attr("id");
    profile_name = $(this).text();
    node_class = $(this).attr("class");
    dataString = {group_id:group_id, profile_id:profile_id};//hash
    if (profile_id && group_id) {
      $.ajax({  
        type: "POST",  
        url: "/group/add_participant",  
        data: dataString,
        dataType: "json",
        success: function(data) {
          if (data.status) {
            participant_node = $('<li></li>');
            participant_node.class = node_class;
            participant_node.id = profile_id;
            partcipant_html = '<div class="people_name">' + profile_name + '</div>';
            partcipant_html += '<div class="people_delete"><a href="javascript:void(0)">Delete</a></div>';
            participant_node.append(partcipant_html);
			
            $("#group_people ul").append(participant_node);
            $("#participant_list").hide();
            $("#hdn_is_page_change").val(true);
          } else {
            if(data.already_added) {
              alert("This participant is already added to this group!!");
            } else {
              alert("ERROR");
              $("#participant_list").hide();
            }
          }
          showSpinner(false);
        }
      }); 
    }
  });
  
   
  //Post Message
  $('.right_form_containerr').delegate('.sbmt_msg', 'click', function(){
    showSpinner(true);
    parent_id = $(this).attr("id");
    parent_type = $(this).attr("rel");
    text = $(this).attr("title");
    message = $("#"+text).val();
    if(message.trim().length==0){
      showSpinner(false);
      return;
    }
    setAlert("Posted: "+message);
    var dataString = {parent_id:parent_id, parent_type:parent_type,target_id:parent_id, content: message};
    //console.log(dataString)
   // return false;
    $.ajax({  
      type: "POST",  
      url: "/message/save",  
      data: dataString,
      success: function(data) {
        $("#"+text).val("");
        if(parent_type=="Group") {
          $("#message_wrapper_group").prepend(data);
          $("#msg_input").fadeOut();
        } else if (parent_type=="Message") {
          $("#post_comment_"+parent_id).hide();
          $("#messsage_box_"+parent_id).append(data);
        }
        showSpinner(false);
      }
    });  
  });
  
  //Delete participant 
  $(".people_node li").delegate(".people_delete a", "click", function(){
    showSpinner(true);
    profile_id = $(this).attr("rel");
    group_id = $("#group_id_hdn").val(); 
    dataString = {group_id:group_id, profile_id:profile_id};
    if(profile_id) {
      $.ajax({  
        type: "POST",  
        url: "/group/delete_participant",  
        data: dataString,
        success: function(data) {
          if (data) {
            $("#"+profile_id).remove();
          } else {
            alert("ERROR");
          }
          showSpinner(false);
        }
      });
    }
  });
  }); 
 //Save course
function save_group(channel) {
 //Get data from offline storage
 id = $("#group_id_hdn").val();
 name = getStorage("group_name");
 descr = getStorage("group_descr");
 task_id= $("#task_id_hdn").val();
 course_id= $("#course_id_hdn").val()
 var dataString = 'id='+ id +'&name=' + name + '&descr=' + descr + '&task_id=' + task_id + '&course_id=' + course_id ;  
	  showSpinner(true);
       $.ajax({  
      type: "POST",  
      url: "/group/create",  
      data: dataString,
      dataType:"json",
      error: function (error) {
        alert('An error has occured');
      },
      success: function(data) {
        if (data) {
          $("#group_id_hdn").val(data.group.id);
          $("#group_name").val(data.group.name);
          $("#group_descr").val(data.group.descr);
          if(channel == "btn_group") {
            $("#container").load('/group/index', function(){
              showSpinner(false);
            });
          } else {
            showSpinner(false);
          }
          $("#hdn_is_page_change").val(false);
        } else {
          alert("ERROR");
          showSpinner(false);
        }
      }
    }); 	
    return false;  
}
-->
</script>