<div class="group_content">
  <div class="group_board_left">
    <div class="group_board_right">
      <div class="group_board_center">
        <div class="texture_board">
        <div class="group_pad_top"> </div>
          <div class="group_pad">
            <table class="blackboard_list">
              <tr>
                <th width="110">
                </th>
                <th>
                  Name
                </th>
                <th width="100">
                  Description
                </th>
              </tr>
              <% @groups.each do |g| %>
              <tr>
                <td>
                  <a href="/group/show/<%=g.id%>" class="view">
                    <img src='<%#= g.image_file %>' width="100" height="100" alt="<%=g.name%>" />
                  </a>
                </td>
                <td>
                  <a href="/group/show/<%=g.id%>" class="view"><%=g.name%></a>
                </td>
                <td>
                  <%=g.descr%>
                </td>
              </tr>
              <% end %>
            </table>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sidebar_right">
  <div class="course_side_buttons">
    <a class="big_blue_btn menu_btn" name="menu_btn_add" id="add_new_group" rel="/group/new"href="javascript:void(0)">ADD</a>
  </div><!-- crud_level -->
</div>


<script type="text/javascript">
<!--
$(document).ready(function(){
  //prepare show links
   $('a.view').click(function() {
    showSpinner(true);
      $("#container").load(this.href, function(){
      $("#menu_btn_dup").show();
      showSpinner(false);
    }); 
    return false; 
  });
  
  $("#add_new_group").click(function(){
	$("#create_group").css("display","block");
	$("#show_groups").css("display","none");
 });
});
//-->
</script>