<%= form_for @game, url: url, :html => {:class => 'save-game'}, :remote => true do |f| %>
	<%= hidden_field_tag :id, @game.id%>
	<%= hidden_field_tag :download_links, true%>
	<% unless gamecenter_write_access(@game.id) %>
		<div class="field_label4" style="margin: 15px 75px 0 0;">
	  Download Links <br /><br />
	  <% Game::PLATFORMS.each do |pf|%>    
	    <% if @game.download_links[pf].present? %>
	      <%= pf.humanize%>    
	      <div class="dd_bg dd_input">
	        <%= @game.download_links[pf] %>
	      </div>
	      <br/>
	    <% end %>
	  <% end %>
	</div>
	<% else %>
		<div class="field_label4" style="margin: 15px 75px 0 0;">
		  Download Links <br /><br />
		  <% Game::PLATFORMS.each do |pf|%>
		    <%= pf.humanize%>    
		    <div class="dd_bg dd_input">		      
      		<%= text_field_tag "game[download_links][#{pf}]", f.object.download_links[pf], :class=>"dd_input",:maxlength =>"64", :placeholder => pf%>		      
		    </div>
		    <br/>
		  <% end %>
		</div>
	<% end %>
<% end %>

<script type="text/javascript">		
	$('.dd_input').on('blur', function(){
		$('form.save-game').submit();
		console.log($(this).attr('id'))
		console.log($(this).val())
	})
</script>