<!-- Side context buttons -->
<div id="sidebar_right">
  <div id="course_side_buttons" class="course_side_buttons">    
    <a class="big_blue_btn id_link" name="btn_view_forums" href="javascript:void(0)" id="btn_view_forums">FORUMS</a>
  </div>
</div>

<%= form_for @game, url: url, :html => {:class => 'save-game'}, :remote => true do |f| %>
	<%= hidden_field_tag :id, @game.id%>
	<%= hidden_field_tag :download_tab, true%>

  <% if @game.id and gamecenter_write_access(@game.id) %>
  <div id="btn_game_edit" class="clickable" style="position:absolute; right:280px; top:200px;">
    <img src="/images/setting_icon_gray.png">
  </div>
  <% end %>

	<% unless gamecenter_write_access(@game.id) %>
		<div class="field_label4">
	  <span class="name_txt">Download Links </span><br /><br />
	  <% Game::PLATFORMS.each do |pf|%>    
	    <% if @game.download_links[pf].present? %>
	      <%= pf.humanize%>    
	      <div class="dd_bg dd_input">
	        <%= @game.download_links[pf] %>
	      </div>
	      <br/>
	    <% end %>
	  <% end %>
	</div>
	<% else %>
		<div class="field_label4">
		  <span class="name_txt">Download Links </span><br /><br />
		  <% Game::PLATFORMS.each do |pf|%>
		    <%= pf.humanize%>    
		    <div class="dd_bg dd_input">		      
      		<%= text_field_tag "game[download_links][#{pf}]", f.object.download_links[pf], :class=>"dd_input text_input_field",:maxlength =>"64", :placeholder => pf%>		      
		    </div>
		    <br/>
		  <% end %>
		</div>
	<% end %>
<% end %>


<script type="text/javascript">		

var _edit = false;

$(document).ready(function() {
  var gameId = "<%= @game.id%>";
  enableViewMode();
  bindMenuButtons(gameId);
});

$("#btn_game_edit").unbind('click').bind('click', function() {
  enableEditMode();
});

$('.dd_input').on('blur', function() {
  if (!_edit) {
    return;
  }
  
  showSpinner(true);    
  $.ajax({  
      type: "PUT",  
      url: $(".save-game").attr('action'),  
      data:$(".save-game").serialize(),
      success: function(data) {          
        showSpinner(false);
      },
      error: function()
      {
        alert("An Error has occured");
        showSpinner(false);
      }
  });
})

function enableViewMode() {
  $('#btn_game_view').removeClass('hide')
  $('#btn_game_archive').removeClass('hide')
  $('#btn_game_edit').removeClass('hide');
  $('#btn_game_save').addClass('hide');
  
  $('.text_input_field').attr('readonly', true);
  $('.image_input_field').addClass('hide');

  $('#leader_tabs').show();
  _edit = false;
}

function enableEditMode() {
  $('#btn_game_edit').addClass('hide');
  $('#btn_game_save').removeClass('hide');
  
  $('.text_input_field').attr('readonly', false);
  $('.image_input_field').removeClass('hide');
  _edit = true;
}

</script>
<style type="text/css">
	.name_txt{
		color: #9fbc34;
		font-size: 14px;
	}
	.field_label4 .dd_input{
		text-transform: lowercase;
	}
</style>