<%= form_for @game, url: url, :html => {:class => 'save-game'}, :remote => true do |f| %>
	<%= hidden_field_tag :id, @game.id%>
	<%= hidden_field_tag :download_tab, true%>
	<% unless gamecenter_write_access(@game.id) %>
		<div class="field_label4">
	  <span class="name_txt">Download Links </span><br /><br />
	  <% Game::PLATFORMS.each do |pf|%>    
	    <% if @game.download_links[pf].present? %>
	      <%= pf.humanize%>    
	      <div class="dd_bg dd_input">
	        <%= @game.download_links[pf] %>
	      </div>
	      <br/>
	    <% end %>
	  <% end %>
	</div>
	<% else %>
		<div class="field_label4">
		  <span class="name_txt">Download Links </span><br /><br />
		  <% Game::PLATFORMS.each do |pf|%>
		    <%= pf.humanize%>    
		    <div class="dd_bg dd_input">		      
      		<%= text_field_tag "game[download_links][#{pf}]", f.object.download_links[pf], :class=>"dd_input",:maxlength =>"64", :placeholder => pf%>		      
		    </div>
		    <br/>
		  <% end %>
		</div>
	<% end %>
<% end %>

<script type="text/javascript">		
  $('.dd_input').on('blur', function(){
    showSpinner(true);    
    $.ajax({  
        type: "PUT",  
        url: $(".save-game").attr('action'),  
        data:$(".save-game").serialize(),
        success: function(data) {          
          showSpinner(false);
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        }
    });
  })
</script>
<style type="text/css">
	.name_txt{
		color: #9fbc34;
		font-size: 14px;
	}
	.field_label4 .dd_input{
		text-transform: lowercase;
	}
</style>