<!-- Add Game -->

<%= form_for @game,url: url, :html => { :multipart => true } do |f| %>
<%#= f.hidden_field :id%>
<%= f.hidden_field :archived %>
<%= f.hidden_field :published %>
<%#= f.hidden_field :school_id%>

<!-- Contextual Side Buttons -->
<div id="sidebar_right">

  <div class="side_buttons">
    <a href="javascript:void(0)" name="btn_game_save" id="btn_game_save" class="big_orange_btn">SAVE</a>
  </div>

</div>

<!-- Main area -->
<div class="course_detailbox">

  <div class="course_field_box1">

    <div class="catagory_viewfield field_label" style="margin-right: 5px;">APP NAME
      <div class="dd_bg brown_bg">
      <%= f.text_field :name, :class=>"dd_input",:maxlength =>"64" %>

      </div>
    </div>
    <div class="clearfix"></div>

    <div class="catagory_viewfield field_label" style="margin-right: 5px;">DESCRIPTION
      <div class="dd_bg brown_bg">
        <!-- <textarea name="app_descr" id="app_descr" class="dd_input" placeholder="Enter description"><%= @game.descr %></textarea> -->
        <%= f.text_area :descr, :class=>"dd_input",:placeholder=>"Enter description",:cols => '62' %>
      
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="catagory_viewfield field_label" style="margin-right: 5px;">LAST REVISION
      <div class="dd_bg brown_bg">
        <%= f.text_field :last_rev, :class=>"dd_input", :maxlength =>"64" %>
        <!-- <input type="text" name="app_last_rev" id="app_last_rev" class="dd_input" value="<%= @game.last_rev %>" maxlength="64" /> -->
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="catagory_viewfield field_label" style="margin-right: 5px;">LAST REVISION DATE
      <div class="dd_bg brown_bg">
        <%= f.text_field :last_rev_date, :class=>"dd_input", :maxlength =>"64" %>
        <!-- <input type="text" name="last_rev_date" id="last_rev_date" class="dd_input" value="<%= @game.last_rev_date %>" maxlength="64" /> -->
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="catagory_viewfield field_label" style="margin-right: 5px;">PUBLISH DATE
      <div class="dd_bg brown_bg">
        <%= f.text_field :first_publish_date, :class=>"dd_input", :maxlength =>"64" %>
        <!-- <input type="text" name="first_publish_date" id="first_publish_date" class="dd_input" value="<%= @game.first_publish_date %>" maxlength="64" /> -->
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="catagory_viewfield field_label" style="margin-right: 5px;">IMAGE
        <%= f.file_field :image, :class=>"dd_input",:cols => '62' %>
        <!-- <input type="text" name="first_publish_date" id="first_publish_date" class="dd_input" value="<%= @game.first_publish_date %>" maxlength="64" /> -->
    </div>
   <div class="clearfix"></div>
  </div>

</div>
<% end  %>

<!-- UI control code -->

<script type="text/javascript">
<!--
$(document).ready(function() {

  $("#add_game").addClass("hide");

  $('#btn_game_save').click(function() {
    saveGame();
  });  // .btn_game_save: click
  
});  // document: ready

function saveGame() {
  showSpinner(true);
  
  var dataString = $("form").serialize();
    
  $.ajax({
    type: "POST",
    url: "<%=url%>",
    data: dataString,
    dataType: "json",
    success: function(data) {
      if (data) {
      }
      showSpinner(false);
      $('#gamecenter').click();
    }
  });
  
}

//-->
</script>

