<%= form_for @game, url: url, :html => { :multipart => true, :class => 'save-game' }, :remote => true do |f| %>
<%= f.hidden_field :archived, :id => "archived" %>
<%= f.hidden_field :published, :id => "published" %>
<%= f.hidden_field :school_id %>
<!-- Contextual Side Buttons -->
<div id="sidebar_right">
   <div class="side_buttons">
      <% if controller.action_name == "edit_game" %>
        <%= hidden_field_tag :game_id, @game.id%>
        <%= link_to "View", "/games/#{@game.id}", :target => "_blank", :class => "big_blue_btn"%>
      <% end %>  
      <a class="big_blue_btn" name="menu_btn_archive" href="javascript:void(0)" id="archive">Archive</a>
      <a href="javascript:void(0)" data-image-attach='false' name="btn_game_save" id="btn_game_save" class="big_orange_btn">SAVE</a>
   </div>
</div>
<!-- Main area -->
<div class="course_detailbox">
   <div class="course_field_box0">
     <div class="course_left">
         <div id="course_image" class="course_profile_image gamePhoto">
         		<% if f.object.image.present? %>
         			<%= image_tag f.object.image.url, height: '156', width: '156'%>
         		<% else %>
            	<img width="156" height="156" alt="Course image" src="/images/course_img_default.jpg" class="c_iamge" id="c_iamge">
         		<% end %>
            <div class="browse_link_div">
            	<!-- <img src="/images/course_img_drop.png" class="image_icon_drop_target"> -->
              <a id="course_browse_btn" href="javascript:void(0)">
            		<%= f.file_field :image, :class => 'file-opener', id: 'gamePhoto'%>
              	CLICK HERE TO UPLOAD
            	</a>
            </div>
         </div>
      </div>
   </div>
   <div class="course_field_box1">
      <div class="catagory_viewfield field_label" style="margin-right: 5px;">
         Name
         <div class="dd_bg">
            <%= f.text_field :name, :class=>"dd_input",:maxlength =>"64", :id => "name", :placeholder => "Enter Name"%>
         </div>
      </div>
      <div class="clearfix"></div>
      <br/>
      <div class="catagory_viewfield field_label" style="margin-right: 5px;">
         Description
         <div class="dd_bg ">
            <%= f.text_area :descr, :class=>"dd_input",:placeholder=>"Enter description",:cols => '62', :id => "descr", :style=>"width: 460px; height: 110px;"%>
         </div>
      </div>
      <div class="clearfix"></div>
      <br/>

      <div class="catagory_viewfield field_label" style="margin-right: 5px;">
         Last Revision
         <div class="dd_bg">
            <%= f.text_field :last_rev, :class=>"dd_input", :maxlength =>"64"%>
         </div>
      </div>
      <div class="clearfix"></div>

   </div>
</div>

<br />
<div class="field_label4" style="margin-right: 75px;">
  <div>Screenshots</div>
  <div id="thumbs" style="float:left;">
  	<% index = 1%>
    <%= f.fields_for :screen_shots do |ff| %>
      <div class="screen-shot sub_course_profile_image screen_<%=index%>">
      	<% if f.object.screen_shots.present? && @game.screen_shots.order(:id)[index-1]%>
      		<%= image_tag @game.screen_shots.order(:id)[index-1].image.url, height: '120', width: '120'%>
      	<% else %>
      		<img src="/images/course_img_drop.png" alt="" class="imaa" height="120" width="120" />
      	<% end %>
        <div class="browse_link_div">          
          <a id="course_browse_btn" href="javascript:void(0)">
            <%= ff.file_field :image, :class => 'file-opener', id: "screen_#{index}"%>
            CLICK HERE TO UPLOAD
          </a>
        </div>
      </div>
      <% index = index + 1%>
    <% end %>

  </div>
</div>
<div style="clear:both;">
<br/>
<div class="field_label4" style="margin: 15px 75px 0 0;">
  Learning Objectives
  <%= f.fields_for :outcomes do |ff| %>
    <div class="dd_bg dd_input">
      <%= ff.text_field :name, :style =>"width: 100%;" %>
    </div>
    <br/>
  <% end %>
</div>
<% end  %>


<div class="add_task_popup" style="position:fixed; display:none;">
   <div class="heading">Server Error</div>
   <div class="boxadnt"> 
     
   </div>
   <div class="spacebar10px"></div>
   <div class="spacebar10px"></div>
   <div id="dialog_url" style="word-wrap:break-word;"></div>
   <div class="spacebar10px"></div>
   <div align="right">
     <a class="smaller_text big_blue_btn inlineblock dialog_btn" id="close_modal" href="javascript:void(0)">Close</a>
   </div>        
</div>

<!-- UI control code -->

<script type="text/javascript">

	$(function(){
		attchCollection = [];
		$.each($('form input:file'), function(e){
		  attchCollection.push(this.id)
		})
		// attchCollection = ['gamePhoto','screen_1','screen_2','screen_3','screen_4','screen_5']
		$.each(attchCollection, function(i, domId){      
			var imageLoader = document.getElementById(domId)
		  if(imageLoader !== null){
		    function handleImage(e) {
		    	temp = $("#"+domId).val();
		      if(temp.indexOf('png') == '-1' && temp.indexOf('jpg') == '-1' && temp.indexOf('jpeg') == '-1' && temp.indexOf('gif') == '-1') {
		        alert('Invalid file. Allowed extensions are gif, jpg, jpeg and png');
		        return
		      }
		      var reader = new FileReader();
		      reader.onload = function (event) {        	        
		        $("."+domId+" img").attr('src',event.target.result);
		        // $('.profile-img img').css({'height': "219px", 'width':"219px"})
		      }
		      reader.readAsDataURL(e.target.files[0]);
		    }    
		    imageLoader.addEventListener('change', handleImage, false);
		  }
    }); 
	})

  $(document).ready(function() {
  	var gameId = "<%= @game.id%>";
  	console.log(gameId)
    $("#add_game").addClass("hide");
    $('#leader_tabs').show();
    $('#close_modal').click(function(){
    	$('.add_task_popup').hide();
    })
    $('#btn_game_save').click(function(){
    	name = $('form.save-game input#name').val();
    	descr = $('form.save-game textarea#descr').val();
<<<<<<< HEAD
    	last_rev = $('form.save-game input#last_rev').val();
    	image = $('form.save-game input#gamePhoto').val() || gameId;
      // emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      // mailTo = $('#game_mail_to').val();
      // validMail = emailRegex.test(mailTo)
=======
    	image = $('form.save-game input#gamePhoto').val() || gameId;      
>>>>>>> b8c0a80005a4df79a786ce88a8881a4598b0757c
    	if(name.length == 0 || descr.length == 0 || image.length == 0){
	    	if(name.length == 0 && descr.length == 0 && image.length == 0){
		    	$(".add_task_popup .boxadnt").html("Name, description and main image can't be blank");
	    	}
	    	else if(name.length == 0 && descr.length == 0){
	    		$(".add_task_popup .boxadnt").html("Name and description can't be blank");
	    	}
	  		else if(image.length == 0 && descr.length == 0){
	  			$(".add_task_popup .boxadnt").html("Main image and description can't be blank");
	  		}
				else if(name.length == 0 && image.length == 0){
					$(".add_task_popup .boxadnt").html("Name and image can't be blank");
				}
				else if(name.length == 0){
					$(".add_task_popup .boxadnt").html("Name can't be blank");
				}
				else if(descr.length == 0){
					$(".add_task_popup .boxadnt").html("Description can't be blank");
				}
				else if(image.length == 0){
					$(".add_task_popup .boxadnt").html("Main image can't be blank");
				}
				else{}
	      $(".add_task_popup").show();
    	}
<<<<<<< HEAD
      // else if(validMail == false){
      //   $(".add_task_popup .boxadnt").html("Please enter a valid email");
      //   $(".add_task_popup").show();
      // }
=======
>>>>>>> b8c0a80005a4df79a786ce88a8881a4598b0757c
    	else{
      	$('form.save-game').submit();   		
    	}

    })
  });

  $(document).ready(function(){
    var gameId = "<%= @game.id%>";
    if(gameId.length == 0){
      $('#leader_tabs').hide();
    }
    $('#leader_tabs a#game_main').attr('game-id', gameId);
    $('#leader_tabs a#download_page').attr('game-id', gameId);
    $('#leader_tabs a#support').attr('game-id', gameId);
    $('#leader_tabs a#achivements').attr('game-id', gameId);
    $('#leader_tabs a#leaderboard').attr('game-id', gameId);
  })
  

</script>
<style type="text/css">
  .field_label, .field_label4{text-transform: none;}
  .screen-shot{display:inline; float:left; width: 153px;}
  textarea {
    resize: none;
  }
  .field_label, .field_label4{
    color: #777777;
  }
  .dd_bg input{
    color: #334274;
  }
  .screen-shot .browse_link_div {
    position: relative;
    width: 140px;
    margin-top: -25px;
    padding-left: 19px;
    text-align: center;
    font-size: 9px;
  }

  .file-opener{
    opacity: 0;
    width: 112px;
    position: absolute;
    height: 12px;
    cursor: pointer;
  }
</style>
