<%= form_for @game, url: url, :html => { :multipart => true, :class => 'save-game' }, :remote => true do |f| %>
<%= f.hidden_field :archived, :id => "archived" %>
<%= f.hidden_field :published, :id => "published" %>
<%= f.hidden_field :school_id %>

<% if @game.id and gamecenter_write_access(@game.id) %>
<div id="btn_game_edit" class="clickable" style="position:absolute; right:280px; top:200px;">
  <img src="/images/setting_icon_gray.png">
</div>
<% end %>

<!-- Side context buttons -->
<div id="sidebar_right">
  <div id="course_side_buttons" class="course_side_buttons">    
    <a class="big_blue_btn id_link" name="btn_view_forums" href="javascript:void(0)" id="btn_view_forums">FORUMS</a>
    <!-- <a class="big_blue_btn id_link hide" name="menu_btn_add_badge" href="javascript:void(0)" id="add_badge">ADD BADGE</a> -->
    <%= link_to "View", "/games/#{@game.id}", :id => "btn_game_view", :target => "_blank", :class => "big_blue_btn"%>
    <%= hidden_field_tag :game_id, @game.id%>
    <% if @game.id and gamecenter_write_access(@game.id) %>
      <a class="big_blue_btn" name="menu_btn_archive" href="javascript:void(0)" id="btn_game_archive">Archive</a>
      <!-- <a class="big_blue_btn" name="menu_btn_edit" href="javascript:void(0)" id="btn_game_edit">Edit</a> -->
    <% end %>
    <a href="javascript:void(0)" data-image-attach='false' name="btn_game_save" id="btn_game_save" class="big_orange_btn hide">SAVE</a>
  </div><!-- crud_level -->
</div>

<!-- Main area -->
<div class="course_detailbox">
   <div class="course_field_box0">
     <div class="course_left">
         <div id="course_image" class="course_profile_image gamePhoto">
         		<% if f.object.image.present? %>
         			<%= image_tag f.object.image.url, height: '156', width: '156'%>
         		<% else %>
            	<img width="156" height="156" alt="Game Image" src="/images/game_img_default.jpg" class="c_iamge" id="c_iamge">
         		<% end %>
            <div class="browse_link_div image_input_field hide">
            	<!-- <img src="/images/course_img_drop.png" class="image_icon_drop_target"> -->
              <a id="course_browse_btn" href="javascript:void(0)">
            		<%= f.file_field :image, :class => 'file-opener', id: 'gamePhoto'%>
              	CLICK TO UPLOAD
            	</a>
            </div>
         </div>
      </div>
   </div>
   <div class="course_field_box1">
      <div class="catagory_viewfield field_label" style="margin-right: 5px;">
         Name
         <div class="dd_bg">
            <%= f.text_field :name, :class=>"dd_input text_input_field", :style => "width: 460px;", :maxlength =>"64", :id => "name", :placeholder => "Enter Name", :readonly => true %>
         </div>
      </div>
      <div class="clearfix"></div>
      <br/>
      <div class="catagory_viewfield field_label" style="margin-right: 5px;">
         Description
         <div class="dd_bg ">
            <%= f.text_area :descr, :class=>"dd_input text_input_field",:placeholder=>"Enter description",:cols => '62', :id => "descr", :style=>"width: 460px; height: 110px;", :readonly => true %>
         </div>
      </div>
      <div class="clearfix"></div>
      <br/>

      <div class="catagory_viewfield field_label" style="margin-right: 5px;">
         Last Revision
         <div class="dd_bg">
            <%= f.text_field :last_rev, :class=>"dd_input text_input_field", :style => "width: 460px;", :maxlength =>"64", :readonly => true %>
         </div>
      </div>
      <div class="clearfix"></div>
      <br/>

      <div class="catagory_viewfield field_label" style="margin-right: 5px;">
         Support Email
         <div class="dd_bg">
            <%= f.text_field :mail_to, :class=>"dd_input text_input_field", :style => "width: 460px;", :maxlength =>"64", :readonly => true %>
         </div>
      </div>
      <div class="clearfix"></div>

   </div>
</div>

<br />
<div class="field_label4" style="margin-right: 75px;">
  <div>Screenshots</div>
  <div id="thumbs" style="float:left;">
  	<% index = 1%>
    <%= f.fields_for :screen_shots do |ff| %>
      <div class="screen-shot sub_course_profile_image screen_<%=index%>">
      	<% if f.object.screen_shots.present? && @game.screen_shots.order(:id)[index-1]%>
      		<%= image_tag @game.screen_shots.order(:id)[index-1].image.url, height: '120', width: '120'%>
      	<% else %>
      		<img src="/images/game_screen_default.png" alt="" class="imaa" height="120" width="120" />
      	<% end %>
        <div class="browse_link_div image_input_field hide">          
          <a id="course_browse_btn" href="javascript:void(0)">
            <%= ff.file_field :image, :class => 'file-opener', id: "screen_#{index}" %>
            CLICK TO UPLOAD
          </a>
        </div>
      </div>
      <% index = index + 1%>
    <% end %>

  </div>
</div>
<div style="clear:both;">
<br/>
<div class="field_label4" style="margin: 15px 75px 0 0;">
  Learning Objectives
  <%= f.fields_for :outcomes do |ff| %>
    <div class="dd_bg dd_input">
      <%= ff.text_field :name, :class => "text_input_field", :style =>"width: 100%;", :readonly => true %>
    </div>
    <br/>
  <% end %>
</div>
<% end  %>


<div class="add_task_popup" style="position:fixed; display:none;">
   <div class="heading">Server Error</div>
   <div class="boxadnt"> 
     
   </div>
   <div class="spacebar10px"></div>
   <div class="spacebar10px"></div>
   <div id="dialog_url" style="word-wrap:break-word;"></div>
   <div class="spacebar10px"></div>
   <div align="right">
     <a class="smaller_text big_blue_btn inlineblock dialog_btn" id="close_modal" href="javascript:void(0)">Close</a>
   </div>        
</div>

<!-- UI control code -->

<script type="text/javascript">

	$(function(){
		attchCollection = [];
		$.each($('form input:file'), function(e){
		  attchCollection.push(this.id)
		})
		// attchCollection = ['gamePhoto','screen_1','screen_2','screen_3','screen_4','screen_5']
		$.each(attchCollection, function(i, domId){      
			var imageLoader = document.getElementById(domId)
		  if(imageLoader !== null){
		    function handleImage(e) {
		    	temp = $("#"+domId).val();
		      if(temp.indexOf('png') == '-1' && temp.indexOf('jpg') == '-1' && temp.indexOf('jpeg') == '-1' && temp.indexOf('gif') == '-1') {
		        alert('Invalid file. Allowed extensions are gif, jpg, jpeg and png');
		        return
		      }
		      var reader = new FileReader();
		      reader.onload = function (event) {        	        
		        $("."+domId+" img").attr('src',event.target.result);
		        // $('.profile-img img').css({'height': "219px", 'width':"219px"})
		      }
		      reader.readAsDataURL(e.target.files[0]);
		    }    
		    imageLoader.addEventListener('change', handleImage, false);
		  }
    }); 
	})

  $(document).ready(function() {
  	var gameId = "<%= @game.id%>";
    $("#add_game").addClass("hide");
    $('#leader_tabs').show();
    $('#close_modal').click(function(){
    	$('.add_task_popup').hide();
    })
    
    bindMenuButtons(gameId);
    
    <% if action_name == 'add_game' %>
    enableAddMode();
    <% end %>
    
    // Save
    $('#btn_game_save').unbind('click').bind('click', function(){
    	name = $('form.save-game input#name').val();
    	descr = $('form.save-game textarea#descr').val();
    	last_rev = $('form.save-game input#last_rev').val();
    	mail_to = $('form.save-game input#mail_to').val();
    	image = $('form.save-game input#gamePhoto').val() || gameId;
    	if(name.length == 0 || descr.length == 0 || image.length == 0){
	    	if(name.length == 0 && descr.length == 0 && image.length == 0){
		    	$(".add_task_popup .boxadnt").html("Name, description and main image can't be blank");
	    	}
	    	else if(name.length == 0 && descr.length == 0){
	    		$(".add_task_popup .boxadnt").html("Name and description can't be blank");
	    	}
	  		else if(image.length == 0 && descr.length == 0){
	  			$(".add_task_popup .boxadnt").html("Main image and description can't be blank");
	  		}
				else if(name.length == 0 && image.length == 0){
					$(".add_task_popup .boxadnt").html("Name and image can't be blank");
				}
				else if(name.length == 0){
					$(".add_task_popup .boxadnt").html("Name can't be blank");
				}
				else if(descr.length == 0){
					$(".add_task_popup .boxadnt").html("Description can't be blank");
				}
				else if(image.length == 0){
					$(".add_task_popup .boxadnt").html("Main image can't be blank");
				}
	      $(".add_task_popup").show();
    	}
    	else {
        $('form.save-game').submit();
        enableViewMode();
    	}

    })
  });
  
  // $('form.save-game').submit(function(event) {
  //   event.preventDefault(); // Prevent the form from submitting via the browser
  //   var form = $(this);
  //   $.ajax({
  //     type: form.attr('method'),
  //     url: form.attr('action'),
  //     data: form.serialize()
  //   }).done(function(data) {
  //     // Optionally alert the user of success here...
  //     updateGameId(data.id);
  //     enableViewMode();
  //   }).fail(function(data) {
  //     // Optionally alert the user of an error here...
  //   });
  // });
  //
  
  // Edit
  $("#btn_game_edit").unbind('click').bind('click', function(){
    var gameId = "<%= @game.id%>";
    showSpinner(true);
    var filter = $(".side_tab_open:first").attr("filter");
    
    $.ajax({
      type: "GET",
      url: "/gamecenter/edit_game?id="+gameId,
      data: {filter:filter, show:"add_badge"},
      success: function(data) {
        enableEditMode();
        showSpinner(false);
      }
    });
  });

  $(document).ready(function(){
    var gameId = "<%= @game.id%>";
    var gameCategory = "<%= current_tab%>";
    var myGame = gameCategory == 'my_games';

    enableViewMode();
    
    if(gameId.length == 0){
      $('#leader_tabs').hide();
    }
    // Make sure all the buttons have the correct game id
    $('.id_link').attr('game-id', gameId).attr('my-game', myGame);
    
    $('#student_leader_tabs').hide();
  })  

  function enableAddMode() {
    $('#btn_game_view').addClass('hide')
    $('#btn_game_edit').addClass('hide');
    $('#btn_game_save').removeClass('hide');
    
    $('.text_input_field').attr('readonly', false);
    $('.image_input_field').removeClass('hide');
    
    $('#name').focus();
  }
  
  function enableEditMode() {
    $('#btn_game_edit').addClass('hide');
    $('#btn_game_save').removeClass('hide');
    
    $('.text_input_field').attr('readonly', false);
    $('.image_input_field').removeClass('hide');
    
    $('#name').focus();
  }
  
  function enableViewMode() {
    $('#btn_game_view').removeClass('hide')
    $('#btn_game_archive').removeClass('hide')
    $('#btn_game_edit').removeClass('hide');
    $('#leaderboard').removeClass('hide');
    $('#btn_game_save').addClass('hide');
<% if @game.id and !gamecenter_write_access(@game.id) %>
    $('#all_badges').addClass('hide');
<% end %>
        
    $('.text_input_field').attr('readonly', true);
    $('.image_input_field').addClass('hide');

    $('#leader_tabs').show();
  }
  
  function updateGameId(gameId) {
    $('#id_link').attr('game-id', gameId);
  }
  
</script>
<style type="text/css">
  .field_label, .field_label4{text-transform: none;}
  .screen-shot{display:inline; float:left; width: 153px;}
  textarea {
    resize: none;
  }
  .field_label, .field_label4{
    color: #777777;
  }
  .dd_bg input{
    color: #334274;
  }
  .screen-shot .browse_link_div {
    position: relative;
    width: 140px;
    margin-top: -25px;
    padding-left: 19px;
    text-align: center;
    font-size: 9px;
  }

  .file-opener{
    opacity: 0;
    width: 112px;
    position: absolute;
    height: 12px;
    cursor: pointer;
  }
</style>
