<!-- Add Game -->

<input type="hidden" name="app_id" id="app_id_hdn" value="<%= @app.id %>" />
<input type="hidden" name="school_id" id="app_school_id_hdn" value="<%= @app.school_id %>" />

<!-- Contextual Side Buttons -->
<div id="sidebar_right">

  <div class="side_buttons">
    <a href="javascript:void(0)" name="btn_game_save" id="btn_game_save" class="big_orange_btn">SAVE</a>
  </div>

</div>

<!-- Main area -->
<div class="course_field_box1">

  <div class="catagory_viewfield field_label" style="margin-right: 5px;">APP NAME
    <div class="dd_bg brown_bg">
      <input type="text" name="app_name" id="app_name" class="dd_input" value="<%= @app.name %>" maxlength="64" />
    </div>
  </div>

  <div class="catagory_viewfield field_label" style="margin-right: 5px;">DESCRIPTION
    <div class="dd_bg brown_bg">
      <textarea name="app_descr" id="app_descr" class="dd_input" placeholder="Enter description"><%= @app.descr %></textarea>
    </div>
  </div>

  <div class="catagory_viewfield field_label" style="margin-right: 5px;">LAST REVISION
    <div class="dd_bg brown_bg">
      <input type="text" name="app_last_rev" id="app_last_rev" class="dd_input" value="<%= @app.last_rev %>" maxlength="64" />
    </div>
  </div>

  <div class="catagory_viewfield field_label" style="margin-right: 5px;">LAST REVISION DATE
    <div class="dd_bg brown_bg">
      <input type="text" name="last_rev_date" id="last_rev_date" class="dd_input" value="<%= @app.last_rev_date %>" maxlength="64" />
    </div>
  </div>

  <div class="catagory_viewfield field_label" style="margin-right: 5px;">PUBLISH DATE
    <div class="dd_bg brown_bg">
      <input type="text" name="first_publish_date" id="first_publish_date" class="dd_input" value="<%= @app.first_publish_date %>" maxlength="64" />
    </div>
  </div>

</div>

<!-- UI control code -->

<script type="text/javascript">
<!--
$(document).ready(function(){
  alert('document: ready');

  $("#add_game").removeClass("hide");

  $('.btn_game_save').click(function(){
    alert('.btn_game_save: click');
  });  // .btn_game_save: click
  
});  // document: ready
//-->
</script>