<!-- side context buttons -->
<div id="sidebar_right">
  <div id="course_side_buttons" class="course_side_buttons">    
    <a class="big_blue_btn id_link" name="btn_view_forums" href="javascript:void(0)" id="btn_view_forums">FORUMS</a>
  </div>
</div>

<!-- main content -->
<div class="gamecenter_header">Total XP</div>
<%=h @game.get_xp(current_profile.id) %>
<div class="clearfix"></div><br />


<div class="gamecenter_header">Total Score</div>
<%=h @game.get_score(current_profile.id) %>
<div class="clearfix"></div><br />


<div class="gamecenter_header">Total Activity</div>
<%=h distance_of_time_in_words(@game.get_duration(current_profile.id)) %>
<div class="clearfix"></div><br />

<!-- Learning Outcomes -->
<div>
  <div class="gamecenter_header">My Learning Outcome Ratings</div>
  <% if @outcome_list.length == 0 %>
    You have no ratings in <%=h @game.name %>.
  <% else %>
    <div class="LB_tableheader">
      <div class="LBT_ava">Outcome</div>
      <div class="LBT_ava">Rating</div>
      <div class="LBT_ava">Description</div>
    </div>

    <% @outcome_list.each do |outcome, rating| %> 
  
      <div class="LB_tablecontent <%= cycle("even", "odd") %>">
        <div class="LBT_ava"><%=h outcome.name %></div>
        <div class="LBT_ava"><span class="<%= Badge.outcome_rating_badge(rating) %>"><%= rating %></span></div>
        <div class="LBT_ava"><%=h formatted_html_content(outcome.descr) %></div>
      </div>
  
    <% end %>
  <% end %>
</div>
<div class="clearfix"></div><br />

<!-- My Badges -->
<div>
  <div class="gamecenter_header">My Badges</div>
  <% if @badges.length == 0 %>
    You have not earned any badges in <%=h @game.name %>.
  <% else %>
    <div class="LB_tableheader">
      <div class="LBT_ava">&nbsp;</div>
      <div class="LBT_ava">BADGE ID</div>
      <div class="LBT_level">NAME</div>
      <div class="LBT_xp">DESCRIPTION</div>
      <div class="LBT_xp">COUNT</div>
    </div>

    <% @badges.each do |badge| %> 
      <% badge_count = get_badge_count(badge.id, @profile.id, @game.id)%>
    
      <div class="LB_tablecontent <%= cycle("even", "odd") %>">
        <div class="LBT_ava">
          <%if badge.available_badge_image_id.present? %>
            <img src="<%= badge.try(:available_image_url) %>" height='70' width='70' class="app edit-data" data-badge-id="<%= badge.id%>" style='cursor:pointer;'>
          <% else %>
           <img src="<%= badge.try(:badge_image).try(:image).try(:url) %>" height='70' width='70' class="app edit-data" data-badge-id="<%= badge.id%>" style='cursor:pointer;'>
          <% end %>
        </div>
        <div class="LBT_ava"> 
          <span class="course_txt"><strong><%=h badge.id %></strong></span>
        </div>
        <div class="LBT_level"> 
          <span class="name_txt"><%=h badge.name %> </span>
        </div>
        <div class="LBT_xp"> 
          <span class="descr_txt"><%=h truncate(badge.descr, :length => 20) %></span>
        </div>
        <div class="LBT_xp"> 
          <span class="descr_txt"><%=h badge_count %></span>
        </div>
      </div>
    
    <% end %>
  <% end %>
</div>
<div class="clearfix"></div><br />

<!-- Latest Activity -->
<div class="gamecenter_header">Latest Activity</div>
<% @feats.each do |feat| %>
  <%=h feat %><br />
<% end %>

<script type="text/javascript">		

$(document).ready(function() {
  var gameId = "<%= @game.id%>";
  bindMenuButtons(gameId);
});

</script>