<div class="badge_content">
  <div class="badge_board_left">
    <div class="badge_board_right">
      <div class="badge_board_center">
        <div id = "badge_content" class="badge_contentt">
        <div id="sidebar_right">
          <div class="course_side_buttons">
            <input type="hidden" name="hdn_profile_id" id="hdn_profile_id" value="<%=@profile.id if @profile%>" />
            <input type="hidden" name="profile_id_hdn_field" id="profile_id_hdn_field" value="<%=profile_id if profile_id%>" />
            
          </div><!-- crud_level -->
        </div>
        <div class="badges_box1" style="width:654px">
          <div class="badges_top_heading">Badges            
            <a href="javascript:void(0)" name="btn_save" id="btn_save" class="big_blue_btn btn_save_badge badge_btn_save" rel="save">SAVE</a>
            <!-- <a href="javascript:void(0)" name="btn_save_and_give" id="btn_save_and_give" class="big_orange_btn btn_save_badge badge_btn_give" rel="give">SAVE & GIVE</a> -->
          </div>
            <div class="clear"></div>
            <div class="green_border"></div>
            <div>
            <div class="choose_badge">1. Give a descriptive name and a short description for the badge.</div>
            <div class="badgetitlediv"><div class="badge_title">Badge Name</div>
              <div>
                <div class ="selected_badge_position hide"><input id="selected_badge" src="" type="image" class="grading_Btn2" /></div>  
                <input name="new_badge_name" type="text" id="new_badge" value="" class="dd_input_new_badge" maxlength=40 />
              </div>
            </div></br>
            <div class="badgetitlediv"><div class="badge_title">Description</div>
              <div>
                <textarea name="new_badge_name" type="text" id="new_badge_descr" value="" style="height:50px;" class="dd_input_new_badge"/>
              </div>
            </div>
            </div>
            <div class="green_border"></div>
            <div class="choose_badge">2. Choose an image for the new badge.</div>

            <div style ="width:550px">
          
            <%if @badge_images && !@badge_images.nil? %>
              <% @badge_images.each do|bim|%>
                 <div style ="float:left"><input id="<%=bim.id%>" src="<%=bim.image_file_path%>" type="image" class="grading_Btn2 badge_image" /></div>  
              <%end%>  
            <%end%>  

            </div>
       </div>
      </div>
    </div>
  </div>
   <input type="hidden" name="hdn_last_action" id="hdn_last_action" value="<%=session[:controller]%>" />
   
  <%= render :partial => "/badge/warning_popup" %>
   
   
</div></div>
<script type="text/javascript">
$(document).ready(function() {
  var id ="";
  var previous_click = "";
  var all_imaegs = new Array();
  $(".badge_image").click(function(){ 
    $("#"+previous_click).removeClass("selected_badge");
    id = $(this).attr("id");
    image_path = $(this).attr("src");
    if(previous_click == id){
      $(this).removeClass("selected_badge");
      $(".selected_badge_position").hide();
      id = "";
    }
    else{
      $(this).addClass("selected_badge");
      $(".selected_badge_position").show();
    }
    previous_click = id;
    $("#selected_badge").attr("src",image_path);
  });
  
  $(".btn_save_badge").click(function(){ 
      var badge_image_id = id;
      var badge_name = $("#new_badge").val();
      var descr = $("#new_badge_descr").val();
      var submit_type = $(this).attr("rel");      
      if (id==""){
        $("#warning_add_badge .boxadnt").html('A badge should have an image. Please select one of the available images.');
        $("#warning_add_badge").show();
      }
      else if($("#new_badge").val()==""){
        $("#warning_add_badge .boxadnt").html('A badge should have a descriptive name. Please enter a badge name.');
        $("#warning_add_badge").show();
      }      
      else
      {
        var student_id =$("#profile_id_hdn_field").val();
        showSpinner(true);
        $.ajax({
          type: "POST",
          url: "/gamecenter/save_new_badge",
          dataType: "json",
          data:{badge_image_id:badge_image_id,badge_name:badge_name,profile_id:student_id,descr:descr,submit_type:submit_type},
          success: function(data) {
            $('.leader_tabs a.badges-tab').click();
            showSpinner(false);
          },
          error: function()
          {
            alert("An Error has occured");
            showSpinner(false);
          },
       });
     }
  
  });
  
});</script>
