<div class="LB_tableheader">
  <div class="LBT_rank">HANDLE</div>
  <div class="LBT_ava"> &nbsp;</div>
  <div class="LBT_name">&nbsp;</div>
  <div class="LBT_level">CREATED</div>
  <div class="LBT_xp">LATEST</div>
  <div class="LBT_badges">REVISION</div>
  <div class="LBT_Likes">PLAYERS</div>
</div>
<% unless @games.nil? %>
  <% @games.each do |game| %> 
    <div class="LB_tablecontent <%= cycle("even", "odd") %>">
      <div class="LBT_rank"><%= game.handle %></div>
      <div class="LBT_ava">
        <div class="avatarWbdr"><img src="<%= game.image_file_name%>" class="app" profile_id="<%= game.id %>" /></div>
      </div>
      <div class="LBT_name"> <span class="name_txt"><%= game.name %> </span><br />
        <span class="course_txt"><%= game.descr %></span> </div>
      <div class="LBT_level"><%= game.first_publish_date %></div>
      <div class="LBT_xp"><%= game.last_rev_date %></div>
      <div class="LBT_badges"><%= game.last_rev %></div>
      <div class="LBT_Likes"><%= game.player_count %></div>
    </div>
  <% end %>
<% end %>  

