<div class="LB_tableheader">
  <div class="LBT_ava">&nbsp;</div>
  <div class="LBT_name">&nbsp;</div>
  <div class="LBT_level">CREATED</div>
  <div class="LBT_xp">LATEST</div>
  <div class="LBT_badges">REVISION</div>
  <div class="LBT_Likes">PLAYERS</div>
</div>
<span class="index-page"></span>
<% unless @games.nil? %>
  <% @games.each do |game| %> 
    <div class="LB_tablecontent <%= cycle("even", "odd") %>">
      <div class="LBT_ava">

       <a class="edit_game" href="javascript:void(0)" data-url="<%= gamecenter_edit_game_path(:id => game.id)%>" >
         <img src="<%= game.image.url%>" height='156' width='156' class="app"> 
       </a>

      </div>
      <div class="LBT_name"> <span class="name_txt"><%=h game.name %> </span><br />
        <span class="course_txt">HANDLE: <strong><%=h game.handle %></strong></span><br />
        <span class="course_txt"><%=h game.descr %></span>
        </div>
      <div class="LBT_level"><%=h game.first_publish_date %></div>
      <div class="LBT_xp"><%=h game.last_rev_date %></div>
      <div class="LBT_badges"><%=h game.last_rev %></div>
      <div class="LBT_Likes"><%=h game.player_count %></div>
    </div>
  <% end %>
<% end %>  


<script type="text/javascript">
  $(document).ready(function(){
    $('.leader_tabs').hide();    
  })
  $(".edit_game").on('click', function(){
    var url = $(this).attr('data-url');

    showSpinner(true);
    var filter = $(".side_tab_open:first").attr("filter");
    
    $.ajax({
      type: "GET",
      url:  url,
      data: {filter:filter, show:"add_game"},
      success: function(data) {
        $("#rows").html(data);
        showSpinner(false);
     }
    });
  });

</script>