<div class="LB_tableheader">
  <div class="LBT_ava"> &nbsp;</div>
  <div class="LBT_name">GAME</div>
  <div class="LBT_level">CREATED</div>
  <div class="LBT_xp">LATEST</div>
  <div class="LBT_badges">REVISION</div>
  <div class="LBT_Likes">PLAYERS</div>
</div>
<% unless @games.nil? %>
  <% @games.each do |game| %> 
    <div class="LB_tablecontent <%= cycle("even", "odd") %>">
      <div class="LBT_ava avatar_white_bdrC2task">
        <img src="/images/course_img_default.jpg" class="app" profile_id="<%=h game.id %>" />
      </div>
      <div class="LBT_name"> <span class="name_txt"><%=h game.name %> </span><br />
        <span class="course_txt">HANDLE: <%=h game.handle %></span> </div>
      <div class="LBT_level"><%=h game.first_publish_date %></div>
      <div class="LBT_xp"><%=h game.last_rev_date %></div>
      <div class="LBT_badges"><%=h game.last_rev %></div>
      <div class="LBT_Likes"><%=h game.player_count %></div>
    </div>
  <% end %>
<% end %>  

