<div class="row show_page">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div id= "Stripes">
    	</div>
    </div>
    <div id="Shape8"></div>
    <div id="VectorSmartObject_0"></div>
    <div class='row' style="height:210px;">
      <div class="col-sm-4">
        <img src="<%= @game.image.url%>" height='156' width='156' class="Layer30"> 
      </div>
      <div class="col-sm-8">
        <div style="margin: 170px 0px 0px 14px;">
          <h2 class="game_name"><%= @game.name%></h2>
        </div>
      </div>
     <!--  <div>
        <img src="../images/Polygon2.png" class="Polygon2">
      </div>  -->  
    </div>
    <div class="row">      
      <div class="col-sm-4">
        <img src="../images/Shape46.png", class="Shape46">
        <img src="../images/Shape47.png" class="Shape47">
        <img src="../images/Rectangle3.png" class="Rectangle3">
        <img src="../images/Rectangle4.png" class="Rectangle4">
        <img src="../images/Download.png" class="Download">
      </div>
      <div class="col-sm-8">
        <div class="game_detail">
          <div> 
            <h4 class="text-info"><b> Description</b></h4>
          </div>  
          <h4>
            <p class="text-info game_desc"><%= @game.descr%></p>
          </h4>
        </div>  
      </div>
    </div>
    <div class="row">
      <div id="Stripes_0">
        <div class="screenshot">
          <b> <h4>Screenshots</h4></b>
        </div>
        <div id="thumbs">
          <% @game.screen_shots.each do |ss|%>
            <span class="imgg">              
              <%= image_tag ss.image.url, class: 'imaa'%>
            </span>
          <% end unless !@game.screen_shots.present?%>
          <% (5 - @game.screen_shots.count).times do %>
            <span class="imgg"><img src="../images/Layer30.png" alt="" class="imaa"/></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="section_two">
        <div class="col-sm-4">
          <img src="../images/Shape46_0.png" class="Shape46_0"> 
          <img src="../images/VectorSmartObject.png" class="VectorSmartObject">
          <img src="../images/Achievements.png" class="Achievements">
        </div>
        <div class="col-sm-8 learning-objs">
          <h4>Learning Objectives</h4>
          <ul>
            <% @outcomes.each do |outcome|%>
              <li class="learning_text"><%= outcome.name %></li>
            <% end %>
          </ul>  
        </div>
      </div>
    </div>
    <div class="row">
      <div id="Rectangle6">
        <div>
          <img src="../images/LeaderBoard.png" class="LeaderBoard">
        </div>
        <div>
          <img src="../images/Polygon2.png" class="Polygon2">
        </div>

        <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">

            <% @profiles.each_slice(3).with_index do |profile_objects, index| %>              
              <div class="item <%= index==0 ? 'active' : ''%>">
                <% profile_objects.each do |profile| %>
                  <div class="col-xs-3">
                    <div class="image_slider">&nbsp;<span class="slider_image text-num"><%= index+1%></span>&nbsp;&nbsp;
                      <span class="slider_image">
                        <img src="<%= is_profile_accessible?(profile) ? profile.image_file_name : profile_icon_default%>" class="img-responsive" height='40' width='40'>
                      </span>
                      &nbsp;&nbsp;<span class="slider_image prof-name" style='color:#fff;'><%= is_profile_accessible?(profile) ? profile.full_name : 'Private'%></span>
                      <span class="slider_image text-info" style='color:#000;'>150.00</span>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>            

          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>

      </div>
    </div>    
  </div> 
</div>
