<div class="row show_page">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div id= "Stripes">
    	</div>
    </div>
    <div id="Shape8"></div>
    <div id="VectorSmartObject_0"></div>
    <div class='row' style="height:210px;">
      <div class="col-sm-4">
        <img src="<%= @game.image.url%>" height='156' width='156' class="Layer30"> 
      </div>
      <div class="col-sm-8">
        <div style="margin: 0px 0px 0px 14px;">
          <h2 class="game_name"><%= @game.name%></h2>
        </div>
        <div style="color:#9cbbbb;">
          <ul>
          <li>Version <%=h @game.last_rev %> 
            <% if @game.download_links['ios'].present? %>| <a href="<%=h @game.download_links['ios'] %>" alt="Download iOS" target="_window">iOS</a><% end %>
            <% if @game.download_links['mac'].present? %>| <a href="<%=h @game.download_links['mac'] %>" alt="Download Mac" target="_window">Mac</a><% end %>
            <% if @game.download_links['android'].present? %>| <a href="<%=h @game.download_links['android'] %>" alt="Download Android" target="_window">Android</a><% end %>
            <% if @game.download_links['linux'].present? %>| <a href="<%=h @game.download_links['linux'] %>" alt="Download Linux" target="_window">Linux</a><% end %>
            <% if @game.download_links['windows'].present? %>| <a href="<%=h @game.download_links['windows'] %>" alt="Download Windows" target="_window">Win</a><% end %>
          </li>
          <% if @guide_link.present? %><li><a href="<%=h @guide_link %>" alt="guide" target="_window">Download Educator Guide</a></li><% end %>
          <% if !@game.mail_to.blank? %><li><a href="mailto:<%=h @game.mail_to %>?subject=Support for <%=h @game.name.tr('"', '') %>" alt="email">Email Support</a></li><% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">      
      <div class="col-sm-4">
        <a href="<%=@download_link.present? ? @download_link : 'javascript:void(0)'%>">
          <img src="../images/gc-download.png" class='download-btn'>
        </a>
      </div>
      <div class="col-sm-8">
        <div class="game_detail">
          <!-- <div>
            <h4 class="text-info"><b> Description</b></h4>
          </div>   -->
          <h4>
            <p class="text-info game_desc"><%= @game.descr%>
            </p>
          </h4>
        </div>  
      </div>
    </div>
    <div class="row">
      <div id="Stripes_0">
        <div class="screenshot">
          <b> <h4>Screenshots</h4></b>
        </div>
        <div id="thumbs">
          <% @game.screen_shots.each do |ss|%>
            <span class="imgg">              
              <a href="<%=h ss.image.url %>" alt="Screen Shot" target="_window"><%= image_tag ss.image.url, class: 'imaa crop'%></a>
            </span>
          <% end unless !@game.screen_shots.present?%>
          <% (5 - @game.screen_shots.count).times do %>
            <span class="imgg"><img src="../images/blank_screen.png" alt="" class="imaa"/></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="section_two">
        <div class="learning-objs">
          <h4>Learning Objectives</h4>
          <ul>
            <% @outcomes.each do |outcome|%>
              <% if !outcome.name.blank? %><li class="learning_text"><span style="color:white;"><%= outcome.name %></span>: <%= outcome.descr %></li><% end %>
            <% end %>
          </ul>  
        </div>
      </div>
    </div>
  </div> 
</div>
<style type="text/css">
  .download-btn{
    margin-left: 23px; border-radius: 9px;
  }
</style>>