<div class="Main_Wp">
	<div class="Header_Wp">
		<div class="Logo_Wp">
			<!-- <img src="images/icon_dropbox.png"/> -->
		</div><!--Logo_Wp-->
	</div><!--Header_Wp-->
  <div class="Content_Wp">
		<div class="Panel_Left">
			<img src="/images/login_splash.png" class="Panel_Left_img"/>
			<div class="left_content_box">
<!-- 				<h1 style="color:white;">Game your learning.</h1>
 -->        <div class="clear"></div>
        <div class="Divider_15"></div>
			</div><!--left_content_box-->
		</div><!--Panel_Left-->
		<div class="Panel_Rirght" id="signin_frm">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div>
				<img src="/images/levelfly_tag.png" alt="Levelfly" width="400" height="124"><br>
				<h3 style="color:white;margin-top:0px;"><%= session[:slug].blank? ? "" : school.name %></h3></div>
			<div class="Divider_90"></div>
			<div class="Sign_in_wp">
				<div class="sign_in_box"><h1>Sign in </h1></div><!--sign_in-box-->
				<div class="creat_text">
					<%- if devise_mapping.registerable? && controller_name != "registrations" && session[:email].blank?%>
					(or <span class="blue">
						<%= link_to "create an account", new_registration_path(resource_name) %></span>)
					<% end -%>
				</div>
			</div>
			<div class="clear"></div>
			<div class="Divider_15"></div>
			<div class="clear"></div>
			<div class="text_box_wp">
				<% if session[:email] %>
				  <%= f.email_field :email, :value=>session.delete(:email).to_s, :class=>"txt_box",:style=>"width:378px;", :placeholder=>"Email", :readonly => true %>
				<% else %>
				  <%= f.email_field :email, :class=>"txt_box",:style=>"width:378px;", :placeholder=>"Email"%>
				<% end %>
			</div><!--text_box_wp-->
			<div class="Divider_15"></div>
			<div class="clear"></div>
			<div class="text_box_wp">
				<%= f.password_field :password, :class=>"txt_box",:style=>"width:378px;", :placeholder=>"Password"%>
			</div><!--text_box_wp-->
			<div class="Divider_15"></div>
			<div class="clear"></div>
			<div class="remember_box_wp">
				<% if devise_mapping.rememberable? -%>
				<div class="remember_wp">
					<div class="check_box_wp">
						<%= f.check_box :remember_me %>
					</div><!--check_box_wp-->
					<div class="check_box_text">
						Remember me
					</div><!--chekc_box_text-->
				</div><!--remember-->
				<% end -%>
				<div class="sign_in_button_wp">
          <%= f.submit "Sign in", :class=>"big_bluebtn" %>
        </div><!--sign_in_button-->
        <div class="Divider_15"></div>
        <div class="Divider_15"></div>
        <div class="clear"></div>
        <div class="forgot_your_pass_wp">
          <%- if devise_mapping.recoverable? && controller_name != "passwords" %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <% end -%>
        </div><!--forgot_your_pass_wp-->
      </div><!--remember_box_wp-->
			<% flash.each do |name, msg| %>
			<div class="error_message"><h2><%if msg !="You need to sign in or register before continuing."%><%= msg %><%end%></h2></div>
			<% end %>
			<% end %>
		</div><!--Panel_Right-->
  </div><!--Content_Wp-->
  <div class="clear"></div>
  <div class="left_content_box" id="version_box">
      <div class="clear"></div>
      <span class="blue">Version <%= APP_VERSION %></span>
       <div class="clear"></div>
        <div class="Divider_15"></div>
      </div><!--left_content_box-->
  <div id="page_footer">
  	<a href="#feature_top" id="learn_more" class="clearfix"><span>Learn More</span> <img src="/images/homepage_chevron.png"></a>
  </div>
</div><!--Main_Wp-->
<div id="browser_warning" class="warning_popup" style="display:none">
	<div class="heading">YOUR BROWSER IS NOT SUPPORTED</div>
	<div class="boxadnt">
		We apologize for this inconvenience. Please use Firefox (version 10.0 or higher) for best performance.
		<!-- <div class="suggestions">Chrome, Firefox, Safari, Internet Explorer 9+</div> -->
	</div>
</div>

<div id="popup_warning" class="warning_popup" style="display:none;top:75%;left:55%;width:460px;height:130px;">
	<div class="heading">Warning</div>
	<div class="boxadnt" style="text-align: justify;">
		 This software works best on Firefox or Chrome. You can still use Internet Explorer but you will experience problems.
	</div>
	<div align="right" style="margin-right:20px;">
      <a class="big_bluebtn" id="hide_pop_up" style="padding:6px 0 6px;height: 18px;width: 55px;font: 13px;" href="javascript:void(0);">Ok</a>
    </div>
</div>

<div id="feature_splash">
	<a name="feature_top"></a>
	<div id="feature_hero">The achievement-based learning management system and social network</div>
	<div id="feature_1">
		<h2>Gamification</h2>
		<p>Boost engagement with cutting-edge gamification features like avatars, badges, leaderboards, experience points, achievements, and rewards.</p>
	</div>
	<div id="feature_2">
		<h2>Learning Management</h2>
		<p>Design robust courses with announcements, notifications, forums, file storage, tasks, and gradebooks.</p>
	</div>
	<div id="feature_3">
		<h2>Task Organizer</h2>
		<p>Stay organized with an integrated to do list for course work and timely notifications for tasks and announcements.</p>
	</div>
	<div id="feature_4">
		<h2>Learning Analytics</h2>
		<p>Improve learning with detailed feedback on course outcomes and grades, personalized statistics for each course, and recommendations for peer mentoring.</p>
	</div>
	<div id="feature_5">
		<h2>Social Media</h2>
		<p>Build community and increase retention with social media features like profiles, groups, friends, status updates, and messaging.</p>
	</div>
	<a href="/users/sign_up" class="big_orangebtn">Try a demo</a>
  <!-- <img src='/images/contact_email.png'/ class='contact_info'>
  <div id="copyright">(c) Copyright <%= Time.now.strftime("%Y") %> Levelfly Learning LLC. All rights reserved.</div> -->
</div>

<script type="text/javascript">
	$(function() {
		$('.Main_Wp').css('min-height', $('html').height());
		$('#feature_splash').show();
	});

	var ie11 = !!navigator.userAgent.match(/Trident\/7\./);
	if ( ie11 ) {
		$('#popup_warning').show();
	} else if ( $.browser.msie ) {
		if( parseInt($.browser.version, 10) < 10 ) {
			$('#signin_frm').remove();
			$('#browser_warning').show();
		}else if( parseInt($.browser.version) > 9 ) {
			$('#popup_warning').show();
		}
	} else if ( $.browser.mozilla ) {
		if( parseInt($.browser.version) < 10 ) {
			$('#signin_frm').remove();
			$('#browser_warning').show();
		}
	}

	$("#hide_pop_up").click(function(){
		$("#popup_warning").hide();
	});

	$('#learn_more').click(function() {
		var height = $('html').height();
		var interval = setInterval(function() {
			if ($(document).scrollTop() >= height) {
				clearInterval(interval);
			} else {
				$(document).scrollTop($(document).scrollTop() + 50);
			}
		}, 10);

		return false;
	});
</script>
