<div id="div_1" class="tab_content">
  <div class="group_left">
    <div class="group_profile_image" id="group_image">
       <img id="group_thumb" src='<%= @course.image_file %>' width="156" height="156" alt="Course image" />
    </div>
  
    
  </div>
  <div class="group_right" >
  
    <% if @courseMaster %>
    <% if @courseMaster.id == user_session[:profile_id] %>
    <div class="clickable" id="group_setup_icon" style="position:absolute; right:250px;">
      <a href="javascript:void(0)" id="menu2"  value="2" >
        <img src="/images/setting_icon_gray.png">
      </a>
    </div>
    <% end %>
    <% end %>
    <div class="group_detailbox">
      <div class="group_field_box group_input">
        <div class="group_viewfield field_label">NAME
          <div>
            <input type="text" name="group_name" id="group_name" style="width:100%" class="dd_select brown_bg group_name" <%if @course %> value="<%=@course.name if @course%>" readonly="readonly" <%end%> onBlur='javascript:setStorage("group_name", $(this).val()); $("#hdn_is_page_change").val(true);' />
          </div>
        </div>
      </div>  
      <div class="group_field_box group_input">
        <div class="field_label desc_width" >Description
          <div>
            <textarea name="group_descr" id="group_descr" style="width:100%" class="group_descr" rows="2" cols="34" <%if @course %> value="<%=@course.descr if @course%>" readonly="readonly" <%end%> onBlur='javascript:setStorage("group_descr", $(this).val());$("#hdn_is_page_change").val(true);'><%=@course.descr if @course%></textarea>
          </div>
        </div>
      </div>
        <div class="group_image_name">
           <% if @courseMaster %>
           <div class="avatar_white_bdr"><img src="<%=@courseMaster.image_file_name%>" profile_id="<%= @courseMaster.id %>" class="profile" /></div>
            <div class="avatar_name"><%=@courseMaster.full_name%></div>
           <% end %>
        </div>
 
        <div class="clear"></div>
        
        <div class="menu_container1 view_group_member">
          <div class="CAL_01"><span class="field_label"> 
          <% if !@member_count.nil? %><%= @member_count %><%else%>0<%end%> MEMBERS <% if !@pending_count.nil? %><% "(#{@pending_count} PENDING)" %><%end%></span>

          <a href="javascript:void(0)" id="btn_member"  class="green_bt19px">VIEW</a></div>
        </div>
      <div class="spacebar10px"></div><div class="spacebar10px"></div>

      
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>

  <% if @course %>
  <!-- Message -->
    <div class="mes_dis">
    
      <!-- <div class="send_group_invitation">
       <a href="javascript:void(0)" id="member_join" class="big_blue_btn">JOIN</a>
      </div> -->
     <% if @course.post_messages or @courseMaster.id == user_session[:profile_id]%>
      <div class="show_group_messages">
        <textarea id="msg_content" name="msg_content" style ="width:84%;"class="msg_content" placeholder="Share with all members..."></textarea> <br />
        <a href="javascript:void(0)" class="blue_bt19px" onclick="javascript:$('#msg_content').val('');">Clear</a>
        <a href="javascript:void(0)" id="<%=@course.id%>" class="sbmt_msg blue_bt19px" title="msg_content" rel="G" onclick="javascript:void(0);">Post</a>
      </div>
      <% end %>
      <div class="clear"></div>
      
      <div id="message_wrapper_group" class="message_wrapper_group">
      &nbsp;
      <% if @course_messages && !@course_messages.nil?%>
        <% @course_messages.each do |message| %>
          <%= render :partial => "/message/messages", :locals => {:message=>message} %>
        <% end %>
      <% end %>
      </div>
      
      <div class="end_of_page"></div>
      
    </div>
  <!-- Message ends -->
  <% end %>
  <div class="clear"></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#btn_course").addClass("hide");
  });
   // Send request to group owner for join group
   $("#member_join").click(function(){
      course_id = $("#course_id_hdn").val(); 
      $.ajax({  
        type: "POST",  
        url: "/course/send_group_invitation",  
        data:{id:course_id},
        dataType : "JSON",
        success: function(data) {
          if(data.status)
          {
             setAlert("You have addded to the group sucessfully!");
          }else{
             setAlert("You have already added");
          }
			    showSpinner(false);
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        },
      }); 
   });
   
   // For setup Page 
   $("#group_setup_icon").click(function(data){
   showSpinner(true);
   course_id = $("#course_id_hdn").val(); 
   $.ajax({  
        type: "GET",  
        url: "/course/view_group_setup",  
        data:{id:course_id},
        success: function(data) {
		      $("#load_data").html(data);
          $("#btn_course").removeClass("hide");
			    showSpinner(false);
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        },
      }); 
    });

</script>