<div id="div_2" class="tab_content group_setup_edit">
  <div class="group_left">
    <div class="group_profile_image" id="group_image">
      <img id="g_image" class="g_image" src="<%= @course.image_file %>" width="156" height="156" alt="Course image" />
      <img class="image_icon_drop_target" src="/images/course_img_drop.png" />
			<div class="browse_link_div">
				<a href="javascript:void(0)" id="group_browse_btn">CLICK HERE TO UPLOAD</a> 
			</div>
    </div>
		<div class="clear"></div>
    
    <div class="menu_container1 view_group_member" style="display:none;">
      <div class="CAL_01"><span class="field_label"> 
      <% if !@member_count.nil? %><%= @member_count %><%else%>0<%end%> MEMBERS <% if !@pending_count.nil? %><% "(#{@pending_count} PENDING)" %><%end%></span> 
      <a href="javascript:void(0)" id="btn_member"  class="green_bt19px">VIEW</a></div>
    </div>
  </div>
  <div class="group_right" >
    <div class="group_detailbox">

      <div class="group_field_box group_input">
        <div class="group_viewfield field_label">NAME
          <div>
            <input type="text" name="group_name" id="group_name" class="group_name dd_select brown_bg" value="<%=@course.name if @course%>" maxlength="64" onBlur='javascript:setStorage("group_name", $(this).val()); $("#hdn_is_page_change").val(true);' />
          </div>
        </div>
      </div>   
      <div class="group_field_box group_input">
         <div class="desc_width field_label">Description
          <div>
            <textarea name="group_descr" id="group_descr" style="width:100%;height:88px;" class="group_descr" rows="4"  onBlur='javascript:deleteStorage("group_descr");setStorage("group_descr", $(this).val());$("#hdn_is_page_change").val(true);'><%=@course.descr if @course%></textarea>
          </div>
         </div>
       </div>  
          <div class="group_image_name">
            <% if @courseMaster %>
            <div class="avatar_white_bdr"><img  src="<%=@courseMaster.image_file_name %>" /></div>
            <div class="avatar_name"><%=@courseMaster.full_name%></div> 
            <% end %>
          </div>
         <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
</div>
<div class="page_block">
	<div class="page_block_left">
		<span class="field_title">Privacy</span>
	</div>
	<div class="page_block_right" style="margin-top:5px;">
		<span class="field_title font_15px">Joining Privileges</span>
		&nbsp;
		<span class="field_notes spaceleft5px">
			<input type="radio" name="joinning_group[]" checked="true" value="I"/> Invitation requests must be approved by the organizer
		</span>
		&nbsp;
		<span class="field_notes spaceleft5px">
			<input type="radio" name="joinning_group[]" <% if @course.join_type == "R" %> checked="true" <% end %> value="R"/> No one can request to join the group 
			<span class="field_notes " style="font-size:10px;padding-left:17px;font-style: italic;"> (The organizer can still send invitation requests)</span>
		</span>
		&nbsp;
		<div class="spacebar10px">&nbsp;</div>
		<span class="field_title font_15px">Viewing Privileges</span>
		&nbsp;
		<span class="field_notes spaceleft5px">
			<input type="radio" name="viewing_group[]" checked="true" value="A"/> Anyone can view content
		</span>
		&nbsp;
		<span class="field_notes spaceleft5px">
			<input type="radio" name="viewing_group[]" <% if @course.visibility_type == "M" %> checked="true" <% end %> value="M"/> Only members can view content
		</span>
		&nbsp;
		<div class="spacebar10px">&nbsp;</div>
		<span class="field_title font_15px">Posting Privileges</span>
		&nbsp;
		<span class="field_notes spaceleft5px">
			<input type="radio" name="post_messages" <% if @course && @course.post_messages != true %>checked="true"<%end%> value="false" id="post_messages" /> Only the organizer can post
		</span>
		&nbsp;
		<span class="field_notes spaceleft5px">
			<input type="radio" name="post_messages" <% if @course && @course.post_messages==true %> checked="true"<%end%>  value="true" id="post_messages" /> Members can also post
		</span>
		&nbsp;
		<div class="spacebar10px">&nbsp;</div>
		<span class="field_title font_15px">File Uploading Privileges</span>
		&nbsp;
		<span class="field_notes spaceleft5px">
			<input type="radio" name="allow_uploads" <% if @course && @course.allow_uploads != true %>checked="true"<%end%> value="false" id="allow_uploads_no" /> Only the organizer can upload group files
		</span>
		&nbsp;
		<span class="field_notes spaceleft5px">
			<input type="radio" name="allow_uploads" <% if @course && @course.allow_uploads==true %> checked="true"<%end%>  value="true" id="allow_uploads_yes" /> Members can also upload group files
		</span>
		&nbsp;
		<div class="spacebar30px">&nbsp;</div>
		<div class="spacebar30px">&nbsp;</div>
	</div>
</div>

<script type="text/javascript">

if($("#group_name").val()!=""){setStorage("group_name", $("#group_name").val());}
else {setStorage("group_name", "New Group");}
if($("#group_descr").val()!="") {setStorage("group_descr", $("#group_descr").val());}
else {setStorage("group_descr", "New Group Description");}

$(document).ready(function(){
  $(".group_setup_edit").delegate("input","change",function(){
    changed=true;
  });
  $(".group_setup_edit").delegate("textarea","change",function(){
    changed=true;
  });
});

 //For image uploads
    var base_params = {
      'authenticity_token' : token,  //For csrf-authentication
      'school_id' : $("#course_school_id_hdn").val(),
      'id' : $("#course_id_hdn").val()
    }
    
    //Uploader task image upload
    var group_uploader = new plupload.Uploader({
      runtimes: 'html5, flash',
      drop_element: 'group_image',
			browse_button: 'group_browse_btn',
      container: 'group_image',
      max_file_size: '5mb',
      resize : {width : 125, height : 125},
      url: '/course/save',
			flash_swf_url : '/assets/fileupload/plupload.flash.swf',
      multipart_params: base_params,
      filters : [
        {title : "Image files", extensions : "jpg,gif,png,JPG,PNG,GIF,JPEG"}
      ]
    });
    
    group_uploader.init();
    
    group_uploader.bind('FilesAdded', function(up, files) {
      showSpinner(true);
      group_uploader.settings.multipart_params.name = getStorage("group_name");
      group_uploader.settings.multipart_params.descr = getStorage("group_descr");
      group_uploader.settings.multipart_params.parent_type = "G";
      group_uploader.start();
    });
    
    group_uploader.bind('UploadProgress', function(up, file) {
      //$('#group_image').html('<center>Uploading..</center>');
      $(".image_icon_drop_target").fadeOut();
    });
    
    group_uploader.bind('FileUploaded', function(up, file, info) {
      var obj = jQuery.parseJSON( info.response);
      groupImg = $('<img width="156" height="156">').attr('src',obj.image_url);
      group_uploader.settings.multipart_params.id = obj.course.id;
      $("#course_id_hdn").val(obj.course.id);
      $(".g_image").attr('src',obj.image_url);
      $(".image_icon_drop_target").fadeIn();
      //$('#group_image').html(groupImg);
      //$("#group_image").append("<img class='image_icon_drop_target' src='/images/course_img_drop.png' />")
       changed=true;
      showSpinner(false);
    });
    
     $('input[name="joinning_group[]"]').click(function(){
        course_id = $("#course_id_hdn").val();
        join_type = $(this).attr("value");
        showSpinner(true);
        $.ajax({  
        type: "POST",  
        url: "/course/group_joinning",  
        data: {id:course_id,join_type:join_type},
        dataType:"JSON",
        success: function(data) {
          if(data.status)
          {
            showSpinner(false);  
            changed=true;            
          } 
          else
          {
            alert("ERROR");
          }
        }
      }); 
     });
     
     $('input[name="viewing_group[]"]').click(function(){
        course_id = $("#course_id_hdn").val();
        visibility_type = $(this).attr("value");
        showSpinner(true);
        $.ajax({  
        type: "POST",  
        url: "/course/group_viewing",  
        data: {id:course_id,visibility_type:visibility_type},
        dataType:"JSON",
        success: function(data) {
          if(data.status)
          {
            showSpinner(false); 
             changed=true;
          } 
          else
          {
            alert("ERROR");
          }
        }
      }); 
     });
</script>