<div class="task_side_buttons"> <a href="#" class="big_blue_btn">ATTACH</a> <a href="#" class="big_orange_btn">POST</a> <a href="#" class="big_blue_btn">PRINT</a> </div>
<!-- notepad start-->
  <div class="gradebook_content">
    <div class="gradebook_board_left">
      <div class="gradebook_board_right">
        <div class="gradebook_board_center">
          <div class="gradebook_partribbon">
            <div class="GDingbox" >
              <div class="GDingbox_botright" >
                <div class="GDingbox_botcenter" >
                  <div class="GDingbox_botleft" >
                  <div class="GDingbox_heading" >GRADE PALLETE</div>
                    <div class="GDingbox_botcontainer" >
                      <div class="GDingboxinner_grade" >
                        <div align="center">GRADES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="a" id ="letter_a" class="grading_Btn alphabet" />
                          <input name="" type="button" value="b" id ="letter_b" class="grading_Btn alphabet" />
                          <input name="" type="button" value="c" id ="letter_c" class="grading_Btn alphabet" />
                          <input name="" type="button" value="d" id ="letter_d" class="grading_Btn alphabet" />
                          <input name="" type="button" value="f" id ="letter_f" class="grading_Btn alphabet" />
                        </div>
                      </div>
                      <div class="GDingboxinner_plusminus" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" type="image" src="images/grade_plus.png" class="grading_Btn2 symbol" value="+" id="plus"/>
                          <input name="" src="images/grade_minus.png" type="image"  class="grading_Btn2 symbol" value="-"  id="minus"/>
                        </div>
                      </div>
                      <div class="GDingboxinner_outcome" >
                        <div align="center">OUTCOMES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="1" class="grading_Btn Gbtn1 outcome_point" id="one_point" />
                          <input name="" type="button" value="2" class="grading_Btn Gbtn2 outcome_point" id="two_point"/>
                          <input name="" type="button" value="3" class="grading_Btn Gbtn3 outcome_point" id="three_point"/>
                        </div>
                      </div>
                      <div class="GDingboxinner_latest" >
                        <div align="center">LATEST</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="?" class="grading_Btn3  letest" id="letest1" />
                        </div>
                      </div>
                      <div class="GDingboxinner_delete">
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" src="images/grade_deletebt.png" type="image" class="grading_Btn2 reset_field" id="reset_fields" />
                        </div>
                      </div>
                      <div class="GDingboxinner_latest" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="Undo" class="grading_Btn4  undo" id="undo" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="gradebook_pad_top"></div>
            <div class="gradebook_pad">
              <!-- tabs-->
              <div class="gradebook_tabs menu_container" align="right">
                 <a href="javascript:void(0)"  id="menu1" value="1" class="side_tab side_tab_open"><span class="task_tab"> Current</span></a>
                 <a href="javascript:void(0)"  id="menu2" value="2" class="side_tab side_tab_close"><span class="task_tab"> Past</span></a>
              </div>
              <!--tab content-->
              <div class="gradebook_tab_content gradebook_tab_content2">
               <!-- <div class="spacebar10px"></div>  -->
                <div class="course_select">
                <div class="page_heading">COURSE</div>
                <div class="selectbg"> 
                 <% unless @latest_course.nil? %>
                    <span class="fakebox"><%=@latest_course.name%></span>
                 <% end %>
                 <select id="course_id">
                  <% unless @courses.nil? %>
                    <% @courses.each do |c| %>
                      <option value="<%= c.id %>"><%= c.name %></option>
                    <% end %>
                  <% end %>
                 </select>
                </div>
                </div>
                <div class="clear"></div>
                <div id="all_participant">
                  <%= render :partial=>"/grade_book/show_participant"%>
                </div>
                <div class="clear"></div>
                <div class="extra_height_gradepage"></div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="grade_val"  id ="grad_val" value="">
    <input type="hidden" name="previous_grade"  id ="previous_grade" value="">
    <input type="hidden" name="clicked_id"  id ="clicked_id" value="">
    <input type="hidden" name="letest"  id ="letest" value="">
    <input type="hidden" name="plus_minus"  id ="plus_minus" value="">
    <input type="hidden" name="outcome_points"  id ="outcome_points" value="">
    <input type="hidden" name="school_id"  id ="school_id" value="<%=@latest_course.school_id if @latest_course%>">
  </div>
<script>

$(document).ready(function(){
  
  setPageTitle("GradeBook");
  var arr = new Array();
  var grades = new Array();
  var grades_arr = ["","A","A-","B+","B","B-","C+","C","C-","D+","D","D-","F"];
  var arr_alphabet_id = ["letter_a","letter_b","letter_c","letter_d","letter_f"]
  var points_arr = ["",1,2,3];
  var final_value='';
  var arr_id =[];
  var previous_grade;
  var select_alphabet = false;
  var select_symbol = false;
  var select_points = false;
  var letest_points = false;
  var letest = "";
  var show_setting = false;
  var reset =  false;
  var last_value = "";
  var alphabet = "" ;
  var sign = "";
  //Toggle Tabs
  $(".menu_container").delegate('a', 'click', function(){
    //showSpinner(true);
    idx = $(this).attr("value");
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    for(i=0;i<3;i++){
      if(idx != i){
        //$("#div_"+i).hide();
      }
    }
    //---- Selected menu will highlighted
    $('#menu'+idx).addClass("side_tab_open").removeClass("side_tab_close");
   // $("#div_"+idx).fadeIn();
  });
  
  $(".task_right_wp").delegate("th","click",function(){
   if(final_value != "" || reset == true)
   {
    var id = $(this).attr("id");
    $("."+id).each(function() {
      $(this).attr("value",final_value);
      var idx = $(this).attr("id")
      var val = $(this).val();
      var rel = $(this).attr("rel");
      grades = [];
      save_grade(val,idx,rel);
    });
   } 
  });
  
  $(".task_right_wp").delegate("div","click",function(){
   if(final_value != "" || reset == true)
   {
    var id = $(this).attr("id");
    $("."+id).each(function() {
      $(this).attr("value",final_value);
      var idx = $(this).attr("id")
      var val = $(this).val();
      var rel = $(this).attr("rel");
      grades = [];
      save_grade(val,idx,rel);
    });
   }
  });
  
  $(".undo").click(function(){
    var first = true; 
    select_points = false
    select_alphabet = true;
    select_symbol = true;
    reset = false
    alphabet = "" ;
    sign = "";
    $.each(arr_id, function(index, id) { 
        if (id == "undo")
        {
          first = false;
          if($("#undo").hasClass("select_btn")){
            $("#undo").removeClass("select_btn");
            final_value = '';    
            }
          else {
            $("#undo").addClass("select_btn");
             final_value = $("#previous_grade").val();
          }         
        }
        else{
          $("#"+id).removeClass("select_btn");
          }
    });
    if (first == true){
     $(this).addClass("select_btn");
      final_value = $("#previous_grade").val();
     }
     arr_id=[];
     arr_id.push($(this).attr("id"));
  });
  
  $(".reset_field").click(function(){
    var first = true; 
    select_points = false
    select_alphabet = true;
    select_symbol = true;
    reset = false
    alphabet = "" ;
    sign = "";
    $.each(arr_id, function(index, id) { 
        if (id == "reset_fields")
        {
          first = false;
          if($("#reset_fields").hasClass("select_btn"))
            $("#reset_fields").removeClass("select_btn");
          else {
            $("#reset_fields").addClass("select_btn");
            reset = true;
          }         
        }
        else{
          $("#"+id).removeClass("select_btn");
          }
    });
    if (first == true){
     $(this).addClass("select_btn");
     reset = true  
     }
     arr_id=[];
     final_value = '';    
     arr_id.push($(this).attr("id"));
  });
  
  $(".letest").click(function(){
    if($(this).val()=="" || $(this).val() == "?"){

    }
    else{
      alphabet = "" ;
      sign = "";
      select_points = false
      select_alphabet = true;
      select_symbol = true;
      var first = true; 
      $.each(arr_id, function(index, id) { 
        if (id == "letest1")
        {
          first = false;
          if($("#letest1").hasClass("select_btn"))
            $("#letest1").removeClass("select_btn");
          else 
            $("#letest1").addClass("select_btn"); 
        }
        else{
          $("#"+id).removeClass("select_btn");
        }
      });
      if (first == true){
       $(this).addClass("select_btn");
       final_value = $(this).val();
       arr_id=[];
       arr_id.push($(this).attr("id"));
      } 
      else {
        final_value = '';
        $(this).removeClass("select_btn");
        arr_id=[];
      }        
    }
  });
  
  $('.outcome_point').click(function(){
    select_alphabet = true;
    select_symbol = true;
    final_value = ''
    alphabet = "" ;
    sign = "";
    var previous = $("#outcome_points").val();
    $("#outcome_points").val($(this).attr("id"));
    $.each(arr_id, function(index, id) { 
       $("#"+id).removeClass("select_btn");
    });
    arr_id = [];
    arr_id.push($(this).attr("id"));
    if(previous == $(this).attr("id"))
      {
        if ( select_points == true){
            $(this).removeClass("select_btn");
            final_value=''
            select_points = false
        }
        else{
          $(this).addClass("select_btn");
          final_value = $(this).val();
          select_points = true;
        }
      }
      else{
        select_points = true;
        $(this).addClass("select_btn");
         final_value = $(this).val();
      }
  });

  $('.symbol').click(function(){
    var letter="";
    select_points = false
    $.each(arr_id, function(index, id) { 
      $("#"+id).removeClass("select_btn");
     if(id == "letter_a" || id == "letter_b" || id == "letter_c" || id == "letter_d" || id == "letter_f"){
       $("#"+id).addClass("select_btn");
       letter = id;
     }
    });
    $("#plus").removeClass("select_btn");
    $("#minus").removeClass("select_btn");
    var previous = $("#plus_minus").val();
    $("#plus_minus").val($(this).attr("id"));
    var val = $(this).val();
    var total_grade = '';
    arr_id = [];
    arr_id.push(letter);
    if(previous == $(this).attr("id") && select_symbol == false){
      $(this).removeClass("select_btn");
      select_symbol = true
      sign ="";
      final_value = alphabet
    }
    else{
    $(this).addClass("select_btn");
    select_symbol = false;
    sign = $(this).val();
    arr_id.push($(this).attr("id")) 
    if (alphabet!=""){
      final_value =  alphabet+sign;
      if(alphabet=="A")
       arr_id.push("letter_a");
      else if(alphabet=="B")
       arr_id.push("letter_b");
      else if(alphabet=="C")
       arr_id.push("letter_c");
      else if(alphabet=="D")
       arr_id.push("letter_d");
      else if(alphabet=="F")
       arr_id.push("letter_f");
    }
   }
  });
  
  $('.alphabet').click(function(){
    select_points = false
    var previous = $("#clicked_id").val();
    $("#clicked_id").val($(this).attr("id"));
    $.each(arr_id, function(index, id) { 
      $("#"+id).removeClass("select_btn");
      if(id == "plus" || id == "minus"){
        $("#"+id).addClass("select_btn");
        select_symbol = false
      }
    });
    arr_id = [];
    var val = $(this).val();
    if(previous == $(this).attr("id") && select_alphabet == false){
      $(this).removeClass("select_btn");
      select_alphabet = true;
      alphabet = "";
      final_value="";
    }
    else{
      $(this).addClass("select_btn"); 
      select_alphabet = false;
      alphabet = val.toUpperCase();
      arr_id.push($(this).attr("id"));
      if(sign!=""){
        final_value = alphabet+sign;
        if(sign=="+")
          arr_id.push("plus");
        else 
          arr_id.push("minus");
      }
      else{
        final_value = alphabet
      }
    }
  });
  
  $(".task_right_wp").delegate("input","click",function(){
    id = $(this).attr("id");
    document.getElementById(id).focus();
    document.getElementById(id).select();
    previous_grade = $(this).val();
    $(this).removeClass("warning");
    if(final_value != "" || reset == true){
      document.getElementById('reset_fields').focus(); 
      $(this).attr("value",final_value);  
      $(this).trigger("change");
    }
  });
  
  function valid_grade(val,id){  
    var last="";
    var flag = false;
    $(grades_arr).each(function(i, grade){
      if(grade == val){
        $("#"+id).removeClass("warning");
        flag = true;
        return flag;
      }
    });
    if (flag == false){
      for (value=0; value<=100; value++)  
      {
        var points = parseFloat(value)
        if(val<=value && val !=""){
          $("#"+id).removeClass("warning");
          flag = true;
          if(val != $("#letest1").val()){
            $("#letest1").attr("value",val);
          }           
          break;
        } 
      } 
    }
    if (flag == false){
      $("#"+id).addClass("warning");
      $("#"+id).val(previous_grade);
    }
    return flag;  
  }
  
  function valid_point(val,id){   
    var flag = false;
    $(points_arr).each(function(i, point) {
      if(point == val){
        $("#"+id).removeClass("warning");
        flag = true;
        return flag;
      }
    });
    if (flag == false){
        $("#"+id).addClass("warning");
        $("#"+id).val(previous_grade);
      }
    return flag;    
  }

  function save_grade(val,id,rel){ 
    var valid = false;
    if(id[0]=="g"){
      valid = valid_grade(val.toUpperCase(),id)
    }
    else{
      valid = valid_point(val,id)
    }
    if(valid==true){
      var course_id = $("#course_id").val();
      var school_id = $("#school_id").val();
      var type = rel.split("_");
      showSpinner(true);
      if(type[0]=="p"){
        var sum = 0;
        var average = 0;
        var count = 0;
        var ids= id.split("_");
        var participant_id = ids[1];
        var outcome_id = ids[2];
        var task_id = ids[3];
        $("input[rel="+rel+"]").each(function(index,item){
          var points = parseInt(item.value);
          if (isNaN(points)==false){
            sum = sum + points
            count = count + 1
          }
        });
        average = sum/count;
        if (isNaN(average)==true)
        average='';
        $.ajax({
          type :"POST",
          url: "/grade_book/outcomes_points", 
          dataType: "json",
          data: {school_id:school_id,course_id:course_id,task_id:task_id,outcome_id:outcome_id,participant_id:participant_id,average:average,outcome_val:val},
          error: function(e){alert("error");},
          success: function(data){
            $("#"+rel).attr("value",data.average); 
            $("#previous_grade").attr("value",data.previous_grade);
            showSpinner(false);
          }
        });
      }
      else{
        $("input[rel="+rel+"]").each(function(index,item){
          grades.push(item.value);
          count =index+1
       });
        var ids = id.split("_");
        var task_id = ids[2];
        var task_grade = val;
        task_grade = task_grade.toUpperCase();
        var participant_id = rel;
        $.ajax({
          type :"POST",
          url: "/grade_book/grade_calculate", 
          dataType: "json",
          data: {school_id:school_id,characters:grades,course_id:course_id,task_id:task_id,participant_id:participant_id,task_grade:task_grade},
          error: function(e){alert("error");},
          success: function(data){
            $("#"+rel).attr("value",data.grade);
            $("#previous_grade").attr("value",data.previous_grade);
            grades = [];
            showSpinner(false);
          }
        });
      }  
      $(this).css("background-color","");  
    }
  }
  
  
  $(".task_right_wp").delegate("input","change",function(){
      var val = $(this).val();
      id = $(this).attr("id");
      rel = $(this).attr("rel");
      grades=[];
      $(this).val(val.toUpperCase());
      save_grade(val,id,rel)
  });
  
  $("#setting_icon").click(function(){
    if (show_setting == false){
      $("#seting_box").show();
      show_setting = true;
    }
    else{
      $("#seting_box").hide();
      show_setting = false;
    }
  });
  
  

$('#course_id').change(function(){
  var singleValues = $("#course_id :selected").text();
  $(this).parent().find('.fakebox').html(singleValues );
  load_outcomes();
  $('#outcome_note').val(1);
  $('#outcome_note').parent().find('.fakebox').html("OUTCOMES" );
});

function load_outcomes(){
  var participant;
  var tasks;
  var outcomes
  course_id = $("#course_id").val();
  showSpinner(true);
  $.ajax({
    type :"POST",
    url: "/grade_book/get_task", 
    dataType: "json",
    data: {course_id:course_id},
    success: function(data){
      showSpinner(false);
      participant = data.participant;
      outcomes = data.outcomes;
      tasks = data.tasks;
      var option ='';
      var row =$("<tr></tr>");
      var  table3 = $("<table></table>") 
      $(tasks).each(function(i, value) {
        var col =$("<th></th>") ;
        option = option + "<option value = "+ value.id +">" + value.name +"</option>"
        col.html(value.name);   
        col.addClass("hover");
        col.attr("id",value.id)
        row.append(col);
      });
      $('#task_id').html(option);
     
      row.addClass("task_right_heading");
      table3.append(row);
      var  table = $("<table></table>");
      var  table_note = $("<table></table>");
      var  table2 = $("<table></table>");
      table.addClass("GB_left_table GB_table");//table for participant name and grade
      table.attr("id","GB_left_table")
      table.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
      table2.addClass("GB_right_table");//table outcome  average grade 
      table2.attr("id","GB_right_table");
      table2.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
      table3.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
      table3.attr("id","heading_task");
      table3.addClass("heading_task");
      $(participant).each(function(p, value){
        var count =0;
        var rows =$("<tr></tr>");
        var cols =$("<td></td>");
        var col2 =$("<td></td>");
        var div = $("<div></div>");
        var cols_note =$("<td></td>");
        var rows_note =$("<tr></tr>");
        var div_note = $("<div></div>");
        var col2_note =$("<td></td>");
        var div2 = $("<div></div>");
        var rows2 =$("<tr></tr>");
        var cols2 =$("<td></td>");
        cols.attr('width','63%');
        var text = '';
        div2.addClass("GB_outcomment rotate_text");
        div2.html("WRITING USING A QUILL");
        div.addClass("b_box");
        col2.addClass("td_align");
        cols.addClass("Name_box td_align");
        cols.html(value.full_name);
        cols2.addClass("");
        var  text = $("<input type ='text' value = '"+value.grade+"' id = '"+ value.id +"' maxlength='1' readonly='readonly' size='5'/>")         
        text.addClass("task_grade")         
        div.html(text);        
        col2.html(div);        
        rows.html(cols);
        rows.append(col2);
      
        $(outcomes).each(function(i, outcomes){
          var grade_col =$("<td></td>");
          var outcomes_col =$("<td></td>");
          var outcome_name =$("<div></div>"); 
          if(p==0){
            outcome_name.html(outcomes.name);
          }
          outcome_name.addClass("GB_outcomment rotate_text");
          outcomes_col.html(outcome_name);
          var  text = $("<input type ='text' value = '"+value.course_outcomes[i]+"' id = 'p_"+value.id +"_"+outcomes.id +"' maxlength='1' readonly='readonly' size='1'/>")
          text.addClass("")
          grade_col.html(text);
          grade_col.addClass("td_align")
          rows2.append(outcomes_col);
          rows2.append(grade_col);
        });
        if (p%2==0){
          rows.addClass("GB_odd");
          rows2.addClass("Dark_no");
        }
        else{
          rows2.addClass("light_row");
        }
        table2.append(rows2);
        table.append(rows);
        var row_item = $("<tr></tr>");
        var all_col='';

        $(tasks).each(function(i, task){
          var rows =$("<tr></tr>");
          var column =$("<td></td>");
          var main_col=$("<td></td>");
          var table_task = $("<table></table>");
          var len = task.task_outcomes.length;
          var  text_grade = $("<input type ='text' value = '"+value.task_grade[i]+"' id = 'g_"+value.id+"_"+task.id +"' maxlength='4' size='2' rel = '"+ value.id +"'/>");
          text_grade.addClass("editable_field task_grade "+task.id +"");
          column.html(text_grade); 
          if (p!=0)
          column.addClass("td_align")
          rows.append(column);
          if(len>0){
            for (i=0; i<len; i++)
            {
              var point_column =$("<td></td>");
              var outcome =$("<td></td>");
              var outcome_div =$("<div></div>");             
              var  text_point = $("<input type ='text' value = '"+value.task_outcome_grade[count]+"' id = 'p_"+value.id+"_"+task.task_outcomes[i].id+"_"+task.id +"' rel = 'p_"+value.id+"_"+task.task_outcomes[i].id+"' maxlength='1' size='2'/>");
              count = count + 1 ;
              text_point.addClass("editable_field task_grade "+task.id+"_"+task.task_outcomes[i].id+"");
              if(p%2==0){
                outcome.addClass("Dark_no width_30");
                point_column.addClass("Dark_no width_30");
              }
              else{
                outcome.addClass("light_row width_30");
                point_column.addClass("light_row width_30");
              }             
              if(p==0){
                outcome_div.html(task.task_outcomes[i].name);
                outcome.addClass("hover")
              }
              outcome_div.addClass("GB_outcomment2 rotate_text");
              outcome_div.attr("id",task.id+"_"+task.task_outcomes[i].id)
              outcome.html(outcome_div);
              point_column.html(text_point);
              point_column.addClass("td_align")
              rows.append(outcome);
              rows.append(point_column);
            }
          }   
          if (p%2==0){
              rows.addClass("GB_odd");
            }
          table_task.html(rows);
          main_col.html(table_task);
          row_item.append(main_col);
        });     
        row_item.addClass("GB_row");
        table3.append(row_item);        
     });
     $('.GB_left_table').replaceWith(table);
     $('.GB_right_table').replaceWith(table2);
     $('.heading_task').replaceWith(table3);
    }
  });
}

  $('#task_id').change(function(){
    var singleValues = $("#task_id :selected").text();
    $(this).parent().find('.fakebox').html(singleValues );
  });

  $('#outcome_note').change(function(){
    var singleValues = $("#outcome_note :selected").text();
    $("#outcome_note").parent().find('.fakebox').html(singleValues);
    course_id = $("#course_id").val();
    var val = $(this).val();
    if (val==1){
      load_outcomes();
    }
    else{
      showSpinner(true);
      $.ajax({
        type :"POST",
        url: "/grade_book/load_notes", 
        dataType: "json",
        data: {course_id:course_id},
        success: function(data){
          showSpinner(false);
          var header =$("<tr></tr>");
          var  table_task = $("<table></table>") 
          table_task.addClass("heading_task");
          table_task.attr("id","heading_task");
          $(data.tasks).each(function(i, value) {
            var col =$("<th></th>") ;
            col.html(value.name);   
            col.addClass("hover");
            col.attr("id",value.id)
            header.append(col);
          });
          header.addClass("task_right_heading");
          table_task.append(header);
          var  table_note = $("<table></table>");
          var  table_note2 = $("<table></table>");
          table_note.addClass("GB_left_table GB_table");//table for participant name and grade for note
          table_note.attr("id","GB_left_table")
          table_note2.addClass("GB_right_table");//table outcome  average grade 
          table_note2.attr("id","GB_right_table");
          table_note2.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
          table_note.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
          $(data.participant).each(function(p, value) {
            var cols_note =$("<td></td>");
            var rows_note =$("<tr></tr>");
            var div_note = $("<div></div>");
            var col2_note =$("<td></td>");
            var cols_note2 =$("<td></td>");
            var rows_note2 =$("<tr></tr>");
            var div_note2 = $("<div></div>");
            cols_note.attr('width','63%');
            div_note.addClass("b_box");
            cols_note.addClass("Name_box td_align");
            cols_note.html(value.full_name);
            col2_note.addClass("td_align");
            var  text2 = $("<input type ='text' value = 'D' id = '"+ value.id +"' maxlength='1' readonly='readonly' size='5'/>")
            text2.addClass("task_grade");
            div_note.html(text2);
            col2_note.html(div_note);
            rows_note.html(cols_note);
            rows_note.append(col2_note);
            table_note.append(rows_note);
            if (p%2==0){
              rows_note.addClass("GB_odd");
              rows_note2.addClass("Dark_no");
            }
            else{
              rows_note.addClass("");
              rows_note2.addClass("light_row")
            }
            var task_row = $("<tr></tr>");
            $(data.tasks).each(function(i, value){
              var task_col = $("<td></td>");
              task_col.html("&nbsp");
              task_row.append(task_col);
              if (p%2==0)
              task_row.addClass("GB_odd")
            });
            div_note2.html("NOTES");
            cols_note2.html(div_note2);
            rows_note2.html(cols_note2)
            table_note2.append(rows_note2);
            table_task.append(task_row);   
          });
           $('.GB_left_table').replaceWith(table_note);
           $('.GB_right_table').replaceWith(table_note2);
           $('.heading_task').replaceWith(table_task);
        }
      });  
    }    
  });

/*$(function() {
  $('.editable').inlineEdit();
});*/

});
</script>



