
<div class="add_task_popup">
  <div class="heading">Task Setup</div>
  <div class="boxadnt"> <span class="heading02">Task Name</span>
    <div class="heading02_field">
      <div class="dd_bg brown_bg02">
        <input type ="text" class ="dd_input brown_bg02" id="task_name" value="<%=@task.name%>">
      </div>
    </div>
    <div class="clear"></div>
    <div class="spacebar10px"></div>
    <div>
    <span class="">Category</span>
    <select id="categories1" class="brown_bg02" style="margin-left: 34px;">
      <% unless @categories.nil? %>
        <option value="">SELECT</option>
        <% @categories.each do |c| %> 
        <option value="<%= c.id %>" <%=@task.category and @task.category.name == c.name ? "selected" : ""%>><%= c.name %></option>
        <% end %>
      <% end %>
    </select>
     <div class="spacebar10px"></div>
    <div >Outcomes</div>
      <div class="spacebar10px"></div>
      <% if !@outcomes_course.nil? %>
       <% @outcomes_course.each do |outcomes| %>
        <div id="task_outcomes_<%=outcomes.id%>" class="">
          <span class="custom-checkbox">
          <input type="checkbox" name="chk_outcomes[]" <%=@task.outcomes.map(&:name).include?(outcomes.name) ? "checked='checked'" : "" %> id="<%=outcomes.id%>"  value="<%=outcomes.id%>" <%if outcomes.shared == true%>disabled="disabled"<%end%> />
          <span class="box"><span class="tick"></span></span> </span><span class="rfw"><%= outcomes.name %></span>
          <div class="spacebar10px"></div>
        </div>
       <% end %>  
      <% end %>
    </div>  
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
  </div>
   <input type="hidden" name="setup_task_id" id="setup_task_id" value="<%=@task.id if @task%>"/>
  <div align="right">
  <a class="big_blue_btn inlineblock smaller_text" id ="dont_change_btn" href="javascript:void(0)">Don't Change</a> <a class="big_orange_btn inlineblock clr_red" id ="change_btn" href="javascript:void(0)">Change</a></div>
</div>


<script type="text/javascript">
<!--
  $("#dont_change_btn").click(function(){
    $("#load_task_setup").hide();
  });
// Hide the card if clicked outside
$(document).click(function (e){
    var container = $("#load_task_setup");

    if (container.has(e.target).length === 0)
    {
        container.hide();
        $(document).unbind('click');
    }
});
 $("#grading_complete_date").click(function(){
   //console.log($(this).is(':checked'))
    //check_val = $(this).is(':checked');
 });
 $("#change_btn").click(function(){
    task_id = $("#setup_task_id").val();
    task_name = $("#task_name").val();
    var category_id = $("#categories1").val();
    var outcomeObject = [];
      i = 0;
      $("input[name='chk_outcomes[]']").each(function(){
        if(this.checked) {
          outcomeObject.push(this.id)
          i++;
        }
      }); 
    showSpinner(true);
    $.ajax({
      type:"POST",
      url:"/grade_book/task_setup",
      dataType:"json",
      data:{task_id:task_id,task_name:task_name,outcomes:outcomeObject,category_id:category_id},
      error:  function(e){alert("error");},
      success: function(resp){
         showSpinner(false);
         $("#load_task_setup").html("");
         $("#load_task_setup").hide();
         load_outcomes();
      }      
   
    });
    
 });


//-->
</script>