
<div class="add_task_popup" style="width:500px;top:320px;position:absolute;" id="add_task_popup">
  <div class="heading">Task Setup</div>
  <div class="boxadnt boxadnt_scroll"> <span class="heading02">Task Name</span>
    <div class="heading02_field">
      <div class="dd_bg brown_bg02">
        <input type ="text" class ="dd_input brown_bg02" id="task_name" value="<%=@task.name%>">
      </div>
    </div>
    <div class="clear"></div>
    <div class="spacebar10px"></div>
    <div>
    <span class="">Category</span>
    <select id="categories1" class="brown_bg02" style="margin-left: 34px;">
      <% unless @categories.nil? %>
        <option value="">SELECT</option>
        <% @categories.each do |c| %> 
        <option value="<%= c.id %>" <%=@task.category and @task.category.name == c.name ? "selected" : ""%>><%= c.name %></option>
        <% end %>
      <% end %>
    </select>
     <div class="spacebar10px"></div>
    <div >Outcomes</div>
      <div class="spacebar10px"></div>
      <% if !@outcomes_course.nil? %>
       <% @outcomes_course.each do |outcomes| %>
        <div id="task_outcomes_<%=outcomes.id%>" class="">
          <span class="custom-checkbox">
          <input type="checkbox" name="chk_outcomes_setup[]" <%=@task.outcomes.map(&:name).include?(outcomes.name) ? "checked='checked'" : "" %> id="<%=outcomes.id%>"  value="<%=outcomes.id%>" />
          <span class="box"><span class="tick"></span></span> </span><span class="rfw"><%= outcomes.name %></span>
          <div class="spacebar10px"></div>
        </div>
       <% end %>  
      <% end %>
    </div>  
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
  </div>
   <input type="hidden" name="setup_task_id" id="setup_task_id" value="<%=@task.id if @task%>"/>
  <div align="right">
    <a class="big_blue_btn inlineblock smaller_text" id ="remove_task_btn" href="javascript:void(0)" style="float:left">Remove Task</a>
    <a class="big_blue_btn inlineblock smaller_text" id ="dont_change_btn" href="javascript:void(0)">Don't Change</a>
    <a class="big_orange_btn inlineblock clr_red" id ="change_btn" href="javascript:void(0)">Change</a>
  </div>
</div>
<!-- Warning pop for remove task -->
<div id="warning_msg_remove" class="add_task_popup" style="display:none;position:fixed;z-index:10000">
	<div class="heading">Remove Task</div>
	<div class="boxadnt"> 
		Warning: By removing this task you will lose all data and files associated with it, both from the Gradebook and from your TASKS area.
  </div>
	<div class="spacebar10px"></div>
	<div class="spacebar10px"></div>
	<div align="right" style="margin-right:20px;">
		<a class="smaller_text big_blue_btn inlineblock dialog_btn" id="dont_remove_btn" href="javascript:void(0)">Don't Remove</a> 
		<a class="big_orange_btn inlineblock dialog_btn" id="remove_task_cnfrm" href="javascript:void(0)">Remove</a>
	</div>
</div>

<script type="text/javascript">
<!--
  $("#dont_change_btn").click(function(){
    $("#load_task_setup").hide();
  });
// Hide the card if clicked outside
$(document).click(function (e){
    var container = $("#load_task_setup");

    if (container.has(e.target).length === 0)
    {
        container.hide();
        $(document).unbind('click');
    }
});
 $("#grading_complete_date").click(function(){
   //console.log($(this).is(':checked'))
    //check_val = $(this).is(':checked');
 });
 $("#change_btn").click(function(){
    task_id = $("#setup_task_id").val();
    task_name = $("#task_name").val();
    var category_id = $("#categories1").val();
    var outcomeObject = [];
      $("input[name='chk_outcomes_setup[]']").each(function(){
        if(this.checked) {
          outcomeObject.push(this.id)
        }
      }); 
    showSpinner(true);
    $.ajax({
      type:"POST",
      url:"/grade_book/task_setup",
      dataType:"json",
      data:{task_id:task_id,task_name:task_name,outcomes:outcomeObject,category_id:category_id},
      error:  function(e){alert("error");},
      success: function(resp){
         showSpinner(false);
         $("#load_task_setup").html("");
         $("#load_task_setup").hide();
         load_outcomes();
      }      
   
    });
    
 });
$("#remove_task_btn").click(function(event){
	$("#add_task_popup").hide();
	$("#warning_msg_remove").show();
	event.stopPropagation();
}); 
$("#dont_remove_btn").click(function(event){
	$("#warning_msg_remove").hide();
	event.stopPropagation();
}); 
$("#remove_task_cnfrm").click(function(){
	task_id = $("#setup_task_id").val();
	$("#warning_msg_remove").hide();
	showSpinner(true);
	$.ajax({
		type: "POST",  
		url: "/task/remove_tasks",  
		data: {task_id:task_id},
		dataType: "json",
		success: function(data) {
			showSpinner(false);
			$("#load_task_setup").html("");
			$("#load_task_setup").hide();
			load_outcomes();
		}
	});
});
//-->
</script>