<div class="GB_course_box">

  <div class="spacebarGbook"></div>
  <div class="GBtable_wrapper">
    <div class="outcome_wp">
      <div class="Grade_left_panel_head"><div class="Grade_box ">GRADE</div></div>
      <div class="Grade_right_panel_head">
        <div class="selectbg2"> <span class="fakebox">OUTCOMES</span>
          <select id="outcome_note">
            <%if !@latest_course.nil? %>
             <option value="1">OUTCOMES</option>
             <option value="2">NOTES</option>
            <% end %>
          </select>
        </div>
      </div>
    </div><!--outcome_wp-->

    <div class="Grade_left_panel">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="GB_table GB_left_table" id="GB_left_table"><!--left side table-->
  
        <%if !@participant.nil?%><!--Data load for each paticipants-->
        <% @participant.each do |p|%>
          <tr class="<%= cycle("GB_odd","")%>">
            <td width="63%" class="Name_box td_align"><%= p.full_name%></td><!-- td_align-->
            <%participant_grade, outcome_grade = CourseGrade.load_grade(p.profile_id, @course_id,@school_id)%>
            <%val = participant_grade[@course_id]%>
            <%grade=""%>
            <%if !val.nil?%>
              <% grade = GradeType.value_to_letter(val, @school_id)%>
            <%end%>
            <td class="td_align"> 
              <div class="b_box"><input type="text" name="grade" id="<%=p.profile_id%>" class="task_grade" value="<%=val%> <%=grade%>" maxlength="1" readonly="readonly" size="5"/></div>
            </td>
         
          </tr>
          <%end%>
        <%end%>
        <%if @count && @count<10%><!--load empty rows if participants less then 10-->
          <%for i in (@count..9)%>
            <tr class="<%= cycle("GB_odd","")%>">
            <td width="63%" class="Name_box td_align"></td><!-- td_align-->
            
            <td class="td_align"> 
              <div class="b_box"><input type="text" name="grade" id="" class="task_grade" value="" maxlength="1" readonly="readonly" size="5"/></div>
            </td>
         
          </tr>
          <%end%>
        <%end%>
      </table>
      
    </div><!--Grade_left_panel-->

    <div class="Grade_right_panel">

      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="GB_table GB_right_table" id = "GB_right_table"><!--Left side table for outcomes-->
      
        <%if !@participant.nil?%>
          <% @participant.each_with_index do |p,i|%>
          <tr class="<%= cycle("Dark_no","light_row")%>">
          <%if @outcomes.length>0%>
            <%if !@outcomes.nil?%>
               <% @outcomes.each do |o|%>
                <td class="red_border1">
                  <div class="GB_outcomment rotate_text"><%if i == 0%><%=o.name%><%end%></div>
                </td>
                <%outcome_grade = CourseGrade.load_outcomes(p.profile_id, @course_id,o.id,@school_id)%>
                <td class="td_align red_border"><input type="text" name="grade" id="p_<%=p.profile_id%>_<%=o.id%>" class="grades col_width" value="<%=outcome_grade%>" maxlength="1" readonly="readonly" size="1"/></td>
              <%end%>
            <%end%>
            <%else%>
            <td>
              <div class="GB_outcomment rotate_text"><%if i == 0%><%end%></div>
            </td>
            <td class="td_align"><input type="text" name="grade" id class="grades col_width" value="" maxlength="1" readonly="readonly" size="1"/></td>
           <%end%>   
          </tr>
          <%end%>
        <%end%>
        
        <%if @count && @count<10%><!--load empty rows if participants less then 10-->
          <%for i in (@count..9)%>
          <tr class="<%= cycle("Dark_no","light_row")%>">
            <%if @outcomes.length>0%>
               <% @outcomes.each do |o|%>
                <td class="red_border1">
                  <div class="GB_outcomment rotate_text"></div>
                </td>
                
                <td class="td_align red_border"><input type="text" name="grade" id="" class="grades col_width" value="" maxlength="1" readonly="readonly" size="1"/></td>
              <%end%>
            <%else%>
             <td>
                <div class="GB_outcomment rotate_text"></div>
              </td>
              <td class="td_align"><input type="text" name="grade" id="" class="grades col_width" value="" maxlength="1" readonly="readonly" size="1"/></td>  
            <%end%>
          </tr>
          
          <%end%>
        <%end%> 
      </table>
      
    </div><!--Grade_right_panel-->
  </div>
</div>

<div class="GB_course_box2">

  <div class="selectbg3" id="show_all_task">
    <%= render :partial => "/grade_book/show_task" %>
  </div>

  <div class="page_heading">TASK</div>
  <div class="clear"></div>
  <div class="spacebarGbook2"></div>

  <div class="task_left_wp">
    <div class="task_left_heading">
      <div class="positn_rtlv"><div id="seting_box" style="display:none;" class="GBsttingbox"></div>
        <div class="GB_sttingbt hide"><img id="setting_icon" src="images/GB_setting_icon.png" /></div></div>
     
    </div><!--task_left_heading-->
    <div class="clear"></div>
    
  </div><!--task_left_wp-->

  <div class="task_right_wp" id = "task_right_wp">
  
    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="heading_task" class="heading_task"><!--Right side table-->
      <tr class="task_right_heading" id = "table_heading"><!--Top row for filling grades-->
      <% unless @tasks.nil? %>
          <% @tasks.each do |t| %> 
       <td class="red_border">
         <table border="0" class="">
          <tr>
             <td class="hover task_name_background width12px line_height24px">
               <div>
                 <img id="" class="task_setup_icon" rel="<%=t.id%>" src="images/btn_task_setup.png"/>
               </div>
                <div class="rotate_text GB_outcomment3 white_font"><%=t.name%><span style="color:#B5BDD0;"><%=load_caregory_name(t.id)%></span></div>
              </td>
              <td class="hover width60px line_height24px" id="t_<%=t.id%>" rel="grade_column">
               <div id="img_t_<%=t.id%>" class="hide">
                 <img id="" src="images/btn_fill_column.png"/>
               </div>
              </td>
               <%if t.show_outcomes%>
                 <% @task_outcomes = t.outcomes%>
                  <%if @task_outcomes.length>0%>
                    <% if !@task_outcomes.nil?%>
                      <% @task_outcomes.each_with_index do |o,j|%>
                      <td  class="hover width60px line_height24px" id="<%=t.id%>_<%=o.id%>" rel="grade_column">
                        <div id="img_<%=t.id%>_<%=o.id%>" class="hide">
                         <img id="" src="images/btn_fill_column.png"/>
                       </div>
                        <div class="GB_outcomment2 rotate_text"> </div>
                      </td>
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>
         </tr> 
         </table>
       </td>
       <%end%>
      <%end%> 
      </tr>
     <%if !@participant.nil?%>
       <% @participant.each_with_index do |p,i|%>
        <tr class="GB_row" id ="r_<%=i%>">
        <% unless @tasks.nil? %>
          <% @tasks.each do |t| %> 
          <td class="red_border"> 
            <table border="0" class="GB_table GB_editable task_grades_width"><!--Add task_grades_width for extra width problem 05/09/12-->
              <tr <%if i%2 == 0%>class="GB_odd"<%end%>>
              <% @task_outcomes = t.outcomes%>
              <%task_grade = TaskGrade.load_task_grade(@school_id, @course_id,t.id,p.profile_id)%>
              <%grade=""%>
              <%if !task_grade.nil?%>
                <% grade = GradeType.value_to_letter(task_grade, @school_id)%>
              <%end%>
                <td class="width12px width_30 hover task_name_background " >
                  <div class="rotate_text GB_outcomment3 white_font"><%if i==0%>&nbsp;<%end%></div>
                </td>
                <td class="" id="" rel="">
                  <div  class="rotate_text GB_outcomment3"><%if (i==0)%>Grade<%end%></div>
                </td>
                <td class="first_row_layout selected_t_<%=t.id%> <%if (i==0)%><%else%>td_align<%end%>">
                  <input type="text" name="task_grade" value="<%=grade%>" id="g_<%=p.profile_id%>_<%=t.id%>" rel="<%=p.profile_id%>" data="<%=t.include_task_grade%>" class="task_grade editable_field t_<%=t.id%> col_width" maxlength="6" size="2"/>
                </td>
               <%if t.show_outcomes%>
                 <%if @task_outcomes.length>0%>
                  <% if !@task_outcomes.nil?%>
                    <% @task_outcomes.each_with_index do |o,j|%>
                     
                    <td class="white_border <%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 hover ">
                      <div class="GB_outcomment2 rotate_text" id ="<%=t.id%>_<%=o.id%>"><%if i == 0%><%=o.name%><%end%></div>
                    </td>
                    <%outcome_grade = OutcomeGrade.load_task_outcomes(@school_id, @course_id,t.id,p.profile_id,o.id)%>
                    <td class="first_row_layout o_<%=t.id%>_<%=o.id%> <%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 td_align">
                      <input type="text" name="task_grade" value="<%=outcome_grade%>" id="p_<%=p.profile_id%>_<%=o.id%>_<%=t.id%>" rel="p_<%=p.profile_id%>_<%=o.id%>" data="<%=t.include_task_grade%>" class="task_grade editable_field <%=t.id%>_<%=o.id%> col_width" maxlength="1" size="2"/>
                    </td>
                    <%end%>
                  <%end%>
                
                 <%end%> 
              <%end%>   
              </tr>
            </table>
          </td>
         
        <% end %>
       <% end %>
       </tr>
      <% end %>
     <% end %> 
    <%if @count && @count<10%>
      <%for i in (@count..9)%>
        <tr class="GB_row" id =r_<%=i%>>
        <% unless @tasks.nil? %>
          <% @tasks.each do |t| %> 
          <td class="red_border"> 
            <table border="0" class="GB_table GB_editable task_grades_width">
              <tr <%if i%2 == 0%>class="GB_odd"<%end%>>
              <% @task_outcomes = t.outcomes%>
               <td class="task_name_background width12px">
                  <div class="rotate_text GB_outcomment3 "></div>
                </td>
                <td class="" id="" rel="">
                  <div class="rotate_text GB_outcomment3" ></div>
                </td>
               <td class="selected_t_<%=t.id%> <%if (i==0)%><%else%>td_align<%end%>">
                 <input type="text" name="task_grade" value="" id="" rel = "" class="task_grade col_width" readonly="readonly" maxlength="2" size="2"/>
               </td>
               <%if t.show_outcomes%>
                 <%if @task_outcomes.length>0%>
                  <% if !@task_outcomes.nil?%>
                    <% @task_outcomes.each_with_index do |o,j|%>
                    <td class="white_border <%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 hover " >
                      <div class="GB_outcomment2 rotate_text" id =""></div>
                    </td>
                   
                    <td class="o_<%=t.id%>_<%=o.id%> <%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 td_align">
                      <input type="text" name="task_point" value="" id="" rel= ""class="task_grade col_width" readonly="readonly" maxlength="1" size="2"/>
                    </td>
                    <%end%>
                  <%end%>
                <%else%>
                
               <%end%>  
             <%end%>
              </tr>
            </table>
          </td>
        <% end %>
       <% end %>
       </tr>
      <% end %>
    <% end %> 
     
     
    </table>

  </div><!--task_left_heading-->

</div>


