<div class="GB_course_box">

  <div class="spacebarGbook"></div>
  <div class="GBtable_wrapper">
    <div class="outcome_wp">
      <div class="Grade_left_panel_head"><div class="Grade_box ">GRADE</div></div>
      <div class="Grade_right_panel_head">
        <div class="selectbg2"> <span class="fakebox">OUTCOMES</span>
          <select id="outcome_note">
            <%if !@latest_course.nil? %>
             <option value="1">OUTCOMES</option>
             <option value="2">NOTES</option>
            <% end %>
          </select>
        </div>
      </div>
    </div><!--outcome_wp-->

    <div class="Grade_left_panel">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="GB_table GB_left_table" id="GB_left_table">

        <%if !@participant.nil?%>
        <% @participant.each do |p|%>
          <tr class="<%= cycle("GB_odd","")%>">
            <td width="63%" class="Name_box td_align"><%= p.full_name%></td><!-- td_align-->
            <%participant_grade, outcome_grade = CourseGrade.load_grade(p.profile_id, @course_id,@school_id)%>
            <%val = participant_grade[@course_id]%>
            <%grade=""%>
            <%if !val.nil?%>
              <% grade = GradeType.value_to_letter(val, @school_id)%>
            <%end%>
            <td class="td_align"> 
              <div class="b_box"><input type="text" name="grade" id="<%=p.profile_id%>" class="task_grade" value="<%=grade%>" maxlength="1" readonly="readonly" size="5"/></div>
            </td>
         
          </tr>
          <%end%>
        <%end%>
        <%if @count<10%>
          <%for i in (@count..9)%>
            <tr class="<%= cycle("GB_odd","")%>">
            <td width="63%" class="Name_box td_align"></td><!-- td_align-->
            
            <td class="td_align"> 
              <div class="b_box"><input type="text" name="grade" id="" class="task_grade" value="" maxlength="1" readonly="readonly" size="5"/></div>
            </td>
         
          </tr>
          <%end%>
        <%end%>
      </table>
      
    </div><!--Grade_left_panel-->

    <div class="Grade_right_panel">

      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="GB_table GB_right_table" id = "GB_right_table">
      
        <%if !@participant.nil?%>
          <% @participant.each_with_index do |p,i|%>
          <tr class="<%= cycle("Dark_no","light_row")%>">
          <%if @outcomes.length>0%>
            <%if !@outcomes.nil?%>
               <% @outcomes.each do |o|%>
                <td>
                  <div class="GB_outcomment rotate_text"><%if i == 0%><%=o.name%><%end%></div>
                </td>
                <%outcome_grade = CourseGrade.load_outcomes(p.profile_id, @course_id,o.id,@school_id)%>
                <td class="td_align red_border"><input type="text" name="grade" id="p_<%=p.profile_id%>_<%=o.id%>" class="grades" value="<%=outcome_grade%>" maxlength="1" readonly="readonly" size="1"/></td>
              <%end%>
            <%end%>
            <%else%>
            <td>
              <div class="GB_outcomment rotate_text"><%if i == 0%><%end%></div>
            </td>
            <td class="td_align"><input type="text" name="grade" id class="grades" value="" maxlength="1" readonly="readonly" size="1"/></td>
           <%end%>   
          </tr>
          <%end%>
        <%end%>
        
        <%if @count<10%>
          <%for i in (@count..9)%>
          <tr class="<%= cycle("Dark_no","light_row")%>">
            <%if @outcomes.length>0%>
               <% @outcomes.each do |o|%>
                <td>
                  <div class="GB_outcomment rotate_text"></div>
                </td>
                
                <td class="td_align red_border"><input type="text" name="grade" id="" class="grades" value="" maxlength="1" readonly="readonly" size="1"/></td>
              <%end%>
            <%else%>
             <td>
                <div class="GB_outcomment rotate_text"></div>
              </td>
              <td class="td_align"><input type="text" name="grade" id="" class="grades" value="" maxlength="1" readonly="readonly" size="1"/></td>  
            <%end%>
          </tr>
          
          <%end%>
        <%end%> 
      </table>
      
    </div><!--Grade_right_panel-->
  </div>
</div>

<div class="GB_course_box2">

  <div class="selectbg3" id="show_all_task">
    <%= render :partial => "/grade_book/show_task" %>
  </div>

  <div class="page_heading">TASK</div>
  <div class="clear"></div>
  <div class="spacebarGbook"></div>

  <div class="task_left_wp">
    <div class="task_left_heading">
      <div class="positn_rtlv"><div id="seting_box" style="display:none;" class="GBsttingbox"></div>
        <div class="GB_sttingbt"><img id="setting_icon" src="images/GB_setting_icon.png" /></div></div>
     
    </div><!--task_left_heading-->
    <div class="clear"></div>
    
  </div><!--task_left_wp-->

  <div class="task_right_wp" id = "task_right_wp"><!--Right side table-->

    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="heading_task" class="heading_task">
      <tr class="task_right_heading" id = "table_heading">
        <!-- Task headings placed here-->
      </tr>
     <%if !@participant.nil?%>
       <% @participant.each_with_index do |p,i|%>
        <tr class="GB_row" id =r_<%=i%>>
        <% unless @tasks.nil? %>
          <% @tasks.each do |t| %> 
          <td class="red_border"> 
            <table border="0" class="GB_table GB_editable task_grades_hieg">
              <tr <%if i%2 == 0%>class="GB_odd"<%end%>>
              <% @task_outcomes = t.outcomes%>
              <%task_grade = TaskGrade.load_task_grade(@school_id, @course_id,t.id,p.profile_id)%>
              <%grade=""%>
              <%if !task_grade.nil?%>
                <% grade = GradeType.value_to_letter(task_grade, @school_id)%>
              <%end%>
                <td class=" width_30 hover" id="t_<%=t.id%>" rel="grade_column">
                  <div  class="rotate_text GB_outcomment3 "><%if (i==0)%><%=t.name%><%end%></div>
                </td>
                <td <%if (i==0)%>class=""<%else%>class="td_align"<%end%>>
                  <input type="text" name="task_grade" value="<%=grade%>" id="g_<%=p.profile_id%>_<%=t.id%>" rel = "<%=p.profile_id%>" class="task_grade editable_field t_<%=t.id%>" maxlength="4" size="1"/>
                </td>
               <%if @task_outcomes.length>0%>
                <% if !@task_outcomes.nil?%>
                  <% @task_outcomes.each_with_index do |o,j|%>
                   
                  <td id ="<%=t.id%>_<%=o.id%>" class="<%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 hover" rel="grade_column">
                    <div class="GB_outcomment2 rotate_text" id ="<%=t.id%>_<%=o.id%>"><%if i == 0%><%=o.name%><%end%></div>
                  </td>
                  <%outcome_grade = OutcomeGrade.load_task_outcomes(@school_id, @course_id,t.id,p.profile_id,o.id)%>
                  <td class="<%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 td_align">
                    <input type="text" name="task_point" value="<%=outcome_grade%>" id="p_<%=p.profile_id%>_<%=o.id%>_<%=t.id%>" rel= "p_<%=p.profile_id%>_<%=o.id%>"class="task_grade editable_field <%=t.id%>_<%=o.id%>" maxlength="1" size="2"/>
                  </td>
                  <%end%>
                <%end%>
               <%else%>
                 <td class="<%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 td_align hover">
                    <div class="GB_outcomment2 rotate_text" id =""></div>
                  </td>
                 
                  <td class="<%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 td_align">
                    <input type="text" name="task_point" value="" id="" rel= ""class="task_grade editable_field  maxlength="1" size="2"/>
                  </td>
               <%end%> 
              </tr>
            </table>
          </td>
         
        <% end %>
       <% end %>
       </tr>
      <% end %>
     <% end %> 
    <%if @count<10%>
      <%for i in (@count..9)%>
        <tr class="GB_row" id =r_<%=i%>>
        <% unless @tasks.nil? %>
          <% @tasks.each do |t| %> 
          <td class="red_border"> 
            <table border="0" class="GB_table GB_editable task_grades_hieg">
              <tr <%if i%2 == 0%>class="GB_odd"<%end%>>
              <% @task_outcomes = t.outcomes%>
              <td id="t_<%=t.id%>" rel="grade_column" class=" width_30 hover" >
                  <div id="" class="GB_outcomment3 rotate_text"></div>
               </td>
               <td <%if (i==0)%>class=""<%else%>class="td_align"<%end%>>
                 <input type="text" name="task_grade" value="" id="" rel = "" class="task_grade " readonly="readonly" maxlength="4" size="1"/>
               </td>
               <%if @task_outcomes.length>0%>
                <% if !@task_outcomes.nil?%>
                  <% @task_outcomes.each_with_index do |o,j|%>
                  <td id ="<%=t.id%>_<%=o.id%>" class="<%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 hover" rel="grade_column">
                    <div class="GB_outcomment2 rotate_text" id =""></div>
                  </td>
                 
                  <td class="<%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 td_align">
                    <input type="text" name="task_point" value="" id="" rel= ""class="task_grade" readonly="readonly" maxlength="1" size="2"/>
                  </td>
                  <%end%>
                <%end%>
              <%else%>
               <td class="<%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 td_align <%if i == 0%>hover<%end%>">
                  <div class="GB_outcomment2 rotate_text" id =""></div>
                </td>
               
                <td class="<%if i%2==0%>Dark_no<%else%>light_row<%end%> width_30 td_align">
                  <input type="text" name="task_point" value="" id="" rel= ""class="task_grade editable_field  maxlength="1" size="2"/>
                </td>
             <%end%>  
              </tr>
            </table>
          </td>
        <% end %>
       <% end %>
       </tr>
      <% end %>
    <% end %> 
     
     
    </table>

  </div><!--task_left_heading-->

</div>


