<div class="leader_content">
  <div class="leader_board_left">
    <div class="leader_board_right">
      <div class="leader_board_center main_div_height">
        <div class="leader_pad_top"></div>
        <div class="leader_pad">
           
          <div class="leader_TabCSS">
          <div class="steel_pin"><img src="/images/pin_steel.png" /></div>
          <div class="leader_topselect">
            <div class="clear"></div>
          </div>

          <div id="rows" class="LB_table">
            <div class="LB_tableheader">
            <!--<div class="LBT_ava"> &nbsp;</div>
            <div class="LBT_name">&nbsp;</div>-->
            <div class="LBT_level">XP</div>
            <div class="LBT_xp">Object Type</div>
            <div class="LBT_badges">Object ID</div>
          </div>
         
           <%if @rewards and !@rewards.nil?%>
            <% @rewards.each do |r|%>
              <div class="LB_tablecontent <%= cycle("even", "odd") %>" style="height: 35px;" id="r_<%=r.id%>">
                <!--<div class="LBT_ava">
                <div class="avatarWbdr"><img src="" class="profile"  /></div>
                </div>
                <div class="LBT_name view_user" rel="/reward/show/<%=r.id%>" > 
                  <span class="name_txt "> </span><br />
                  <span class="course_txt"></span> 
                </div>-->
                <div class="LBT_level view_user" style="width:33%;" rel="/reward/show/<%=r.id%>"><%= r.xp %></div>
                <div class="LBT_xp view_user" style="width:34%;" rel="/reward/show/<%=r.id%>"><%= r.object_type %></div>
                <div class="LBT_badges view_user" style="width:33%;" rel="/reward/show/<%=r.id%>" ><div style=""><%= r.object_id %></div>
                  <div class="remove_reward hide" id="remove_reward">
                    <a class="blue_bt19px remove_btn" style="" rel="<%=r.id%>" id="remove_reward_<%=r.id%>" href="javascript:void(0)">REMOVE</a>
                  </div>
                </div>
                
                </div>
            <% end %>
          <% end %>  
          
          </div>    
          
          </div>        
        </div>         
        <div class="end_of_page"></div>
       </div>
      </div>
    </div>
  </div>
  <div id="reward_warning_box" class="hide"> <%= render :partial => "/reward/warning_box" %></div>
  <div id="modification" class="hide" ></div>
  <div id="sidebar_right">
    <div class="course_side_buttons">
        <a class="big_blue_btn" name="create_new_reward" id="create_new_reward" href="javascript:void(0)">ADD</a>
    </div><!-- crud_level -->
  </div>
<script type="text/javascript">

$(document).ready(function(){
  setPageTitle("Rerward");
  $("#create_new_reward").click(function(){
    showSpinner(true);
    $("#modification").load("reward/new", function(){
      $("#modification").show();
      showSpinner(false);
    }); 
  });
  $(".view_user").click(function(){
    url = $(this).attr("rel");
    if(url){
      showSpinner(true);
      $("#modification").load(url, function(){
      $("#modification").show();
        showSpinner(false);
      });
    }    
  });
  
  $(".LB_tablecontent").hover(
    function () {
      $(".remove_reward", this).show();
    }, 
    function () {
      $(".remove_reward", this).hide();
    }
  );
  
   $(".remove_btn").click(function(event){
    id = $(this).attr("rel");
    var position = $(this).position();
    if(id){
      $("#reward_delete_btn").attr("rel",id);
      $('#reward_warning_box').css("top",position.top-30);
      $('#reward_warning_box').css("left","450px");
      $('#reward_warning_box').css("position","absolute");
      $("#reward_warning_box").show();
      event.stopPropagation();
    }
  
  });
});
  


</script>