<div class="signin">
  <h2>Register</h2>
  <%= form_for(@user, :as => @user, :url => {:controller=>:system, :action=>:edit, :id => @user.id}, :html => {:name=>"events_form",:multipart => true, :method=>"post", :class=>"form-horizontal"}) do |f| %>
    <%#= devise_error_messages! %>

    <div><%= f.label :full_name %><br />
    <%= f.text_field :full_name %></div>
    
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :value=>@user.email, :disabled=>true%></div>
    
    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>
    <%= f.hidden_field :message_id ,:value=> @message %>	
    <div><%= f.submit "Register" ,:onclick=>"return validateForm()";%></div>
  <% end %>

</div>
<script type="text/javascript">
jQuery.noConflict();

function validateForm(){
  if(user_password.value==""){
    alert("Please enter Password");
    user_password.focus();
    return false;
  }
  else if(user_password.value.length < 6 ){
    alert("Password have minimum 6 character");
    user_password_confirmation.focus();
    return false;
  }
  else if(user_password_confirmation.value == "" ){
    alert("Please enter confirm Password");
    user_password_confirmation.focus();
    return false;
  }

  if(user_password.value!= user_password_confirmation.value){
    alert("Password not match");
    user_password_confirmation.focus();
    return false;
  }
  return true;
}
</script>
