<div class="screen_title">
  WARDROBE
</div>
<div class="content_wrapper">
  <div class="content_container">
    <div id="wardrobe_fields">
      <div class="frm_input">
      
        <input type="text" name="wardrobe_item_name" id="wardrobe_item_name" value='<%= @wardrobe_item ? @wardrobe_item.name : "Name" %>' rel="Name" class="dd_input brown_bg" style="width:250px;" onblur='javascript:setStorage("wardrobe_item_name", $(this).val())'/>
      </div>
      <br/>
      <div class="frm_input">
        <%=collection_select(:wardrobe, :item_type, WardrobeItemType.all, :name, :name , {:include_blank => "Type", :selected => @wardrobe_item ? @wardrobe_item.item_type : ""} , :onchange => "javascript:setStorage('wardrobe_item_type', $(this).val())") %>
      </div>
      <br/>
      <div class="frm_input">
        <label>Available At</label> <br />
        <input type="text" name="wardrobe_item_available_date" id="wardrobe_item_available_date" value='<%= @wardrobe_item && !@wardrobe_item.available_date.nil?  ? @wardrobe_item.available_date : "Date" %>' rel="Date" class="dd_input brown_bg" style="width:250px;" />
        <input type="text" name="wardrobe_item_available_level" id="wardrobe_item_available_level" value='<%= @wardrobe_item && !@wardrobe_item.available_level.nil? ? @wardrobe_item.available_level : "Level" %>' rel="Level" class="dd_input brown_bg" style="width:250px;margin-top:15px;" onblur='javascript:setStorage("wardrobe_item_available_level", $(this).val())' />
      </div>
      <div class="frm_input">
        <label>Visible At</label> <br />
        <input type="text" name="wardrobe_item_visible_date" id="wardrobe_item_visible_date" value='<%= @wardrobe_item && !@wardrobe_item.visible_date.nil?  ? @wardrobe_item.visible_date : "Date" %>' rel="Date" class="dd_input brown_bg" style="width:250px;" />
        <input type="text" name="wardrobe_item_visible_level" id="wardrobe_item_visible_level" value='<%= @wardrobe_item && !@wardrobe_item.visible_level.nil? ? @wardrobe_item.visible_level : "Level" %>' rel="Level" class="dd_input brown_bg" style="width:250px;margin-top:15px;" onblur='javascript:setStorage("wardrobe_item_visible_level", $(this).val())' />
      </div>
    </div>
    <div id="wardrobe_icon">
      <div id="icon_progress">
        <% if @wardrobe_item && !@wardrobe_item.icon_file.nil? %>
          <img src="<%=@wardrobe_item.icon_file %>" />
        <% else %>
          Drop Icon
        <% end %>
      </div>
    </div>
    <br/>
    <div id="wardrobe_image">
      <div id="image_progress">
        <% if @wardrobe_item && !@wardrobe_item.image_file.nil? %>
          <img src="<%=@wardrobe_item.image_file %>" />
        <% else %>
          Drop Image
        <% end %>
      </div>
    </div>
    
  </div>
  <div id="sidebar_right">
    <div class="course_side_buttons">
        <a class="big_blue_btn " name="btn_dont_save" id="btn_dont_save" href="javascript:void(0)">Don't save</a>
        <a class="big_blue_btn " name="btn_save" id="btn_save" href="javascript:void(0)">save</a>        
    </div><!-- crud_level -->
  </div>
  <input type="hidden" name="wardrobe_item_id_hdn" id="wardrobe_item_id_hdn" value="<%=@wardrobe_item.id if @wardrobe_item%>" />
  <input type="hidden" name="wardrobe_id_hdn" id="wardrobe_id_hdn" value="<%=@wardrobe_id if @wardrobe_id%>" />
  <input type="hidden" name="wardrobe_item_parent_id_hdn" id="wardrobe_item_parent_id_hdn" value="<%=@wardrobe_item_parent_id if @wardrobe_item_parent_id%>" />
  <input type="hidden" name="school_id_hdn" id="school_id_hdn" value="<%=@profile.school_id if @profile%>" />
  <input type="hidden" name="wardrobe_item_icon_hdn" id="wardrobe_item_icon_hdn" value="<%=@wardrobe_item.icon_file if @wardrobe_item%>" />
  <input type="hidden" name="wardrobe_item_image_hdn" id="wardrobe_item_image_hdn" value="<%=@wardrobe_item.image_file if @wardrobe_item%>" />
  <input type="hidden" name="wardrobe_item_depth_hdn" id="wardrobe_item_depth_hdn" value="<%=@wardrobe_item && !@wardrobe_item.depth.nil? ? @wardrobe_item.depth : 2 %>" />
  
</div>
 <div class="clear"></div>
<!--<div id="sidebar_right">
  <div id="crud_level">
    <input type="button" name="btn_dont_save" id="btn_dont_save" value="Don't save"/> &nbsp;
    <input type="button" name="btn_save" id="btn_save" value="Save"/>
  </div>
</div>-->

 
<script type="text/javascript">
<!--
jStorage.flush();

//set storage on load while view of course
if($("#wardrobe_item_name").val()!="") {setStorage("wardrobe_item_name", $("#wardrobe_item_name").val());}
if($("#wardrobe_item_visible_date").val()!="") {setStorage("wardrobe_item_visible_date", $("#wardrobe_item_visible_date").val());}
if($("#wardrobe_item_visible_level").val()!="") {setStorage("wardrobe_item_visible_level", $("#wardrobe_item_visible_level").val());}
if($("#wardrobe_item_available_date").val()!="") {setStorage("wardrobe_item_available_date", $("#wardrobe_item_available_date").val());}
if($("#wardrobe_item_available_level").val()!="") {setStorage("wardrobe_item_available_level", $("#wardrobe_item_available_level").val());}
if($("#wardrobe_item_type").val()!="") {setStorage("wardrobe_item_type", $("#wardrobe_item_type").val());}


$(document).ready(function(){
  //on focus
  $(".medium").unbind('focus').bind("focus", function(){
    chk_val = $(this).attr("rel");
    cur_val = $(this).val();
    if(chk_val) {
      if(chk_val == cur_val) {
        $(this).val("");
      } else if(cur_val=="") {
        $(this).val(chk_val);
      }
    }
  }); //foucs ends
  
  //focus out
  $(".medium").unbind('focusout').bind("focusout", function(){
    chk_val = $(this).attr("rel");
    cur_val = $(this).val();
    if(chk_val) {
      if(cur_val=="") {
        $(this).val(chk_val);
      }
    }
  }); //foucs out ends
  
  //Date datepicker
  $("#wardrobe_item_available_date, #wardrobe_item_visible_date").datepicker({
    dateFormat: 'yy-mm-dd',
    beforeShow: function() { 
      chk_val = $(this).attr("rel");
      storage_key = $(this).attr("id");
      cur_val = $(this).val();
      if(chk_val) {
        if(chk_val == cur_val) {
          $(this).val("");
        } else if(cur_val=="") {
          $(this).val(chk_val);
        }
      }
    },
    onSelect: function(dateText, inst) {setStorage(storage_key, dateText);}
  });
  
  // Save wardrobe
  $("#btn_save").unbind('click').bind("click", function(){
    wardrobe_id = $("#wardrobe_id_hdn").val();
    wardrobe_item_id = $("#wardrobe_item_id_hdn").val();
    wardrobe_parent_id = $("#wardrobe_item_parent_id_hdn").val();
    wardrobe_item_image = $("#wardrobe_item_image_hdn").val();
    wardrobe_item_icon = $("#wardrobe_item_icon_hdn").val();
    wardrobe_item_depth = $("#wardrobe_item_depth_hdn").val();
    wardrobe_item = getStorage("wardrobe_item_name");
    visible_date = getStorage("wardrobe_item_visible_date");
    visible_level = getStorage("wardrobe_item_visible_level");
    available_date = getStorage("wardrobe_item_available_date");
    available_level = getStorage("wardrobe_item_available_level");
    item_type = getStorage("wardrobe_item_type");
    var dataString = 'id='+ wardrobe_item_id + '&wardrobe_id=' + wardrobe_id + '&parent_id=' + wardrobe_parent_id + '&wardrobe_item='+ wardrobe_item + '&visible_date=' + visible_date + '&visible_level=' + visible_level + '&available_date=' + available_date + '&available_level=' + available_level + '&item_type=' + item_type + '&icon=' + wardrobe_item_icon + '&image=' + wardrobe_item_image + '&depth=' + wardrobe_item_depth ;
    //alert (dataString);return false;  
    $.ajax({  
      type: "POST",  
      url: "/wardrobe/save",  
      data: dataString,
      dataType:"json",
      success: function(data) {
        if (data) {
          //$("#container").load('/wardrobe/index');
          $("#wardrobe_form_container").hide();
          $("#wardrobe_form_container").html("");
          $("#wardrobe_list_container").show();
        } else {
          alert("ERROR");
        }
      }
    }); //ajax ends  
    return false;  
  }); //Save wardrobe ends
  
  //Don't save button
  $('#btn_dont_save').unbind('click').bind('click',function(){
    $("#wardrobe_form_container").hide();
    $("#wardrobe_form_container").html("");
    $("#wardrobe_list_container").show();
  });
  
  
  //Uploader for Large Image
  var uploader = new plupload.Uploader({
    runtimes : 'html5',
    drop_element: 'wardrobe_image',
    container: 'wardrobe_image',
    max_file_size : '10mb',
    url : '/wardrobe/upload_wardrobe_image',
    multipart_params: {
      'authenticity_token' : token,  //For csrf-authentication
      'school_id' : $("#school_id_hdn").val()
    },
    filters : [
      {title : "Image files", extensions : "jpg,gif,png,JPG,PNG,GIF,JPEG"}
    ]
  });
  
  uploader.init();
  
  uploader.bind('FilesAdded', function(up, files) {
    uploader.start();
  });

  uploader.bind('UploadProgress', function(up, file) {
    $("#image_progress").html('<span>' + file.percent + "%</span>");
  });
  
  uploader.bind('FileUploaded', function(up, file) {
    image_uploaded = 'https://s3.amazonaws.com/<%= ENV['S3_PATH'] %>/resources/' + file.name;
    $("#image_progress").html('');
    $("#image_progress").html('<img id="full_image" alt="Preview not available" />');
    $("#full_image").attr('src',image_uploaded );
    $("#wardrobe_item_image_hdn").val(image_uploaded);
  });
  
  //Icon Uploader for Icon Image
  var iconUploader = new plupload.Uploader({
    runtimes : 'html5',
    drop_element: 'wardrobe_icon',
    container: 'wardrobe_icon',
    max_file_size : '10mb',
    url : '/wardrobe/upload_wardrobe_image',
    multipart_params: {
      'authenticity_token' : token ,  //For csrf-authentication
      'school_id' : $("#school_id_hdn").val()
    },
    filters : [
      {title : "Image files", extensions : "jpg,gif,png,JPG,PNG,GIF,JPEG"}
    ]
  });
  
  iconUploader.init();
  
  iconUploader.bind('FilesAdded', function(up, files) {
    iconUploader.start();
  });

  iconUploader.bind('UploadProgress', function(up, file) {
    $("#icon_progress").html('<span>' + file.percent + "%</span>");
  });
  
  iconUploader.bind('FileUploaded', function(up, file) {
    icon_uploaded = 'https://s3.amazonaws.com/<%= ENV['S3_PATH'] %>/resources/' + file.name;
    $("#icon_progress").html('');
    $("#icon_progress").html('<img id="icon_image" alt="Preview not available"/>');
    $("#icon_image").attr('src', icon_uploaded);
    $("#wardrobe_item_icon_hdn").val(icon_uploaded);
  });
  
}); //document ready ends


//-->
</script>