<div class="dialog_contents majorlist">
  <h2>Select your major</h2>
  <div id="major_container">
    <ul>
      <% @majors.each do |major| %>
      <li><div id="<%=h major.id %>" name="<%=h major.name %>" code="<%=h major.code %>" class="major_icon clickable"><img src="/images/majors/<%=h major.code %>.png" /><%=h major.name %></div></li>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
<!--
  $(".major_icon").click(function(){
    if(_major != undefined) {
      _major.id = $(this).attr("id");
      _major.name = $(this).attr("name");
      _major.code = $(this).attr("code");
    }
    saveAvatar();
    showAvatar();
    showDialog(false);
  });
  
//--!>
</script>