<div id="avatar_profile">
<div class="popup_box1" id="avatar_card"> </div>

<div class="profile_left">
  
  <div class="profile_row">
    
    <div class="profile_item profie_share">
      <input type="checkbox" name="share" class="share" value="major" />
    </div>  
    
    <div class="profile_item">
      <div id="full_name" class="full_name">
        <input type="text" name="full_name" id="full_name_input" class="full_name" value="<%=user_session[:profile_name]%>" placeholder="Enter Name" />
      </div>
      
      <% if user_session[:profile_id] != profile.id %>
      <span id="input_un_bl">
        <% if is_friend(user_session[:profile_id], profile.id) %>
        <a href="javascript:void(0)" id="unfriend" class="btn">UNFRIEND</a>
        <% else %>
        <% if is_request_pending(profile.id, user_session[:profile_id]) %>
        <a href="javascript:void(0)" class="btn" id="pending">PENDING</a>
        <% else %>
        <a href="javascript:void(0)" class="btn" id="Friend" rel="save">Friend</a>
        <% end %>
        <% end %>
        <a href="javascript:void(0)" class="btn" name="block" id="block">Block</a>
      </span>
      <span id="input_no_me">
         <a href="javascript:void(0)" name="notes" id="notes" class="btn menu_btn" rel="/message/notes/<%=profile.id %>">Notes</a>
         <a href="javascript:void(0)" name="message" id="message" class="btn menu_btn" rel="/message/friends_only/<%=profile.id %>">Message</a>
      </span>
      <% end %>
      
      <span class="profile_header" style="font-size:16px;"><%=h profile.major.code + ", " if profile.major %><%=profile.school.code if profile.school%></span>
    </div>

    <div class="profile_item gap">
      <a href="javascript:void(0)" class="big_blue_btn" name="change_my_look" id="change_my_look" onClick="loadPage('/profile/edit_wardrobe');">Wardrobe</a>
    </div>
    
  </div>
  
  <div class="profile_row">
    <div class="profile_item profie_share">
      <input type="checkbox" name="share" class="share" value="metrics" />
    </div>  

    <div id="level" class="profile_item">
      <div id="level_meter">
        <div id="progressbar">
          <div id="progress_stats"></div>
        </div>
      </div>
      <div class="caption" style="margin-top:20px; text-align:center; width:100%;">XP</div>
    </div>

    <div class="profile_item gap">
      <div class="big_number"><%=h profile.avatar.level %></div>
      <div class="caption">Level</div>
    </div>

    <div class="profile_item gap">
      <div class="big_number"><%=h profile.like_received ? profile.like_received : 0 %></div>
      <div class="caption">Likes</div>
    </div>
      
  </div>
  
  <div class="profile_row">
    <div class="profile_item profie_share">
      <input type="checkbox" name="share" class="share" value="interests" />
    </div>
    <div class="profile_item">
     <textarea name="comments" style="width:450px; height:100px;" placeholder="Enter Your Interests"></textarea> 
    </div>
  </div>

<%#
  <div id="box">
    <div id="check">
      <input type="checkbox" name="share" id="share_check"/><br/><span id="share">Share</span>
    </div>  
    <div id="badges_box">Badges</div>     
  </div>
    <div class="clear"></div>
  <div id="box">
    <div id="check">
      <input type="checkbox" name="share" id="share_check"/><br/><span id="share">Share</span>
    </div>  
    <div id="badges_box">Groups</div>     
  </div>
  <div class="clear"></div>
  <div id="box">
    <div id="check">
      <input type="checkbox" name="share" id="share_check"/><br/><span id="share">Share</span>
    </div>  
    <div id="badges_box">Friends</div>     
  </div>
  <div class="clear"></div>
  </div>
 %>
</div>

<div class="profile_right">
<%= render :partial => "/profile/full_avatar", :locals=>{:profile_user_id=>profile.id} %>
</div>
  
<input type="hidden" name="hdn_profile_id" id="hdn_profile_id" value=" <%=profile.id%>"/>

<script type="text/javascript">
var _level_meter =  new Array(0, 150, 200, 350, 400, 500, 550, 700, 750, 900);

$(document).ready(function(){

  setPageTitle('My Profile');
  
  var _level = 2;
  
  $("#progress_stats").html(_level_meter[_level]+" until level "+_level);
  $("#progressbar").animate({width :parseInt(_level_meter[_level] / 4.5)+"px"},1000);
  
  <% if user_session[:profile_id] != profile.id %>
    // If viewing another user, some fields are readonly. We also need to protect in the controller
    $("#full_name_input").attr('readonly', 'readonly');
  <% end %>
  
  $('#Friend').live('click',function(){
    m_text = $('#Friend').text();
    if(m_text == 'Friend'){
    showSpinner(true);
    profile_id = $('#hdn_profile_id').val();
    message_type = $(this).attr('id');
    method = $(this).attr('rel');
    message = message_type == "Friend" ? "Friend Request!!!" : $('#message').val();
    var dataString = {
      parent_id:profile_id,
      parent_type:"Profile",
      content: message,
      message_type: message_type
    };
    if(profile_id) {
      $.ajax({
        type: "POST",
        url: "/message/"+method,
        dataType: "json",
        data: dataString,
        error: function(){alert("ERROR!!")},
        success: function(data) {
          if (data.status == "save"){
            $('#Friend').text("PENDING");
          }
          showSpinner(false);
        }
      });
    }
    }
  });

  //Unfriend 
  $('#unfriend').live('click',function(){
      showSpinner(true);
      profile_id = $('#hdn_profile_id').val();
      if(profile_id) {
      var dataString = {profile_id:profile_id}
      $.ajax({
        type: "POST",
        url: "/message/unfriend",
        dataType: "json",
        data: dataString,
        error: function(){alert("ERROR!!")},
        success: function(data) {
          if (data.status) {
            $('#unfriend').text("Friend");
            $('#unfriend').attr("rel","save");
            $('#unfriend').attr("id","Friend");
          }
          showSpinner(false);
        }
      });
    }
  });

  // Save full name after entry by user
  $("#full_name_input").change(function () {
    var new_data = $("#full_name_input").val();
    _profile.full_name = new_data;
    saveName();
    $('#tool_bar_full_name').html(new_data);
    setAlert("Saving name " + _profile.full_name);
  });

  function saveName() {
    $.ajax({
      url: "/profile/save_meta",
      data: { id: _profile.id, profile: _profile }, 
      type: 'post',
      dataType: 'json',
      error: function(){alert("Error");},
      success: function(data){
        _profile = data.profile;
      }
    }); //Ajax
  }
});

</script>
