<div id="avatar_profile">
<div class="popup_box1" id="avatar_card"> </div>

<div class="profile_left">
  <div class="profile_row">
    
    <div class="profile_item profile_share">
      <input type="checkbox" name="share" class="share" value="major" />
    </div>  
    
    <div class="profile_item">
      <div id="full_name" class="full_name">
        <input type="text" name="full_name" id="full_name_input" class="full_name" value="<%= profile.full_name %>" placeholder="Enter Name" readonly="readonly"/>
        
      </div>    
      <span class="profile_header" style="font-size:16px;" id="profile_page_major"><%=h profile.major.name + ", " if profile.major %><%=profile.school.code if profile.school%></span>
     
    </div>
    <% if (user_session[:profile_id] == profile.id)%>

    <div class="profile_item FloatR">
      <a href="javascript:void(0)" class="big_blue_btn" name="change_my_look" id="change_my_look" onClick="loadPage('/profile/edit_wardrobe'); setAlert('Loading/wardrobe');">Wardrobe</a>
    </div>
    
    <div class="profile_item FloatR" style="padding-right:10px;">
    <% major = Setting.find_by_target_id_and_name( profile.school_id, "enable_majors") %>
    <% unless major and major.value == "false" %>
      <a href="javascript:void(0)" class="big_blue_btn" name="major_btn" id="major_btn">Major</a>
    <% end %>
    </div>
    <% end %>
     
  </div>
  <div class="friend_unfriend_btn">
   <% if (user_session[:profile_id] != profile.id)%>
        <div class="profile_top_btn"><span class="pending_friend" id="input_un_bl">
          <% if is_friend(user_session[:profile_id], profile.id) %>
          <a href="javascript:void(0)" id="unfriend" rel ="<%= profile.id%>" class="big_blue_btn">UNFRIEND</a>
          <% else %>
            <% if is_request_pending(profile.id, user_session[:profile_id]) %>
            <a href="javascript:void(0)" id="pending" rel ="<%= profile.id%>" class="big_blue_btn" id="pending">PENDING</a>
            <% else %>
            <a href="javascript:void(0)" class="big_blue_btn" id="Friend" rel="save">Friend</a>
            <% end %>
          <% end %>
        </span>
        <span id="input_no_me">
           <a href="javascript:void(0)" name="message" id="message" class="long_text_btn big_blue_btn menu_btn" rel="/message/friends_only/<%=profile.id %>">View Private Messages</a>
        </span>
        <div class="clear"></div>
        </div>
      <% end %>
  </div>
  <div class="profile_row">
    <div class="profile_item profile_share">
      <input type="checkbox" name="share" class="share" value="metrics" />
    </div>  

    <div id="level" class="profile_item">
      <div id="level_meter">
        <div id="progress_stats_1"></div>
        <div id="progress_stats_2"></div>
        <div id="progressbar"></div>
      </div>
      <div class="caption" style="margin-top:20px; text-align:center; width:100%;">Accumulated in Total</div>
    </div>

	<div class="profile_reward_info FloatL" style="width: 320px;">
		<div class="profile_item dif gap">
	    	<div class="big_number"><%=h profile.level %></div>
	      	<div class="caption align_center">Level</div>
	    </div>
	    <div class="dif gap inlineblock">
	      	<div class="big_number"><%= profile.like_received %></div>
	      	<div class="caption align_center">Likes</div>
	    </div>
	    <div class="profile_item dif gap FloatR">
	      	<div class="big_number"><%= profile.badge_count %></div>
	      	<div class="caption align_center">Badges</div>
	    </div>
    </div>
  </div>
  <% if (user_session[:profile_id] != profile.id)%>
  <div class="profile_row">
    <div class="profile_item profile_share">
      <input type="checkbox" name="share" class="share" value="interests" />
    </div>
    <div class="profile_item full_width">
      <div class="caption">Notes</div>
      <textarea name="Notes" id="Notes" class="full_width" style="height:100px;" placeholder="Enter private notes on <%= profile.full_name%> (only I will see this)"><%=h @notes%></textarea> 
    </div>
  </div>
  <% end %>
  
   <div class="profile_row">
    <div class="profile_item profile_share">
      <input type="checkbox" name="share" class="share" value="interests" />
    </div>
    <div class="profile_item ">
      <div class="caption">Contact info</div>
				<textarea name="contact_info" id="contact_info" class="" style="height:100px; width:256px;" <% if (user_session[:profile_id] == profile.id)%>placeholder="Enter your contact info" <% end %> <%= user_session[:profile_id] != profile.id ? 'disabled': ''  %> ><%=profile.contact_info %></textarea>
      </div>
     <div class="profile_item ">
      <div class="caption" style="margin-left:12px;">Interests</div>
				<textarea name="interests" id="interests" class="" style="height:100px; width:300px; margin-left:12px;" <% if (user_session[:profile_id] == profile.id)%>placeholder="Enter your interests, separated by commas (e.g. apples, bananas, oranges)" <% end %> <%= user_session[:profile_id] != profile.id ? 'disabled': ''  %>><%=h profile.interests %></textarea> 
    </div>
  </div>

  <!-- Badges -->
  <div class="profile_row">
    <div class="profile_item profile_share">
      <input type="checkbox" name="share" class="share" value="friends" />
    </div>
    <div class="profile_item full_width">
      <div class="caption">Badges</div>
        <div class="profile_row_border full_width">
         <%if @badge && @badge.length==0%>
            <div class="profile_item_empty">No Badges</div>
          <% else %>
          <ul class="stat_icons_box">    
              <% @badge.each do |b|%>
              <%badge = Badge.badge_detail(b.badge_id)%>
                <% if badge and !badge.nil?%>
                <li>
                  <div class="SI_icon"><img src="images/badges/<%=badge.badge_image.image_file_name%>"class="icon_style_badge hover badge_details" id="<%=b.id%>"/></div>
                  <span class="text_style_badge" style="word-break:normal; word-wrap:break-word; max-width:50px;"><%=badge.name.truncate(40) if badge.name %></span>
                </li>
                <%end%>  
              <%end%>

          </ul> 
           <div class="clear"></div>
          <% end %>
       
      </div>       
    </div>
  </div>

  <!--Courses-->
   <div class="profile_row">
    <div class="profile_item profile_share">
      <input type="checkbox" name="share" class="share" value="friends" />
    </div>
    <div class="profile_item full_width">
      <div class="caption">Courses</div>
      <div class="profile_row_border full_width">
      <% if @courses.empty? %>
        <div class="profile_item_empty">No Courses</div>
      <% else %>
        <span>
        <% @courses.each do |c|%>
          <ul class="stat_icons_box2">
          <li class="width12">
          <div class="group_profile_icon hover" id="group_image">
          <img id="<%=c.id%>" class ="cg_wall"<%if c.image_file %> src="<%= c.image_file %>" <%else%> src="/images/course_img_drop.png" <%end%> width="53" height="53" alt="Course image" rel="C"/>
          </div>
          <span><%=c.name%></span></li>
        </ul>
        <%end%>
      </span>  
       <div class="clear"></div>
      <% end %>
      </div>
    </div>
  </div>

  
  
  <!-- Groups -->
  <div class="profile_row">
    <div class="profile_item profile_share">
      <input type="checkbox" name="share" class="share" value="friends" />
    </div>
    <div class="profile_item full_width">
      <div class="caption">Groups</div>
      <div class="profile_row_border full_width">
      <% if @groups.empty? %>
        <div class="profile_item_empty">No Groups</div>
      <% else %>
        <span>
        <% @groups.each do |g|%>
          <ul class="stat_icons_box2">
          <li class="width12">
						<div class="group_profile_icon hover" id="group_image">
							<img id="<%=g.id%>" class ="cg_wall" src = "<%= g.image_file ? g.image_file : "/images/course_img_drop.png" %>"  width="53" height="53" alt="Course image" rel="G"/>
						</div>
          <span><%=g.name%></span>
					</li>
        </ul>
        <%end%>
      </span>  
       <div class="clear"></div>
      <% end %>
      </div>
    </div>
  </div>

  <!-- Friends -->
  <div class="profile_row">
    <div class="profile_item profile_share">
      <input type="checkbox" name="share" class="share" value="friends" />
    </div>
    <div class="profile_item full_width">
      <div class="caption">Friends</div>
      <div class="profile_row_border full_width">
      <% if @current_friends.empty? %>
        <div class="profile_item_empty">No Friends</div>
      <% else %>
        <span>
        <% @current_friends.each do |f|%>
          <ul class="stat_icons_box2">
          <li class="width12">
          <div class="avatar_white_bdr01"><img src="<%=f.profile.image_file_name%>" profile_id="<%= f.profile.id %>" width="54" height="54" class ="profile"/></div>
          <span><%=f.profile.full_name%></span></li>
        </ul>
        <%end%>
      </span>  
       <div class="clear"></div>
    <% end %>
      </div>
    </div>
  </div>
  
</div>
</div>
<div class = "badge_detail hide" id="badge_detail">
  <%= render :partial => "/badge/badge_detail" %>
</div>
<div class ="major_box hide" id="major_box">
  <%= render :partial => "/profile/major_list", :locals=>{:profile=>profile} %>
</div>
<input type="hidden" name="school_name" id="school_name" value="<%=profile.school.code if profile%>">
<%#
  <div id="box">
    <div id="check">
      <input type="checkbox" name="share" id="share_check"/><br/><span id="share">Share</span>
    </div>  
    <div id="badges_box">Badges</div>     
  </div>
    <div class="clear"></div>
  <div id="box">
    <div id="check">
      <input type="checkbox" name="share" id="share_check"/><br/><span id="share">Share</span>
    </div>  
    <div id="badges_box">Groups</div>     
  </div>
  <div class="clear"></div>
  <div id="box">
    <div id="check">
      <input type="checkbox" name="share" id="share_check"/><br/><span id="share">Share</span>
    </div>  
    <div id="badges_box">Friends</div>     
  </div>
  <div class="clear"></div>
  </div>
 %>
</div>

<div class="profile_right hover"  <% if (user_session[:profile_id] == profile.id)%>onClick="loadPage('/profile/edit_wardrobe');"<%end%> >
<%= render :partial => "/profile/full_avatar", :locals=>{:profile_user_id=>profile.id} %>
</div>
  
<input type="hidden" name="hdn_profile_id" id="hdn_profile_id" value=" <%=profile.id%>"/>

<script type="text/javascript">
var _level_meter =  new Array//(0, 0, 200, 350, 400, 500, 550, 700, 750, 900);
_level_meter.push(0)
<% @levels.each do |l|%>
  _level_meter.push(<%=l%>)
<% end %>
$(document).ready(function(){

  setPageTitle('My Profile');
  $(".top_level_header").html('<%= "%02d" % profile.level %>');
  $('.profile_share').hide();
  var _level = <%= profile.level + 1 %>;  // next level
  var _xp = <%= profile.xp %>;  // current xp

  var maxWidthLevel = parseInt($('#level_meter').css('width'));
  var targetXp = parseInt(_level_meter[_level]-_level_meter[_level-1]);
  var widthLevel = (_xp-_level_meter[_level-1]) / targetXp * maxWidthLevel;
  
  $("#progress_stats_1").html(_xp + " XP");
  $("#progress_stats_2").html(_level_meter[_level] - _xp + " more for level " + _level);
  $("#progressbar").animate({width :  widthLevel+"px"}, 1000);
  
  // resize Contact info and Interests fields
  $("#contact_info").autosize();
  $("#interests").autosize();
  
  <% if user_session[:profile_id] != profile.id %>
    // If viewing another user, some fields are readonly. We also need to protect in the controller
    $("#full_name_input").attr('readonly', 'readonly');
    $("#interests").attr('readonly', 'readonly'); 
    $("#contact_info").attr('readonly', 'readonly'); 
    $("#interests").css('background-color', '#214C69');
    $("#contact_info").css('background-color', '#214C69');
  <% end %>
  
  //$('#Friend').live('click',function(){
  $(".pending_friend").delegate('a', 'click', function(){
    m_text = $('#Friend').text();
    if(m_text == 'Friend'){
    showSpinner(true);
    profile_id = $('#hdn_profile_id').val();
    message_type = $(this).attr('id');
    method = $(this).attr('rel');
    message = message_type == "Friend" ? "I'd like to be your friend. Please accept my invite." : $('#message').val();
    var dataString = {
      parent_id:profile_id,
      parent_type:"Profile",
      content: message,
      message_type: message_type
    };
    if(profile_id) {
      $.ajax({
        type: "POST",
        url: "/message/"+method,
        dataType: "json",
        data: dataString,
        error: function(){alert("ERROR!!")},
        success: function(data) {
          if (data.status == "save"){
            $('#Friend').text("PENDING");
            $('#Friend').attr("id","pending");
          }
          showSpinner(false);
        }
      });
    }
    }
  });

  $("#major_btn").click(function(){
    $("#major_box").show();
  })
  
  $(".friend_unfriend_btn").delegate('a', 'click', function(){
  profile_id = $(this).attr("rel");
  id= $(this).attr("id");
  if(id=="unfriend") {
    var dataString = {profile_id:profile_id}
    showSpinner(true);
    $.ajax({
      type: "POST",
      url: "/message/unfriend",
      dataType: "json",
      data: dataString,
      error: function(){alert("ERROR!!")},
      success: function(data) {
        if (data.status) {
         $('#unfriend').text("Friend");
         $('#unfriend').attr("rel","save");
         $('#unfriend').attr("id","Friend");
        }
        showSpinner(false);
      }
    });
  }
  else if (id=="pending"){
    /* $('#pending').text("Friend");
     $('#pending').attr("rel","save");
     $('#pending').attr("id","Friend");*/
  }
});
  
  // Save full name after entry by user
  $("#full_name_input").change(function () {
    var new_data = $("#full_name_input").val();
    _profile.full_name = new_data;
    saveProfile();
    $('#tool_bar_full_name').html(new_data);
    setAlert("Saving name " + _profile.full_name);
  });


  $("#interests").change(function () {
    var new_data = $("#interests").val();
    _profile.interests = new_data;
    saveProfile();
    setAlert("Saving interests " + _profile.interests);
  });
  
  $("#contact_info").change(function () {
    var new_data = $("#contact_info").val();
    _profile.contact_info = new_data;
    saveProfile();
    setAlert("Saving interests " + _profile.interests);
  });
  
   $("#Notes").change(function () {
    var notes = $("#Notes").val();
	$.ajax({
      url: "/profile/save_notes",
      data: { id: _profile.id, profile: _profile, notes:notes }, 
      type: 'post',
      dataType: 'json',
      error: function(){alert("Error");},
      success: function(data){
        _profile = data.profile;
      }
    });
  });
  
   $("#show_btn").click(function () {
    var new_data = $("#major").val();
    if(new_data != ""){
    _profile.major_id = new_data;
    saveProfile();
    setAlert("Saving Major " +$("#major :selected").text());
    $("#major_school_name").html($("#major :selected").text()+", "+ $("#school_name").val());
    $("#profile_page_major").html($("#major :selected").text()+", "+ $("#school_name").val());
    $("#major_box").hide();
    }
  });
  
  $(".cg_wall").click(function(){
    id = $(this).attr("id");
    section_type = $(this).attr("rel")
    showSpinner(true);
      $.ajax({
        type: "GET",
        url: "/course/show",
        data:{id:id,section_type:section_type},
        success: function(data) {
          $("#container").html(data);
          showSpinner(false);
          if(section_type == "C")
          setAlert("Loading/course/");
          else if(section_type == "G")
          setAlert("Loading/group/");
        
        }
      });  
  });
  
  $(".badge_details").click(function(){
    id = $(this).attr("id");
    showSpinner(true);
      $.ajax({
        type: "POST",
        url: "/badge/badge_detail",
        data:{id:id},
        success: function(data) {
          $("#badge_detail").html(data); 
          $("#badge_detail").show();
          showSpinner(false);
        }
      });  
  });



  function saveProfile() {
     interests = $("#interests").val();
    _profile.interests = interests;
    $.ajax({
      url: "/profile/save_meta",
      data: { id: _profile.id, profile: _profile }, 
      type: 'post',
      dataType: 'json',
      error: function(){alert("Error");},
      success: function(data){
        _profile = data.profile;
      }
    }); //Ajax
  }
});

</script>
