<div id="avatar" class="avatar_portal">
  <img id="body" class="avatar" src="/assets/wardrobe/<%= @profile.avatar.body %>">
  <img id="hair" class="avatar" src="/assets/wardrobe/<%= @profile.avatar.hair %>">
  <img id="shoes" class="avatar" src="/assets/wardrobe/<%= @profile.avatar.shoes %>">
  <img id="bottom" class="avatar" src="/assets/wardrobe/<%= @profile.avatar.bottom %>">
  <img id="top" class="avatar" src="/assets/wardrobe/<%= @profile.avatar.top %>">
  <img id="head" class="avatar" src="/assets/wardrobe/<%= @profile.avatar.head %>">
</div>

<div id="controls" class="avatar_controls">
  <input id="full_name" name="full_name" value="<%=h @profile.full_name%>">
  <input id="modify" name="modify" type="button" class="clickable" value="MODIFY">
</div>

<div id="wardrobe_options" class="wardrobe_options">
  <div id="wardrobe_categories" class="wardrobe_categories">
    <div id="category_head" class="wardrobe_item clickable" value="head">Head</div>
    <div id="category_body" class="wardrobe_item clickable" value="body">Body</div>
    <div id="category_legs" class="wardrobe_item clickable" value="legs">Legs</div>
    <div id="category_feet" class="wardrobe_item clickable" value="feet">Feet</div>
    <div id="category_misc" class="wardrobe_item clickable" value="misc">Misc</div>
  </div>

  <div id="wardrobe_subcategories" class="wardrobe_subcategories">
    <div id="subcategory_0" class="wardrobe_item clickable"></div>
    <div id="subcategory_1" class="wardrobe_item clickable"></div>
    <div id="subcategory_2" class="wardrobe_item clickable"></div>
    <div id="subcategory_3" class="wardrobe_item clickable"></div>
    <div id="subcategory_4" class="wardrobe_item clickable"></div>
  </div>
</div>

<script type="text/javascript">

var _wardrobeItems;

$(document).ready(function() {
  
  if ($("#full_name").val() == "") {
    $("#full_name").val("Enter Full Name");
    $("#wardrobe_options").hide();
    $("#wardrobe_subcategories").hide();
  }
  
  $("#modify").click(function() {
    $.getJSON("/profile/edit", { id: "999" },
       function(data){
         for (i=0; i<data.length; i++) {
           if (data[i].depth == 0) {
             $("#category_"+data[i].item_type).attr("value", data[i].id)
           }
         }
         _wardrobeItems = data;
         
         $("#wardrobe_options").show();
       });  
  })

  $(".wardrobe_item").click(function() {
    image_file = $(this).attr("image_file");
    if (image_file != undefined) {
      // Display the item on the avatar
      item_type = $(this).attr("item_type");
      $("#"+item_type).attr("src", "/assets/wardrobe/"+image_file);
    } else {
      id = $(this).attr("value");
      resetSubCategory();
      showSubCategory(id);
      $("#wardrobe_subcategories").show();
    }
  });
  
});

function resetSubCategory() {
  for (i=0; i<5; i++) {
    $("#subcategory_"+i).html("");
    $("#subcategory_"+i).removeAttr("value");
    $("#subcategory_"+i).removeAttr("image_file");
    $("#subcategory_"+i).removeAttr("item_type");
  }
}

function showSubCategory(id) {
  idx = 0;
  for (i=0; i<_wardrobeItems.length; i++) {
    if (_wardrobeItems[i].parent_item_id == id) {
      $("#subcategory_"+idx).html(_wardrobeItems[i].name);
      $("#subcategory_"+idx).attr("value", _wardrobeItems[i].id);
      if (_wardrobeItems[i].image_file != undefined) {
        $("#subcategory_"+idx).attr("image_file", _wardrobeItems[i].image_file);
      }
      if (_wardrobeItems[i].item_type != undefined) {
        $("#subcategory_"+idx).attr("item_type", _wardrobeItems[i].item_type);
      }
      idx = idx + 1;
    }
  }
}

</script>