<!DOCTYPE html>
<html>
<head>
  <title>OnCampus Mobile</title>
  <%= stylesheet_link_tag    "default" %>
  <%= stylesheet_link_tag    "mobile" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  
  <div id="dialog" class="dialog">
  </div>
  
</body>
</html>
