<!DOCTYPE html>
<html>
<head>
  <title>OnCampus</title>
  <meta name="viewport" content="width=device-width;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  
  <link rel="apple-touch-icon" href="/images/ios_icon.png">
  <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
  <link href="/stylesheets/main_layout.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.all.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.autocomplete.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/fileupload/css/jquery.plupload.queue.css" type="text/css" media="screen" />
  
  <%= javascript_include_tag "application" %>
  <script src="/assets/ui/jquery.ui.core.js"></script>
  <script src="/assets/ui/jquery.ui.widget.js"></script>
  <script src="/assets/ui/jquery.ui.position.js"></script>
  <script src="/assets/ui/jquery.ui.autocomplete.js"></script>
  <script src="/assets/ui/jquery.ui.datepicker.js"></script>
  <script type="text/javascript" src="/assets/fileupload/plupload.js"></script>
  <script type="text/javascript" src="/assets/fileupload/plupload.html5.js"></script>
  <script type="text/javascript" src="/assets/fileupload/jquery.plupload.queue.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div id="avatar_thumb">
        <img src="https://s3.amazonaws.com/<%=user_session[:vault]%>/avatar_thumb/avatar_<%=user_session[:profile_id]%>.jpg" />
      </div>
      <div id="avatar_info">
        <div id="avatar_name">
          <%=user_session[:profile_name]%>
        </div>
        <div id="logout">
          <a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a>
        </div>
        <div id="avatar_major">
          <%=user_session[:profile_major]%>, <%=user_session[:profile_school]%>
        </div>
      </div><!-- avatar_info -->
      <div id="search_panel">
        <form id="frm_search" >
          <span>
              <input type="text" name="search_text" id="search_input" value="Find Course" /> 
          </span>
          <span>
            <a href="javascript:void(0)" onClick="$('#search_options').toggle();">Change</a>
          </span>
        </form>
        <div id="search_options" class="hide">
          <li rel="/course/">
            Find Course
          </li>
          <li rel="/task/">
            Find Task
          </li>
          <li rel="/message/">
            Find Message
          </li>
          <li rel="/friend/">
            Find Friend
          </li>
        </div>
      </div>
    </div><!-- header -->
    <div id="sidebar_left">
      <div id="sidebar_container">
        <div id="sidebar_menu_top">
        </div><!-- sidebar_menu_top -->
        
        <div id="sidebar_menu_bottom">
          <div id="root_level">
            <input type="button" name="menu_btn_courses" id="menu_btn_courses" rel="/message/" value="Messages" class="menu_btn"/>
            <input type="button" name="menu_btn_courses" id="menu_btn_courses" rel="/course/" value="Courses" class="menu_btn"/>
            <input type="button" name="menu_btn_tasks" id="menu_btn_tasks" rel="/task/" value="Tasks" class="menu_btn"/>
            <input type="button" name="menu_btn_grades" id="menu_btn_grades" value="Grades"class="menu_btn" />
            <input type="button" name="menu_btn_wardrobe" id="menu_btn_wardrobe" rel="/wardrobe/" value="Wardrobe"class="menu_btn"/>
          </div><!-- root_level -->
        </div><!-- sidebar_menu_bottom -->
      </div><!-- sidebar_container -->
    </div><!-- sidebar_left -->
    <div id="slide_in_container">
    </div>
    <div id="container">
      <%= yield %>
    </div><!-- container -->
    <div id="waiting" class="waiting"><img src="/images/ajax-loader.gif"></div>
  </div><!-- wrapper -->
</body>
<script type="text/javascript">
<!--
  var token = $("meta[name='csrf-token']").attr("content");
  var search_arr = ["Find Friend","Find Course", "Find Task","Find Message"];
  var search_url = "/course/";
  var search_term;
  //Set CSRF Token (Required for ajax request (post))
  $(document).ajaxSend(function(e, xhr, options) {
    xhr.setRequestHeader("X-CSRF-Token", token);
  });
  
  $(document).ready(function(){
    
    //Search option settings
    $("#search_options li").bind("click",function(){
      $("#search_input").val($.trim($(this).text()));
      search_url = $(this).attr("rel");
      $("#search_options").toggle();
    });
    
    $("#search_input").bind("focus",function(){
      if($.inArray($("#search_input").val(), search_arr)> -1) { 
        search_term = $("#search_input").val();
        $("#search_input").val("");
      }
    });
    
    $("#search_input").bind("focusout",function(){
      if($("#search_input").val() == "") {
        $("#search_input").val(search_term);
      }
    });
    
    $('#frm_search').submit(function() {
      showSpinner(true);
      search_text = $("#search_input").val();
      if(search_url && search_text !="") {
        dataString = {search_text : search_text}
        $.ajax({
          type: "POST",  
          url: search_url,
          data: dataString,
          success: function(data) {
            if (data) {
              $("#container").html(data);
            } else {
              alert("ERROR");
            }
            showSpinner(false);
          }
        });
      }
      return false;
    });
    
    //Fill up the #container with according call
    $(".menu_btn").bind("click",function(){
      showSpinner(true);
      var target = $(this).attr("rel");
      var data = $(this).attr("data");
      if(target) {
        $.ajax({
          type: "GET",  
          url: target,
          data: data,
          success: function(data) {
            if (data) {
              $("#container").html(data);
            } else {
              alert("ERROR");
            }
            showSpinner(false);
          }
        });
      }
    });
  }); //document.ready
-->
</script>
</html>
