<!DOCTYPE html>
<html>
<head>
  <title>OnCampus</title>
  <!-- <meta name="viewport" content="width=device-width;" /> -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  
  <link rel="apple-touch-icon" href="/images/ios_icon.png">
  <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  
  <link href="/stylesheets/main_layout.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.all.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.autocomplete.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/fileupload/css/jquery.plupload.queue.css" type="text/css" media="screen" />
  <%= javascript_include_tag "application" %>
  <script src="/assets/jquery.highlight.js"></script>
  <script src="/assets/ui/jquery.ui.core.js"></script>
  <script src="/assets/ui/jquery.ui.widget.js"></script>
  <script src="/assets/ui/jquery.ui.position.js"></script>
  <script src="/assets/ui/jquery.ui.autocomplete.js"></script>
  <script src="/assets/ui/jquery.ui.datepicker.js"></script>
  <script src="/assets/ui/jquery.maskedinput-1.3.min.js"></script>
  <script src="/assets/ui/jquery.thumbnailScroller.js"></script>
  <script src="/assets/ui/jquery-ui-1.8.13.custom.min.js"></script>
  <script src="/assets/jstorage.js"></script>
  <script type="text/javascript" src="/assets/fileupload/plupload.js"></script>
  <script type="text/javascript" src="/assets/fileupload/plupload.html5.js"></script>
  <script type="text/javascript" src="/assets/fileupload/jquery.plupload.queue.js"></script>
  <script type="text/javascript" src="/assets/ui/jquery.autosize.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>
<div class="body_bg">
  <div id="wrapper" class="wrapper">
    <div class="header">
      <div class="positn_rtlv">
        <div class="level_00">
          <div class="head">Level</div>
          <div class="count"><%= "%02d" % @profile.level %></div>
        </div>
      </div>
      <div class="avatar_box">
        <div class="avatar">
          <a href="javascript:void(0);" rel="/profile/user_profile" class="page_switcher" rev="/profile/"><img id="my_avatar_image" src="<%= @profile.image_file_name %>" /></a>
        </div>
        <div class="avatar_detail">
          <div class="sign_out_btn"><a href="/users/sign_out" data-method="delete" rel="nofollow"><img class="sign_out_img" src="/images/signout_btn.png" /></a>
          </div>
          <div id="tool_bar_full_name" class="full_name">
            <% if @profile.full_name.blank? %>
            <a href="javascript:void(0);" rel="/profile/user_profile" class="page_switcher full_name">EDIT MY PROFILE</a>
            <% else %>
            <%= @profile.full_name %>
            <% end %>
          </div>
          
          <h2 id="major_school_name"><%= @profile.major_school %></h2>
        </div>
         <div class="hide" style="margin-left:90px;">
           <a href="javascript:void(0);"><img src="/images//back_btn.png" /></a>
         </div>
        <div class="clear"></div>
      </div>
      <div class="header_mid_box">
        <div id="alert" class="alert">
           <% flash.each do |name, msg| %>
             <div class="error_message"><%= msg %></div>
           <% end %>
        </div>
      </div>
      <div class="header_search_box">
        <div class="setting_box"><a href="javascript:void(0);" data-method="delete" rel="nofollow"><img src="/images//setting_icon.png" /></a></div>
        <div class="search_bg">
          <form id="frm_search">
            <div id="clear_search" class="clear_search_btn hide" style="right:182px;margin-top:1px;"><!--menu_btn-->
             <img src="/images/clear_icon.png"/>
            </div>
            <input name="search_text" id="search_input" type="text" value="Find Course" />
          </form>
          <div id="search_options" class="hide">
            <li rel="/course/">
              Find Course
            </li>
            <li rel="/task/">
              Find Task
            </li>
            <li rel="/message/">
              Find Message
            </li>
            <li rel="/group/">
              Find Group
            </li>
            <!--<li rel="/friend/">
              Find People
            </li>-->
           <%if Role.check_permission(@profile.id,Role.edit_user) == true%> 
            <li rel="/users/">
              Find People
            </li>
            <%end%>
          </div>
        </div>
        <div class="search_icon">
          <a href="javascript:void(0)" onClick="$('#search_options').toggle();">
            <img src="/images/search_icon.png" />
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div><!--header -->
    <div class="fullheight">
      <div class="left_nav_box">
        <div class="nav_box" id="root_level">
         
          <!--icon-->
          
          <div class="jTscrollerContainer">
            <div class="jTscroller">
              <div class="space_btwn_icon"></div>
              <div class="icon_box"><span class="msg_count" style="display:none;">1</span><a href="javascript:void(0);" id="msg" rel="/message/" rev = "/message/" class="icon_msg menu_btn">messages</a> </div>
              <div class="space_btwn_icon"></div>
              <!--icon-->
              <div class="icon_box"><a href="javascript:void(0);" id="courses" rel="/course/" rev = "/course/" class="icon_courses menu_btn" data="C">courses</a> </div>
              <div class="space_btwn_icon"></div>
              <!--icon-->
              <div class="icon_box"> <a href="javascript:void(0);" id="tasks" rel1="/system/alert/" rel="/task/" rev = "/task/" class="icon_tasks_active menu_btn">tasks</a> </div>
              <div class="space_btwn_icon"></div>
              <!--icon-->
              <div class="icon_box"> <a href="javascript:void(0);" id="networks" rel1="/system/alert/" rel="/course/"rev = "/group/" data="G" class="icon_networks menu_btn">Groups</a> </div>
              <div class="space_btwn_icon"></div>
              <!--icon-->
              <div class="icon_box"> <a href="javascript:void(0);" id="leader_board" rel="/leader_board/" rev = "/leader_board/" class="icon_leader menu_btn">Leader board</a> </div>
              <div class="space_btwn_icon"></div>
               <div class="space_btwn_icon"></div>
              <!--icon--><%count=0%>
              <%if Role.check_permission(@profile.id,Role.edit_grade) == true%>
                <div class="icon_box"> <a href="javascript:void(0);" id="grade" rel="/grade_book/" rev = "/grade_book/" class="icon_grade menu_btn">Grade book</a> </div><%count=count+1%>
                <div class="space_btwn_icon"></div> 
              <%end%>
               <!--icon-->
              <%if Role.check_permission(@profile.id,Role.modify_wardrobe) == true%> 
              <div class="icon_box"> <a href="javascript:void(0);" id="wardrobe" rel="/wardrobe/" rev = "/wardrobe/" class="icon_leader menu_btn">Wardrobe</a> </div><%count=count+1%>
               <div class="space_btwn_icon"></div>
             <%end%>
              <%if Role.check_permission(@profile.id,Role.edit_user) == true%> 
                <div class="icon_box"> <a href="javascript:void(0);" id="users" rel="/users/" rev = "/users/" class="icon_people_setting menu_btn">People</a> </div><%count=count+1%>
                <div class="space_btwn_icon"></div>
              <%end%>
              
             <%if Role.check_permission(@profile.id,Role.modify_rewards) == true%> 
              <div class="icon_box"> <a href="javascript:void(0);" id="reward" rel="/reward/" rev = "/reward/" class="icon_reward menu_btn">Rewards</a> </div><%count=count+1%>
               <div class="space_btwn_icon"></div>
             <%end%> 
              <%if Role.check_permission(@profile.id,Role.modify_settings) == true%> 
              <div class="icon_box"> <a href="javascript:void(0);" id="setting" rel="/setting/" rev = "/setting/" class="icon_user_setting menu_btn">Setting</a> </div><%count=count+1%>
               <div class="space_btwn_icon"></div>
             <%end%> 
            </div>
          </div>
          <%if count>0%>
            <div class="downarrow jTscrollerNextButton"></div>
            <div class="uparrow jTscrollerPrevButton"></div>
          <%end%>
          <!-- icon end -->
          
        </div>
        
      </div>
      
      <div class="middle_main_div">
        <div id="container" class="Main_content">
          <%= yield %>
        </div><!-- container -->
      </div>
      <div class="right_box">
        <div id="page_title" class="heading_messages">COLLEGE QUEST</div>
      </div>
      <div class="clear"></div>
    </div>
    <div id="waiting" class="waiting"><img src="/images/ajax-loader.gif"></div>
  </div><!-- wrapper -->
</div><!-- body_bg -->

<!--popup start-->
<div id="avatar_card" class="popup_box1 hide"></div>
<div id="account_setup" class="hide">
  
</div>
<!--popup end-->

<input type="hidden" name="hdn_profile_id" id="hdn_profile_id" value="<%=user_session[:profile_id] %>"/>

</body>
<script type="text/javascript">

<!--
  //jQuery.noConflict(); 
  (function($){
  window.onload=function(){ 
    $("#root_level").thumbnailScroller({ 
      scrollerType:"clickButtons", 
      scrollerOrientation:"vertical", 
      scrollSpeed:2, 
      scrollEasing:"easeOutCirc", 
      scrollEasingAmount:800, 
      acceleration:4, 
      scrollSpeed:800, 
      noScrollCenterSpace:10, 
      autoScrolling:0, 
      autoScrollingSpeed:2000, 
      autoScrollingEasing:"easeInOutQuad", 
      autoScrollingDelay:500 
    });
  }
})(jQuery);

var h = new Object(); 
  var main_menu_id = ["msg","courses","tasks","networks","leader_board","grade","wardrobe","reward","setting","users"]
  var token = $("meta[name='csrf-token']").attr("content");
  var search_arr = {
    "/profile/user_profile" : "Find People",
    "/friend/" : "Find People",
    "/course/" : "Find Course", 
    "/task/" : "Find Task", 
    "/message/" : "Find Message", 
    "/group/" : "Find Group",
    "/users/" : "Find People"
  };
  var search_url = "/course/";
  var section_type = "C"
  var search_term = $("#search_input").val();
  //Set CSRF Token (Required for ajax request (post))
  $(document).ajaxSend(function(e, xhr, options) {
    xhr.setRequestHeader("X-CSRF-Token", token);
  });
  
  $(document).ready(function(){
    
    //Search option settings
    $("#search_options li").bind("click",function(){
      set_search($(this).attr("rel"));
      $("#search_options").toggle();
    });
    
    $("#search_input").bind("focus",function(){
      $.map( search_arr, function(val, i) {
        if(val == $("#search_input").val()) {
          search_term = $("#search_input").val();
          $("#search_input").val("");
        }
      });
    });
    
    $("#search_input").bind("focusout",function(){
      if($("#search_input").val() == "") {
        $("#search_input").val(search_term);
      }
    });
    
    // Search form post when enter pressed
    $('#frm_search').submit(function() {
      search_text = $("#search_input").val();
      if(search_url && search_text !="") {
        if(search_url=="/group/"){
          search_url ="/course/"
          var section_type = "G"
        }
        else if(search_url=="/course/")
          var section_type = "C"
        else
          var section_type = ""
        showSpinner(true);
        dataString = {search_text:search_text,section_type:section_type}
        $.ajax({
          type: "GET",  
          url: search_url,
          data: dataString,
          success: function(data) {
            if (data) {
              $("#container").html(data);
              $("#container").highlight(search_text);
              $("#clear_search").show();
              $("#clear_search").attr("rel", search_url);
            } else {
              alert("ERROR");
            }
            showSpinner(false);
          }
        });
      }
      return false;
    });
    
    //Fill up the #container with according call
    $("#frm_search, #root_level, #container").delegate(".menu_btn", "click", loadPage);
    $(".page_switcher").click(loadPage);
    
    $('#container').delegate('.profile', 'click', function(){
      var p = $(this);
      var course_id = p.attr("rel");
      var position = p.position();
      showSpinner(true);
      $.ajax({  
        type: "POST",  
        url: "/message/add_friend_card",
        data: {profile_id:p.attr("profile_id"),course_id:course_id},
        success: function(data) {
          if (data) {
            $('#avatar_card').html(data);
            $('#avatar_card').css("top",position.top-30);
            $('#avatar_card').css("left",position.left-20);
            $('#avatar_card').show();
            window_height = $(document).height();
            card_position = $("#avatar_card").position();
            if ((window_height - card_position.top)<200)
             $('#avatar_card').css("top",position.top-140);
          }
          showSpinner(false);
        }
      });
      return false;
    });
    
    $(".setting_box").click(function(){
      var id = $("#hdn_profile_id").val();
      showSpinner(true);
      $.ajax({  
        type: "POST",  
        url: "/profile/account_setup",
        data: {id:id},
        success: function(data) {
          if (data) {
            $('#account_setup').html(data);
            $('#account_setup').show();
          }
          showSpinner(false);
        }
      });
    });
    
// New topic    
 $('#container').delegate('.topic_div', 'click', function(){   
    var rel = $(this).attr("rel");
    if($("#et_"+rel).hasClass("show")){
      $("#et_"+rel).removeClass("show")
     } 
    else{
      $("#et_"+rel).addClass("show")  
    }
    if($("#at_"+rel).hasClass("show")){
      $("#at_"+rel).removeClass("show")
     } 
    else{
      $("#at_"+rel).addClass("show")  
    }
  });
$('#container').delegate('.edit_topic', 'click', function(){     
  //$(".edit_topic").click(function(){
    var rel = $(this).attr("rel");
    $("#topic_content_"+rel).show();
    $("#topic_content_"+rel).removeAttr("readonly");
    $("#topic_content_"+rel).addClass("topic_field_bg");
    $("#et_"+rel).addClass("hide");
    $("#et_"+rel).removeClass("edit_topic_btn");
    document.getElementById("topic_content_"+rel).focus();
    $("#et_"+rel).hide();
  });
  
  function show_btn(id)
  {
     if($("#"+id).hasClass("show")){
      $("#"+id).removeClass("show")
     } 
    else{
      $("#"+id).addClass("show")  
    }
  };
$('#container').delegate('.add_topic', 'click', function(){    
    var rel = $(this).attr("rel");
    $("#topic_content_"+rel).show();
    document.getElementById("topic_content_"+rel).focus();
    $("#topic_content_"+rel).removeAttr("readonly");
    $("#topic_content_"+rel).addClass("topic_field_bg");
    $("#at_"+rel).hide();
    $("#at_"+rel).addClass("hide");
    $("#at_"+rel).removeClass("edit_topic_btn");
  
  });
  
  $('#container').delegate('.topic_input', 'blur', function(){ 
     var message_id = $(this).attr("rel");
     var content = $(this).val();
     if(content==""){
        $("#topic_content_"+message_id).removeClass("topic_field_bg");
        $("#at_"+message_id).removeClass("hide");
        $("#at_"+message_id).addClass("edit_topic_btn");
        $("#et_"+message_id).addClass("hide");
        $("#et_"+message_id).removeClass("edit_topic_btn");
        $("#at_"+message_id).show();
     }
     else{
        $("#topic_content_"+message_id).removeClass("topic_field_bg");
        $("#et_"+message_id).removeClass("hide");
        $("#et_"+message_id).addClass("edit_topic_btn");
        $("#at_"+message_id).addClass("hide");
        $("#at_"+message_id).removeClass("edit_topic_btn");
        $("#et_"+message_id).show();
     }
  });
  //For toggle date time of messages
 $('#container').delegate('.time', 'click', function(){ 
    var id = $(this).attr("rel");
    if($(".words").hasClass("hide")){
      $(".words").removeClass("hide");
      $(".dates").addClass("hide");
      }
    else{
      $(".dates").removeClass("hide");
      $(".words").addClass("hide");
      }
   }); 
  
  $("#container").delegate('.topic_input','change', function(){
    var message_id = $(this).attr("rel");
    id = $(this).attr("id");
    var content = $(this).val();
    showSpinner(true);
    $.ajax({
      type:"POST",
      url:"/message/save_topic",
      dataType:"json",
      data:{id:message_id,content:content},
      success: function(data){
        if(data.status){
          showSpinner(false);
         $("#topic_content_"+message_id).attr("readonly","readonly");
         $("#topic_content_"+message_id).removeClass("topic_field_bg");
        // $("#topic_content_"+message_id).addClass("hide");
         if(content==""){
            $("#at_"+message_id).removeClass("hide");
            $("#at_"+message_id).addClass("edit_topic_btn");
            $("#et_"+message_id).addClass("hide");
            $("#et_"+message_id).removeClass("edit_topic_btn");
            $("#at_"+message_id).show();
            $("#et_"+message_id).hide();
         }
         else
         {
            $("#et_"+message_id).removeClass("hide");
            $("#et_"+message_id).addClass("edit_topic_btn");
            $("#at_"+message_id).addClass("hide");
            $("#at_"+message_id).removeClass("edit_topic_btn");
            $("#et_"+message_id).show();
         }
         //show_btn(id)
        }
      },
      error: function(){alert("ERROR")}
    });
  });
    
    
    
  
  }); //document.ready
  
  function loadPage(dest, title) {
     var id = $(this).attr("id");
    $(main_menu_id).each(function(index, item){
       if(id==item){
         setTab();
       }
    });
    var target = $(this).attr("rel");
    if (target == undefined) {
      target = dest;
    }
    setAlert("Loading " + $(this).attr("rev"));
    var data = $(this).attr("data");
    //alert(data);
    load_data(target,data);
    set_search($(this).attr("rev"));
    if (title != undefined) {
      setPageTitle(title);
    }
    show_selected($(this).attr("id"));
  }
  
  $(document).keyup(function(e) {
    if (e.keyCode == 27) { // Esc button pressed to clear the search
      //load_data(search_url, section_type)//on cancel load previous page
      $("#clear_search").hide();
      $("#search_input").val(search_term);
    }
  });
  
  $("#clear_search").click(function(){
     $("#clear_search").hide();
     $("#search_input").val(search_term);
  })
  
  //Load data for different results like Course listing, Task listing, Add course, Add task, Search results etc.
  function load_data(target, data) {
    if(target) {
      $("#clear_search").hide();
      $("#search_input").val(search_term);
      showSpinner(true);
      $.ajax({
        type: "GET",  
        url: target,
        data: {section_type:data},
        success: function(data) {
          if (data) {
            $("#container").html(data);
          } else {
            alert("ERROR");
          }
          showSpinner(false);
        }
      });
    }
  }
  
  function set_search(url) {
    if(url in search_arr) {
       $("#search_input").val(search_arr[url]);
       search_url = url;
    }
  }

  function setTab(){
    if(document.getElementById("msg")!=null){
      document.getElementById("msg").className = "icon_msg menu_btn";
    }
    if(document.getElementById("courses")!=null){
      document.getElementById("courses").className = "icon_courses menu_btn";
    }
    if(document.getElementById("tasks")!=null){
      document.getElementById("tasks").className = "icon_tasks menu_btn";
    }
    if(document.getElementById("networks")!=null){
      document.getElementById("networks").className = "icon_networks menu_btn";
    }
    if(document.getElementById("leader_board")!=null){
      document.getElementById("leader_board").className = "icon_leader menu_btn";
    }
    if(document.getElementById("grade")!=null){
      document.getElementById("grade").className = "icon_grade menu_btn";
    }
    if(document.getElementById("wardrobe")!=null){
      document.getElementById("wardrobe").className = "icon_leader menu_btn";
    }
    if(document.getElementById("users")!=null){
      document.getElementById("users").className = "icon_people_setting menu_btn";
    }
    if(document.getElementById("reward")!=null){
      document.getElementById("reward").className = "icon_reward menu_btn";
    }
    if(document.getElementById("setting")!=null){
      document.getElementById("setting").className = "icon_user_setting menu_btn";
    }
    
  }
  
  function show_selected(selectted_menu){
    if(selectted_menu=="courses"){
      $("#courses").addClass("icon_courses_active ");
    } else if(selectted_menu=="msg"){
      $("#msg").addClass("icon_msg_active");
    } 
    else if(selectted_menu=="tasks"){
      $("#tasks").addClass("icon_tasks_active");
    } 
    else if(selectted_menu=="networks"){
      $("#networks").addClass("icon_networks_active");
    } 
    else if(selectted_menu=="leader_board"){
      $("#leader_board").addClass("icon_leader_active");
    } 
    else if(selectted_menu=="grade"){
      $("#grade").addClass("icon_grade_active");
    } 
    else if(selectted_menu=="wardrobe"){
      $("#wardrobe").addClass("icon_leader_active");
    } 
    else if(selectted_menu=="users"){
      $("#users").addClass("icon_people_setting_active");
    } 
    else if(selectted_menu=="reward"){
      $("#reward").addClass("icon_reward_active");
    } 
    else if(selectted_menu=="setting"){
      $("#setting").addClass("icon_user_setting_active");
    } 
    
  }
  
  function setPageTitle(title) {
    $("#page_title").html(title);
  }
  
  function setAlert(text) {
    // $("#alert").dequeue();
    // $("#alert").html(text);
    // $("#alert").fadeIn("fast").delay(1000).fadeOut(1000);
  }

  function setMessage(text) {
    // $("#alert").dequeue();
    $("#alert").html(text);
    // $("#alert").fadeIn("fast").delay(1000).fadeOut(1000);
  }
   $("#container").delegate('a','click', function(){
    /* window_height = window.innerHeight;   
     height = window_height - 135;
     $('.main_div_height').css("min-height",height);*/
     
   });
   $('#container').ajaxComplete(function() {
      window_height = window.innerHeight;   
     height = window_height - 135;
     $('.main_div_height').css("min-height",height);
   });
-->
</script>
</html>
