<!DOCTYPE html>
<html>
<head>
  <title>Levelfly<% if (ENV['APP_ENV'] != 'production') %> [TESTING]<% end %></title>

	<meta name="description" content="Levelup learning with Levelfly." />

  <!-- <meta name="viewport" content="width=device-width;" /> -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="robots" content="index, nofollow">
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  
  <link rel="apple-touch-icon" href="/images/ios_icon.png">
  <link href='https://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  
  <link href="/stylesheets/main_layout.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.all.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.autocomplete.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/slider.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/tooltip.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/fileupload/css/jquery.plupload.queue.css" type="text/css" media="screen" />
  <%= javascript_include_tag "application" %>
  <script src="/assets/jquery.highlight.js"></script>
  <script src="/assets/jquery.idletimeout.js"></script>
  <script src="/assets/ui/jquery.ui.core.js"></script>
  <script src="/assets/ui/jquery.ui.widget.js"></script>
  <script src="/assets/ui/jquery.ui.mouse.js"></script>
  <script src="/assets/ui/jquery.ui.position.js"></script>
  <script src="/assets/ui/jquery.ui.autocomplete.js"></script>
  <script src="/assets/ui/jquery.ui.datepicker.js"></script>
  <script src="/assets/ui/jquery.ui.tooltip.js"></script>
  <script src="/assets/ui/jquery.ui.slider.js"></script>
  <script src="/assets/ui/jquery.dotdotdot-1.5.6.js" type="text/javascript"></script>
  <script src="/assets/ui/jquery.maskedinput-1.3.min.js"></script>
  <script src="/assets/ui/jquery.thumbnailScroller.js"></script>
  <script src="/assets/ui/jquery-ui-1.8.13.custom.min.js"></script>
  <script src="/assets/jstorage.js"></script>
  <script>window.jStorage = $.jStorage;</script>
  <script type="text/javascript" src="/assets/fileupload/plupload.js"></script>
  <script type="text/javascript" src="/assets/fileupload/plupload.html5.js"></script>
  <script type="text/javascript" src="/assets/fileupload/jquery.plupload.queue.js"></script>
	<script type="text/javascript" src="/assets/fileupload/plupload.flash.js"></script>
  <script type="text/javascript" src="/assets/ui/jquery.autosize.js"></script>
  <script src="/assets/pusher.min.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['t._setAccount', '<%= ENV['GA_ACCOUNT'] %>']);
    _gaq.push(['t._trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    var messagePusher = new Pusher('<%= Pusher.key %>', { authEndpoint: '/auth' });
    var messageChanel = messagePusher.subscribe('private-my-channel-<%= current_profile.id %>');
    messageChanel.bind('message', pusherEventHandler);
    messageChanel.bind('new_message', bipEventHandler);
    //===================================================
    function bipEventHandler(data){
        if(data && data["sender"] && $('#action_name').length != 0 && $('#action_name').val() == 'friends_only')
        {
            var ids = $.unique($("img.profile").map(function(){return $(this).attr("profile_id");}).get());
            if(ids.length != 0 && $.inArray(data.sender.toString(),ids) > -1)
            {
                return;
            }

        }
        document.getElementById("msg").className = "notification_badge_active menu_btn";
    }

    function pusherEventHandler(data){
        switch(data.event)
        {
            case 'private_message':{
                getMessageHandler(data);
                break;
            }
            case 'private_comment':{
                getCommentHandler(data);
                break;
            }
            case 'forum_message': {//
                forumMessagesHandler(data);
                break;
            }
            case 'group_message':{
                groupMessageHandler(data);
                break;
            }
            case 'course_message':{
                courseMessageHandler(data);
                break;
            }
            case 'new_friend':{
                newFriendHandler(data);
                break;
            }
            case 'school_request':{
                schoolRequestHandler(data);
                break;
            }
            case 'course_request':{
                respondToCourseHandler(data);
                break;
            }
            case 'board_message':{
                boardMessagesHandler(data);
                break;
            }
        }
    }

    function notificationHandler(data){
        if(checkPage('message', 'index')){
            checkContainerExistence('notification')
            readMessage(data.target_id, data.course_id);
            $('#course_requset_respond').prepend(data.message)
        }
    }

    function courseMessageHandler(data){
        if(checkPage('course', 'show') && $('#section_type').val() == 'C'){
            $('#message_wrapper_course').prepend(data.message);
        }
    }
    function checkPage(controller_name,action_name){
        return ($('#controller_name').length > 0 && $('#controller_name').val() == controller_name &&
                $('#action_name').val() == action_name)
    }

    function readMessage(message_id, friend_id){
        $.get(
                'message/read_message',
                {profile_id: $('#hdn_profile_id').val(), message_id: message_id, friend_id:friend_id}
        );
    }

    function forumMessagesHandler(data){
        if(checkPage('course','show_forum') && $('#section_type').val() == 'C'){
            $('#message_wrapper_forum').prepend(data.message)
        }
    }
    function groupMessageHandler(data){
        if(checkPage('course','show') && $('#section_type').val() == 'G' ){
            $('#message_wrapper_group').prepend(data.message);
        }
    }
    /*function newFriendHandler(data){
        $('#message_wrapper_course').prepend(data.message);
    }*/

    function newFriendHandler(data){
        if(checkPage('message', 'index')){
            readMessage(data.target_id, data.course_id);
            checkContainerExistence('course');
            $('#course_requests').prepend(data.message);
        }
    }
    function schoolRequestHandler(data){
        if(checkPage('message', 'index')){
            readMessage(data.target_id, data.course_id);
            checkContainerExistence('school');
            $('#school_invites').prepend(data.message);
        }
    }

    function respondToCourseHandler(data){
        if(checkPage('message', 'index')){
            readMessage(data.target_id, data.course_id);
            checkContainerExistence('course');
            $('#course_requests').prepend(data.message);
        }
    }

    function boardMessagesHandler(data){
        if(checkPage('message','index')){
            readMessage(data.target_id, data.course_id);;
            checkContainerExistence('board');
            $('#message_wrapper').prepend(data.message);
        }
    }



    function checkContainerExistence(type){
        switch (type)
        {
            case 'course': {
                if ($('#course_request').length == 0 ){
                    $('.msg_content_left').prepend(
                            '<div id="invites_title"><h2 style="font-size:16px;">INVITES</h2></div>' +
                                    '<div id="course_requests"></div>');
                }
                break;
            }
            case 'school': {
                if( $('#school_invites').length == 0){
                    $('.msg_content_left').prepend(
                            '<div id="school_invites_title"><h2 style="font-size:16px;">INVITES</h2></div>' +
                                    '<div id="school_invites"></div>');
                }
                break;
            }
            case 'notification': {
                if($('#notification_title').length == 0){
                    $('.msg_content_left').prepend(
                            '<div id="notification_title"><h2 style="font-size:16px;">NOTIFICATIONS' +
                                    '<span style="float: right;" class="like_cmt">' +
                                    '<a href="javascript:void(0);" class="all_notification_del blue_bt19px">Clear All Notifications</a>' +
                                    '</span></h2></div>'+
                                    '<div id="course_requset_respond"></div>')
                }
                break;
            }
            case 'board': {
                if($('#show_all_cmnts_div').length == 0){
                    $('#message_wrapper').before(
                            '<div id="show_all_cmnts_div" class="linkcolour">' +
                                    '<a href="javascript:void(0)" id="all_cmnts">Show All Comments</a>' +
                                    '</div><div id="show_only_cmnts_div" class="hide linkcolour">' +
                                    '<a href="javascript:void(0)" id="only_cmnts">Show Only Last 2 Comments</a></div>')
                }
                break;
            }

        }

    }
    function getCommentHandler(data){
        if($("#messsage_box_"+data.target_id).length > 0){
            readMessage(data.target_id, data.course_id);
            $("#messsage_box_"+data.target_id).append(data.message);
        }
    }
    function getMessageHandler(data){
        if(checkPage('message', 'friends_only') && $('.sbmt_msg[rel="Profile"]').attr('id') == data.course_id.toString()){
            readMessage(data.target_id, data.course_id);
            $("#message_wrapper").prepend(data.message);
        }

    }
  </script>
  
  <%= csrf_meta_tags %>
</head>
<body onresize="resize_function()">
<div class="body_bg">
  <div id="wrapper" class="wrapper">
    <div class="header">
      <div class="positn_rtlv">
        <div class="level_00">
          <div class="head">Level</div>
          <div class="count top_level_header"><%= "%02d" % @profile.level %></div>
        </div>
      </div>
      <div class="avatar_box">
        <div class="avatar">
          <a href="javascript:void(0);" rel="/profile/user_profile" class="page_switcher users_profile" rev="/profile/"><img id="my_avatar_image" src="<%= @profile.image_file_name %>" /></a>
        </div>
        <div class="avatar_detail">
          <div class="sign_out_btn"><a href="/users/sign_out" data-method="delete" rel="nofollow"><img class="sign_out_img" src="/images/signout_btn.png" /></a>
          </div>
          <div id="tool_bar_full_name" class="full_name">
            <% if @profile.full_name.blank? %>
            <a href="javascript:void(0);" rel="/profile/user_profile" class="page_switcher full_name">EDIT MY PROFILE</a>
            <% else %>
            <%= @profile.full_name %>
            <% end %>
          </div>
          
          <h2 id="major_school_name">
            <%= @profile.major_school %>
            <% #if current_user.profiles.count > 1 %>
              <!--<strong class="school_picker">&#9660;</strong>-->
            <% #end %>
          </h2>
        </div>
         <div class="hide" style="margin-left:90px;">
           <a href="javascript:void(0);"><img src="/images//back_btn.png" /></a>
         </div>
        <div class="clear"></div>
      </div>
      <div class="header_mid_box">
        <div id="alert" class="alert">
          <% flash.each do |name, msg| %>
            <% if msg.respond_to? :length %>
            <div class="error_message"><%= msg %></div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="header_search_box">
        <div class="setting_box"><a href="javascript:void(0);" data-method="delete" rel="nofollow"><img src="/images//setting_icon.png" /></a></div>
        <div class="search_bg">
          <form id="frm_search">
            <div id="clear_search" class="clear_search_btn hide" style="right:182px;margin-top:1px;"><!--menu_btn-->
             <img src="/images/clear_icon.png"/>
            </div>
            <input name="search_text" id="search_input" type="text" value="Find Course" />
          </form>
          <div id="search_options" class="hide">
            <li rel="/course/">
              Find Course
            </li>
            <li rel="/task/">
              Find Task
            </li>
            <li rel="/message/">
              Find Message
            </li>
            <li rel="/group/">
              Find Group
            </li>
            <!--<li rel="/friend/">
              Find People
            </li>-->
            <li rel="/profile/">
              Find People
            </li>
          </div>
        </div>
        <div class="search_icon">
          <a href="javascript:void(0)" onClick="$('#search_options').toggle();">
            <img src="/images/search_icon.png" />
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div><!--header -->
    <div class="fullheight">
      <div class="left_nav_box">
        <div class="nav_box" id="root_level">
         
          <!--icon-->
          
          <div class="jTscrollerContainer">
            <div class="jTscroller">
              <div class="space_btwn_icon"></div>
			  <%viewed = notification_badge(@profile)%>
              <div class="icon_box"><span class="msg_count" style="display:none;">1</span><a href="javascript:void(0);" id="msg" rel="/message/" rev = "/message/" class = "<%= viewed ? "icon_msg menu_btn" : "notification_badge menu_btn" %>" value = "<%= viewed ? "true" : "false" %>" >messages</a> </div>
			  <div class="space_btwn_icon"></div>
              <!--icon-->
              <div class="icon_box"><a href="javascript:void(0);" id="courses" rel="/course/" rev = "/course/" class="icon_courses_active menu_btn" data="C">courses</a> </div>
              <div class="space_btwn_icon"></div>
              <!--icon-->
              <div class="icon_box"> <a href="javascript:void(0);" id="tasks" rel1="/system/alert/" rel="/task/" rev = "/task/" class="icon_tasks menu_btn">tasks</a> </div>
              <div class="space_btwn_icon"></div>
              <!--icon-->
              <div class="icon_box"> <a href="javascript:void(0);" id="networks" rel1="/system/alert/" rel="/course/"rev = "/group/" data="G" class="icon_networks menu_btn">Groups</a> </div>
              <div class="space_btwn_icon"></div>
              <!--icon-->
              <div class="icon_box"> <a href="javascript:void(0);" id="leader_board" rel="/leader_board/" rev = "/leader_board/" class="icon_leader menu_btn">Leader board</a> </div>
              <div class="space_btwn_icon"></div>
               <div class="space_btwn_icon"></div>
              <!--icon--><%count=0%>
              <%if Role.check_permission(@profile.id,Role.edit_grade) == true%>
                <div class="icon_box"> <a href="javascript:void(0);" id="grade" rel="/grade_book/" rev = "/grade_book/" class="icon_grade menu_btn">Grade book</a> </div><%count=count+1%>
                <div class="space_btwn_icon"></div> 
              <%end%>
               <!--icon-->
              <%if Role.check_permission(@profile.id,Role.modify_wardrobe) == true%> 
              <div class="icon_box"> <a href="javascript:void(0);" id="wardrobe" rel="/wardrobe/" rev = "/wardrobe/" class="icon_wardrobe menu_btn">Wardrobe</a> </div><%count=count+1%>
               <div class="space_btwn_icon"></div>
             <%end%>
              <%if Role.check_permission(@profile.id,Role.edit_user) == true%> 
                <div class="icon_box"> <a href="javascript:void(0);" id="users" rel="/users/" rev = "/users/" class="icon_people_setting menu_btn">People</a> </div><%count=count+1%>
                <div class="space_btwn_icon"></div>
              <%end%>
              
             <%if Role.check_permission(@profile.id,Role.modify_rewards) == true%> 
              <div class="icon_box"> <a href="javascript:void(0);" id="reward" rel="/reward/" rev = "/reward/" class="icon_reward menu_btn">Rewards</a> </div><%count=count+1%>
               <div class="space_btwn_icon"></div>
             <%end%> 
              <%if Role.check_permission(@profile.id,Role.modify_settings) == true%> 
              <div class="icon_box"> <a href="javascript:void(0);" id="setting" rel="/setting/" rev = "/setting/" class="icon_user_setting menu_btn">Setting</a> </div><%count=count+1%>
               <div class="space_btwn_icon"></div>
             <%end%> 
            </div>
          </div>
          <%if count>0%>
            <div class="downarrow jTscrollerNextButton"></div>
            <div class="uparrow jTscrollerPrevButton"></div>
          <%end%>
          <!-- icon end -->
          
        </div>
        
      </div>
      
      <div class="middle_main_div">
        <div id="container" class="Main_content">
          <%= yield %>
        </div><!-- container -->
      </div>
      <div class="right_box">
        <div id="page_title" class="heading_messages">Levelfly</div>
      </div>
      <div class="clear"></div>
    </div>
    <div id="waiting" class="waiting"><img src="/images/ajax-loader.gif"></div>
  </div><!-- wrapper -->
</div><!-- body_bg -->

<!--popup start-->
<div id="avatar_card" class="popup_box1 hide"></div>
<div id="badge_popup" class="badge_popup_dialog hide"></div>
<div id="account_setup" class="hide">
  
</div>
<!--popup end-->

<input type="hidden" name="hdn_profile_id" id="hdn_profile_id" value="<%=user_session[:profile_id] %>"/>

  <div id="server_error_div" class="hide">
    <%= render :partial => "/layouts/server_error" %>
  </div>

  <div id="email_confirmation_div" class="hide">
    <%= render :partial => "/layouts/email_confirmation" %>
  </div>
  <div id="session_timeout_div" class="hide">
    <%= render :partial => "/layouts/session_timeout", :locals => {:extended_logout => @profile.extended_logout} %>
  </div>

<!--   <div id="school_dropdown" class="hide">
    <ul>
      <% current_user.profiles.each do |profile| %>
      <li data-school-id="<%= profile.school.id %>" <% if profile.school == school %>class="current_school"<% end %>>
        <%= profile.school.name %>
      </li>
      <% end %>
    </ul>
  </div> -->


<script type="text/javascript">

<!--
  //jQuery.noConflict(); 
  (function($){
      Pusher.log = function(message) {
          if (window.console && window.console.log) {
              window.console.log(message);
          }
      };
    $(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
      if (jqXHR.status == 401) {
        window.location.reload();
      } else if (jqXHR.status != 0) {
        showSpinner(false);
        $('#server_error_div').show();
      }
    });

    // start the idle timer plugin
    var $countdown = $('#session_timeout_countdown');

    $.idleTimeout('#session_timeout_div', '#session_resume_btn', {
      idleAfter: <%= @profile.extended_logout ? 36 * 3600 : 30 * 60 %>,
      pollingInterval: 2,
      keepAliveURL: '/profile/ping',
      serverResponseEquals: 'OK',
      warningLength: 60,
      onTimeout: function() {
        $.post('/users/sign_out', {_method: 'delete'}, function() {
          window.location = '/';
        });
      },
      onIdle: function() {
        $(this).removeClass('hide');
      },
      onCountdown: function(counter) {
        $countdown.html(counter); // update the counter
      },
      onResume: function(warning) {
        $('#session_timeout_div').addClass('hide');
      }
    });

    <% if flash[:email_confirmation] %>
    $('#email_confirmation_div').removeClass('hide');
    <% end %>

    $.jStorage.subscribe('logout', function() {
      window.location.reload();
    })

    window.onload=function() { 
      $("#root_level").thumbnailScroller({ 
        scrollerType:"clickButtons", 
        scrollerOrientation:"vertical", 
        scrollSpeed:2, 
        scrollEasing:"easeOutCirc", 
        scrollEasingAmount:800, 
        acceleration:4, 
        scrollSpeed:800, 
        noScrollCenterSpace:10, 
        autoScrolling:0, 
        autoScrollingSpeed:2000, 
        autoScrollingEasing:"easeInOutQuad", 
        autoScrollingDelay:500 
      });
    }

    // $('#major_school_name').click(function() {
    //   var $major_school_name = $(this),
    //       offset = $major_school_name.offset();

    //   $('#school_dropdown').css({
    //     'position': 'absolute',
    //     'top': offset.top + $major_school_name.height() + 8,
    //     'left': offset.left - 16
    //   }).toggleClass('hide');
    // });

    // $('#school_dropdown li').click(function() {
    //   showSpinner(true);
    //   $.post('/profile/change_school', {school_id: $(this).data('school-id')}, function(data) {
    //     if (data.status) {
    //       showSpinner(false);
    //       window.location.reload();
    //     }
    //   });
    // });
  })(jQuery);

var h = new Object(); 
 var ie_browser = false;
 window_height = window.innerHeight;   
 height = window_height - 135;

 if(navigator.userAgent.toLowerCase().indexOf('msie') > -1){
    ie_browser = true;
    height = window_height
   }
  $('.main_div_height').css("min-height",height);
  $('#root_level.nav_box').css("height",height);
  var main_menu_id = ["msg","courses","tasks","networks","leader_board","grade","wardrobe","reward","setting","users"]
  var token = $("meta[name='csrf-token']").attr("content");
  var search_arr = {
    "/profile/user_profile" : "Find People",
    "/friend/" : "Find People",
    "/course/" : "Find Course", 
    "/task/" : "Find Task", 
    "/message/" : "Find Message", 
    "/group/" : "Find Group",
    "/users/" : "Find People",
    "/profile/" : "Find People"
  };
  var search_url = "/course/";
  var section_type = "C"
  var search_term = $("#search_input").val();
	// These booleans are set for show / hide all comments on walls & messages
	<% @profile = @profile = Profile.find(:first, :conditions => ["user_id = ?", current_user.id]) %>
	<% if @profile && @profile.all_comments == false %>
	    var all_comments = false;
	<% else %>
	    var all_comments = true;
	<% end %>
	var show_post_date = "<%= @profile.post_date_format.to_s %>;"
	
  //Set CSRF Token (Required for ajax request (post))
  $(document).ajaxSend(function(e, xhr, options) {
    xhr.setRequestHeader("X-CSRF-Token", token);
  });
  
  $(document).ready(function(){
    
    $.ajaxSetup({ cache: false }); 
  //   setInterval(function() {
  //     profile_id = $("#hdn_profile_id").val();
		// $.ajax({  
  //         type: "POST",  
  //         url: "/message/alert_badge",
  //         dataType: "json",
  //         data:{id:profile_id},
  //         success: function(data) {
		//   	if (data.alert_badge == false){
		// 		document.getElementById("msg").className = "notification_badge menu_btn";
		// 	}
		// 	else{
		// 		document.getElementById("msg").className = "icon_msg menu_btn";
		// 	}
				
		//   },
		// });
  //   }, 10000*10);
    
    //Search option settings
    $("#search_options li").bind("click",function(){
      set_search($(this).attr("rel"));
      $("#search_options").toggle();
    });
    
    $("#search_input").bind("focus",function(){
      $.map( search_arr, function(val, i) {
        if(val == $("#search_input").val()) {
          search_term = $("#search_input").val();
          $("#search_input").val("");
        }
      });
    });
    
    $("#search_input").bind("focusout",function(){
      if($("#search_input").val() == "") {
        $("#search_input").val(search_term);
      }
    });
    
    // Search form post when enter pressed
    $('#frm_search').submit(function(event) {
        event.preventDefault();
      search_text = $("#search_input").val();
      if(search_url && search_text !="") {
        var section_type = "";
        var filter = "";
        if($('.tab_group').length != 0){
            search_url = "/group/";
        }
        if(search_url=="/group/"){
          search_url ="/course/"
          section_type = "G"
          filter = $('.side_tab_open').attr('filter')
        }
        else if(search_url=="/course/"){
            section_type = "C";
            filter = $('.side_tab_open').attr('filter')
        }
        else if(search_url == "/task/"){
            filter = $('.tab_open').attr('filter');
        }
        showSpinner(true);
        dataString = {search_text: search_text,section_type: section_type, filter: filter}
        $.ajax({
          type: "GET",  
          url: search_url,
          data: dataString,
          success: function(data) {
            if (data) {
              if($.inArray(filter, ['A', 'M', 'active', 'current', 'past']) != -1){
                  if($('#content_list').length != 0)
                      $('#content_list').html(data);
                  else if($('#task_show_list_data').length !=0 )
                      $('#task_show_list_data').html(data);
              }
              else
                  $("#container").html(data);
              $("#container").highlight(search_text);
              $("#clear_search").show();
              $("#clear_search").attr("rel", search_url);
            } else {
              alert("ERROR");
            }
            showSpinner(false);
          }
        });
      }
      return false;
    });
    
    //Fill up the #container with according call
    $("#frm_search, #root_level, #container").delegate(".menu_btn", "click", loadPage);
    $(".page_switcher").click(loadPage);
    
    $('#container').delegate('.profile', 'click', function(){
      var p = $(this);
      var course_id = p.attr("rel");
      var position = p.position();
      showSpinner(true);
      $.ajax({  
        type: "POST",  
        url: "/message/add_friend_card",
        data: {profile_id:p.attr("profile_id"),course_id:course_id},
        success: function(data) {
          if (data) {
            $('#avatar_card').html(data);
            $('#avatar_card').css("top",position.top-30);
            $('#avatar_card').css("left",position.left-20);
            $('#avatar_card').show();
            window_height = $(document).height();
            card_position = $("#avatar_card").position();
            if ((window_height - card_position.top)<200)
             $('#avatar_card').css("top",position.top-140);
          }
          showSpinner(false);
        }
      });
      return false;
    });
    
    $(".setting_box").click(function(){
      var id = $("#hdn_profile_id").val();
      showSpinner(true);
      $.ajax({  
        type: "POST",  
        url: "/profile/account_setup",
        data: {id:id},
        success: function(data) {
          if (data) {
            $('#account_setup').html(data);
            $('#account_setup').show();
          }
          showSpinner(false);
        }
      });
    });
    
// New topic    
 $('#container').delegate('.topic_div', 'click', function(){   
    var rel = $(this).attr("rel");
    if($("#et_"+rel).hasClass("show")){
      $("#et_"+rel).removeClass("show")
     } 
    else{
      $("#et_"+rel).addClass("show")  
    }
    if($("#at_"+rel).hasClass("show")){
      $("#at_"+rel).removeClass("show")
     } 
    else{
      $("#at_"+rel).addClass("show")  
    }
  });
$('#container').delegate('.edit_topic', 'click', function(){     
  //$(".edit_topic").click(function(){
    var rel = $(this).attr("rel");
    $("#topic_content_"+rel).show();
    $("#topic_content_"+rel).removeAttr("readonly");
    $("#topic_content_"+rel).addClass("topic_field_bg");
    $("#et_"+rel).addClass("hide");
    $("#et_"+rel).removeClass("edit_topic_btn");
    document.getElementById("topic_content_"+rel).focus();
    $("#et_"+rel).hide();
  });
  
  function show_btn(id)
  {
     if($("#"+id).hasClass("show")){
      $("#"+id).removeClass("show")
     } 
    else{
      $("#"+id).addClass("show")  
    }
  };
$('#container').delegate('.add_topic', 'click', function(){    
    var rel = $(this).attr("rel");
    $("#topic_content_"+rel).show();
    document.getElementById("topic_content_"+rel).focus();
    $("#topic_content_"+rel).removeAttr("readonly");
    $("#topic_content_"+rel).addClass("topic_field_bg");
    $("#at_"+rel).hide();
    $("#at_"+rel).addClass("hide");
    $("#at_"+rel).removeClass("edit_topic_btn");
  
  });
  
  $('#container').delegate('.topic_input', 'blur', function(){ 
     var message_id = $(this).attr("rel");
     var content = $(this).val();
     if(content==""){
        $("#topic_content_"+message_id).removeClass("topic_field_bg");
        $("#at_"+message_id).removeClass("hide");
        $("#at_"+message_id).addClass("edit_topic_btn");
        $("#et_"+message_id).addClass("hide");
        $("#et_"+message_id).removeClass("edit_topic_btn");
        $("#at_"+message_id).show();
     }
     else{
        $("#topic_content_"+message_id).removeClass("topic_field_bg");
        $("#et_"+message_id).removeClass("hide");
        $("#et_"+message_id).addClass("edit_topic_btn");
        $("#at_"+message_id).addClass("hide");
        $("#at_"+message_id).removeClass("edit_topic_btn");
        $("#et_"+message_id).show();
     }
  });
  //For toggle date time of messages
 $('#container').delegate('.time', 'click', function(){ 
    var id = $(this).attr("rel");
    var profile_id = $("#hdn_profile_id").val();
    update_show_date(profile_id);
   }); 
  
  $("#container").delegate('.topic_input','change', function(){
    var message_id = $(this).attr("rel");
    id = $(this).attr("id");
    var content = $(this).val();
    showSpinner(true);
    $.ajax({
      type:"POST",
      url:"/message/save_topic",
      dataType:"json",
      data:{id:message_id,content:content},
      success: function(data){
        if(data.status){
          showSpinner(false);
         $("#topic_content_"+message_id).attr("readonly","readonly");
         $("#topic_content_"+message_id).removeClass("topic_field_bg");
        // $("#topic_content_"+message_id).addClass("hide");
         if(content==""){
            $("#at_"+message_id).removeClass("hide");
            $("#at_"+message_id).addClass("edit_topic_btn");
            $("#et_"+message_id).addClass("hide");
            $("#et_"+message_id).removeClass("edit_topic_btn");
            $("#at_"+message_id).show();
            $("#et_"+message_id).hide();
         }
         else
         {
            $("#et_"+message_id).removeClass("hide");
            $("#et_"+message_id).addClass("edit_topic_btn");
            $("#at_"+message_id).addClass("hide");
            $("#at_"+message_id).removeClass("edit_topic_btn");
            $("#et_"+message_id).show();
         }
         //show_btn(id)
        }
      },
      error: function(){}
    });
  });
    
    
    
  
  }); //document.ready
  
  function loadPage(dest, title) {
    var id = $(this).attr("id");

    $(window).unbind('scroll.users');

    $(main_menu_id).each(function(index, item){
       if(id==item){
         setTab(item);
       }
    });
    var target = $(this).attr("rel");
    if (target == undefined) {
      target = dest;
    }
    setAlert("Loading " + $(this).attr("rev"));
    var data = $(this).attr("data");
    //alert(data);
    load_data(target,data);
    set_search($(this).attr("rev"));
    if (title != undefined) {
      setPageTitle(title);
    }
    show_selected($(this).attr("id"));
  }
  
  $(document).keyup(function(e) {
    if (e.keyCode == 27) { // Esc button pressed to clear the search
      //load_data(search_url, section_type)//on cancel load previous page
      $("#clear_search").hide();
      $("#search_input").val(search_term);
    }
  });
  
  $("#clear_search").click(function(){
     $("#clear_search").hide();
     $("#search_input").val(search_term);
  })
  
  //Load data for different results like Course listing, Task listing, Add course, Add task, Search results etc.
  function load_data(target, data) {
    if(target) {
      $("#clear_search").hide();
      $("#search_input").val(search_term);
      showSpinner(true);
      $.ajax({
        type: "GET",  
        url: target,
        data: {section_type:data},
        success: function(data) {
          if (data) {
            $("#container").html(data);
            $(document).scrollTop(0);
          } else {
            alert("ERROR");
          }
          showSpinner(false);
        }
      });
    }
  }
  
  function set_search(url) {
    if(url in search_arr) {
       $("#search_input").val(search_arr[url]);
       search_url = url;
    }
  }

  function setTab(item){
    if(document.getElementById("msg")!=null){
      if ($('#msg').hasClass('notification_badge') || $('#msg').hasClass('notification_badge_active')) {
        document.getElementById("msg").className = "notification_badge menu_btn";
      } else {
        document.getElementById("msg").className = "icon_msg menu_btn";
      }
    }
    if(document.getElementById("courses")!=null){
      document.getElementById("courses").className = "icon_courses menu_btn";
    }
    if(document.getElementById("tasks")!=null){
      document.getElementById("tasks").className = "icon_tasks menu_btn";
    }
    if(document.getElementById("networks")!=null){
      document.getElementById("networks").className = "icon_networks menu_btn";
    }
    if(document.getElementById("leader_board")!=null){
      document.getElementById("leader_board").className = "icon_leader menu_btn";
    }
    if(document.getElementById("grade")!=null){
      document.getElementById("grade").className = "icon_grade menu_btn";
    }
    if(document.getElementById("wardrobe")!=null){
      document.getElementById("wardrobe").className = "icon_wardrobe menu_btn";
    }
    if(document.getElementById("users")!=null){
      document.getElementById("users").className = "icon_people_setting menu_btn";
    }
    if(document.getElementById("reward")!=null){
      document.getElementById("reward").className = "icon_reward menu_btn";
    }
    if(document.getElementById("setting")!=null){
      document.getElementById("setting").className = "icon_user_setting menu_btn";
    }
    
  }
  function unselectAll(){
      var buttons = {courses : 'icon_courses', msg: 'icon_msg', tasks: 'icon_tasks', networks: 'icon_networks',
          leader_board: 'icon_leader', grade: 'icon_grade', wardrobe: 'icon_wardrobe', users: 'icon_people_setting',
          reward: 'icon_reward'};
      $.each(buttons, function(key, value){
          if($('#' + key).hasClass(value + '_active')){
              $('#' + key).removeClass(value + '_active');
              $('#' + key).addClass(value)
          }
      })
  }
  function show_selected(selectted_menu){
    if(selectted_menu=="courses"){
      $("#courses").addClass("icon_courses_active ");
    } else if(selectted_menu=="msg"){
      if ($('#msg').hasClass('notification_badge')) {
        $("#msg").addClass("notification_badge_active");
      } else {
  	    $("#msg").addClass("icon_msg_active");
      }
    } 
    else if(selectted_menu=="tasks"){
      $("#tasks").addClass("icon_tasks_active");
    } 
    else if(selectted_menu=="networks"){
      $("#networks").addClass("icon_networks_active");
    } 
    else if(selectted_menu=="leader_board"){
      $("#leader_board").addClass("icon_leader_active");
    } 
    else if(selectted_menu=="grade"){
      $("#grade").addClass("icon_grade_active");
    } 
    else if(selectted_menu=="wardrobe"){
      $("#wardrobe").addClass("icon_wardrobe_active");
    } 
    else if(selectted_menu=="users"){
      $("#users").addClass("icon_people_setting_active");
    } 
    else if(selectted_menu=="reward"){
      $("#reward").addClass("icon_reward_active");
    } 
    else if(selectted_menu=="setting"){
      $("#setting").addClass("icon_user_setting_active");
    } 
    
  }
  
  function setPageTitle(title) {
    $("#page_title").html(title);
  }
  
  function setAlert(text) {
    // $("#alert").dequeue();
    // $("#alert").html(text);
    // $("#alert").fadeIn("fast").delay(1000).fadeOut(1000);
  }

  function setMessage(text) {
    // $("#alert").dequeue();
    $("#alert").html(text);
    // $("#alert").fadeIn("fast").delay(1000).fadeOut(1000);
  }
   $("#container").delegate('a','click', function(){
    /* window_height = window.innerHeight;   
     height = window_height - 135;
     $('.main_div_height').css("min-height",height);*/
     
   });
   $('#container').ajaxComplete(function() {
     window_height = window.innerHeight;   
     height = window_height - 135;  
      if(ie_browser == true) {
         height = window_height
      }
     $('.main_div_height').css("min-height",height); 
	 $('#root_level.nav_box').css("height",height);
   });
   //Resize window size for IE
   function resize_function(){
     window_height = window.innerHeight;   
     height = window_height - 135;
     if( navigator.userAgent.toLowerCase().indexOf('msie') > -1){
      ie_browser = true;
      height = window_height
     }
     $('.main_div_height').css("min-height",height);
	 $('#root_level.nav_box').css("height",height);
	 
    }
   //Update shown date and time format
   function update_show_date(id){
   	if (id){
   		showSpinner(true);
	   	$.ajax({
	      type:"POST",
	      url:"/profile/update_show_date",
	      dataType:"json",
	      data:{id:id, update:true},
	      success: function(data){
	      	showSpinner(false);
	        if(data.status){
	         if(data.show=="D"){
	      		$(".words").removeClass("hide");
	      		$(".dates").addClass("hide");
	      		show_post_date = "D";
	      	 }
	    	 else{
		      	$(".dates").removeClass("hide");
		      	$(".words").addClass("hide");
		      	show_post_date = "E";
	      	 }
	        }
	      }
	    });
    }
   }
  var courses_flag = false
  $(".users_profile").click(function(){
    $(".icon_box a").each(function(){
      if (($(this).text() == "messages")) {
        a = $(this)[0].className.split(" ")[0].split("_")

        if(a[a.length - 1] == "active"){
          $(this).removeClass($(this)[0].className.split(" ")[0])
          a.pop()
          $(this).addClass(a.join("_"))
        }

      }else{
        if (($(this).text() == "courses") && (courses_flag == false)) {
          courses_flag = true
          a = $(this)[0].className.split(" ")[0].split("_")

          if(a[a.length - 1] == "active"){
            $(this).removeClass($(this)[0].className.split(" ")[0])
            a.pop()
            $(this).addClass(a.join("_"))
          }
        }else{
          a = $(this)[0].className.split(" ")
          a = a[a.length-1].split("_")

          if(a[a.length - 1] == "active"){
            $(this).removeClass($(this)[0].className.split(" ")[2])
            a.pop()
            $(this).addClass(a.join("_"))
          }
        };        
      }
    })
  })
-->
</script>
</body>
</html>
