<!DOCTYPE html>
<html>
<head>
  <title>OnCampus</title>
  <meta name="viewport" content="width=device-width;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  
  <link rel="apple-touch-icon" href="/images/ios_icon.png">
  <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
  <link href="/stylesheets/main_layout.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.all.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.autocomplete.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/fileupload/css/jquery.plupload.queue.css" type="text/css" media="screen" />
  
  <%= javascript_include_tag "application" %>
  <script src="/assets/ui/jquery.ui.core.js"></script>
  <script src="/assets/ui/jquery.ui.widget.js"></script>
  <script src="/assets/ui/jquery.ui.position.js"></script>
  <script src="/assets/ui/jquery.ui.autocomplete.js"></script>
  <script src="/assets/ui/jquery.ui.datepicker.js"></script>
  <script type="text/javascript" src="/assets/fileupload/plupload.js"></script>
  <script type="text/javascript" src="/assets/fileupload/plupload.html5.js"></script>
  <script type="text/javascript" src="/assets/fileupload/jquery.plupload.queue.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div id="avatar_thumb">
      </div>
      <div id="avatar_info">
        <div id="avatar_name">
          <%=user_session[:profile_name]%>
        </div>
        <div id="logout">
          <a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a>
        </div>
        <div id="avatar_major">
          <%=user_session[:profile_major]%>, <%=user_session[:profile_school]%>
        </div>
      </div><!-- avatar_info -->
    </div><!-- header -->
    <div id="sidebar_left">
      <div id="sidebar_container">
        <div id="sidebar_menu_top">
          <div class="top_menu_item">
          </div>
          <div class="top_menu_item">
          </div>
          <div class="top_menu_item">
          </div>
          <div class="top_menu_item">
          </div>
        </div><!-- sidebar_menu_top -->
        <div id="sidebar_menu_middle">
          <div class="middle_menu_item" id="btn_home">
          </div>
        </div><!-- sidebar_menu_middle -->
        <div id="sidebar_menu_bottom">
          <div id="root_level" class="hide">
            <input type="button" name="menu_btn_courses" id="menu_btn_courses" rel="/course/" value="Courses" class="menu_btn root"/>
            <input type="button" name="menu_btn_tasks" id="menu_btn_tasks" rel="/task/" value="Tasks" class="menu_btn root"/>
            <input type="button" name="menu_btn_grades" id="menu_btn_grades" value="Grades"class="menu_btn"/>
          </div><!-- root_level -->
          <div id="crud_level">
            <input type="button" name="menu_btn_add" id="menu_btn_add" rel="/course/new" value="Add" class="menu_btn"/>
            <input type="button" name="menu_btn_dup" id="menu_btn_dup" value="Duplicate" class="menu_btn hide"/>
            <input type="button" name="menu_btn_hide" id="menu_btn_hide" value="Hide"/>
            <input type="button" name="menu_btn_fav" id="menu_btn_fav" value="Fav"/>
            <input type="button" name="menu_btn_print" id="menu_btn_print" value="Print"/>
          </div><!-- crud_level -->
        </div><!-- sidebar_menu_bottom -->
      </div><!-- sidebar_container -->
    </div><!-- sidebar_left -->
    <div style="width:85%;height:90%;float:right;margin-top:5px;margin-top:55px;">
      <div id="container">
        <%= yield %>
      </div><!-- container -->
    </div>
  </div><!-- wrapper -->
</body>
<script type="text/javascript">
<!--
  $(document).ready(function(){
    
    //Home switch
    $("#btn_home").live("click",function(){
      $("#crud_level").fadeOut($("#root_level").fadeIn());
      $("#container").html("");
    });
    
    //Crud level switch
    $(".root").live("click",function(){
      var rel = $(this).attr("rel");
      $("#menu_btn_add, #menu_btn_hide, #menu_btn_fav, #menu_btn_print").removeAttr("rel");
      if(rel) {
        $("#menu_btn_add").attr("rel",rel+"new");
        $("#menu_btn_dup").attr("rel",rel+"duplicate");
        $("#menu_btn_hide").attr("rel",rel+"hide");
        $("#menu_btn_fav").attr("rel",rel+"fav");
        $("#menu_btn_print").attr("rel",rel+"print");
      }
      $("#root_level").fadeOut($("#crud_level").fadeIn());
    });
    
    //Fill up the #container with according call
    $(".menu_btn").live("click",function(){
      var target = $(this).attr("rel");
      var data = $(this).attr("data");
      if(target) {
        $.ajax({
          type: "GET",  
          url: target,
          data: data,
          success: function(data) {
            if (data) {
              $("#container").html(data);
            } else {
              alert("ERROR");
            }
          }
        });
      }
     });
  });
-->
</script>
</html>
