<!DOCTYPE html>
<html>
<head>
  <title>OnCampus</title>
  <meta name="viewport" content="width=device-width;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  
  <link rel="apple-touch-icon" href="/images/ios_icon.png">
  <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  <link href="/stylesheets/main_layout.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.all.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/ui/jquery.ui.autocomplete.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/fileupload/css/jquery.plupload.queue.css" type="text/css" media="screen" />
  
  <%= javascript_include_tag "application" %>
  <script src="/assets/jquery.highlight.js"></script>
  <script src="/assets/ui/jquery.ui.core.js"></script>
  <script src="/assets/ui/jquery.ui.widget.js"></script>
  <script src="/assets/ui/jquery.ui.position.js"></script>
  <script src="/assets/ui/jquery.ui.autocomplete.js"></script>
  <script src="/assets/ui/jquery.ui.datepicker.js"></script>
  <script type="text/javascript" src="/assets/fileupload/plupload.js"></script>
  <script type="text/javascript" src="/assets/fileupload/plupload.html5.js"></script>
  <script type="text/javascript" src="/assets/fileupload/jquery.plupload.queue.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>
<div class="body_bg">
  <div id="wrapper" class="wrapper">
    <div class="header">
      <div class="positn_rtlv">
        <div class="level_00">
          <div class="head">Level</div>
          <div class="count">05</div>
        </div>
      </div>
      <div class="avatar_box">
        <div class="avatar">
          <img  src="https://s3.amazonaws.com/<%=user_session[:vault]%>/avatar_thumb/avatar_<%=user_session[:profile_id]%>.jpg" />
        </div>
        <div class="avatar_detail">
          <h1> <%=user_session[:profile_name]%></h1>
          <h2><%=user_session[:profile_major]%>, <%=user_session[:profile_school]%></h2>
        </div>
        <div class="clear"></div>
      </div>
      <div class="header_mid_box"></div>
      <div class="header_search_box">
        <div class="setting_box"><img src="images/setting_icon.png" /></div>
        <div class="search_bg">
          <form id="frm_search">
            <div id="clear_search" class="menu_btn hide" style="right:150px;margin-top:0px;">
              X
            </div>
            <input name="search_text" id="search_input" type="text" value="Find Course" />
          </form>
          <div id="search_options" class="hide">
            <li rel="/course/">
              Find Course
            </li>
            <li rel="/task/">
              Find Task
            </li>
            <li rel="/message/">
              Find Message
            </li>
            <li rel="/group/">
              Find Group
            </li>
            <li rel="/friend/">
              Find Friend
            </li>
          </div>
        </div>
        <div class="search_icon">
          <a href="javascript:void(0)" onClick="$('#search_options').toggle();">
            <img src="images/search_icon.png" />
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div><!--header -->
    <div class="fullheight">
      <div class="left_nav_box">
        <div class="nav_box" id="root_level">
          <div class="leftnav_cover_emtysps">
            <!--<a href="#" class="uparrow"></a>-->
          </div>
          <!--icon-->
          <div class="space_btwn_icon"></div>
          <div class="icon_box"><span class="msg_count">10</span><a href="javascript:void(0);" rel="/message/" class="icon_msg menu_btn">messages</a> </div>
          <div class="space_btwn_icon"></div>
          <!--icon-->
          <div class="icon_box"><a href="javascript:void(0);" rel="/course/" class="icon_courses_active menu_btn">courses</a> </div>
          <div class="space_btwn_icon"></div>
          <!--icon-->
          <div class="icon_box"> <a href="javascript:void(0);" rel="/task/" class="icon_tasks menu_btn">tasks</a> </div>
          <div class="space_btwn_icon"></div>
          <!--icon-->
          <div class="icon_box"> <a href="javascript:void(0);" rel="/group/" class="icon_networks menu_btn">networks</a> </div>
          <div class="space_btwn_icon"></div>
          <!--icon-->
          <div class="icon_box"> <a href="javascript:void(0);" rel="/wardrobe/" class="icon_stats menu_btn">stats</a> </div>
          <div class="space_btwn_icon"></div>
          <a href="#" class="downarrow"></a>
        </div>
      </div>
      <div class="right_box">
        <div class="heading_messages"><img src="images/messages_heading.png" /></div>
      </div>
      <div class="middle_main_div">
        <div id="container" class="Main_content">
          <%= yield %>
        </div><!-- container -->
      </div>
      <div class="clear"></div>
    </div>
    <div id="waiting" class="waiting"><img src="/images/ajax-loader.gif"></div>
  </div><!-- wrapper -->
</div><!-- body_bg -->
</body>
<script type="text/javascript">
<!--
  var token = $("meta[name='csrf-token']").attr("content");
  var search_arr = {"/friend/" : "Find Friend","/course/" : "Find Course", "/task/" : "Find Task", "/message/" : "Find Message", "/group/" : "Find Group"};
  var search_url = "/course/";
  var search_term = $("#search_input").val();
  //Set CSRF Token (Required for ajax request (post))
  $(document).ajaxSend(function(e, xhr, options) {
    xhr.setRequestHeader("X-CSRF-Token", token);
  });
  
  $(document).ready(function(){
    
    //Search option settings
    $("#search_options li").bind("click",function(){
      set_search($(this).attr("rel"));
      $("#search_options").toggle();
    });
    
    $("#search_input").bind("focus",function(){
      $.map( search_arr, function(val, i) {
        if(val == $("#search_input").val()) {
          search_term = $("#search_input").val();
          $("#search_input").val("");
        }
      });
    });
    
    $("#search_input").bind("focusout",function(){
      if($("#search_input").val() == "") {
        $("#search_input").val(search_term);
      }
    });
    
    // Search form post when enter pressed
    $('#frm_search').submit(function() {
      search_text = $("#search_input").val();
      if(search_url && search_text !="") {
        showSpinner(true);
        dataString = {search_text : search_text}
        $.ajax({
          type: "POST",  
          url: search_url,
          data: dataString,
          success: function(data) {
            if (data) {
              $("#container").html(data);
              $("#container p").highlight(search_text);
              $("#clear_search").show();
              $("#clear_search").attr("rel", search_url);
            } else {
              alert("ERROR");
            }
            showSpinner(false);
          }
        });
      }
      return false;
    });
    
    //Fill up the #container with according call
    $("#frm_search, #root_level, #container").delegate(".menu_btn", "click",function(){
      var target = $(this).attr("rel");
      var data = $(this).attr("data");
      load_data(target,data);
      set_search(target);
    });
  }); //document.ready
  
  $(document).keyup(function(e) {
    if (e.keyCode == 27) { // Esc button pressed to clear the search
      load_data(search_url, "")
    }
  });
  
  //Load data for different results like Course listing, Task listing, Add course, Add task, Search results etc.
  function load_data(target, data) {
    if(target) {
      $("#clear_search").hide();
      $("#search_input").val(search_term);
      showSpinner(true);
      $.ajax({
        type: "GET",  
        url: target,
        data: data,
        success: function(data) {
          if (data) {
            $("#container").html(data);
          } else {
            alert("ERROR");
          }
          showSpinner(false);
        }
      });
    }
  }
  
  function set_search(url) {
    if(url in search_arr) {
       $("#search_input").val(search_arr[url]);
       search_url = url;
    }
  }
-->
</script>
</html>
