<%if @badge_detail and !@badge_detail.nil?%>
<div class="badge_popup" style="width:auto; min-width:415px;"> 
<div class="heading"><%=@badge_detail.name%></div>
  </br>
  <div>
     <div class="heading02" style="float:left;width:80%"><%=@badge_detail.descr%><strong></strong>
     </div>
     <div class="SI_icon icon"><img src="<%= @badge_detail.available_image_url %>"class="icon_style_badge  badge_details" id=""/>
     </div>
  </div> 
<% if @avatar_badge.giver_profile_id && @avatar_badge.course_id %>
   <div style="margin-top:82px; font-size: 8pt;">Given by <%=profile_name(@avatar_badge.giver_profile_id)%> on <%=change_date_format(@avatar_badge.created_at)%> for <%=course_detail(@avatar_badge.course_id)%></div>
<% else %>
   <div style="margin-top:82px; font-size: 8pt;">Received on <%=h change_date_format(@avatar_badge.created_at)%></div>
<% end %>
</div>
<%end%>


<script type="text/javascript">

// Hide the card if clicked outside
$(document).click(function (e)
{
    var container = $("#badge_detail");

    if (container.has(e.target).length === 0)
    {
        container.hide();
        $(document).unbind('click');
    }
});

</script>