<div class="badge_content">
  <div class="badge_board_left">
    <div class="badge_board_right">
      <div class="badge_board_center">
          <div id = "badge_content" class="badge_contenttt">
            <div id="sidebar_right">
              <div class="course_side_buttons">
                <!--<a href="javascript:void(0)" name="btn_give" id="btn_give_badge" class="big_blue_btn">GIVE</a>
                <a href="javascript:void(0)" name="btn_dont_give" id="btn_dont_give" class="big_blue_btn">DON'T GIVE</a>-->
                <input type="hidden" name="hdn_field_profile_id" id="hdn_field_profile_id" value="<%=profile_id if profile_id%>" />
                <input type="hidden" name="hdn_field_course_id" id="hdn_field_course_id" value="<%=course_id if course_id%>" />
                <input type="hidden" name="hdn_last_action" id="hdn_last_action" value="<%=session[:controller]%>" />
              </div><!-- crud_level -->
            </div>
             
            <div class="badges_box1">
              <div class="badges_top_heading">Badges
                <div class="course_dd_style">Course     
                  <select name="course_select" id="course_select" class="course_dd" style="">
                    <option value="" selected >Select Course</option>
                    <%if @courses and @courses.length>=1%>
                      <% @courses.each do |c| %>
                        <option value="<%= c.id %>" <%= "Selected" if @selected_course and @selected_course.id == c.id %>><%= c.name %></option>
                      <% end %>
                    <% end %>  
                  </select>
                </div>
		        <a href="javascript:void(0)" name="btn_create_new" id="btn_create_new" class="big_blue_btn badge_new_btn">NEW</a>
              </div>
             <div class="clear"></div>
             <div class="green_border"></div>
             <p class="badges_heading">Last Used</p>
             <div>
              <%if @last_used && !@last_used.nil?%>
              <% @last_used.each do |b|%>
              <div class="badgeselctdiv" id="last_used_<%=b.id%>"> 
                <div class="supernote-hover-demo1">
                  <div class="badge_imgdiv given_badge" id="l_<%=b.id%>" ><img src="<%=b.badge_image.image_file_path%>"/> </div> 
                    <div class="badge_cont" style="word-break:normal; word-wrap:normal; max-width:150px;"><%=b.name.truncate(40)%></div> 
                  <div class="clear"></div>
                </div>
                 <div class="like_cmt notedefault hide" id="supernote-note-demo1">
                   <div class="margin15px"><a class="blue_bt19px give_btn" style="padding:2px 17px;" rel ="<%=b.id%>" id ="give_<%=b.id%>" href="javascript:void(0)">GIVE</a></div>
                   <div class="margin8px"><a class="blue_bt19px del_btn" id = "<%=b.id%>" name="<%=b.name %>" href="javascript:void(0)">DELETE</a></div>
                 </div>
              </div>
              <% end %>
            <% end %> 
             <div class="clear"></div>
             <div class="green_border"></div>
           </div>     

            <!------------------------badge div end------------------->
             
            <div>
               
                <p class="badges_heading">All Badges</p>
                 
               <!------------------------badge div start------------------->
              <%if @badges && !@badges.nil?%>
                <% @badges.each do |b|%>
                <div class="badgeselctdiv" id="all_<%=b.id%>"> 
                  <div class="supernote-hover-demo1">
                    <div class="badge_imgdiv given_badge" id="a_<%=b.id%>" ><img src="<%=b.badge_image.image_file_path%>"/> </div> 
                      <div class="badge_cont" style="word-break:break-all; word-wrap:break-word; max-width:150px;" ><%=b.name.truncate(40)%></div> 
                    <div class="clear"></div>
                  </div>
                
                   <div class="like_cmt notedefault hide" id="supernote-note-demo1">
                       <div class="margin15px"><a class="blue_bt19px give_btn" style="padding:2px 17px;" rel ="<%=b.id%>" id ="give_<%=b.id%>" href="javascript:void(0)">GIVE</a></div>
                      <div class="margin8px"><a class="blue_bt19px del_btn" id = "<%=b.id%>" href="javascript:void(0)">DELETE</a>
                      </div>
                   </div>
                </div>
                <% end %>
              <% end %>   
               <!------------------------badge div end-------------------> 
               <div id="warning_box" class="warning_box hide" >
                 <%= render :partial=>"/badge/warning_box"%>
               </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <%= render :partial => "/badge/warning_popup" %>
          <div class="end_of_page"></div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  var id = "";
  var previous_click = "";
  var delete_badge_id = "";
  $("#btn_create_new").click(function(){ 
    var student_id =$("#hdn_field_profile_id").val();
    if ($("#course_select").val()=="" || $("#course_select").val()==undefined ){
      var course_id = $("#hdn_field_course_id").val();
    }
    else{
      var course_id = $("#course_select").val();
    }
      var last_course = $("#course_select").val();
    showSpinner(true);
     $.ajax({
          type: "POST",
          url: "/badge/new_badges",
          data:{profile_id:student_id,course_id:course_id,last_course:last_course},
          success: function(data) {
            $("#badge_popup").html(data);  
            //$("#page_title").html("NEW BADGES")
            showSpinner(false);
          },
          error: function()
          {
            alert("An Error has occured");
            showSpinner(false);
          },
       });
  });   
  
  /*$(".given_badge").click(function(){
    var badge_id = $(this).attr("id");
    
  });   */
  
  $(".given_badge").click(function(){ 
    $("#"+previous_click).removeClass("selected_badge");
    id = $(this).attr("id");
    $(this).addClass("selected_badge");  
    previous_click = id;  

  });
    
  $(".give_btn").click(function(){ 
    /*if (id==""){
    }
    else{*/
      //var ids = id.split("_");
      var badge_id = $(this).attr("rel");
      var student_id =$("#hdn_field_profile_id").val();
      if ($("#course_select").val()=="" || $("#course_select").val()==undefined ){
        $("#warning_add_badge .boxadnt").html('A badge is associated with a course so that your students will know why they received the badge. Please select a course.');
        $("#warning_add_badge").show();
        }
      else{
        var course_id = $("#course_select").val();
      }
      if (course_id){
        showSpinner(true);
        $.ajax({
          type: "POST",
          url: "/badge/give_badge_to_student",
          dataType: 'json',
          data:{badge_id:badge_id,profile_id:student_id,course_id:course_id},
          success: function(data){
            $('#alert').html(data.badge_name+" badge given to "+data.student_name+" for "+data.course_name);  
            $("#badge_popup").hide();
            if(data.status==false)
            {
              //alert("This badge already given to this student for this course");
              showSpinner(false);
            }
            else{
              $("#"+id).removeClass("selected_badge");
              showSpinner(false);
            }            
          },
          error: function()
          {
            alert("An Error has occured");
            showSpinner(false);
          },
        });
      }
    });
    
    $("#btn_dont_give").click(function(){ 
      $("#"+previous_click).removeClass("selected_badge");
      $("#"+id).removeClass("selected_badge");
    });
    
  $(".badgeselctdiv").hover(
    function () {
      $(".notedefault", this).show();
    }, 
    function () {
      $(".notedefault", this).hide();
    }
  );  
  $(".del_btn").click(function(){
    delete_badge_id = $(this).attr("id");
    var delete_badge_name = $(this).attr("name");
	$("#delete_badge_id").val(delete_badge_id);
	$("#delete_badge_name").html(delete_badge_name);
	$("#warning_box").show();
  });
});

$(document).unbind('click').bind('click', function (e)
{
    var container = $("#badge_popup");
    if (container.has(e.target).length === 0)
    {
        container.hide();
        $(document).unbind('click');
    }
});

</script>