<div class="badge_content">
  <div class="badge_board_left">
    <div class="badge_board_right">
      <div class="badge_board_center">
        <div id = "badge_content" class="badge_contentt">
        <div id="sidebar_right">
          <div class="course_side_buttons">
            <input type="hidden" name="hdn_profile_id" id="hdn_profile_id" value="<%=@profile.id if @profile%>" />
            <input type="hidden" name="profile_id_hdn_field" id="profile_id_hdn_field" value="<%=profile_id if profile_id%>" />
            <input type="hidden" name="course_id_hdn_field" id="course_id_hdn_field" value="<%=course_id if course_id%>" />
            <input type="hidden" name="last_course_hdn" id="last_course_hdn" value="<%=last_course if last_course%>" />
            <input type="hidden" name="last_visited_url" id="last_visited_url" value="<%=url if url%>" />
          </div><!-- crud_level -->
        </div>
        <div class="badges_box1" style="width:654px">
          <div class="badges_top_heading">Badges
            <div class="course_dd_style">Course     
              <select name="course_select" id="course_select" class="course_dd" style="">
                <option value="" selected>Select Course</option>
                <%if @courses and @courses.length>=1%>
                  <% @courses.each do |c| %>
                    <option value="<%= c.id %>"><%= c.name %></option>
                  <% end %>
                <% end %>  
              </select>
            </div>
            <a href="javascript:void(0)" name="btn_save" id="btn_save" class="big_blue_btn btn_save_badge badge_btn_save" rel="save">SAVE</a>
            <a href="javascript:void(0)" name="btn_save_and_give" id="btn_save_and_give" class="big_orange_btn btn_save_badge badge_btn_give" rel="give">SAVE & GIVE</a>
          </div>
            <div class="clear"></div>
            <div class="green_border"></div>
            <div>
            <div class="choose_badge">1. Give a descriptive name and a short description for the badge.</div>
            <div class="badgetitlediv"><div class="badge_title">Badge Name</div>
              <div>
                <div class ="selected_badge_position hide"><input id="selected_badge" src="" type="image" class="grading_Btn2" /></div>  
                <input name="new_badge_name" type="text" id="new_badge" value="" class="dd_input_new_badge" />
              </div>
            </div></br>
            <div class="badgetitlediv"><div class="badge_title">Description</div>
              <div>
                <textarea name="new_badge_name" type="text" id="new_badge_descr" value="" style="height:50px;" class="dd_input_new_badge"/>
              </div>
            </div>
            </div>
            <div class="green_border"></div>
            <div class="choose_badge">2. Choose an image for the new badge.</div>

            <div style ="width:550px">
          
            <%if @badge_image && !@badge_image.nil? %>
              <% @badge_image.each do|bm|%>
                 <div style ="float:left"><input id="<%=bm.id%>" src="images/badges/<%=bm.image_file_name%>" type="image" class="grading_Btn2 badge_image" /></div>  
              <%end%>  
            <%end%>  

            </div>
       </div>
      </div>
    </div>
  </div>
   <input type="hidden" name="hdn_last_action" id="hdn_last_action" value="<%=session[:controller]%>" />
   
  <%= render :partial => "/badge/warning_popup" %>
   
   
</div>
<script type="text/javascript">
$(document).ready(function() {
  var id ="";
  var previous_click = "";
  var all_imaegs = new Array();
  $(".badge_image").click(function(){ 
    $("#"+previous_click).removeClass("selected_badge");
    id = $(this).attr("id");
    image_path = $(this).attr("src");
    if(previous_click == id){
      $(this).removeClass("selected_badge");
      $(".selected_badge_position").hide();
      id = "";
    }
    else{
      $(this).addClass("selected_badge");
      $(".selected_badge_position").show();
    }
    previous_click = id;
    $("#selected_badge").attr("src",image_path);
  
  });
  
  
  $(".btn_save_badge").click(function(){ 
      var badge_image_id = id;
      var badge_name = $("#new_badge").val();
      var descr = $("#new_badge_descr").val();
      var submit_type = $(this).attr("rel");
      var course_id =$("#course_id_hdn_field").val();
      if (id==""){
        $("#warning_add_badge .boxadnt").html('A badge should have an image. Please select one of the available images.');
        $("#warning_add_badge").show();
      }
      else if($("#new_badge").val()==""){
        $("#warning_add_badge .boxadnt").html('A badge should have a descriptive name. Please enter a badge name.');
        $("#warning_add_badge").show();
      }
      else if(($("#course_select").val()=="" || $("#course_select").val()==undefined) && submit_type == "give"){
        $("#warning_add_badge .boxadnt").html('A badge is associated with a course so that your students will know why they received the badge. Please select a course.');
        $("#warning_add_badge").show();
      }
      else
      {
        var student_id =$("#profile_id_hdn_field").val();
        var last_course =$("#last_course_hdn").val();
        showSpinner(true);
        $.ajax({
          type: "POST",
          url: "/badge/save",
          dataType: "json",
          data:{badge_image_id:badge_image_id,badge_name:badge_name,profile_id:student_id,course_id:course_id,descr:descr,submit_type:submit_type, last_course:last_course},
          success: function(data) {
            // $("#container").html(data);  
             $("#new_badge").attr("value","");
             $("#"+id).removeClass("selected_badge")
             if(data.status==false)
            {
              //alert("This badge already given to this student for this course");
              showSpinner(false);
            }
            else if (data.save_and_give==true && data.url !=""){
              $("#"+id).removeClass("selected_badge");  
             $("#badge_popup").hide();
             url = data.url
             //loadLastPage (url);   
            }
            else{
             course_id = $("#last_course_hdn").val();
             profile_id = $("#profile_id_hdn_field").val();
             $.ajax({
                  type: "POST",
                  url: "/badge/give_badges",
                  data:{course_id:course_id,profile_id:profile_id},
                  success: function(data) {
                    $("#badge_popup").html(data);
                    $("#badge_popup").show();
                    setAlert("Loading /Badges/");                   
                    showSpinner(false);
                  },
                  error: function()
                  {
                    alert("An Error has occured");
                    showSpinner(false);
                  },
               });
            }
            showSpinner(false);
          },
          error: function()
          {
            alert("An Error has occured");
            showSpinner(false);
          },
       });
     }
  
  });
  
  $("#btn_dont_save").click(function(){ 
    url = $("#last_visited_url").val();
    loadLastPage (url);
  });
  
  
});
$(document).unbind('click').bind('click', function (e)
{
    var container = $("#badge_popup");

    if (container.has(e.target).length === 0)
    {
        container.hide();
        $(document).unbind('click');
    }
});
function loadLastPage (url) {
  controller = url.split("/");
  showSpinner(true);
  $.ajax({
    type: "GET",
    url: url,
    success: function(data) {
      setAlert("Loading /"+controller[1]+"/")
      $("#container").html(data);            
      showSpinner(false);
    }
  });   
}
</script>
