<div class="badge_content">
  <div class="badge_board_left">
    <div class="badge_board_right">
      <div class="badge_board_center">
        <div class="badge_pad_top"> </div>
        <div id = "badge_content" class="badge_contentt">
        <div id="sidebar_right">
          <div class="course_side_buttons">
            <a href="javascript:void(0)" name="btn_save_and_give" id="btn_save_and_give" class="big_orange_btn btn_save_badge" rel="give">SAVE & GIVE</a>
            <a href="javascript:void(0)" name="btn_save" id="btn_save" class="big_blue_btn btn_save_badge" rel="save">SAVE</a>
            <a href="javascript:void(0)" name="btn_dont_save" id="btn_dont_save" class="big_blue_btn">DON'T SAVE</a>    
            <input type="hidden" name="hdn_profile_id" id="hdn_profile_id" value="<%=@profile.id if @profile%>" />
            <input type="hidden" name="profile_id_hdn_field" id="profile_id_hdn_field" value="<%=profile_id if profile_id%>" />
            <input type="hidden" name="course_id_hdn_field" id="course_id_hdn_field" value="<%=course_id if course_id%>" />
            <input type="hidden" name="last_course_hdn" id="last_course_hdn" value="<%=last_course if last_course%>" />
          </div><!-- crud_level -->
        </div>
        <div class="badges_box1" style="width:550px">

          <div class="badgetitlediv"><div class="badge_title">Badge Name</div>
            <div>
              <div class ="selected_badge_position hide"><input id="selected_badge" src="" type="image" class="grading_Btn2" /></div>  
              <input name="new_badge_name" type="text" id="new_badge" value="" class="dd_input_new_badge" />
            </div>
          </div></br>
          <div class="badgetitlediv"><div class="badge_title">Description</div>
            <div>
              <textarea name="new_badge_name" type="text" id="new_badge_descr" value="" style="height:50px;" class="dd_input_new_badge"/>
            </div>
          </div>
        <div class="border2"></div>
          <div class="choose_badge">Choose an image for the new badge:</div>

          <div style ="width:550px">
          
            <%if @badge_image && !@badge_image.nil? %>
              <% @badge_image.each do|bm|%>
                 <div style ="float:left"><input id="<%=bm.id%>" src="images/badges/<%=bm.image_file_name%>" type="image" class="grading_Btn2 badge_image" /></div>  
              <%end%>  
            <%end%>  

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
   <input type="hidden" name="hdn_last_action" id="hdn_last_action" value="<%=session[:controller]%>" />
</div>
<script type="text/javascript">
$(document).ready(function() {
  var id ="";
  var previous_click = "";
  var all_imaegs = new Array();
  $(".badge_image").click(function(){ 
    $("#"+previous_click).removeClass("selected_badge");
    id = $(this).attr("id");
    image_path = $(this).attr("src");
    if(previous_click == id){
      $(this).removeClass("selected_badge");
      $(".selected_badge_position").hide();
    }
    else{
      $(this).addClass("selected_badge");
      $(".selected_badge_position").show();
    }
    previous_click = id;
    $("#selected_badge").attr("src",image_path);
  
  });
  
  
  $(".btn_save_badge").click(function(){ 
      var badge_image_id = id;
      var badge_name = $("#new_badge").val();
      var descr = $("#new_badge_descr").val();
      var submit_type = $(this).attr("rel");
      if (id==""){
        alert("select any image");
      }
      else if($("#new_badge").val()==""){
        alert("Enter new badge name")
      }
      else
      {
        var student_id =$("#profile_id_hdn_field").val();
        var course_id =$("#course_id_hdn_field").val();
        var last_course =$("#last_course_hdn").val();
        showSpinner(true);
        $.ajax({
          type: "POST",
          url: "/badge/save",
          dataType: "json",
          data:{badge_image_id:badge_image_id,badge_name:badge_name,profile_id:student_id,course_id:course_id,descr:descr,submit_type:submit_type, last_course:last_course},
          success: function(data) {
            // $("#container").html(data);  
             $("#new_badge").attr("value","");
             $("#"+id).removeClass("selected_badge")
             if(data.status==false)
            {
              //alert("This badge already given to this student for this course");
              showSpinner(false);
            }
            else if (data.save_and_give==true && data.url !=""){
              $("#"+id).removeClass("selected_badge");  
             url = data.url
             controller = url.split("/");
             showSpinner(true);
             $.ajax({
              type: "GET",
              url: url,
              success: function(data) {
               setAlert("Loading /"+controller[1]+"/")
               $("#container").html(data);            
               showSpinner(false);
              }
              });       
            }
            else{
             course_id = $("#last_course_hdn").val();
             profile_id = $("#profile_id_hdn_field").val();
             $.ajax({
                  type: "POST",
                  url: "/badge/give_badges",
                  data:{course_id:course_id,profile_id:profile_id},
                  success: function(data) {
                    $("#container").html(data);
                    $("#page_title").html("BADGES");
                    setAlert("Loading /Badges/");                   
                    showSpinner(false);
                  },
                  error: function()
                  {
                    alert("An Error has occured");
                    showSpinner(false);
                  },
               });
            }
            showSpinner(false);
          },
          error: function()
          {
            alert("An Error has occured");
            showSpinner(false);
          },
       });
     }
  
  });
  
});
</script>
